<% # Added an extra ability check in the view to be super safe %>
  <div class="row">
    <div class="col-md-3">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>Confirm Deletion of Certification <%= @certification_path.name %></h5>
        </div>
        <div class="ibox-content">
          <div class="alert alert-danger"><%= ikoen('exclamation-triangle') %>
          You are about to delete certification <strong><%= @certification_path.name %></strong> and all its certifications, scores, documents, audit logs ...</div>
          <%= bootstrap_form_for(@certification_path, url: offline_project_certification_path(@project, @certification_path), method: :delete) do |f| %>
              <div class="form-group">
                <%= label_tag :confirm_deletion, 'To confirm the deletion, please type the word "delete" in the textbox below and click on the button.', class: 'control-label' %>
                <%= text_field_tag :confirm_deletion, '', class: 'form-control', autocomplete: 'off' %>
              </div>
              <%= btn_tag({id: 'delete-button', icon: 'trash', text: 'Delete the certification', style: 'danger', disabled: true}) %>
          <% end %>
        </div>
      </div>
    </div>
  </div>