<%# <div class="row"> %>
  <div class="col-md-4">
    <div class="ibox">
      <div class="ibox-title">
        <h5><%= t('.certificates.title') %></h5>
      </div>
      <div class="ibox-content pt-0">
        <table class="table table-striped project-details-table">
          <tbody>
            <tr>
              <th><%= Offline::CertificationPath.human_attribute_name('name') %></th>
              <td><%= @certification_path.name %></td>
            </tr>
             <tr>
              <th><%= Offline::CertificationPath.human_attribute_name('version') %></th>
              <td><%= @certification_path.version %></td>
            </tr>
             <tr>
              <th><%= Offline::CertificationPath.human_attribute_name('rating') %></th>
              <td><%= render partial: "/offline/certification_paths/rating", locals: { ratings:  @certification_path.rating  } %></td>
            </tr>
             <tr>
              <th><%= Offline::CertificationPath.human_attribute_name('development_type') %></th>
              <td><%= @certification_path.development_type %></td>
            </tr>
             <tr>
              <th><%= Offline::CertificationPath.human_attribute_name('status') %></th>
              <td><%= @certification_path.status %></td>
            </tr>
             <tr>
              <th><%= Offline::CertificationPath.human_attribute_name('score') %></th>
              <td><%= @certification_path.score %></td>
            </tr>
             <tr>
              <th><%= Offline::CertificationPath.human_attribute_name('certified_at') %></th>
              <td><%= @certification_path.certified_at %></td>
            </tr>
          </tbody>
        </table>
        <%= btn_link_to(:back, icon: 'backward', text: 'Back') %>
        <%= btn_link_to(edit_offline_project_certification_path(@project), icon: 'edit', text: 'Edit') %>
        <%= btn_link_to(confirm_destroy_offline_project_certification_path(@project, @certification_path), {icon: 'trash', text: 'Delete', style: 'danger', method: :get, data: {confirm: 'Do you really want to delete this project?'}}) %>
      </div>
    </div>
        <% if (can?(:download_signed_certificate, @certification_path) && @certification_path.signed_certificate_file.present?) || can?(:update_signed_certificate, @certification_path) %>
            <div class="ibox float-e-margins">
              <div class="ibox-title">
                <h5><%= t('.certification_path_signed_certificate.title') %></h5>
              </div>
              <div class="ibox-content">
                <% if @certification_path.signed_certificate_file.present? %>
                  <h4><%= truncate(@certification_path.signed_certificate_file.file.filename, length: 100) %></h4>

                  <% if can?(:download_signed_certificate, @certification_path) %>
                    <%= btn_download(download_signed_certificate_offline_project_certification_path(@project, @certification_path), size: 'small', tooltip: "Download the officially signed certificate") %>
                  <% end %>
                  <% if can?(:remove_signed_certificate, @certification_path) %>
                    <%= btn_link_to(remove_signed_certificate_offline_project_certification_path(@project, @certification_path), method: :delete, data: { confirm: 'Are you sure to delete the certificate?'}, style: 'danger', size: 'small', icon: 'trash', tooltip: 'Remove the officially signed certificate') %>
                  <% end %>
                <% end %>

                <br />

                <% if can?(:update_signed_certificate, @certification_path) %>
                  <%= bootstrap_form_for(@certification_path, url: update_signed_certificate_offline_project_certification_path(@project, @certification_path), method: 'put') do |f| %>
                      <%= f.file_field :signed_certificate_file, label: 'Upload New Signed Certificate' %>
                      <div class="hr-line-dashed"></div>
                      <%= btn_save %>
                  <% end %>
                <% end %>
              </div>
            </div>
          <% end %>
  </div>
  <div class="col-md-8">
    <div class="ibox">
      <div class="ibox-title">
        <h5><%= t('.schemes.title') %></h5>
      </div>
      <div class="ibox-content pt-0">
        <table class="table table-bordered table-mb-1">
          <tbody>
            <tr class="bg-header-grey">
              <th>Typology Name</th>
              <th>Weighting (%)</th>
            </tr>
            <% unless @certification_path.offline_scheme_mixes.nil? %>
              <% @certification_path.offline_scheme_mixes.each do |scheme_mix| %>
                <tr>
                  <td><%= link_to scheme_mix.name, offline_project_certification_scheme_path(@project, @certification_path, scheme_mix) %></td>
                  <td><%= scheme_mix.weight %></td>
                </tr>
              <% end %>
            <% end %>
            </tbody>
        </table>
      </div>
    </div>
  </div>
<%# </div> %>
