<div class="tab-content">
    <% if local_assigns[:scores_in_certificate_points] %>
        <div role="tabpanel" class="tab-pane active" id="<%= "scores_in_certificate_points_#{element_id}" %>">
            <%= render 'score/score', scores: scores_in_certificate_points %>
        </div>
    <% end %>
    <% if local_assigns[:scores_in_scheme_points] %>
        <div role="tabpanel" class="tab-pane" id="<%= "scores_in_scheme_points_#{element_id}" %>">
            <%= render 'score/score', scores: scores_in_scheme_points %>
        </div>
    <% end %>
    <% if local_assigns[:scores] %>
        <div role="tabpanel" class="tab-pane" id="<%= "scores_#{element_id}" %>">
            <%= render 'score/score', scores: scores %>
        </div>
    <% end %>
</div>
