<div class="d-flex flex-wrap">
  <div class="col-auto">
    <div class="db-sidebar db-servicer">
      <div class="user-block">
        <div class="user-image">
          <% if @user.profile_pic.url %>
            <% img_src = @user&.profile_pic.url %>
          <% else %>
            <% img_src = 'https://icon-library.com/images/placeholder-image-icon/placeholder-image-icon-12.jpg' %>
          <% end %>
          <img src="<%= img_src %>" alt="image">
        </div>
        <p class="h3 font-weight-bold"><%= @user.name %></p>
        <a class="user-email" href="mailto:<%= @user.email %>"><%= @user.email %></a>
      </div>
      <div class="menu-block">
        <ul>
          <li class="active"><a href="javascript:;"><span><%= image_tag('layout/grid.png') %></span>DashBoard</a></li>
          <li><a href="<%= user_path(@user.id) %>"><span><%= image_tag('layout/user-menu.png') %></span>Profile</a></li>
          <!--<li><a href="javascript:;"><span><%= image_tag('layout/comment.png') %></span>Messages</a></li>
          <li><a href="javascript:;"><span><%= image_tag('layout/settings.png') %></span>Settings</a></li>-->
        </ul>
        <!-- <%= link_to 'View Profile', user_path(@user.id) %> -->
      </div>
    </div>
  </div>
  <div class="col">
    <div class="db-content sp-dashboard">
      <div class="row">
        <div class="col-md-12">
          <div class="ibox bs-none">
            <div class="ibox-title main">
              <div class='d-flex justify-content-between align-items-center'>
                <h3>Welcome to your dashboard</h3> 
                <p class="text-capitalize m-0">Today is <%= DateTime.now.strftime('%A, %d %B %Y') %></p>        
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row mx-0">
        <div class="col-md-12">
          <div class="db-box p-4">
            <div class="row d-flex flex-wrap servicer-info">
              <div class="col-auto col-xs-12">
                <div class="row d-flex flex-wrap flex-column">
                  <div class="col">
                    <p class="font-weight-normal text-secondary text-uppercase">GSB CREDENTIALS</p>
                  </div>
                  <div class="col-auto mb-1">
                    <div class="type-block-outer">
                      <div class="chart-icon">
                        <span></span>
                        <span></span>
                        <span></span>
                      </div>
                      <div class="type-block-inner">
                        <div class="inner-top">
                          <span class="text-white text-uppercase">TYPE</span>
                        </div>
                        <div class="inner-bottom">
                          <span class="text-secondary text-uppercase">Corporate<br>License</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col col-xs-12">
                <div class="row d-flex flex-wrap">
                  <div class="col col-xs-12">
                    <div class="row d-flex flex-wrap">
                      <div class="col-sm-12">
                        <p class="font-weight-normal text-secondary text-uppercase">&nbsp;</p>
                      </div>
                      <div class="w-100"></div>
                      <div class="col mb-1">
                        <div class="db-servicre-box">
                          <div class="img-icon">
                            <%= image_tag('layout/territory.png') %>
                          </div>
                          <div class="box-data">
                            <p class="text-uppercase mb-0">Territory</p>
                            <span class="text-uppercase font-weight-bold"><%= @user&.country %></span>
                          </div>
                        </div>
                      </div>
                      <div class="col mb-1">
                        <div class="db-servicre-box">
                          <div class="img-icon">
                            <%= image_tag('layout/join-date.png') %>
                          </div>
                          <div class="box-data">
                            <p class="text-uppercase mb-0">Joined Since</p>
                            <span class="text-uppercase font-weight-bold"><%= @user.confirmed_at&.strftime('%b, %Y') %></span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-auto col-xs-12">
                    <div class="box-separater"></div>
                  </div>
                  <div class="col col-xs-12">
                    <div class="row d-flex flex-wrap">
                      <div class="col-sm-12">
                        <p class="font-weight-normal text-secondary text-uppercase top-space">Demerit Notices</p>
                      </div>
                      <div class="w-100"></div>
                      <div class="col mb-1">
                        <div class="db-servicre-box">
                          <div class="img-icon">
                            <%= image_tag('layout/flags.png') %>
                          </div>
                          <div class="box-data">
                            <p class="text-uppercase mb-0">Flags</p>
                            <span class="text-uppercase font-weight-bold"><%= @user&.demerit_flags.count %></span>
                          </div>
                        </div>
                      </div>
                      <div class="col mb-1">
                        <div class="db-servicre-box">
                          <div class="img-icon">
                            <%= image_tag('layout/points.png') %>
                          </div>
                          <div class="box-data">
                            <p class="text-uppercase mb-0">Points</p>
                            <span class="text-uppercase font-weight-bold"><%= @user&.demerit_flags.count * 3 %></span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-6">
          <div class="db-box with-side-header">
            <div class="row d-flex">
              <div class="col-auto">
                <div class="block-heading">
                  <div class="heading">
                    <%= image_tag('layout/corporate-license.png') %>
                    <span class="text-secondary text-uppercase font-weight-500 mt-3">Company<br>Information</span>
                  </div>
                </div>
              </div>
              <div class="col table-responsive py-4 pl-0">
                <table class="table mb-0">
                  <tbody>
                    <tr>
                      <th>Name</th>
                      <td><%= @user.full_name %></td>
                    </tr>
                    <tr>
                      <th>Email</th>
                      <td><%= @user.organization_email %></td>
                    </tr>
                    <tr>
                      <th>Country of Incorporation</th>
                      <td><%= @user.organization_country %></td>
                    </tr>
                    <tr>
                      <th>City</th>
                      <td><%= @user.organization_city %></td>
                    </tr>
                    <tr>
                      <th>Address</th>
                      <td><%= @user.organization_address %></td>
                    </tr>
                    <tr>
                      <th>Website</th>
                      <td><%= @user.organization_website %></td>
                    </tr>
                    <tr>
                      <th>Phone Number</th>
                      <td><%= @user.organization_phone %></td>
                    </tr>
                    <tr>
                      <th>Fax Number</th>
                      <td><%= @user.organization_fax %></td>
                    </tr>
                    <tr>
                      <th>Business Field</th>
                      <td><%= @user.corporate_detail&.business_field %></td>
                    </tr>
                    <tr>
                      <th>Portfolio</th>
                      <td>
                            <% if @user.corporate_detail&.portfolio.present? %>
                              <% if can?(:download_user_files, @user) %>
                                <%= btn_download(download_user_files_user_path(@user, file: "portfolio"), size: 'extra_small', tooltip: "Download #{UserDetail.human_attribute_name('portfolio')}") %>
                              <% end %>
                              <%= truncate(@user.corporate_detail&.portfolio&.file&.filename, length: 35) %>
                            <% end %>
                            <br><br>
                          <% if ['corporate'].include?(current_user.role) %>
                              <%= render partial: 'file_upload', locals: { file_name: 'portfolio', demerit_flag: '', access_licence_id: ''} %>
                          <% end %>
                      </td>
                    </tr>
                    <tr>
                      <th>Commercial Licence No.</th>
                      <td><%= @user.corporate_detail&.commercial_licence_no %></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div class="db-box with-side-header">
            <div class="row d-flex">
              <div class="col-auto">
                <div class="block-heading">
                  <div class="heading">
                    <%= image_tag('layout/activity-information.png') %>
                    <span class="text-secondary text-uppercase font-weight-500 mt-3">Activity<br>Information</span>
                  </div>
                </div>
              </div>
              <div class="col table-responsive py-4 pl-0">
                <%= render partial: 'activity_information'%>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-6">
          <div class="db-box with-side-header">
            <div class="row d-flex">
              <div class="col-auto">
                <div class="block-heading">
                  <div class="heading">
                    <%= image_tag('layout/affiliated-practitioner-accredition.png') %>
                    <span class="text-secondary text-uppercase font-weight-500 mt-3">Corporate<br>Information</span>
                  </div>
                </div>
              </div>
              <div class="col table-responsive py-4 pl-0">
                <table class="table mb-0">
                  <tbody>
                    <tr>
                      <th>Name</th>
                      <td><%= @user.full_name %></td>
                    </tr>
                    <tr>
                      <th>Username</th>
                      <td><%= @user.username %></td>
                    </tr>
                    <tr>
                      <th>Email</th>
                      <td><%= @user.email %></td>
                    </tr>
                    <tr>
                      <th>Phone Number</th>
                      <td><%= @user.mobile %></td>
                    </tr>
                    <tr>
                      <th>Territory</th>
                      <td><%= @user&.country %></td>
                    </tr>
                    <tr>
                      <th>Application Form</th>
                      <td>
                        <% if @user.corporate_detail&.application_form.present? %>
                            <% if can?(:download_user_files, @user) %>
                              <%= btn_download(download_user_files_user_path(@user, file: "application_form"), size: 'extra_small', tooltip: "Download #{UserDetail.human_attribute_name('application_form')}") %>
                            <% end %>
                            <%= truncate(@user.corporate_detail&.application_form&.file&.filename, length: 35) %>
                          <% end %>
                          <br><br>
                        <% if ['corporate'].include?(current_user.role) %>
                            <%= render partial: 'file_upload', locals: { file_name: 'application_form', demerit_flag: '', access_licence_id: ''} %>
                        <% end %>                  
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div class="db-box with-side-header">
            <div class="row d-flex">
              <div class="col-auto">
                <div class="block-heading">
                  <div class="heading">
                    <%= image_tag('layout/credentials-overdue-tasks.png') %>
                    <span class="text-secondary text-uppercase font-weight-500 mt-3">Credentials<br>Overdue Tasks</span>
                  </div>
                </div>
              </div>
              <div class="col table-responsive py-4 pl-0">
                <%= render partial: 'overdue_licences' %>
              </div>
            </div>
          </div>
          <div class="db-box with-side-header">
            <div class="row d-flex">
              <div class="col-auto">
                <div class="block-heading">
                  <div class="heading">
                    <%= image_tag('layout/deremit-notices-servicer.png') %>
                    <span class="text-secondary text-uppercase font-weight-500 mt-3">Demerit<br>Notices</span>
                  </div>
                </div>
              </div>
              <div class="col table-responsive py-4 pl-0">
                <%= render partial: 'demerit_notices' %>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="db-box with-side-header">
            <div class="row d-flex">
              <div class="col-auto">
                <div class="block-heading">
                  <div class="heading">
                    <%= image_tag('layout/corporate-license.png') %>
                    <span class="text-secondary text-uppercase font-weight-500 mt-3">Corporate<br>License</span>
                  </div>
                </div>
              </div>
              <div class="col table-responsive py-4 pl-0">
                <%= 
                    render partial: 'licence_overview',
                      locals: { 
                        user_licences_energy_centers_efficiency: @user_licences_energy_centers_efficiency, 
                        user_licences_building_energy_efficiency: @user_licences_building_energy_efficiency, 
                        user_licences_healthy_buildings: @user_licences_healthy_buildings,
                        user_licences_indoor_air_quality: @user_licences_indoor_air_quality, 
                        user_licences_measurement_reporting_and_verification: @user_licences_measurement_reporting_and_verification, 
                        user_licences_building_water_efficiency: @user_licences_building_water_efficiency, 
                        user_licences_events_carbon_neutrality: @user_licences_events_carbon_neutrality,
                        user_licences_products_ecolabeling: @user_licences_products_ecolabeling,
                        user_licences_green_IT: @user_licences_green_IT,
                        user_licences_net_zero: @user_licences_net_zero,
                        user_licences_energy_label_waste_water_treatment_facility: @user_licences_energy_label_waste_water_treatment_facility,
                        user_licences_energy_label_for_building_performance: @user_licences_energy_label_for_building_performance,
                        user_licences_indoor_air_quality_certification: @user_licences_indoor_air_quality_certification,
                        user_licences_indoor_environmental_quality_certification: @user_licences_indoor_environmental_quality_certification,
                        user_licences_energy_label_for_wastewater_treatment_plant: @user_licences_energy_label_for_wastewater_treatment_plant,
                        user_licences_energy_label_for_leachate_treatment_plant: @user_licences_energy_label_for_leachate_treatment_plant,
                        user_licences_healthy_building_label: @user_licences_healthy_building_label,
                        user_licences_energy_label_for_industrial_application: @user_licences_energy_label_for_industrial_application,
                        user_licences_energy_label_for_infrastructure_projects: @user_licences_energy_label_for_infrastructure_projects
                      } 
                %>
              </div>
            </div>
          </div>
          <div class="db-box with-side-header">
            <div class="">
              <div class="">
                <div class="block-heading affiliated-heading">
                  <div class="heading">
                    <%= image_tag('layout/affiliated-practitioner-accredition.png') %>
                    <span class="text-white text-uppercase font-weight-500 mt-3">Affiliated Practitioner Accreditation</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <%= 
              render partial: "corporates_licences", locals: { corporate_user_licences: @corporate_user_licences_energy_centers_efficiency, title: I18n.t("activerecord.attributes.certificate.certificate_types.certificate_titles.energy_centers_efficiency") } 
              render partial: "corporates_licences", locals: { corporate_user_licences: @corporate_user_licences_building_energy_efficiency, title: I18n.t("activerecord.attributes.certificate.certificate_types.certificate_titles.building_energy_efficiency") } 
              render partial: "corporates_licences", locals: { corporate_user_licences: @corporate_user_licences_healthy_buildings, title: I18n.t("activerecord.attributes.certificate.certificate_types.certificate_titles.healthy_buildings") } 
              render partial: "corporates_licences", locals: { corporate_user_licences: @corporate_user_licences_indoor_air_quality, title: I18n.t("activerecord.attributes.certificate.certificate_types.certificate_titles.indoor_air_quality") } 
              render partial: "corporates_licences", locals: { corporate_user_licences: @corporate_user_licences_measurement_reporting_and_verification, title: I18n.t("activerecord.attributes.certificate.certificate_types.certificate_titles.measurement_reporting_and_verification") } 
              render partial: "corporates_licences", locals: { corporate_user_licences: @corporate_user_licences_building_water_efficiency, title: I18n.t("activerecord.attributes.certificate.certificate_types.certificate_titles.building_water_efficiency") } 
              render partial: "corporates_licences", locals: { corporate_user_licences: @corporate_user_licences_events_carbon_neutrality, title: I18n.t("activerecord.attributes.certificate.certificate_types.certificate_titles.events_carbon_neutrality") } 
              render partial: "corporates_licences", locals: { corporate_user_licences: @corporate_user_licences_products_ecolabeling, title: I18n.t("activerecord.attributes.certificate.certificate_types.certificate_titles.products_ecolabeling") } 
              render partial: "corporates_licences", locals: { corporate_user_licences: @corporate_user_licences_green_IT, title: I18n.t("activerecord.attributes.certificate.certificate_types.certificate_titles.green_IT") } 
              render partial: "corporates_licences", locals: { corporate_user_licences: @corporate_user_licences_net_zero, title: I18n.t("activerecord.attributes.certificate.certificate_types.certificate_titles.net_zero") } 
              render partial: "corporates_licences", locals: { corporate_user_licences: @corporate_user_licences_energy_label_waste_water_treatment_facility, title: I18n.t("activerecord.attributes.certificate.certificate_types.certificate_titles.energy_label_waste_water_treatment_facility") } 
              render partial: "corporates_licences", locals: { corporate_user_licences: @corporate_user_licences_energy_label_for_building_performance, title: I18n.t("activerecord.attributes.certificate.certificate_types.certificate_titles.energy_label_for_building_performance") }
              render partial: "corporates_licences", locals: { corporate_user_licences: @corporate_user_licences_indoor_air_quality_certification, title: I18n.t("activerecord.attributes.certificate.certificate_types.certificate_titles.indoor_air_quality_certification") }
              render partial: "corporates_licences", locals: { corporate_user_licences: @corporate_user_licences_indoor_environmental_quality_certification, title: I18n.t("activerecord.attributes.certificate.certificate_types.certificate_titles.indoor_environmental_quality_certification") }
              render partial: "corporates_licences", locals: { corporate_user_licences: @corporate_user_licences_energy_label_for_wastewater_treatment_plant, title: I18n.t("activerecord.attributes.certificate.certificate_types.certificate_titles.energy_label_for_wastewater_treatment_plant") }
              render partial: "corporates_licences", locals: { corporate_user_licences: @corporate_user_licences_energy_label_for_leachate_treatment_plant, title: I18n.t("activerecord.attributes.certificate.certificate_types.certificate_titles.energy_label_for_leachate_treatment_plant") }
              render partial: "corporates_licences", locals: { corporate_user_licences: @corporate_user_licences_healthy_building_label, title: I18n.t("activerecord.attributes.certificate.certificate_types.certificate_titles.healthy_building_label") }
              render partial: "corporates_licences", locals: { corporate_user_licences: @corporate_user_licences_energy_label_for_industrial_application, title: I18n.t("activerecord.attributes.certificate.certificate_types.certificate_titles.energy_label_for_industrial_application") }
              render partial: "corporates_licences", locals: { corporate_user_licences: @corporate_user_licences_energy_label_for_infrastructure_projects, title: I18n.t("activerecord.attributes.certificate.certificate_types.certificate_titles.energy_label_for_infrastructure_projects") }
          %>
        </div>
      </div>
    </div>
  </div>
</div>
