<div class="loginColumns">
    Please sign in before continuing
    <br />
    <br />
    <div class="row">
        <div class="col-md-6 login-left">
            <%= image_tag 'layout/gsas_trust_logo.png', class: 'logo' %>
            <br/>
            <h2>WELCOME TO</h2>
            <h1>GSASGATE</h1>
            <br/>
            <br/>
            <%= link_to 'Create a linkme.qa account', 'http://www.linkme.qa/general/register_start.asp', target: '_blank' %><br/>
            <%= link_to 'Forgot your linkme.qa username or password?', 'http://www.linkme.qa/general/email_pass.asp', target: '_blank' %>
        </div>
        <div class="col-md-6 login-right">
            <h2>Login</h2>
            <p>Please enter your credentials below</p>
            <%= bootstrap_form_for(User.new, url: sessions_path) do |f| %>
                <%= f.text_field :username, autofocus: true, placeholder: 'Username', hide_label: true %>
                <%= f.password_field :password, autocomplete: 'off', placeholder: 'Password', hide_label: true %>
                <%= btn_tag(text: 'Login', class: 'block full-width m-b') %>
            <% end %>
        </div>
    </div>
</div>
</div>