<div class="row">
    <div class="col-md-4">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>User details</h5>
            </div>
            <div class="ibox-content">
                <table class="table table-bordered table-striped" cellspacing="0" width="100%">
                    <tbody>
                    <tr>
                        <th>Email</th>
                        <td><%= @user.email %></td>
                    </tr>
                    <tr>
                        <th>Role</th>
                        <td><%= @projects_user.role.humanize %></td>
                    </tr>
                    </tbody>
                </table>
                <div class="hr-line-dashed"></div>
                <% if can? :edit, @projects_user %>
                    <% if @projects_user.certifier_manager? || @projects_user.certifier? %>
                        <%= link_to edit_project_user_path(@project, @projects_user, query: 'certifiers'), :class => 'btn btn-primary' do %>
                            <%= fa_icon('edit', 'Edit role', 'Edit authorization') %>
                        <% end %>
                    <% else %>
                        <%= link_to edit_project_user_path(@project, @projects_user), :class => 'btn btn-primary' do %>
                            <%= fa_icon('edit', 'Edit role', 'Edit authorization') %>
                        <% end %>
                    <% end %>
                <% end %>
                <% if can? :destroy, @projects_user %>
                    <%= link_to project_user_path(@project, @projects_user), method: :delete, data: {confirm: 'Are you sure to remove team member ?'}, class: 'btn btn-white' do %>
                        <%= fa_icon('user-times', 'Remove from team', 'Delete authorization') %>
                    <% end %>
                <% end %>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <%= render 'tasks/tasks' %>
    </div>
</div>