<% if resource.errors.messages[:confirmation_token].present? %>
    <p class="alert alert-danger">
        The confirmation token <%= resource.errors.messages[:confirmation_token].first %>.
    </p>
<% end %>
<div class="ibox-content">
    <%= image_tag 'layout/logo-medium.gif' %>

    <h3>Account activation for '<%= resource.email %>'</h3>

    <p>The password for your new account should be at least <%= @minimum_password_length %>&nbsp;characters long.</p>
    <%= bootstrap_form_for(resource, as: resource_name, url: update_user_confirmation_path, html: { method: :patch }, id: 'activation-form') do |f| %>
        <%= hidden_field_tag :confirmation_token, @confirmation_token %>
        <% if @requires_password %>
            <%= f.password_field :password, autofocus: true, placeholder: 'New password', hide_label: true, autocomplete: 'off' %>
            <%= f.password_field :password_confirmation, placeholder: 'Confirm new password', hide_label: true, autocomplete: 'off' %>
        <% end %>
        <%= btn_tag(text: 'Activate account', class: 'block full-width m-b') %>
    <% end %>

    <small>
        <%= render 'devise/shared/links' %>
    </small>
</div>