<div class="row">

  <div class="col-md-12 m-t">
    <div class="ibox float-e-margins">
      <div class="ibox-title">
        <div class='d-flex justify-content-between align-items-center'>
          <h2><b>Questions</b>
          <%= btn_link_to(form_survey_type_survey_questionnaire_versions_path(@survey_type), icon: 'edit', text: 'Edit Questions') %></h2>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-12 m-t">
    <div class="ibox float-e-margins">
      <table class="table table-bordered table-striped user-details-table">
        <thead>
          <tr>
            <th><%=SurveyQuestion.human_attribute_name('question_text') %></th>
            <th><%=SurveyQuestion.human_attribute_name('question_type') %></th>
            <th><%=SurveyQuestion.human_attribute_name('mandatory') %></th>
          </tr>
        </thead>
        <tbody>
          <% @latest_questions.each do |question| %>
            <tr>
              <td><%= question.question_text %></td>
              <td><%= question.question_type %></td>
              <td><%= label_span(question.mandatory?, "Yes", "No").html_safe rescue "-" %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>