<% 
  main_scheme = certification_path.main_scheme rescue 0
  sub_schemes = certification_path.sub_schemes rescue 0
  scheme_mixes = main_scheme + sub_schemes
  development_type_name = certification_path&.development_type&.name
%>

<table class="table table-bordered" cellspacing="0" width="100%">
    <thead>
    <tr>
        <% if certification_path&.scheme_mixes.count > 1 %>
            <% if scheme_mixes.count > 1 %>
                <th class="col-md-1">Typologies</th>
            <% end %>
            <th class="col-md-1">Typology Name</th>
            <th class="col-md-1">Building Name</th>
        <% else %>
            <% if scheme_mixes.count > 1 %>
                <th class="col-md-2">Typologies</th>
            <% end %>
            <th class="col-md-2">Typology Name</th>
        <% end %>

        <th class="col-md-1">
          <span class="hidden-md">Weighting (%)</span>
          <span class="visible-md">W <%= tooltip('Weighting') %></span>
        </th>

        <% if development_type_name == 'Neighborhoods' %>
            <th class="col-md-1">Gross Built up Area (m2)</th>
        <% elsif development_type_name == 'Mixed Use' %>
            <th class="col-md-1">Certified Area (m2)</th>
        <% end %>

        <% if certification_path.is_activated? %>
            <th class="col-md-4">
                Score/Level
                <% id_list = certification_path.scheme_mixes.collect { |scheme_mix| "scheme_mix_#{scheme_mix.id}" } %>
                <%= render 'score/score_toggle', id_list: id_list %>
            </th>
            <th class="col-md-2">
                <span class="hidden-md">Progress</span>
                <span class="visible-md">P <%= tooltip('Progress') %></span>
            </th>
        <% else %>
            <% if can?(:edit, certification_path.scheme_mixes.first) %>
                <th class="col-md-2">Action</th>
            <% end %>
        <% end %>
    </tr>
    </thead>
    <tbody>
    <%
       scheme_mix_criteria_scores = certification_path.scheme_mix_criteria_scores
       scheme_mix_criteria_scores_by_scheme_mix = scheme_mix_criteria_scores.group_by{|item| item[:scheme_mix_id]}
       scheme_mixes_scale = {
           maximum_scale_in_certificate_points: scheme_mix_criteria_scores_by_scheme_mix.collect{|scheme_mix_id, scores| scores.collect{|score| score[:maximum_score_in_certificate_points]}.inject(:+)}.max,
           minimum_scale_in_certificate_points: scheme_mix_criteria_scores_by_scheme_mix.collect{|scheme_mix_id, scores| scores.collect{|score| score[:minimum_score_in_certificate_points]}.inject(:+)}.min,
           maximum_scale_in_scheme_points: scheme_mix_criteria_scores_by_scheme_mix.collect{|scheme_mix_id, scores| scores.collect{|score| score[:maximum_score_in_scheme_points]}.inject(:+)}.max,
           minimum_scale_in_scheme_points: scheme_mix_criteria_scores_by_scheme_mix.collect{|scheme_mix_id, scores| scores.collect{|score| score[:minimum_score_in_scheme_points]}.inject(:+)}.min,
           maximum_scale_in_criteria_points: scheme_mix_criteria_scores_by_scheme_mix.collect{|scheme_mix_id, scores| scores.collect{|score| score[:maximum_score_in_criteria_points]}.inject(:+)}.max,
           minimum_scale_in_criteria_points: scheme_mix_criteria_scores_by_scheme_mix.collect{|scheme_mix_id, scores| scores.collect{|score| score[:minimum_score_in_criteria_points]}.inject(:+)}.min
       }
    %>
    <% scheme_mixes.each_with_index do |scheme_mix, index| %>
        <tr>
            <% if scheme_mixes.count > 1 && index < 2 %>
                <% if certification_path.main_scheme_mix_id == scheme_mix.id %>
                    <td>
                        Main-Typology
                <% elsif (!certification_path.main_scheme_mix_selected && index == 0) || (certification_path.main_scheme_mix_selected && index == 1) %>
                    <td rowspan="<%= sub_schemes.count %>">
                        Sub-Typologies
                <% end %>
                </td>
            <% end %>

            <% if index > sub_schemes.count %>
                <tr>
            <% end %>

            <td class="text-primary">
                <%= can_link_to(project_certification_path_scheme_mix_path(certification_path.project, certification_path, scheme_mix), scheme_mix) do %>
                    <%= scheme_mix&.scheme&.name %>
                    <% if certification_path.main_scheme_mix_id == scheme_mix.id %>
                        <%= ikoen('certificate', tooltip: 'This is the main scheme (or main typology). Some of its criteria scores will be inherited by other schemes.', class: 'main-scheme-icon') %>
                    <% end %>
                <% end %>
            </td>
            <% if certification_path&.scheme_mixes.count > 1 %>
                <td>
                    <%= can_link_to(project_certification_path_scheme_mix_path(certification_path.project, certification_path, scheme_mix), scheme_mix) do %>
                        <%= scheme_mix.custom_name %>
                    <% end %>
                </td>
            <% end %>
            <td><%= scheme_mix.weight %> %</td>

            <% if development_type_name == 'Neighborhoods' %>
                <td><%= number_with_delimiter(scheme_mix&.gross_area, delimiter: ',') %></td>
            <% elsif development_type_name == 'Mixed Use' %>
                <td><%= number_with_delimiter(scheme_mix&.certified_area, delimiter: ',') %></td>
            <% end %>

            <% if certification_path.is_activated? %>
                <td>
                    <%
                       # summarize the scores for this scheme
                       scheme_mix_scores = sum_score_hashes(scheme_mix_criteria_scores_by_scheme_mix[scheme_mix.id])
                       # set the min and max scales, so all graphs use the same dimensions
                       scheme_mix_scores = scheme_mix_scores.merge(scheme_mixes_scale)
                    %>
                    <% 
                      @total_scores = scheme_mix_scores
                      if scheme_mix.CM_2019?
                        @total_scores = score_calculation(scheme_mix)
                      end

                      if scheme_mix&.is_cm_final_certificate?
                        @total_scores = final_cm_revised_avg_scores(certification_path, @total_scores)
                      end

                    %>
                    <%= render 'score/score_tabs', scores: @total_scores, element_id: "scheme_mix_#{scheme_mix.id}" %>
                </td>
                <td>
                    <div class="progress progress-dark">
                        <%
                           if certification_path.requirement_data.count.nonzero?
                             progress = certification_path.requirement_data.completed.count * 100 / certification_path.requirement_data.count
                           else
                             progress = 0
                           end
                        %>
                        <div class="progress-bar" style="min-width: 2em; width: <%= progress %>%;"><%= progress %>%
                        </div>
                    </div>
                </td>
                <% if index > sub_schemes.count %>
                    </tr>
                <% end %>
            <% else %>
                <% if can?(:edit, scheme_mix) %>
                <td><%= btn_link_to(edit_project_certification_path_scheme_mix_path(certification_path.project, certification_path, scheme_mix), icon: 'edit', size: 'small', action: :get, remote: true) %></td>
                <% end %>
            <% end %>
        </tr>
    <% end %>
    </tbody>
</table>
<div id="editSchemeMixNameModal" class="modal fade"></div>