<% if certification_path.scheme_mixes.count.zero? %>
    <p>A GSAS administrator must first activate the certificate before you can continue.</p>
<% else %>
    <table class="table table-bordered table-hover">
        <thead>
        <tr>
            <th class="col-md-5">Scheme name</th>
            <th class="col-md-1">Weighting</th>
            <th class="col-md-4">
                Score
                <% id_list = certification_path.scheme_mixes.collect { |scheme_mix| "scheme_mix_#{scheme_mix.id}" } %>
                <%= render 'score/score_toggle', id_list: id_list %>
            </th>
            <th class="col-md-2">Progress</th>
        </tr>
        </thead>
        <tbody>
        <% certification_path.scheme_mixes.each do |scheme_mix| %>
            <tr>
                <td><%= link_to(scheme_mix.full_name, project_certification_path_scheme_mix_path(certification_path.project, certification_path, scheme_mix)) %></td>
                <td><%= scheme_mix.weight %> %</td>
                <td>
                    <%= render 'score/score_tabs',
                               absolute_scores: scheme_mix.absolute_scores,
                               weighted_scores: scheme_mix.weighted_scores,
                               element_id: "scheme_mix_#{scheme_mix.id}"
                    %>
                </td>
                <td>
                    <div class="progress">
                        <%
                           if certification_path.requirement_data.count.nonzero?
                             progress = certification_path.requirement_data.completed.count * 100 / certification_path.requirement_data.count
                           else
                             progress = 0
                           end
                        %>
                        <div class="progress-bar" style="min-width: 2em; width: <%= progress %>%;"><%= progress %>%
                        </div>
                    </div>
                </td>
            </tr>
        <% end %>
        </tbody>
    </table>
<% end %>