<div class="progress">
    <% if min < 0 && max > 0 %>
        <% if max_attainable < 0 %>
            <div class="progress-bar progress-bar-offset" style="width: <%= (min - max_attainable) * 100 / (max - min)%>%"></div>
            <div class="progress-bar progress-bar-max" style="width: <%= max_attainable * -100 / (max - min) %>%; border-right: 1px solid black;">
                <%= max_attainable %>
            </div>
        <% else %>
            <div class="progress-bar progress-bar-offset" style="width: <%= min * -100 / (max - min)%>%; border-right: 1px solid black;"></div>
            <div class="progress-bar progress-bar-max" style="width: <%= max_attainable * 100 / (max - min) %>%">
                <%= max_attainable %>
            </div>
        <% end %>
    <% else %>
        <div class="progress-bar progress-bar-max" style="width: <%= max_attainable * 100 / (max - min) %>%; border-left: 1px solid black;">
            <%= max_attainable %>
        </div>
    <% end %>
</div>
<div class="progress">
    <% if min < 0 && max > 0 %>
        <% if target < 0 %>
            <div class="progress-bar progress-bar-offset" style="width: <%= (min - target) * 100 / (max - min)%>%"></div>
            <div class="progress-bar progress-bar-target" style="width: <%= target * -100 / (max - min) %>%; border-right: 1px solid black;">
                <%= target %>
            </div>
        <% else %>
            <div class="progress-bar progress-bar-offset" style="width: <%= min * -100 / (max - min)%>%; border-right: 1px solid black;"></div>
            <div class="progress-bar progress-bar-target" style="width: <%= target * 100 / (max - min) %>%">
                <%= target %>
            </div>
        <% end %>
    <% else %>
        <div class="progress-bar progress-bar-target" style="width: <%= target * 100 / (max - min) %>%; border-left: 1px solid black;">
            <%= target %>
        </div>
    <% end %>
</div>