<p id="notice"><%= notice %></p>

<h1>Listing Certification Paths</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @certification_paths.each do |certification_path| %>
      <tr>
        <td><%= link_to 'Show', certification_path %></td>
        <td><%= link_to 'Edit', edit_certification_path_path(certification_path) %></td>
        <td><%= link_to 'Destroy', certification_path, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Certification path', new_certification_path_path %>
