<p id="notice"><%= notice %></p>

<div class="row">
    <div class="col-md-4">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Certification details</h5>
            </div>
            <div class="ibox-content">
                <p>
                    <strong>Name:</strong>
                    <%= @certification_path.certificate.label %>
                </p>

                <p>
                    <strong>Status:</strong>
                    <%= CertificationPath.human_attribute_name(@certification_path.status) %>
                </p>

                <p>
                    <strong>Scheme:</strong>
                    <%= @scheme_mix.scheme.full_label %>
                </p>
                <p>
                    <strong>Weighting:</strong>
                    <%= @scheme_mix.weight %> %
                </p>
                <p>
                    <strong>Points:</strong>
                    <div class="score-graph"
                         data-show-legend="true"
                         data-show-x-axis="true"
                         data-width="380"
                         data-height="50"
                         data-min="<%= @scheme_mix.weighted_min_score %>"
                         data-max="<%= @scheme_mix.weighted_max_attainable_score %>"
                         data-max-attainable="<%= @scheme_mix.weighted_max_attainable_score %>"
                         data-targeted="<%= @scheme_mix.weighted_targeted_score %>"
                         data-submitted="<%= @scheme_mix.weighted_submitted_score %>"></div>
                </p>
                <p>
                    <strong>Requirement progress:</strong>
                    <%= RequirementDatum.for_scheme_mix(@scheme_mix).provided.updateable_by_user(current_user).count %>/<%= RequirementDatum.for_scheme_mix(@scheme_mix).updateable_by_user(current_user).count %>
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Categories &amp; criteria</h5>
            </div>
            <div class="ibox-content">
                <div id="categories-accordion">
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th>&nbsp;</th>
                            <th>Code</th>
                            <th>Name</th>
                            <th>Weighting</th>
                            <th>Points</th>
                            <th>Requirement progress</th>
                        </tr>
                        </thead>
                        <tbody>
                        <% min_weighted_score = @scheme_mix.scheme.weighted_min_score %>
                        <% max_weighted_score = @scheme_mix.scheme.weighted_max_attainable_score %>
                        <% @scheme_mix.categories.uniq.each_with_index do |category, i| %>
                        <tr class="accordion-toggle" data-toggle="collapse" data-target="#category-panel-<%= category.id %>" data-parent="#categories-accordion">
                            <td><i class="fa fa-caret-square-o-right"></i></td>
                            <td><%= category.code %></td>
                            <td><%= category.name %></td>
                            <td><%= @scheme_mix.scheme.total_weight_for_category(category) %> %</td>
                            <td>
                                <div class="score-graph"
                                     data-show-legend="false"
                                     data-show-x-axis="<%= if i == 0 then true else false end %>"
                                     data-width="380"
                                     data-height="50"
                                     data-min="<%= min_weighted_score.round(1) %>"
                                     data-max="<%= max_weighted_score.round(1) %>"
                                     data-max-attainable="<%= @scheme_mix.scheme.weighted_max_attainable_score_for_category(category) %>"
                                     data-targeted="<%= @scheme_mix.weighted_targeted_score_for_category(category) %>"
                                     data-submitted="<%= @scheme_mix.weighted_submitted_score_for_category(category) %>"></div>
                            </td>
                            <td><%= RequirementDatum.for_scheme_mix(@scheme_mix).for_category(category).provided.updateable_by_user(current_user).count %>/<%= RequirementDatum.for_scheme_mix(@scheme_mix).for_category(category).updateable_by_user(current_user).count %></td>
                        </tr>
                        <tr id="category-panel-<%= category.id %>" class="accordion-body collapse">
                            <td colspan="6">
                                <div>
                                    <table class="table">
                                        <thead>
                                        <tr>
                                            <th>Code</th>
                                            <th>Name</th>
                                            <th>Weighting</th>
                                            <th>Score</th>
                                            <th>Requirement progress</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <% min_score = @scheme_mix.scheme.min_score_for_category(category) %>
                                        <% max_score = @scheme_mix.scheme.max_attainable_score_for_category(category) %>
                                        <% @scheme_mix.scheme_mix_criteria.for_category(category).each_with_index do |scheme_mix_criterion, j| %>
                                        <% if (can? :update, scheme_mix_criterion) || ((can? :read, scheme_mix_criterion) && current_user.enterprise_licence?) %>
                                            <tr>
                                                <td><%= scheme_mix_criterion.scheme_criterion.criterion.code %></td>
                                                <td><%= link_to scheme_mix_criterion.scheme_criterion.criterion.name, edit_project_certification_path_scheme_mix_scheme_mix_criterion_path(@certification_path.project, @certification_path, @scheme_mix, scheme_mix_criterion), class: 'btn btn-default' %></td>
                                                <td><%= scheme_mix_criterion.scheme_criterion.weight %> %</td>
                                                <td>
                                                    <div class="score-graph"
                                                         data-show-legend="false"
                                                         data-show-x-axis="<%= if j == 0 then true else false end %>"
                                                         data-width="380"
                                                         data-height="50"
                                                         data-min="<%= min_score %>"
                                                         data-max="<%= max_score %>"
                                                         data-max-attainable="<%= scheme_mix_criterion.scheme_criterion.max_attainable_score %>"
                                                         data-targeted="<%= scheme_mix_criterion.targeted_score %>"
                                                         data-submitted="<%= scheme_mix_criterion.submitted_score %>"></div>
                                                </td>
                                                <td><%= scheme_mix_criterion.requirement_data.provided.updateable_by_user(current_user).count %>/<%= scheme_mix_criterion.requirement_data.updateable_by_user(current_user).count %></td>
                                            </tr>
                                        <% end %>
                                        <% end %>
                                        </tbody>
                                    </table>
                                </div>
                            </td>
                        </tr>
                        <% end %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
