<p id="notice"><%= notice %></p>

<div class="row">
    <div class="col-md-4">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Certification details</h5>
            </div>
            <div class="ibox-content">
                <p>
                    <strong>Name:</strong>
                    <%= @certification_path.certificate.label %>
                </p>

                <p>
                    <strong>Status:</strong>
                    <%= CertificationPath.human_attribute_name(@certification_path.status) %>
                </p>

                <p>
                    <strong>Scheme:</strong>
                    <%= @scheme_mix.scheme.full_label %>
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Categories</h5>
            </div>
            <div class="ibox-content">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Code</th>
                        <th>Name</th>
                        <th>Weighting</th>
                        <th>Targeted score</th>
                        <th>Requirement count</th>
                    </tr>
                    </thead>
                    <% @scheme_mix.scheme_mix_criteria.each do |scheme_mix_criterion| %>
                        <tr>
                            <td><%= scheme_mix_criterion.scheme_criterion.criterion.code %></td>
                            <td><%= scheme_mix_criterion.scheme_criterion.criterion.name %></td>
                            <td><%= scheme_mix_criterion.scheme_criterion.weight %> %</td>
                            <td><%= scheme_mix_criterion.targeted_score %></td>
                            <td><%= scheme_mix_criterion.scheme_criterion.requirements.count %></td>
                        </tr>
                    <% end %>
                </table>
            </div>
        </div>
    </div>

    <div class="col-md-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Form</h5>
            </div>
            <div class="ibox-content">
                <% @scheme_mix.scheme_mix_criteria.each do |scheme_mix_criterion| %>
                    <% scheme_mix_criterion.scheme_criterion.requirements.each do |requirement| %>
                        <% calculator_template = requirement.reportable.class_name.constantize.name.demodulize.downcase %>
                        <div>
                            <%= render "calculator/#{calculator_template}", calculator: requirement.reportable %>
                        </div>
                        <% requirement.reportable.fields.each do |field| %>
                            <% if File.exist?("app/views/field/#{calculator_template}/_#{field.name}.html.erb") %>
                                <%= render "field/#{calculator_template}/#{field.name}", field: field %>
                            <% else %>
                                <%= render "field/textfield", field: field %>
                            <% end %>
                            <div>
                            </div>
                        <% end %>
                    <% end %>
                <% end %>
            </div>
        </div>
    </div>
</div>
