<div class="row">
    <div class="col-lg-4">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Scheme details</h5>
            </div>
            <div class="ibox-content">
                <table class="table table-bordered table-striped">
                    <tbody>
                    <tr>
                        <th>Scheme name</th>
                        <td><%= @scheme_mix.full_name %></td>
                    </tr>
                    <tr>
                        <th>Weighting</th>
                        <td><%= @scheme_mix.weight %> %</td>
                    </tr>
                    <tr>
                        <th>Score</th>
                        <td>
                            <%= render 'score/score_toggle', id_list: ["scheme_mix_#{@scheme_mix.id}"] %>
                            <%= render 'score/score_tabs',
                                       scores_in_certificate_points: @scheme_mix.scores_in_certificate_points,
                                       scores_in_scheme_points: @scheme_mix.scores_in_scheme_points,
                                       scores: @scheme_mix.scores,
                                       element_id: "scheme_mix_#{@scheme_mix.id}"
                            %>
                        </td>
                    </tr>
                    <tr>
                        <th>Total requirement progress</th>
                        <td>
                            <% processed_count = RequirementDatum.for_scheme_mix(@scheme_mix).provided.count +
                                    RequirementDatum.for_scheme_mix(@scheme_mix).not_required.count %>
                            <% total_count = RequirementDatum.for_scheme_mix(@scheme_mix).count %>
                            <div class="progress">
                                <div class="progress-bar" style="min-width: 2em; width: <%= (total_count != 0 ? (processed_count * 100 / total_count) : 100) %>%;">
                                    <%= processed_count %>/<%= total_count %>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th>Approved Documents</th>
                        <td>
                            <% approved_count = @scheme_mix.scheme_mix_criteria_documents.approved.count %>
                            <% awaiting_approval_count = @scheme_mix.scheme_mix_criteria_documents.awaiting_approval.count %>
                            <% total_count = approved_count + awaiting_approval_count %>
                            <div class="progress">
                                <div class="progress-bar" style="min-width: 2em; width: <%= (total_count != 0 ? (approved_count * 100 / total_count) : 100) %>%;">
                                    <%= approved_count %>/<%= total_count %>
                                </div>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <ul class="list-unstyled">
                    <li><i class="fa fa-large fa-square progress-bar-max"></i> Max. Attainable score</li>
                    <li><i class="fa fa-large fa-square progress-bar-targeted"></i> Targeted score</li>
                    <li><i class="fa fa-large fa-square progress-bar-submitted"></i> Submitted score</li>
                    <li><i class="fa fa-large fa-square progress-bar-achieved"></i> Achieved score</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-lg-8">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Categories &amp; criteria</h5>
            </div>
            <div class="ibox-content">
                <div id="categories-accordion">
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th>&nbsp;</th>
                            <th>Code</th>
                            <th>Name</th>
                            <th>Weighting</th>
                            <th>
                                Score
                                <% id_list = @scheme_mix.scheme_categories.collect { |category| "category_#{category.id}" } %>
                                <% id_list << @scheme_mix.scheme_mix_criteria.collect { |scheme_mix_criteria| "scheme_mix_criterion_#{scheme_mix_criteria.id}" } %>
                                <%= render 'score/score_toggle', id_list: id_list %>
                            </th>
                            <th>Total requirement progress</th>
                            <th>Approved Documents</th>
                        </tr>
                        </thead>
                        <tbody>
                        <%
                           smc_by_category = @scheme_mix.scheme_mix_criteria.group_by{|smc| smc.scheme_criterion.scheme_category}
                           maximum_score_over_categories = smc_by_category.collect{|category, criteria| criteria.collect{|criterion| criterion.maximum_score}.inject(:+)}.max
                           minimum_score_over_categories = smc_by_category.collect{|category, criteria| criteria.collect{|criterion| criterion.minimum_score}.inject(:+)}.min
                           maximum_score_in_scheme_points_over_categories = smc_by_category.collect{|category, criteria| criteria.collect{|criterion| criterion.convert_to_scheme_points(criterion.maximum_score)}.inject(:+)}.max
                           minimum_score_in_scheme_points_over_categories = smc_by_category.collect{|category, criteria| criteria.collect{|criterion| criterion.convert_to_scheme_points(criterion.minimum_score)}.inject(:+)}.min
                           maximum_score_in_certificate_points_over_categories = smc_by_category.collect{|category, criteria| criteria.collect{|criterion| criterion.convert_to_certificate_points(criterion.maximum_score)}.inject(:+)}.max
                           minimum_score_in_certificate_points_over_categories = smc_by_category.collect{|category, criteria| criteria.collect{|criterion| criterion.convert_to_certificate_points(criterion.minimum_score)}.inject(:+)}.min
                        %>
                        <% @scheme_mix.scheme_categories.uniq.each_with_index do |category, i| %>
                            <tr class="accordion-toggle" data-toggle="collapse" data-target="#category-panel-<%= category.id %>" data-parent="#categories-accordion">
                                <td><i class="fa fa-caret-square-o-right"></i></td>
                                <td><%= category.code %></td>
                                <td><%= category.name %></td>
                                <td><%= @scheme_mix.scheme.weight_for_category(category) %> %</td>
                                <td>
                                    <%= render 'score/score_tabs',
                                               scores_in_certificate_points: @scheme_mix.scores_in_certificate_points_for_category(category).merge({:maximum_scale => maximum_score_in_certificate_points_over_categories, :minimum_scale => minimum_score_in_certificate_points_over_categories}),
                                               scores_in_scheme_points: @scheme_mix.scores_in_scheme_points_for_category(category).merge({:maximum_scale => maximum_score_in_scheme_points_over_categories, :minimum_scale => minimum_score_in_scheme_points_over_categories}),
                                               scores: @scheme_mix.scores_for_category(category).merge({:maximum_scale => maximum_score_over_categories, :minimum_scale => minimum_score_over_categories}),
                                               element_id: "category_#{category.id}"
                                    %>
                                </td>
                                <td>
                                    <% processed_count = RequirementDatum.for_scheme_mix(@scheme_mix).for_category(category).provided.count +
                                            RequirementDatum.for_scheme_mix(@scheme_mix).for_category(category).not_required.count %>
                                    <% total_count = RequirementDatum.for_scheme_mix(@scheme_mix).for_category(category).count %>
                                    <div class="progress">
                                        <div class="progress-bar" style="min-width: 2em; width: <%= (total_count != 0 ? (processed_count * 100 / total_count) : 100) %>%;">
                                            <%= processed_count %>/<%= total_count %>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <% approved_count = category.scheme_mix_criteria_documents.approved.count %>
                                    <% awaiting_approval_count = category.scheme_mix_criteria_documents.awaiting_approval.count %>
                                    <% total_count = approved_count + awaiting_approval_count %>
                                    <div class="progress">
                                        <div class="progress-bar" style="min-width: 2em; width: <%= (total_count != 0 ? (approved_count * 100 / total_count) : 100) %>%;">
                                            <%= approved_count %>/<%= total_count %>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr id="category-panel-<%= category.id %>" class="accordion-body collapse">
                                <td colspan="7">
                                    <div>
                                        <table class="table table-hover">
                                            <thead>
                                            <tr>
                                                <th>Code</th>
                                                <th>Name</th>
                                                <th>Status</th>
                                                <th>Weighting</th>
                                                <th>Score</th>
                                                <th>Total requirement progress</th>
                                                <th>Approved Documents</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <%
                                                smc_for_category = @scheme_mix.scheme_mix_criteria.for_category(category)
                                                maximum_score_in_category = smc_for_category.collect{|criterion| criterion.maximum_score}.max
                                                minimum_score_in_category = smc_for_category.collect{|criterion| criterion.minimum_score}.min
                                                maximum_score_in_scheme_points_in_category = smc_for_category.collect{|criterion| criterion.convert_to_scheme_points(criterion.maximum_score)}.max
                                                minimum_score_in_scheme_points_in_category = smc_for_category.collect{|criterion| criterion.convert_to_scheme_points(criterion.minimum_score)}.min
                                                maximum_score_in_certificate_points_in_category = smc_for_category.collect{|criterion| criterion.convert_to_certificate_points(criterion.maximum_score)}.max
                                                minimum_score_in_certificate_points_in_category = smc_for_category.collect{|criterion| criterion.convert_to_certificate_points(criterion.minimum_score)}.min
                                            %>
                                            <% @scheme_mix.scheme_mix_criteria.for_category(category).each_with_index do |scheme_mix_criterion, j| %>
                                                <tr>
                                                    <td><%= scheme_mix_criterion.scheme_criterion.scheme_category.code %></td>
                                                    <td><%= link_to(scheme_mix_criterion.scheme_criterion.name, project_certification_path_scheme_mix_scheme_mix_criterion_path(@certification_path.project, @certification_path, @scheme_mix, scheme_mix_criterion)) %></td>
                                                    <td><%= scheme_mix_criterion.status.humanize %></td>
                                                    <td><%= scheme_mix_criterion.scheme_criterion.weight %> %</td>
                                                    <td>
                                                        <%= render 'score/score_tabs',
                                                                   scores_in_certificate_points: scheme_mix_criterion.scores_in_certificate_points.merge({:maximum_scale => maximum_score_in_certificate_points_in_category, :minimum_scale => minimum_score_in_certificate_points_in_category}),
                                                                   scores_in_scheme_points: scheme_mix_criterion.scores_in_scheme_points.merge({:maximum_scale => maximum_score_in_scheme_points_in_category, :minimum_scale => minimum_score_in_scheme_points_in_category}),
                                                                   scores: scheme_mix_criterion.scores.merge({:maximum_scale => maximum_score_in_category, :minimum_scale => minimum_score_in_category}),
                                                                   element_id: "scheme_mix_criterion_#{scheme_mix_criterion.id}"
                                                        %>
                                                    </td>
                                                    <td>
                                                        <% processed_count = scheme_mix_criterion.requirement_data.provided.count + scheme_mix_criterion.requirement_data.not_required.count %>
                                                        <% total_count = scheme_mix_criterion.requirement_data.count %>
                                                        <div class="progress">
                                                            <div class="progress-bar" style="min-width: 2em; width: <%= (total_count != 0 ? (processed_count * 100 / total_count) : 100) %>%;">
                                                                <%= processed_count %>/<%= total_count %>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <% approved_count = scheme_mix_criterion.scheme_mix_criteria_documents.approved.count %>
                                                        <% awaiting_approval_count = scheme_mix_criterion.scheme_mix_criteria_documents.awaiting_approval.count %>
                                                        <% total_count = approved_count + awaiting_approval_count %>
                                                        <div class="progress">
                                                            <div class="progress-bar" style="min-width: 2em; width: <%= (total_count != 0 ? (approved_count * 100 / total_count) : 100) %>%;">
                                                                <%= approved_count %>/<%= total_count %>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                            <% end %>
                                            </tbody>
                                        </table>
                                    </div>
                                </td>
                            </tr>
                        <% end %>
                        </tbody>
                    </table>
                    <% if (@certification_path.in_submission? && can?(:allocate_project_team_responsibility, @scheme_mix)) ||
                            (@certification_path.in_verification? && can?(:allocate_certifier_team_responsibility, @scheme_mix)) %>
                        <div class="hr-line-dashed"></div>
                        <% if (@certification_path.in_submission? && can?(:allocate_project_team_responsibility, @scheme_mix)) %>
                            <button type="button" class="btn btn-white" data-toggle="modal" data-target="#allocateProjectTeamResponsibilityModal">
                                <i class="fa fa-lg fa-th-list" style="padding-right: 10px;"></i>Allocate project team
                                responsibility
                            </button>
                            <%= render 'allocate_project_team_responsibility', project: @project, certification_path: @certification_path, scheme_mix: @scheme_mix %>
                        <% end %>
                        <% if (@certification_path.in_verification? && can?(:allocate_certifier_team_responsibility, @scheme_mix)) %>
                            <button type="button" class="btn btn-white" data-toggle="modal" data-target="#allocateCertifierTeamResponsibilityModal">
                                <i class="fa fa-lg fa-th-list" style="padding-right: 10px;"></i>Allocate certifier team
                                responsibility
                            </button>
                            <%= render 'allocate_certifier_team_responsibility', project: @project, certification_path: @certification_path, scheme_mix: @scheme_mix %>
                        <% end %>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
</div>
<%= javascript_include_tag 'score_widget' %>
