<div class="row">
  <div class="col-lg-4">
    <div class="ibox float-e-margins">
      <div class="ibox-title">
        <h5>Scheme Details</h5>
      </div>
      <div class="ibox-content">
        <table class="table table-bordered table-striped" cellspacing="0" width="100%">
          <tbody>
          <tr>
            <th>Scheme Name</th>
            <td>
              <%= @scheme_mix.full_name %>
              <% if @scheme_mix.certification_path.main_scheme_mix_id == @scheme_mix.id %>
                  <%= ikoen('certificate', tooltip: 'This is the main scheme (or main typology). Some of its criteria scores will be inherited by other schemes.', class: 'main-scheme-icon') %>
              <% end %>
            </td>
          </tr>
          <tr>
            <th>Weighting</th>
            <td><%= @scheme_mix.weight %> %</td>
          </tr>
          <tr>
            <th>Score</th>
            <td>
              <%= render 'score/score_toggle', id_list: ["scheme_mix_#{@scheme_mix.id}"] %>
              <%= render 'score/score_tabs', scores: @scheme_mix.scores, element_id: "scheme_mix_#{@scheme_mix.id}" %>
            </td>
          </tr>
          <tr>
            <th>Total Requirement Progress</th>
            <td>
              <% processed_count = RequirementDatum.for_scheme_mix(@scheme_mix).provided.count + RequirementDatum.for_scheme_mix(@scheme_mix).not_required.count %>
              <% total_count = RequirementDatum.for_scheme_mix(@scheme_mix).count %>
              <% if total_count == 0 %>
                  No requirements
              <% else %>
                  <div class="progress">
                    <div class="progress-bar" style="min-width: 2em; width: <%= (total_count != 0 ? (processed_count * 100 / total_count) : 100) %>%;">
                      <%= processed_count %>/<%= total_count %>
                    </div>
                  </div>
              <% end %>
            </td>
          </tr>
          <tr>
            <th>Approved Documents</th>
            <td>
              <% approved_count = @scheme_mix.scheme_mix_criteria_documents.approved.count %>
              <% awaiting_approval_count = @scheme_mix.scheme_mix_criteria_documents.awaiting_approval.count %>
              <% total_count = approved_count + awaiting_approval_count %>
              <% if total_count == 0 %>
                  No documents
              <% else %>
                  <div class="progress">
                    <div class="progress-bar" style="min-width: 2em; width: <%= (total_count != 0 ? (approved_count * 100 / total_count) : 100) %>%;">
                      <%= approved_count %>/<%= total_count %>
                    </div>
                  </div>
              <% end %>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="col-lg-8">
    <div class="ibox float-e-margins">
      <div class="ibox-title">
        <h5>Categories &amp; Criteria</h5>
      </div>
      <div class="ibox-content">
        <%
          # fetch all score records
          scheme_mix_criteria_scores = @scheme_mix.scheme_mix_criteria_scores
          # check for criteria that violate their minimum_valid_score
          invalid_criteria_ids = scheme_mix_criteria_scores
              .select {|score| score[:achieved_score_in_criteria_points].nil? && score[:minimum_valid_score_in_criteria_points] > score[:minimum_score_in_criteria_points] }
              .map{|score| score[:scheme_mix_criteria_id]}
          # group by category
          scheme_mix_criteria_scores_by_category = scheme_mix_criteria_scores.group_by{|item| item[:scheme_category_id]}
          # calculate the max and min values for each category, and take the max min of those calculated values
          scheme_scale = {
              maximum_scale_in_certificate_points: scheme_mix_criteria_scores_by_category.collect{|category_id, scores| scores.collect{|score| score[:maximum_score_in_certificate_points]}.inject(:+)}.max,
              minimum_scale_in_certificate_points: scheme_mix_criteria_scores_by_category.collect{|category_id, scores| scores.collect{|score| score[:minimum_score_in_certificate_points]}.inject(:+)}.min,
              maximum_scale_in_scheme_points: scheme_mix_criteria_scores_by_category.collect{|category_id, scores| scores.collect{|score| score[:maximum_score_in_scheme_points]}.inject(:+)}.max,
              minimum_scale_in_scheme_points: scheme_mix_criteria_scores_by_category.collect{|category_id, scores| scores.collect{|score| score[:minimum_score_in_scheme_points]}.inject(:+)}.min,
              maximum_scale_in_criteria_points: scheme_mix_criteria_scores_by_category.collect{|category_id, scores| scores.collect{|score| score[:maximum_score_in_criteria_points]}.inject(:+)}.max,
              minimum_scale_in_criteria_points: scheme_mix_criteria_scores_by_category.collect{|category_id, scores| scores.collect{|score| score[:minimum_score_in_criteria_points]}.inject(:+)}.min
          }
        %>
        <% if !@scheme_mix.certification_path.in_pre_verification? && invalid_criteria_ids.size > 0 %>
            <div class="alert alert-warning" role="alert">
              <%= ikoen_with_text('exclamation-circle', 'There are one or more criteria that have not achieved their minimum valid score.') %>
            </div>
        <% end %>
        <%= scores_legend %>
        <div id="categories-accordion">
          <table class="table table-bordered" cellspacing="0" width="100%">
            <thead>
            <tr>
              <th>&nbsp;</th>
              <th>Code</th>
              <th>Name</th>
              <th>Weighting</th>
              <th>
                Score
                <% id_list = @scheme_mix.scheme_categories.collect { |category| "category_#{category.id}" } %>
                <% id_list << @scheme_mix.scheme_mix_criteria.collect { |scheme_mix_criteria| "scheme_mix_criterion_#{scheme_mix_criteria.id}" } %>
                <%= render 'score/score_toggle', id_list: id_list %>
              </th>
              <th>Total Requirement Progress</th>
              <th>Approved Documents</th>
            </tr>
            </thead>
            <tbody>
            <% @category_criterion_map.each do |category_id, category_with_criteria| %>
                <%
                  category = category_with_criteria[:category]
                  criteria = category_with_criteria[:scheme_mix_criteria]
                  # summarize the scores for this category
                  category_scores = sum_score_hashes(scheme_mix_criteria_scores_by_category[category.id])
                  # set the min and max scales, so all graphs use the same dimensions
                  category_scores = category_scores.merge(scheme_scale)
                %>

                <tr class="accordion-toggle" data-toggle="collapse" data-target="#category-panel-<%= category.id %>" data-parent="#categories-accordion">
                  <td class="category-accordion-icon"><%= ikoen('caret-square-o-right') %></td>
                  <td><%= category.code %></td>
                  <td>
                    <%= category.name %>
                    <% if (@scheme_mix.certification_path.main_scheme_mix_id == @scheme_mix.id) && category.shared? %>
                        <%= ikoen('certificate', tooltip: 'The criteria scores of this category will be inherited by criteria with the same name in other schemes.', class: 'main-scheme-icon') %>
                    <% end %>
                  </td>
                  <td>
                    <div><%= @scheme_mix.scheme.weight_for_category(category) %> %</div>
                    <% if (@scheme_mix.scheme.scheme_criteria.for_category(category).sum(SchemeCriterion::INCENTIVE_MINUS_1_ATTRIBUTES.join(' + ')) + @scheme_mix.scheme.scheme_criteria.for_category(category).sum(SchemeCriterion::INCENTIVE_0_ATTRIBUTES.join(' + ')) + @scheme_mix.scheme.scheme_criteria.for_category(category).sum(SchemeCriterion::INCENTIVE_1_ATTRIBUTES.join(' + ')) + @scheme_mix.scheme.scheme_criteria.for_category(category).sum(SchemeCriterion::INCENTIVE_2_ATTRIBUTES.join(' + ')) + @scheme_mix.scheme.scheme_criteria.for_category(category).sum(SchemeCriterion::INCENTIVE_3_ATTRIBUTES.join(' + '))) > 0  %>
                        <span class="incentive-weight">
                          <%
                            tooltip_text = 'Incentive weights<br/>'
                            minimum_incentives = []
                            SchemeCriterion::INCENTIVE_MINUS_1_ATTRIBUTES.each do |incentive_minus_1|
                              minimum_incentives << @scheme_mix.scheme.scheme_criteria.for_category(category).minimum(incentive_minus_1)
                            end
                            tooltip_text += "Between #{minimum_incentives.min}% and #{@scheme_mix.scheme.scheme_criteria.for_category(category).sum(SchemeCriterion::INCENTIVE_3_ATTRIBUTES.join(' + '))}%"
                          %>
                          <%= tooltip(tooltip_text) %>
                        </span>
                    <% end %>
                  </td>
                  <td>
                    <%=
                      render 'score/score_tabs', scores: category_scores, element_id: "category_#{category.id}"
                    %>
                  </td>
                  <td>
                    <% processed_count = RequirementDatum.for_scheme_mix(@scheme_mix).for_category(category).provided.count + RequirementDatum.for_scheme_mix(@scheme_mix).for_category(category).not_required.count %>
                    <% total_count = RequirementDatum.for_scheme_mix(@scheme_mix).for_category(category).count %>
                    <% if total_count == 0 %>
                        No requirements
                    <% else %>
                        <div class="progress">
                          <div class="progress-bar" style="min-width: 2em; width: <%= (total_count != 0 ? (processed_count * 100 / total_count) : 100) %>%;">
                            <%= processed_count %>/<%= total_count %>
                          </div>
                        </div>
                    <% end %>
                  </td>
                  <td>
                    <% approved_count = SchemeMixCriteriaDocument.for_scheme_mix(@scheme_mix).for_category(category).approved.count %>
                    <% awaiting_approval_count = SchemeMixCriteriaDocument.for_scheme_mix(@scheme_mix).for_category(category).awaiting_approval.count %>
                    <% total_count = approved_count + awaiting_approval_count %>
                    <% if total_count == 0 %>
                        No documents
                    <% else %>
                        <div class="progress">
                          <div class="progress-bar" style="min-width: 2em; width: <%= (total_count != 0 ? (approved_count * 100 / total_count) : 100) %>%;">
                            <%= approved_count %>/<%= total_count %>
                          </div>
                        </div>
                    <% end %>
                  </td>
                </tr>
                <tr id="category-panel-<%= category.id %>" class="accordion-body collapse">
                  <td colspan="7">
                    <div>
                      <table class="table table-hover">
                        <thead>
                        <tr>
                          <th>Code</th>
                          <th>Name</th>
                          <th>Status</th>
                          <th>Weighting</th>
                          <th>Score</th>
                          <th>Total Requirement Progress</th>
                          <th>Approved Documents</th>
                        </tr>
                        </thead>
                        <tbody>
                        <%
                          category_scale = {
                              maximum_scale_in_certificate_points: scheme_mix_criteria_scores_by_category[category.id].collect{|score| score[:maximum_score_in_certificate_points]}.max,
                              minimum_scale_in_certificate_points: scheme_mix_criteria_scores_by_category[category.id].collect{|score| score[:minimum_score_in_certificate_points]}.min,
                              maximum_scale_in_scheme_points: scheme_mix_criteria_scores_by_category[category.id].collect{|score| score[:maximum_score_in_scheme_points]}.max,
                              minimum_scale_in_scheme_points: scheme_mix_criteria_scores_by_category[category.id].collect{|score| score[:minimum_score_in_scheme_points]}.min,
                              maximum_scale_in_criteria_points: scheme_mix_criteria_scores_by_category[category.id].collect{|score| score[:maximum_score_in_criteria_points]}.max,
                              minimum_scale_in_criteria_points: scheme_mix_criteria_scores_by_category[category.id].collect{|score| score[:minimum_score_in_criteria_points]}.min
                          }
                        %>
                        <% criteria.each do |scheme_mix_criterion| %>
                            <tr>
                              <td><%= scheme_mix_criterion.code %></td>
                              <td>
                                <%= can_link_to(project_certification_path_scheme_mix_scheme_mix_criterion_path(@certification_path.project, @certification_path, @scheme_mix, scheme_mix_criterion), scheme_mix_criterion) do %>
                                    <%= scheme_mix_criterion.name %>
                                <% end %>
                                <% if scheme_mix_criterion.main_scheme_mix_criterion_id.present? %>
                                    <%= ikoen('files-o', tooltip: 'The scores of this criterion are inherited from a criterion with the same name in the main scheme.') %>
                                <% end %>
                                <% if @certification_path.in_screening? && scheme_mix_criterion.screened %>
                                    <%= ikoen('eye', tooltip: 'The criterion was screened.') %>
                                <% end %>
                              </td>
                              <td><%= t(scheme_mix_criterion.status, scope: 'activerecord.attributes.scheme_mix_criterion.statuses') %></td>
                              <td>
                                <% SchemeCriterion::SCORE_ATTRIBUTES.each_with_index do |scores, index| %>
                                <% unless scheme_mix_criterion.scheme_criterion.read_attribute(scores.to_sym).nil? %>
                                  <p><%= scheme_mix_criterion.scheme_criterion.read_attribute(SchemeCriterion::LABEL_ATTRIBUTES[index].to_sym) %>&nbsp;<%= scheme_mix_criterion.scheme_criterion.read_attribute(SchemeCriterion::WEIGHT_ATTRIBUTES[index].to_sym) %> %
                                  <% if scheme_mix_criterion.scheme_criterion.has_incentive_weight?(index) %>
                                    <%
                                      tooltip_text = 'Incentive weights<br/>'
                                      tooltip_text += "Score&nbsp;-1: #{scheme_mix_criterion.scheme_criterion.read_attribute(SchemeCriterion::INCENTIVE_MINUS_1_ATTRIBUTES[index].to_sym)}%<br/>" if scheme_mix_criterion.scheme_criterion.read_attribute(SchemeCriterion::INCENTIVE_MINUS_1_ATTRIBUTES[index]) > 0
                                      tooltip_text += "Score&nbsp;&nbsp;0: #{scheme_mix_criterion.scheme_criterion.read_attribute(SchemeCriterion::INCENTIVE_0_ATTRIBUTES[index].to_sym)}%<br/>" if scheme_mix_criterion.scheme_criterion.read_attribute(SchemeCriterion::INCENTIVE_0_ATTRIBUTES[index]) > 0
                                      tooltip_text += "Score&nbsp;&nbsp;1: #{scheme_mix_criterion.scheme_criterion.read_attribute(SchemeCriterion::INCENTIVE_1_ATTRIBUTES[index].to_sym)}%<br/>" if scheme_mix_criterion.scheme_criterion.read_attribute(SchemeCriterion::INCENTIVE_1_ATTRIBUTES[index]) > 0
                                      tooltip_text += "Score&nbsp;&nbsp;2: #{scheme_mix_criterion.scheme_criterion.read_attribute(SchemeCriterion::INCENTIVE_2_ATTRIBUTES[index].to_sym)}%<br/>" if scheme_mix_criterion.scheme_criterion.read_attribute(SchemeCriterion::INCENTIVE_2_ATTRIBUTES[index]) > 0
                                      tooltip_text += "Score&nbsp;&nbsp;3: #{scheme_mix_criterion.scheme_criterion.read_attribute(SchemeCriterion::INCENTIVE_3_ATTRIBUTES[index].to_sym)}%<br/>" if scheme_mix_criterion.scheme_criterion.read_attribute(SchemeCriterion::INCENTIVE_3_ATTRIBUTES[index]) > 0
                                    %>
                                    <span class="incentive-weight">
                                      <%= tooltip(tooltip_text) %>
                                    </span>
                                  <% end %>
                                  </p>
                                <% end %>
                                <% end %>
                              </td>
                              <td>
                                <% SchemeCriterion::SCORE_ATTRIBUTES.each_with_index do |scores, index| %>
                                <% unless scheme_mix_criterion.scheme_criterion.read_attribute(scores.to_sym).nil? %>
                                  <p><%= scheme_mix_criterion.scheme_criterion.read_attribute(SchemeCriterion::LABEL_ATTRIBUTES[index].to_sym) %></p>
                                  <%
                                    scheme_mix_criteria_score = scheme_mix_criteria_scores.find{|item| item[:scheme_mix_criteria_id] == scheme_mix_criterion.id }
                                    scheme_mix_criteria_score = scheme_mix_criteria_score.merge(category_scale)

                                    maximum_score_attribute = SchemeCriterion::MAX_SCORE_ATTRIBUTES[index]
                                    minimum_score_attribute = SchemeCriterion::MIN_SCORE_ATTRIBUTES[index]
                                    targeted_score_attribute = SchemeMixCriterion::TARGETED_SCORE_ATTRIBUTES[index]
                                    submitted_score_attribute = SchemeMixCriterion::SUBMITTED_SCORE_ATTRIBUTES[index]
                                    achieved_score_attribute = SchemeMixCriterion::ACHIEVED_SCORE_ATTRIBUTES[index]
                                  %>
                                  <%= render 'score/score_tabs', scores: scheme_mix_criteria_score, maximum_score_attribute: maximum_score_attribute, minimum_score_attribute: minimum_score_attribute, targeted_score_attribute: targeted_score_attribute, submitted_score_attribute: submitted_score_attribute, achieved_score_attribute: achieved_score_attribute, element_id: "scheme_mix_criterion_#{scheme_mix_criterion.id}" %>
                                <% end %>
                                <% end %>
                              </td>
                              <td>
                                <% processed_count = scheme_mix_criterion.requirement_data.provided.count + scheme_mix_criterion.requirement_data.not_required.count %>
                                <% total_count = scheme_mix_criterion.requirement_data.count %>
                                <% if total_count == 0 %>
                                    No requirements
                                <% else %>
                                    <div class="progress">
                                      <div class="progress-bar" style="min-width: 2em; width: <%= (total_count != 0 ? (processed_count * 100 / total_count) : 100) %>%;">
                                        <%= processed_count %>/<%= total_count %>
                                      </div>
                                    </div>
                                <% end %>
                              </td>
                              <td>
                                <% approved_count = scheme_mix_criterion.scheme_mix_criteria_documents.approved.count %>
                                <% awaiting_approval_count = scheme_mix_criterion.scheme_mix_criteria_documents.awaiting_approval.count %>
                                <% total_count = approved_count + awaiting_approval_count %>
                                <% if total_count == 0 %>
                                    No documents
                                <% else %>
                                    <div class="progress">
                                      <div class="progress-bar" style="min-width: 2em; width: <%= (total_count != 0 ? (approved_count * 100 / total_count) : 100) %>%;">
                                        <%= approved_count %>/<%= total_count %>
                                      </div>
                                    </div>
                                <% end %>
                              </td>
                            </tr>
                        <% end %>
                        </tbody>
                      </table>
                    </div>
                  </td>
                </tr>
            <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<%= javascript_include_tag 'score_widget' %>
