<p id="notice"><%= notice %></p>

<div class="row">
    <div class="col-md-4">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Certification details</h5>
            </div>
            <div class="ibox-content">
                <p>
                    <strong>Name:</strong>
                    <%= @certification_path.certificate.label %>
                </p>

                <p>
                    <strong>Status:</strong>
                    <%= CertificationPath.human_attribute_name(@certification_path.status) %>
                </p>

                <p>
                    <strong>Scheme:</strong>
                    <%= @scheme_mix.scheme.full_label %>
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Categories &amp; criteria</h5>
            </div>
            <div class="ibox-content">
                <div id="categories-accordion">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Code</th>
                            <th>Name</th>
                            <th>Weighting</th>
                            <th>Score</th>
                        </tr>
                        </thead>
                        <tbody>
                        <% min_weighted_score = @scheme_mix.scheme.weighted_min_score %>
                        <% max_weighted_score = @scheme_mix.scheme.weighted_max_attainable_score %>
                        <% @scheme_mix.categories.uniq.each do |category| %>
                        <tr class="accordion-toggle" data-toggle="collapse" data-target="#category-panel-<%= category.id %>" data-parent="#categories-accordion">
                            <td><i class="fa fa-caret-square-o-right"></i>&nbsp;<%= category.code %></td>
                            <td><%= category.name %></td>
                            <td><%= @scheme_mix.scheme.total_weight_for_category(category) %> %</td>
                            <td><%= render partial: "score_widget", locals: {max_attainable: @scheme_mix.scheme.weighted_max_attainable_score_for_category(category), target: 0, min: min_weighted_score.round(1), max: max_weighted_score.round(1)} %></td>
                        </tr>
                        <tr id="category-panel-<%= category.id %>" class="accordion-body collapse">
                            <td colspan="4">
                                <div>
                                    <table class="table">
                                        <thead>
                                        <tr>
                                            <th>Code</th>
                                            <th>Name</th>
                                            <th>Weighting</th>
                                            <th>Score</th>
                                            <th>Requirement count</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <% min_score = @scheme_mix.scheme.min_score_for_category(category) %>
                                        <% max_score = @scheme_mix.scheme.max_attainable_score_for_category(category) %>
                                        <% @scheme_mix.scheme_mix_criteria.for_category(category).each do |scheme_mix_criterion| %>
                                            <tr>
                                                <td><%= scheme_mix_criterion.scheme_criterion.criterion.code %></td>
                                                <td><%= scheme_mix_criterion.scheme_criterion.criterion.name %></td>
                                                <td><%= scheme_mix_criterion.scheme_criterion.weight %> %</td>
                                                <td><%= render partial: "score_widget", locals: {max_attainable: scheme_mix_criterion.scheme_criterion.max_attainable_score, target: scheme_mix_criterion.targeted_score, min: min_score, max: max_score} %></td>
                                                <td><%= scheme_mix_criterion.scheme_criterion.requirements.count %></td>
                                            </tr>
                                        <% end %>
                                        </tbody>
                                    </table>
                                </div>
                            </td>
                        </tr>
                        <% end %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <% # todo: move the form below to the scheme_mix_criterion form %>
    <div class="col-md-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Form</h5>
            </div>
            <div class="ibox-content">
                <% @scheme_mix.scheme_mix_criteria.each do |scheme_mix_criterion| %>
                    <% scheme_mix_criterion.scheme_criterion.requirements.each do |requirement| %>
                        <% calculator_template = requirement.reportable.class_name.constantize.name.demodulize.downcase %>
                        <div>
                            <%= render "calculator/#{calculator_template}", calculator: requirement.reportable %>
                        </div>
                        <% requirement.reportable.fields.each do |field| %>
                            <% if File.exist?("app/views/field/#{calculator_template}/_#{field.name}.html.erb") %>
                                <%= render "field/#{calculator_template}/#{field.name}", field: field %>
                            <% else %>
                                <%= render "field/textfield", field: field %>
                            <% end %>
                            <div>
                            </div>
                        <% end %>
                    <% end %>
                <% end %>
            </div>
        </div>
    </div>
</div>
