<div class="ibox-content">
    <%= image_tag 'layout/logo-medium.png' %>

    <h3>Create an account</h3>

    <p>After you fill out this form, you will receive an email with further instructions.</p>
    <%= bootstrap_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= f.email_field :email, hide_label: true, placeholder: 'Email address', autofocus: true, value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %>
        <%= recaptcha_tags %><br />
        <%= btn_tag(text: 'Create account', class: 'block full-width m-b') %>
    <% end %>

    <small>
        <%= render 'devise/shared/links' %>
    </small>
</div>