<% if certification_path_documents.blank? %>
  N/A
<% else %>
  <table class="table table-bordered datatable cert-doc-table" cellspacing="0" width="100%">
    <thead>
    <tr>
      <th class="all">File&nbsp;Name</th>
      <th class="desktop">File&nbsp;Size</th>
      <th class="desktop">Uploaded&nbsp;By</th>
      <th class="desktop">Upload&nbsp;Date</th>
      <th class="all" style="min-width:190px">Actions</th>
    </tr>
    </thead>
    <tbody>
    <% certification_path_documents.each do |cpd| %>
      <% if can?(:read, cpd) %>
        <tr class="document-approved">
          <td data-order="<%= cpd.name %>" data-search="<%= cpd.name %>">
            <%= image_tag(icon_for_filename(cpd.name), alt: cpd.content_type, title: cpd.content_type) + ' ' + cpd.name %>
          </td>
          <td><%= number_to_human_size(cpd.size) %></td>
          <td><%= cpd.user.full_name %></td>
          <td data-order="<%= localize(cpd.created_at) %>" data-search="<%= localize(cpd.created_at) %>"><%= localize(cpd.created_at).gsub(' ', '&nbsp;').html_safe %></td>
          <td>
            <%= audit_log_label(cpd) %>
            <% if can?(:read, cpd) && download_document_permitted %>
            <div class="d-inline-block download-btn">
              <%= btn_download(project_certification_path_certification_path_document_path(@project, @certification_path, cpd), size: 'small', tooltip: 'Download document') %>
            </div>
              <% end %>
            <% if can?(:destroy, cpd) && download_document_permitted %>
              <%= btn_link_to(project_certification_path_certification_path_document_path(@project, @certification_path, cpd), method: :delete, data: {confirm: 'Are you sure to delete the document ?'}, style: 'danger', size: 'small', icon: 'trash', tooltip: 'Delete document') %>
            <% end %>
          </td>
        </tr>
      <% end %>
    <% end %>
    </tbody>
  </table>
<% end %>