<div class="ibox float-e-margins">
    <div class="ibox-title">
        <h5>TASKS</h5>
    </div>
    <div class="ibox-content">
        <% if @tasks.empty? %>
            Currently there are no tasks.
        <% else %>
        <table class="table table-bordered table-hover">
            <thead>
            <tr>
                <th>Description</th>
                <th>Resource</th>
                <th>Due Date</th>
            </tr>
            </thead>
            <tbody>
                <% @tasks.each do |task|
                  case task.taskable_type
                    when Project.name.demodulize
                      breadcrumbs = breadcrumbs(task.taskable, with_prefix: false)
                 %>
                    <tr>
                        <td><%= link_to(t(".description_#{task.task_description_id}"), breadcrumbs[:paths].last) %></td>
                        <td><%= render 'layouts/breadcrumb', model: task.taskable %></td>
                        <td>-</td>
                    </tr>
                <%  when CertificationPath.name.demodulize
                        breadcrumbs = breadcrumbs(task.taskable, with_prefix: false)
                 %>
                    <tr>
                        <td><%= link_to(t(".description_#{task.task_description_id}"), breadcrumbs[:paths].last) %></td>
                        <td><%= render 'layouts/breadcrumb', model: task.taskable %></td>
                        <td>-</td>
                    </tr>
                <%  when SchemeMixCriterion.name.demodulize
                        breadcrumbs = breadcrumbs(task.taskable, with_prefix: false)
                 %>
                    <tr>
                        <td><%= link_to(t(".description_#{task.task_description_id}"), breadcrumbs[:paths].last) %></td>
                        <td><%= render 'layouts/breadcrumb', model: task.taskable %></td>
                        <td><% if task.taskable.due_date.present? %><%= l(task.taskable.due_date, format: :short) %><% if Date.today > task.taskable.due_date %>&nbsp;<i class="fa fa-clock-o due-date-expired" title="<%= t('.tooltip_due_date') %>" data-toggle="tooltip"></i><% end %><% else %>-<% end %></td>
                    </tr>
                <%  when RequirementDatum.name.demodulize
                        breadcrumbs = breadcrumbs(task.taskable, with_prefix: false)
                 %>
                    <tr>
                        <td><%= link_to(t(".description_#{task.task_description_id}"), breadcrumbs[:paths].last) %></td>
                        <td><%= render 'layouts/breadcrumb', model: task.taskable %></td>
                        <td><% if task.taskable.due_date.present? %><%= l(task.taskable.due_date, format: :short) %><% if Date.today > task.taskable.due_date %>&nbsp;<i class="fa fa-clock-o due-date-expired" title="<%= t('.tooltip_due_date') %>" data-toggle="tooltip"></i><% end %><% else %>-<% end %></td>
                    </tr>
                <%  when SchemeMixCriteriaDocument.name.demodulize
                        breadcrumbs = breadcrumbs(task.taskable, with_prefix: false)
                 %>
                    <tr>
                        <td><%= link_to(t(".description_#{task.task_description_id}"), breadcrumbs[:paths].last) %></td>
                        <td><%= render 'layouts/breadcrumb', model: task.taskable %></td>
                        <td>-</td>
                    </tr>
                <%  when User.name.demodulize
                        breadcrumbs = breadcrumbs(task.taskable, with_prefix: false)
                 %>
                    <tr>
                        <td><%= link_to(t(".description_#{task.task_description_id}"), breadcrumbs[:paths].last) %></td>
                        <td><%= render 'layouts/breadcrumb', model: task.taskable %></td>
                        <td>-</td>
                    </tr>

                <% end
                   end
                 %>

            </tbody>
        </table>
        <%= paginate @tasks %>
        <% end %>
    </div>
</div>