<div class="row">
    <div class="col-md-4 pull-right">
        <div class="ibox">
            <div class="ibox-title">
                <h5>Task filter</h5>
            </div>
            <div class="ibox-content">
                <%= bootstrap_form_tag(url: tasks_path, method: 'get') do |f| %>
                    <%= f.collection_select :project_id, @projects, :id, :name, { include_blank: '- All projects -', selected: session[:task_project_id] } %>
                    <div class="hr-line-dashed"></div>
                    <%= button_tag type: 'submit', class: 'btn btn-primary' do %>
                        <i title="Apply filter" class="fa fa-lg fa-filter" style="padding-right: 10px;"></i>Apply filter
                    <% end %>
                    <%= link_to tasks_path, class: 'btn btn-white' do %>
                        <i class="fa fa-lg fa-times" style="padding-right: 10px;"></i>Remove filter
                    <% end %>
                <% end %>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <%= render 'tasks' %>
    </div>
</div>
<%= javascript_include_tag 'select_user' %>