<div class="row">
    <div class="col-md-4 pull-right">
        <div class="ibox">
            <div class="ibox-title">
                <h5>Task filter</h5>
            </div>
            <div class="ibox-content">
                <%= bootstrap_form_tag(url: tasks_path, method: 'get') do |f| %>
                    <%= f.form_group do %>
                        <%= f.label :project_id %><br/>
                        <%= f.hidden_field :project_id, { class: 'select2-project-ajax', value: session[:task]['project_id'] } %>
                    <% end %>
                    <div id="select-certificate" class="form-group">
                        <%= f.label :certification_path_id %><br/>
                        <%= f.hidden_field :certification_path_id, { class: 'select2-certificate-ajax', value: session[:task]['certification_path_id'] } %>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <%= button_tag type: 'submit', class: 'btn btn-primary', value: 'Apply_task_filter' do %>
                        <i title="Apply filter" class="fa fa-lg fa-filter" style="padding-right: 10px;"></i>Apply filter
                    <% end %>
                    <%= link_to tasks_path(reset: true), class: 'btn btn-white' do %>
                        <i class="fa fa-lg fa-times" style="padding-right: 10px;"></i>Remove filter
                    <% end %>
                <% end %>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <%= render 'tasks' %>
    </div>
</div>
<%= javascript_include_tag 'select_project' %>
<%= javascript_include_tag 'select_project_certificate' %>