<div class="row">
    <div class="col-md-4 pull-right">
        <div class="ibox">
            <div class="ibox-title">
                <h5>Task filter</h5>
            </div>
            <div class="ibox-content">
                <%= bootstrap_form_tag(url: tasks_path, method: 'get') do |f| %>
                    <%= f.form_group do %>
                    <%= f.label :user_id %><br/>
                    <%= f.hidden_field :user_id, { class: 'select2-ajax', data: {current_user_id: current_user.id }, value: @default_values[:user_id] } %>
                    <% end %>
                    <%= f.collection_select :project_id, (current_user.system_admin? or current_user.gord_manager? or current_user.gord_top_manager?) ? Project.all : current_user.projects, :id, :name, { include_blank: '- All projects -', selected: @default_values[:project_id] } %>
                    <div class="hr-line-dashed"></div>
                    <%= button_tag type: 'submit', class: 'btn btn-primary' do %>
                        <i title="Apply filter" class="fa fa-lg fa-filter" style="padding-right: 10px;"></i>Apply filter
                    <% end %>
                    <%= link_to tasks_path, class: 'btn btn-white' do %>
                        <i class="fa fa-lg fa-times" style="padding-right: 10px;"></i>Remove filter
                    <% end %>
                <% end %>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <%= render 'tasks' %>
    </div>
</div>
<%= javascript_include_tag 'select_user' %>