<div class="feed-element">
    <div class="media-body">
        <small class="text-muted">
            <i class="fa fa-clock-o" title="Date/time" style="margin: 0 2px;"></i> <%= localize(audit_log.created_at) %>
             | <i class="fa fa-user" title="User" style="margin: 0 2px"></i> <%= audit_log.user.full_name %> (<%= audit_log.user.humanized_project_role(audit_log.project) %>)
            <% if with_breadcrumbs %>
                | <i class="fa fa-building-o" title="Project trail" style="margin: 0 2px"></i>
                <%= render 'layouts/breadcrumb', model: audit_log.auditable %>
            <% end %>
        </small>
        <% if audit_log.system_message.present? %>
            <div class="well system-message">
              <% if audit_log.audit_log_visibility_id != AuditLogVisibility::PUBLIC %><i class="fa fa-lock" title="GORD internal" style="margin-right: 2px;"></i><% end %> <%= audit_log.system_message.html_safe %>
            </div>
        <% end %>
        <% if audit_log.user_comment.present? %>
            <% projects_user = ProjectsUser.find_by(user_id: audit_log.user_id, project_id: audit_log.project_id) %>
            <div class="well <% if (projects_user.present? && projects_user.project_team?) %>user-comment-project-team<% else %>user-comment-gsas-trust-team<%end %>">
                <% # Don't make user input html_safe %>
                <i class="fa fa-comment" title="User comment" style="margin-right: 2px;"></i><% if audit_log.audit_log_visibility_id != AuditLogVisibility::PUBLIC %><i class="fa fa-lock" title="GSAS internal" style="margin-right: 2px;"></i><% end %> <%= audit_log.user_comment %>
            </div>
        <% end %>
    </div>
</div>