<%= bootstrap_form_tag(url: audit_logs_path, method: 'get') do |f| %>
    <%= f.form_group do %>
        <%= f.label :project_id %><br/>
        <%= f.hidden_field :project_id, { class: 'select2-project-ajax', value: session[:audit]['project_id'] } %>
    <% end %>
    <div id="select-certificate" class="form-group">
        <%= f.label :certification_path_id, t('.certification_path_label') %><br/>
        <%= f.hidden_field :certification_path_id, { class: 'select2-certificate-ajax', value: session[:audit]['certification_path_id'] } %>
    </div>
    <%= f.text_field 'text', value: session[:audit]['text'], label: 'Message contains' %>
    <%= f.form_group do %>
        <%= f.label :user_id %><br/>
        <%= f.hidden_field :user_id, { class: 'select2-ajax', data: {current_user_id: current_user.id }, value: session[:audit]['user_id'] } %>
    <% end %>
    <div class="row">
        <div class="col-lg-7">
            <div class="form-group">
                <%= label_tag 'date_from', 'Date from', class: 'control-label' %>
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    <%= text_field_tag 'date_from', session[:audit]['date_from'], {class: 'datepicker-past form-control', autocomplete: 'off'} %>
                </div>
            </div>
        </div>
        <div class="col-lg-5">
            <div class="form-group">
                <%= label_tag 'time_from', 'Time from', class: 'control-label' %>
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-clock-o"></i></span>
                    <%= text_field_tag 'time_from', session[:audit]['time_from'], {class: 'timepicker form-control', autocomplete: 'off'} %>
                </div>
            </div>
        </div>
        <div class="col-lg-7">
            <div class="form-group">
                <%= label_tag 'date_to', 'Date to', class: 'control-label' %>
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    <%= text_field_tag 'date_to', session[:audit]['date_to'], {class: 'datepicker-past form-control', autocomplete: 'off'} %>
                </div>
            </div>
        </div>
        <div class="col-lg-5">
            <div class="form-group">
                <%= label_tag 'time_to', 'Time to', class: 'control-label' %>
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-clock-o"></i></span>
                    <%= text_field_tag 'time_to', session[:audit]['time_to'], {class: 'timepicker form-control', autocomplete: 'off'} %>
                </div>
            </div>
        </div>
    </div>
    <div class="checkbox">
        <%= check_box_tag 'only_user_comments', 1, session[:audit]['only_comments'] %>
        <%= label_tag 'only_user_comments', 'Only show user comments' %>
    </div>
    <div class="hr-line-dashed"></div>
    <%= btn_tag(text: 'Apply filter', value: 'Apply_audit_filter', icon: 'filter') %>
    <%= btn_cancel_to(audit_logs_path(reset: true), text: 'Remove filter', style: 'white', icon: 'times') %>
<% end %>