<%= bootstrap_form_tag(url: audit_logs_path, method: 'get') do |f| %>
    <%= f.collection_select :project_id, @projects, :id, :name, { include_blank: '- All projects -', selected: session[:audit_project_id] } %>
    <div id="select-certificate"<% if session[:audit_project_id].blank? %> style="display:none;<% end %>">
        <%= f.select :certification_path_id, @certification_paths_optionlist, label: 'Certificate', include_blank: '- All certificates -', selected: session[:audit_certification_path_id] %>
    </div>
    <%= f.text_field 'text', value: session[:audit_text], label: 'Message contains' %>
    <%= f.form_group do %>
        <%= f.label :user_id %><br/>
        <%= f.hidden_field :user_id, { class: 'select2-ajax', data: {current_user_id: current_user.id }, value: session[:audit_user_id] } %>
    <% end %>
    <div class="row">
        <div class="col-lg-7">
            <div class="form-group">
                <%= label_tag 'date_from', 'Date from', class: 'control-label' %>
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    <%= text_field_tag 'date_from', session[:audit_date_from], {class: 'datepicker-past form-control', autocomplete: 'off'} %>
                </div>
            </div>
        </div>
        <div class="col-lg-5">
            <div class="form-group">
                <%= label_tag 'time_from', 'Time from', class: 'control-label' %>
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-clock-o"></i></span>
                    <%= text_field_tag 'time_from', session[:audit_time_from], {class: 'timepicker form-control', autocomplete: 'off'} %>
                </div>
            </div>
        </div>
        <div class="col-lg-7">
            <div class="form-group">
                <%= label_tag 'date_to', 'Date to', class: 'control-label' %>
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    <%= text_field_tag 'date_to', session[:audit_date_to], {class: 'datepicker-past form-control', autocomplete: 'off'} %>
                </div>
            </div>
        </div>
        <div class="col-lg-5">
            <div class="form-group">
                <%= label_tag 'time_to', 'Time to', class: 'control-label' %>
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-clock-o"></i></span>
                    <%= text_field_tag 'time_to', session[:audit_time_to], {class: 'timepicker form-control', autocomplete: 'off'} %>
                </div>
            </div>
        </div>
    </div>
    <div class="checkbox">
        <%= check_box_tag 'only_user_comments', 1, session[:audit_only_comments] %>
        <%= label_tag 'only_user_comments', 'Only show user comments' %>
    </div>
    <div class="hr-line-dashed"></div>
    <%= button_tag type: 'submit', class: 'btn btn-primary' do %>
        <i title="Apply filter" class="fa fa-lg fa-filter" style="padding-right: 10px;"></i>Apply filter
    <% end %>
    <%= link_to audit_logs_path, class: 'btn btn-white' do %>
        <i class="fa fa-lg fa-times" style="padding-right: 10px;"></i>Remove filter
    <% end %>
<% end %>