<div class="modal-dialog">
  <%= bootstrap_form_for(audit_log, url: link_smc_audit_log_audit_logs_path(audit_log), layout: :inline, method: 'post') do |f| %>
    <div class="modal-content">
      <div class="modal-header">
        <%= btn_close_modal %>
        <h4 class="modal-title">Link Comment</h4>
      </div>
      <div class="modal-body">
        <h4>Comment</h4>
        <p><%= audit_log.user_comment %></p>

        <% if audit_log.attachment_file.present? && can?(:download_attachment, audit_log) %>
          <div class="m-t-md">
            <h4>Attachment</h4>
            <%= btn_download(download_audit_log_attachment_path(audit_log.auditable.class.name, audit_log.auditable.id, audit_log.id), size: 'extra_small', tooltip: "Download #{AuditLog.human_attribute_name('attachment_file')}") %>
            <%= truncate(audit_log.attachment_file.file.filename, length: 100) %>
          </div>
        <% end %>
        <hr />
        <p>If this comment also supports requirements in other criteria, select them below:</p>
        <ul class="criteria-checkboxes checkbox-list">
            <% @scheme_mix.scheme_categories.uniq.each do |category| %>
                <% if @scheme_mix.scheme_mix_criteria.for_category(category).exists?(main_scheme_mix_criterion_id: nil) %>
                    <li>
                        <a href="#"><i class="fa fa-caret-square-o-right"></i>&nbsp;<%= category.name %></a>
                        <ul style="display:none;">
                            <% @scheme_mix.scheme_mix_criteria.for_category(category).order('scheme_criteria.number').each do |scheme_mix_criterion| %>
                                <% unless scheme_mix_criterion.main_scheme_mix_criterion_id.present? %>
                                    <%= fields_for "scheme_mix_criteria[]", AuditLog.new do |audit_log_fields| %>
                                        <li>
                                            <% if audit_logs_smc_ids.include?(scheme_mix_criterion.id) %>
                                                <%= audit_log_fields.check_box :audit_log_id, {checked: true, disabled: true}, scheme_mix_criterion.id, nil %>
                                            <% else %>
                                                <%# default_checkbox_value = smcd_ids.include?(scheme_mix_criterion.id) %>
                                                <%= audit_log_fields.check_box :scheme_mix_criterion_id, {id: 'scheme_mix_criteria__' + scheme_mix_criterion.id.to_s, checked: false, disabled: false}, scheme_mix_criterion.id, nil %>
                                            <% end %>
                                            <%= audit_log_fields.label scheme_mix_criterion.id.to_s, scheme_mix_criterion.full_name %>
                                        </li>
                                    <% end %>
                                <% end %>
                            <% end %>
                        </ul>
                    </li>
                <% end %>
            <% end %>
        </ul>
      </div>
      <div class="modal-footer">
        <% if can?(:link_smc_comments, audit_log) %>
          <%= btn_save %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>

<script>
  $(function() {
      // Handle select criteria button click
      $('.show-criteria-checkboxes').off("click").click(function(e) {
          $(this).siblings('.criteria-checkboxes').show();
          $(this).hide();
          e.preventDefault();
      });

      // Handle scheme mix criteria lists toggle
      $('ul.criteria-checkboxes li a').off("click").click(function (e) {
          $(this).siblings('ul').slideToggle();
          $(this).children('i').toggleClass('fa-caret-square-o-right').toggleClass('fa-caret-square-o-down');
          e.preventDefault();
      });
  });
</script>
