<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header">
            <%= btn_close_modal %>
            <% if can?(:auditable_create, AuditLog.new) %>
                <%= btn_tag(type: :button, size: 'small', style: 'white', class:'add-comment-button', icon: 'comment', text: 'Add comment') %>
            <% end %>
            <h4 class="modal-title">
                <% if @only_user_comments %>
                    Comments for <em><%= @auditable.name %></em>
                <% else %>
                    Audit Log for <em><%= @auditable.name %></em>
                <% end %>
            </h4>
        </div>
        <% if can?(:auditable_create, AuditLog.new) %>
            <%= bootstrap_form_for(AuditLog.new, url: auditable_create_audit_log_path, method: 'post') do |f| %>
                <div class="modal-body">
                    <div class="feed-activity-list">
                        <% if @audit_logs.blank? %>
                            <% if @only_user_comments %>
                                <em><%= @auditable.name %></em> has no comments yet.
                            <% else %>
                                <em><%= @auditable.name %></em> has no audit logs yet.
                            <% end %>
                        <% else %>
                            <% @audit_logs.each do |audit_log| %>
                                <%= render 'audit_log', audit_log: audit_log, with_breadcrumbs: false %>
                            <% end %>
                            <%= paginate @audit_logs %>
                        <% end %>
                    </div>
                    <div class="comment-form" style="display:none;">
                        <%= f.text_area :user_comment, rows: 4 %>
                        <%= f.file_field :attachment_file %>

                        <% if @auditable.class.name == 'SchemeMixCriterion' && can?(:auditable_create, AuditLog.new) %>
                            <ul>
                                <%
                                    smcd_ids = []
                                    @scheme_mix = @auditable.scheme_mix
                                %>

                                <!-- <% @scheme_mix.scheme_mix_criteria.includes(scheme_criterion: :scheme_category).order('scheme_categories.display_weight, scheme_criteria.number').each do |scheme_mix_criterion| %>
                                    <% smcd_ids << scheme_mix_criterion.id %>
                                    <li><%= scheme_mix_criterion.full_name %></li>
                                <% end %> -->
                            </ul>
                            <hr/>
                            <p>If this comment also supports requirements in other criteria, select them below:</p>
                            <ul class="criteria-checkboxes checkbox-list">
                                <% @scheme_mix.scheme_categories.uniq.each do |category| %>
                                    <% if @scheme_mix.scheme_mix_criteria.for_category(category).exists?(main_scheme_mix_criterion_id: nil) %>
                                        <li>
                                            <a href="#"><i class="fa fa-caret-square-o-right"></i>&nbsp;<%= category.name %></a>
                                            <ul style="display:none;">
                                                <% @scheme_mix.scheme_mix_criteria.for_category(category).order('scheme_criteria.number').each do |scheme_mix_criterion| %>
                                                    <% unless scheme_mix_criterion.main_scheme_mix_criterion_id.present? %>
                                                        <%= fields_for "scheme_mix_criteria[]", AuditLog.new do |audit_log_fields| %>
                                                            <li>
                                                                <% if scheme_mix_criterion.id == @auditable.id %>
                                                                    <%= audit_log_fields.check_box :audit_log_id, {checked: true, disabled: true}, scheme_mix_criterion.id, nil %>
                                                                <% else %>
                                                                    <%# default_checkbox_value = smcd_ids.include?(scheme_mix_criterion.id) %>
                                                                    <%= audit_log_fields.check_box :scheme_mix_criterion_id, {id: 'scheme_mix_criteria__' + scheme_mix_criterion.id.to_s, checked: false, disabled: false}, scheme_mix_criterion.id, nil %>
                                                                <% end %>
                                                                <%= audit_log_fields.label scheme_mix_criterion.id.to_s, scheme_mix_criterion.full_name %>
                                                            </li>
                                                        <% end %>
                                                    <% end %>
                                                <% end %>
                                            </ul>
                                        </li>
                                    <% end %>
                                <% end %>
                            </ul>
                        <% end %>

                        <% if can?(:index, AuditLog.new(audit_log_visibility_id: AuditLogVisibility::INTERNAL, project: @project)) %>
                            <% disabled = @is_certifier %>
                            <%= f.form_group :audit_log_visibility do %>
                                <%= f.label :audit_log_visibility, 'Comment Visibility' %>
                                <%= f.radio_button :audit_log_visibility, AuditLogVisibility::PUBLIC, label: 'Public Comment', disabled: disabled %>
                                <span class="help-block">Everyone assigned to this project will be able to view this comment</span>
                                <%= f.radio_button :audit_log_visibility, AuditLogVisibility::INTERNAL, label: 'GSB Trust Internal Comment', checked: true, disabled: disabled %>
                                <span class="help-block">Only the GSB trust team can view this comment</span>
                            <% end %>
                        <% end %>
                    </div>
                </div>
                <div class="modal-footer comment-form" style="display:none;">
                    <%= btn_save(text: 'Add comment') %>
                </div>
            <% end %>
        <% end %>
    </div>
</div>

<% if @auditable.class.name == 'SchemeMixCriterion' %>
    <script>
        $(function() {
            // Handle select criteria button click
            $('.show-criteria-checkboxes').off("click").click(function(e) {
                $(this).siblings('.criteria-checkboxes').show();
                $(this).hide();
                e.preventDefault();
            });

            // Handle scheme mix criteria lists toggle
            $('ul.criteria-checkboxes li a').off("click").click(function (e) {
                $(this).siblings('ul').slideToggle();
                $(this).children('i').toggleClass('fa-caret-square-o-right').toggleClass('fa-caret-square-o-down');
                e.preventDefault();
            });
        });
    </script>
<% end %>