<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header">
            <%= btn_close_modal %>
            <% if can?(:auditable_create, AuditLog.new) %>
                <%= btn_tag(type: :button, size: 'small', style: 'white', class:'add-comment-button', icon: 'comment', text: 'Add comment') %>
            <% end %>
            <h4 class="modal-title">
                <% if @only_user_comments %>
                    Comments for <em><%= @auditable.name %></em>
                <% else %>
                    Audit Log for <em><%= @auditable.name %></em>
                <% end %>
            </h4>
        </div>
        <% if can?(:auditable_create, AuditLog.new) %>
            <%= bootstrap_form_for(AuditLog.new, url: auditable_create_audit_log_path, method: 'post') do |f| %>
                <div class="modal-body">
                    <div class="feed-activity-list">
                        <% if @audit_logs.blank? %>
                            <% if @only_user_comments %>
                                <em><%= @auditable.name %></em> has no comments yet.
                            <% else %>
                                <em><%= @auditable.name %></em> has no audit logs yet.
                            <% end %>
                        <% else %>
                            <% @audit_logs.each do |audit_log| %>
                                <%= render 'audit_log', audit_log: audit_log, with_breadcrumbs: false %>
                            <% end %>
                            <%= paginate @audit_logs %>
                        <% end %>
                    </div>
                    <div class="comment-form" style="display:none;">
                      <%= f.text_area :user_comment, rows: 4 %>
                      <% if can?(:index, AuditLog.new(attachment_file: true, project: @project)) %>
                        <%= f.file_field :attachment_file %>
                      <% end %>
                      <% if can?(:index, AuditLog.new(audit_log_visibility_id: AuditLogVisibility::INTERNAL, project: @project)) %>
                        <% disabled = @is_certifier %>
                        <%= f.form_group :audit_log_visibility do %>
                          <%= f.label :audit_log_visibility, 'Comment Visibility' %>
                          <%= f.radio_button :audit_log_visibility, AuditLogVisibility::PUBLIC, label: 'Public Comment', disabled: disabled %>
                            <span class="help-block">Everyone assigned to this project will be able to view this comment</span>
                          <%= f.radio_button :audit_log_visibility, AuditLogVisibility::INTERNAL, label: 'GSAS Trust Internal Comment', checked: true, disabled: disabled %>
                            <span class="help-block">Only the GSAS trust team can view this comment</span>
                        <% end %>
                      <% end %>
                    </div>
                </div>
                <div class="modal-footer comment-form" style="display:none;">
                    <%= btn_save(text: 'Add comment') %>
                </div>
            <% end %>
        <% end %>
    </div>
</div>
