<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" title="Close" data-toggle="tooltip">
                <span>&times;</span>
            </button>
            <button type="button" class="btn btn-sm btn-white add-comment-button" data-href="#"><i class="fa fa-comment" style="margin-right: 5px;"></i> Add comment</button>
            <h4 class="modal-title">Audit log for <em><%= @auditable.name %></em></h4>
        </div>
        <%= bootstrap_form_for(AuditLog.new, url: auditable_create_audit_log_path, method: 'post') do |f| %>
            <div class="modal-body">
                <div class="feed-activity-list">
                    <% if @audit_logs.blank? %>
                        This resource has no audit logs yet.
                    <% else %>
                        <% @audit_logs.each do |audit_log| %>
                            <%= render 'audit_log', audit_log: audit_log, with_breadcrumbs: false %>
                        <% end %>
                        <%= will_paginate @audit_logs, renderer: BootstrapPagination::Rails %>
                    <% end %>
                </div>
                <div class="comment-form" style="display:none;">
                    <%= f.text_area :user_comment, rows: 4 %>
                </div>
            </div>
            <div class="modal-footer comment-form" style="display:none;">
                <%= button_tag type: 'submit', class: 'btn btn-primary' do %>
                    <i title="Add comment" class="fa fa-lg fa-save" style="padding-right: 10px;"></i>Add comment
                <% end %>
                <button type="button" class="btn btn-white" data-dismiss="modal"><i title="Cancel" class="fa fa-lg fa-times" style="padding-right: 10px;"></i>Cancel</button>
            </div>
        <% end %>
    </div>
</div>
