<div class="row">
    <div class="col-md-4 pull-right">
        <div class="ibox">
            <div class="ibox-title">
                <h5>Audit log filter</h5>
            </div>
            <div class="ibox-content">
                <%= render 'audit_log_filter' %>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <div class="ibox">
            <div class="ibox-title">
                <h5>Audit log <%= tooltip('This page contains audit logs for all projects you have access to.') %></h5>
            </div>
            <div class="ibox-content">
                <div class="feed-activity-list">
                    <% if @audit_logs.blank? %>
                        No audit logs were found.
                    <% else %>
                        <% @audit_logs.each do |audit_log| %>
                            <%= render 'audit_log', audit_log: audit_log, with_breadcrumbs: true %>
                        <% end %>
                        <%= will_paginate @audit_logs, renderer: BootstrapPagination::Rails %>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
</div>
<%= javascript_include_tag 'select_project' %>
<%= javascript_include_tag 'select_user' %>
<%= javascript_include_tag 'select_project_certificate' %>