<% @scheme_mix_criterion.requirement_data.updateable_by_user(current_user).each_with_index do |requirement_datum| %>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a href="#requirement-<%= requirement_datum.id %>" data-parent="#accordion" data-toggle="collapse" class="collapsed" aria-expanded="false"><%= requirement_datum.requirement.label %></a>
            </h4>
        </div>
        <div class="panel-collapse collapse" id="requirement-<%= requirement_datum.id %>" aria-expanded="false" style="height: 0px;">
            <div class="panel-body">
                <%= bootstrap_form_tag url: project_requirement_datum_path(@project.id, requirement_datum.reportable_data_id), method: "put", remote: true do |f| %>
                    <% users = User.authorized_for_project(@project) %>
                    <% if ((can? :manage, @project) || ((can? :read, @project) && current_user.enterprise_licence?)) && (users.count > 0) %>
                        <% if requirement_datum.project_authorization.nil? %>
                            <% if !current_user.enterprise_licence? %>
                                <%= f.select 'assign to user', options_for_select(users.map { |k| [k.email, k.id]}) %>
                            <% end %>
                        <% else %>
                            <%= f.select 'assign to user', options_for_select(users.map { |k| [k.email, k.id]}, requirement_datum.project_authorization.user.id), {}, disabled: current_user.enterprise_licence? %>
                        <% end %>
                    <% end %>
                    <% case requirement_datum.reportable_data_type %>
                    <% when 'CalculatorDatum' %>
                        <% calculator_template = requirement_datum.reportable_data.calculator.class_name.constantize.name.demodulize.downcase %>
                        <div>
                            <% if File.exist?("app/views/calculator/_#{calculator_template}.html.erb") %>
                                <%= render "calculators/#{calculator_template}", requirement_datum: requirement_datum, calculator_template: calculator_template, f: f %>
                            <% else %>
                                <%= render "calculators/general", requirement_datum: requirement_datum, calculator_template: calculator_template, f: f %>
                            <% end %>
                        </div>
                    <% when 'DocumentDatum' %>
                        <% # todo %>
                    <% end %>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="hr-line-dashed"></div>
                            <% if can? :update, requirement_datum %>
                                <%= f.primary %>
                            <% end %>
                        </div>
                    </div>
                <% end %>
            </div>
        </div>
    </div>
<% end %>