$('#requirement-<%= @requirement_datum.id %>').html("<%= escape_javascript(render 'requirements/update', requirement_datum: @requirement_datum) %>");

<% if notice %>
$('#requirement-<%= @requirement_datum.id %>').append("<p class=\"flash flash-success hidden\"><%= escape_javascript(notice) %></p>");
<% end %>
<% if alert %>
$('#requirement-<%= @requirement_datum.id %>').append("<p class=\"flash flash-danger hidden\"><%= escape_javascript(alert) %></p>");
<% end %>