<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" title="Close" data-toggle="tooltip">
                <span>&times;</span>
            </button>
            <button type="button" class="btn btn-sm btn-white" id="notifications-update-all" data-href="<%= update_all_notifications_path %>">Mark all notifications as read</button>
            <h4 class="modal-title">Notifications</h4>
        </div>
        <div class="modal-body">
            <div class="feed-activity-list">
                <% if @notifications.empty? %>
                    You have no notifications.
                <% else %>
                    <% @notifications.each do |notification| %>
                        <div class="feed-element">
                            <div class="media-body">
                                <small class="text-muted"><%= localize(notification.created_at) %></small>
                                <a href="<%= notification.uri %>" class="notification" data-href="<%= notification_path(notification) %>">
                                    <div class="well<% unless notification.read? %> highlight<% end %>">
                                        <%= notification.body.html_safe %>
                                        <i class="fa fa-share"></i>
                                    </div>
                                </a>
                            </div>
                        </div>
                    <% end %>
                    <%= will_paginate @notifications, renderer: BootstrapPagination::Rails %>
                <% end %>
            </div>
        </div>
    </div>
</div>