$('#requirement-<%= @requirement_datum.id %>').replaceWith("<%= escape_javascript(render 'update', requirement_datum: @requirement_datum, certification_path_id: @certification_path_id, scheme_mix_id: @scheme_mix_id, scheme_mix_criterion_id: @scheme_mix_criterion_id) %>");
$('#requirement-<%= @requirement_datum.id %>').find('a.collapsed').trigger('click');

<% if notice %>
$('#requirement-<%= @requirement_datum.id %>').append("<p class=\"flash flash-success hidden\"><%= escape_javascript(notice) %></p>");
<% end %>
<% if alert %>
$('#requirement-<%= @requirement_datum.id %>').append("<p class=\"flash flash-danger hidden\"><%= escape_javascript(alert) %></p>");
<% end %>