<%= bootstrap_form_for(@scheme_criterion_text, layout: :horizontal) do |f| %>
  <div class="row">
    <div class="col-lg-8">
      <div class="ibox">
        <div class="ibox-title">
          <h5>Criterion Text Details</h5>
        </div>
        <div class="ibox-content">
          <%= f.hidden_field :scheme_criterion_id %>
          <%= f.text_field :name %>
          
          <div class="form-group">
            <label class="control-label col-sm-2" for="scheme_criterion_text_html_text">HTML text</label>
            <div class="col-sm-10 cktext-area">
              <%= f.text_area :html_text, skip_label: true, class: 'ckeditor' %>
            </div>
          </div>

          <%= f.check_box :visible, label: 'Show this text on criterion page' %>

          <div class="hr-line-dashed"></div>
          <%= btn_save %>
          <%= btn_cancel_to(scheme_criterion_path(@scheme_criterion_text.scheme_criterion)) %>
        </div>
      </div>
    </div>
  </div>
<% end %>

<script>
  $(document).on('ready', function(){  
    $(".ckeditor").ckeditor();
  });
</script>
