<div class="nested-fields">
  <%= f.input :userable_type, as: :hidden, input_html: { value: @user.type } %>
  <%= f.input :userable_id, as: :hidden, input_html: { value: @user.id } %>

  <%= f.association :licence, collection: licence_options(@user), prompt: "Choose a Service Provider", input_html: { class: "select-licence" } %>
  
  <%= f.input :expiry_date %>
  <%= link_to_remove_association "remove licence", f %>
</div>
