<%= bootstrap_form_for @user do |f| %>
    <div class="row">
        <div class="col-lg-3">
            <div class="ibox">
                <div class="ibox-title">
                    <h5><%= t '.form_title' %></h5>
                </div>
                <div class="ibox-content">
                    <%= f.text_field :email, disabled: !@user.new_record? %>
                    <%= f.select :role, User.roles.keys.sort_by{ |k| k }.map { |k| [k.humanize, k] } %>
                    <div class="hr-line-dashed"></div>
                    <% if can?(:edit, @user) %>
                        <%= btn_save %>
                    <% end %>
                    <%= btn_cancel_to(users_path) %>
                </div>
            </div>
        </div>
    </div>
<% end %>