<div class="ibox float-e-margins">
    <div class="ibox-title">
        <h5>Tasks</h5>
    </div>
    <div class="ibox-content">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>Description</th>
                <th>Object</th>
            </tr>
            </thead>
            <tbody>
            <% if current_user.system_admin? || current_user.gord_manager? || current_user.gord_top_manager?
                 check_project_role = ''
               else
                 check_project_role = "or project_role = #{ProjectAuthorization.roles[@project.role_for_user(user)]}"
               end %>
            <% UserTask.where("(user_id = #{user.id} or role = #{User.roles[user.role]} #{check_project_role}) and project_id = #{@project.id}").each do |task|
                case task.type
                when CertificationPathTask.name.demodulize
            %>
                <tr class="clickable" data-href="<%= project_certification_path_path(@project, task.certification_path) %>">
                    <td><%= t(".description_#{task.flow_index}") %></td>
                    <td><%= task.certification_path.certificate.label %></td>
                </tr>
            <%  when RequirementDatumTask.name.demodulize %>
                <tr class="clickable" data-href="<%= project_certification_path_scheme_mix_scheme_mix_criterion_path(@project, task.scheme_mix_criterion.scheme_mix.certification_path, task.scheme_mix_criterion.scheme_mix, task.scheme_mix_criterion, anchor: "requirement-#{task.requirement_datum.id}") %>">
                    <td><%= t(".description_#{task.flow_index}") %></td>
                    <td><%= task.requirement_datum.requirement.label %><br/>
                        Due date: <%= task.requirement_datum.due_date %></td>
                </tr>
            <%	 when SchemeMixCriterionTask.name.demodulize %>
                <tr class="clickable" data-href="<%= project_certification_path_scheme_mix_scheme_mix_criterion_path(@project, task.scheme_mix_criterion.scheme_mix.certification_path, task.scheme_mix_criterion.scheme_mix, task.scheme_mix_criterion) %>">
                    <td><%= t(".description_#{task.flow_index}") %></td>
                    <td><%= task.scheme_mix_criterion.name %><% if task.flow_index = 8 %><br/>
                            Due date: <%= task.scheme_mix_criterion.due_date %><% end %></td>
                </tr>
            <%  end
               end %>
            </tbody>
        </table>
    </div>
</div>