<%= simple_form_for(@user, as: 'user', url: user_path(@user), html: { method: :put, class: "user-form" }) do |f| %>
  <div class="ibox float-e-margins">
    <div class="ibox-content">
      <h2>Edit Profile</h2>
      <hr />
      <%= f.error_notification %>

      <div class="form-inputs m-t">
        <%= f.label 'Name Suffix' %>
        <%= f.select :name_suffix, options_for_select(["Mr.", "Ms.", "Mrs." , "Dr."], @user.name_suffix), { include_blank: "Choose Name Suffix" }, { class: "select2 form-control" } %>
        <br>

        <%= f.input :name%>
        <%= f.input :middle_name %>

        <%= f.input :last_name %>

        <%= f.label 'Gender', required: true %>
        <%= f.select :gender, options_for_select(["Male", "Female"], @user.gender), { include_blank: "Choose Gender" }, { class: "select2 form-control" } %>
        <br>
        <%= f.input :dob do %>
          <span><%= ikoen('calendar') %></span>
          <%= f.input_field :dob, value: f.object&.dob&.strftime("%d/%m/%Y"), as: :string, class: "datepicker-past form-control" %>
        <% end %>
        <%= f.input :username %>

        <%= f.input :email %>
        <%= f.input :email_alternate %>

        <%= f.label 'Country', required: true %>
        <% countries = CS.countries.sort_by{|_key, value| value }.to_h %>
        <%= f.select :country, options_for_select(countries.map{ |cnt| [cnt[1], cnt[1]] }, @user.country), { include_blank: "Select Country" }, { required: true, class: "select2 form-control user-country-select" } %>
        <br><br>

        <%= f.label 'City', required: true %>
         <div id="user-city-select-div" class="form-group">
        <%= f.select :city, options_for_select(@cities, @user.city), { include_blank: "Select City" }, { required: true, class: "select2 form-control user-city-select" } %>
        </div>

        <%= f.input :mobile_area_code%>
        <%= f.input :mobile %>
         <div class="form-group">
          <label class="required">Role</label>
          <div class="form-control bg-disabled">
            <%= @user.role&.titleize %>
          </div>
        </div>
        <%= f.input :designation %>
        <%= f.input :work_experience %>

        <% unless @user.service_provider? %>
          <%= f.association :service_provider, collection: ServiceProvider.order(:name).pluck(:name, :id), prompt: "Choose a Service Provider", input_html: { class: "select-service-provider" } %>
        <% end %>

        <%= f.input :organization_name, input_html: { id: 'org_name'}  %>

        <%= f.input :organization_address, input_html: { id: 'org_address'} %>

        <%= f.label 'Organization Country', required: true %>
        <%= f.select :organization_country, options_for_select(countries.map{ |cnt| [cnt[1], cnt[1]] }, @user.organization_country), { include_blank: "Select Country" }, { required: true, class: "select2 form-control country-select user-country-select", id: "org_country", data: {"for_organization": true} } %>
        <br><br>

        <%= f.label 'Organization City' %>
        <div id="organization-city-select-div" class="form-group">
          <%= f.select :organization_city, options_for_select(@org_cities, @user.organization_city), { include_blank: "Select City" }, { class: "select2 form-control user-city-select",  id: "organization-city-select" } %>
        </div>
        
        <%= f.input :organization_website, input_html: { id: 'org_website'} %>
        <%= f.input :organization_phone_area_code, input_html: { id: 'org_phone_area_code'} %>
        <%= f.input :organization_phone, input_html: { id: 'org_phone'} %>
        <%= f.input :organization_fax_area_code, input_html: { id: 'org_fax_area_code'}  %>
        <%= f.input :organization_fax, input_html: { id: 'org_fax'} %>

        <%= f.input :gsas_id %>

        <%= f.input :qid_or_passport_number %>

        <%= f.input :gord_employee, required: true %>

        <%= f.input :active, required: true %>
        <%= f.hidden_field 'resource_for', { class: 'resource_for', value: 'user' } %>
      </div>
    </div>
  </div>

  <div class="ibox float-e-margins">
    <div class="ibox-content">
      <% if @user.default_role? || @user.service_provider? %>
        <h2>Licences</h2>
        <hr />

        <div class="form-inputs access-licence-forms m-t">
          <%= f.simple_fields_for :access_licences do |access_licence| %>
            <%= render partial: 'access_licence_fields', locals: { f: access_licence } %>
          <% end %>
          <div class="links">
            <%= link_to_add_association 'Add Licences', f, :access_licences, class: "btn btn-primary btn-sm" %>
          </div>
        </div>

        <hr />
      <% end %>

      <div class="form-actions m-t-lg">
        <%= btn_cancel_to(user_path(@user), style: 'danger', icon: 'times') %>
        <%= btn_cancel_to(edit_user_path(@user), text: 'Reset', style: 'white', icon: 'refresh') %>
        <%= btn_save %>
      </div>

      </div>
    </div>
<% end %>

