<div class="ibox float-e-margins">
  <div class="ibox-content">
    <h2>Edit Profile</h2>

    <%= simple_form_for(@user, as: 'user', url: user_path(@user), html: { method: :put, class: "user-form" }) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
        <%= f.input :name, required: true %>

        <%= f.input :email, disabled: true %>

        <div class="form-group">
          <label class="required">Role</label>
          <div class="form-control bg-disabled">
            <%= @user.role&.titleize %>
          </div>
        </div>

        <%= f.input :username, required: true %>

        <%= f.input :employer_name, required: true %>

        <%= f.association :service_provider, collection: ServiceProvider.order(:name).pluck(:name, :id), prompt: "Choose a Service Provider", input_html: { class: "select-service-provider" } %>

        <%= f.input :linkme_user, required: true %>

        <%= f.input :gord_employee, required: true %>

        <%= f.input :cgp_license, required: true %>

        <%= f.input :cgp_license_expiry_date %>

        <%= f.input :cep_license %>

        <%= f.input :cep_license_expired %>

        <%= f.input :cep_license_expiry_date %>

        <%= f.input :active, required: true %>

      </div>

      <h3>Licences</h3>

      <div id="licences">
        <%= f.simple_fields_for :access_licences do |access_licence| %>
          <%= render partial: 'access_licence_fields', locals: { f: access_licence } %>
        <% end %>
        <div class="links">
          <%= link_to_add_association 'add licences', f, :access_licences %>
        </div>
      </div>
      

      <div class="form-actions">
        <%= btn_cancel_to(users_path, style: 'danger', icon: 'times') %>
        <%= btn_save %>
      </div>
    <% end %>

    <hr />
  </div>
</div>
