<%= simple_form_for(@user, as: 'user', url: user_path(@user), html: { method: :put, class: "user-form" }) do |f| %>
  <div class="ibox new_form">
    <div class="ibox-content">
      <h2 class="text-blue">Edit Profile</h2>
      <%= f.error_notification %>

      <div class="form-inputs m-t">

        <%= render partial: "users/registrations/form", locals: { f: f, resource_for: 'user', resource: @user, user_detail: @user_detail, service_provider_detail: @user_detail, action: 'edit' } %>

        <%= f.input :role, collection: User.roles.map{ |k, v| [k.titleize, k]}, include_blank: "Select Role", input_html: {class: "form-control"}, required: true %>

        <%= f.input :gord_employee %>

        <%= f.input :active, required: true %>
      </div>
    </div>
  </div>

  <div class="ibox new_form">
    <div class="ibox-content">

      <% if @user.is_default_role? || @user.is_service_provider? %>
        <h2 class="text-blue">Licences</h2>
        <div class="form-inputs access-licence-forms row">
          <%= f.simple_fields_for :access_licences do |access_licence| %>
            <%= render partial: 'access_licence_fields', locals: { f: access_licence } %>
          <% end %>
          <div class="links d-none">
            <%= link_to_add_association 'Add Licences', f, :access_licences, class: "btn btn-primary btn-sm", id: "add-licences-button" %>
          </div>
        </div>

        <button type="button" class="btn btn-primary btn-sm m-t-md" id="proxy-add-licences-button">Add Licences</button>
      <% end %>

      

      </div>
    </div>
    <div class="ibox new_form">
      <div class="ibox-content">
        <div class="form-actions">
        <%= btn_cancel_to(user_path(@user), style: 'danger', icon: 'times') %>
        <%= btn_cancel_to(edit_user_path(@user), text: 'Reset', style: 'white', icon: 'refresh') %>
        <%= btn_save %>
        </div>
      </div>
    </div>
<% end %>

