<div class="row">
    <div class="col-md-4">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>User details</h5>
            </div>
            <div class="ibox-content">
                <% project_authorization = ProjectAuthorization.for_project(@project).for_user(@user).first %>
                <table class="table table-bordered table-striped">
                    <tbody>
                    <tr>
                        <th>Email</th>
                        <td><%= @user.email %></td>
                    </tr>
                    <tr>
                        <th>Role</th>
                        <td><%= project_authorization.role.humanize %></td>
                    </tr>
                    </tbody>
                </table>
                <div class="hr-line-dashed"></div>
                <% if can? :edit, project_authorization %>
                    <% if project_authorization.certifier_manager? || project_authorization.certifier? %>
                        <%= link_to raw('<i title="Edit authorization" class="fa fa-lg fa-edit" style="padding-right: 10px;"></i>&nbsp;Edit role'),  edit_project_authorization_path(@project, project_authorization, query: 'certifiers'), :class => 'btn btn-primary' %>
                    <% elsif @project.owner != @user %>
                        <%= link_to raw('<i title="Edit authorization" class="fa fa-lg fa-edit" style="padding-right: 10px;"></i>&nbsp;Edit role'),  edit_project_authorization_path(@project, project_authorization), :class => 'btn btn-primary' %>
                    <% end %>
                <% end %>
                <% if (can? :destroy, project_authorization) && @project.owner != @user %>
                <%= link_to raw('<i title="Delete authorization" class="fa fa-lg fa-user-times" style="padding-right: 10px;"></i>&nbsp;Remove from team'), project_authorization_path(@project, project_authorization), method: :delete, data: {confirm: 'Are you sure to remove team member ?'}, class: 'btn btn-white' %>
                <% end %>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <%= render 'tasks', user: @user %>
    </div>
</div>