<div class="ibox float-e-margins">
    <div class="ibox-title">
        <h5><%=t '.table_title' %></h5>
    </div>
    <div class="ibox-content">
        <table class="table table-striped table-bordered table-hover datatable table-users">
            <thead>
            <tr>
                <th><%= User.human_attribute_name('email') %></th>
                <th><%= User.human_attribute_name('role') %></th>
                <th><%= User.human_attribute_name('account_active') %></th>
                <th>Actions</th>
            </tr>
            </thead>

            <tbody>
            <% @users.each do |user| %>
                <tr>
                    <td><%= user.email %></td>
                    <td><%= user.role.humanize %></td>
                    <td><%= user.account_active? ? fa_icon_with_text('check', 'Yes') : fa_icon_with_text('times', 'No') %></td>
                    <td>
                        <% if can?(:edit, user) %>
                            <%= link_to edit_user_path(user) do %>
                                <%= fa_icon('edit', tooltip: t('.action_edit_title')) %>
                            <% end %>
                        <% end %>
                    </td>
                </tr>
            <% end %>
            </tbody>
        </table>
        <div class="hr-line-dashed"></div>
        <% if can? :create, User.new %>
            <%= btn_link_to(new_user_path, icon: 'user', text: 'Add user') %>
        <% end %>
    </div>
</div>