<div class="row">
  <div class="col-12">
    <div class="ibox float-e-margins">
      <div class="ibox-title">
        <div class='d-flex justify-content-between align-items-center'>
          <h5><%= t('.user_details.title') %></h5>
        </div>
      </div>
      <div class="ibox-content">
        <table class="table table-bordered table-striped user-details-table">
          <tbody>
            <tr>
              <th><%= User.human_attribute_name('name') %></th>
              <td><%= @user.name %></td>
            </tr>
            <tr>
              <th><%= User.human_attribute_name('email') %></th>
              <td><%= @user.email %></td>
            </tr>
            <tr>
              <th><%= User.human_attribute_name('role') %></th>
              <td><%= @user.role&.titleize %></td>
            </tr>
            <tr>
              <th><%= User.human_attribute_name('linkme_member_id') %></th>
              <td><%= @user.linkme_member_id %></td>
            </tr>
            <tr>
              <th><%= User.human_attribute_name('username') %></th>
              <td><%= @user.username %></td>
            </tr>
            <tr>
              <th><%= User.human_attribute_name('employer_name') %></th>
              <td><%= @user.employer_name %></td>
            </tr>

            <% if @user.default_role? %>
              <tr>
                <th><%= User.human_attribute_name('service_provider') %></th>
                <td><%= @user.service_provider_name %></td>
              </tr>
            <% end %>

            <tr>
              <th><%= User.human_attribute_name('linkme_user') %></th>
              <td><%= label_span(@user.linkme_user, 'Yes', 'No').html_safe %></td>
            </tr>
            <tr>
              <th><%= User.human_attribute_name('gord_employee') %></th>
              <td><%= label_span(@user.gord_employee, 'Yes', 'No').html_safe %></td>
            </tr>
            <tr>
              <th><%= User.human_attribute_name('active') %></th>
              <td><%= label_span(@user.active, 'Active', 'Deactivate').html_safe %></td>
            </tr>
          </tbody>
        </table>

        <div class="hr-line-dashed"></div>

        <% if @user == current_user %>
          <%
            url = if @user.service_provider?
                    edit_service_provider_path(current_user)
                  else
                    edit_user_registration_path(current_user)
                  end
          %>
          <%= btn_link_to(url, icon: 'edit', text: 'Edit') %>

        <% else %>
          <%= btn_link_to_if(permission: can?(:update, @user), target: edit_user_path(@user), icon: 'edit', text: 'Edit') %>
        <% end %>
      </div>

      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5><%= t('.user_license_details.title') %></h5>
        </div>
        <div class="ibox-content">
          <table class="table table-bordered table-striped user-details-table">
            <tbody>
              <tr>
                <th><%= User.human_attribute_name('cgp_license') %></th>
                <td><%= label_span(@user.cgp_license, 'Yes', 'No').html_safe %></td>
              </tr>
              <tr>
                <th><%= User.human_attribute_name('cgp_license_expired') %></th>
                <td><%= label_span(@user.cgp_license_expired, 'Yes', 'No').html_safe %></span></td>
              </tr>
              <tr>
                <th><%= User.human_attribute_name('cgp_license_expiry_date') %></th>
                <td><%= @user.cgp_license_expiry_date&.strftime('%d %B, %Y') %></td>
              </tr>
              <tr>
                <th><%= User.human_attribute_name('cep_license') %></th>
                <td><%= label_span(@user.cep_license, 'Yes', 'No').html_safe %></td>
              </tr>
              <tr>
                <th><%= User.human_attribute_name('cep_license_expired') %></th>
                <td><%= label_span(@user.cep_license_expired, 'Yes', 'No').html_safe %></span></td>
              </tr>
              <tr>
                <th><%= User.human_attribute_name('cep_license_expiry_date') %></th>
                <td><%= @user.cep_license_expiry_date&.strftime('%d %B, %Y') %></td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="ibox-title m-t">
          <h5><%= t('.user_license_details.licences') %></h5>
        </div>
        <div class="ibox-content">
          <% @user.access_licences.each.with_index(1) do |access_licence, index| %>
            <h5><b>Licence - <%= index %></b></h5>
            <table class="table table-bordered table-striped user-details-table">
              <tbody>
                <tr>
                  <th><%= Licence.human_attribute_name('display_name') %></th>
                  <td><%= access_licence.licence_display_name %></td>
                </tr>
                <tr>
                  <th><%= Licence.human_attribute_name('applicability') %></th>
                  <td><%= access_licence.licence_applicable_for %></span></td>
                </tr>
                <tr>
                  <th><%= Licence.human_attribute_name('description') %></th>
                  <td><%= access_licence.licence_description %></td>
                </tr>
                <tr>
                  <th><%= Licence.human_attribute_name('schemes') %></th>
                  <td>
                    <% access_licence.licence_schemes&.each do |scheme| %>
                      <%= scheme %><br>
                    <% end %>
                  </td>
                </tr>
                <tr>
                  <th><%= AccessLicence.human_attribute_name('expiry_date') %></th>
                  <td><%= access_licence.formatted_expiry_date %></td>
                </tr>
              </tbody>
            </table>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
