<%
  service_provider = @user.service_provider? ? @user : @user.service_provider
%>

<div class="row">

  <div class="col-md-12 m-t">
    <div class="ibox float-e-margins">
      <div class="ibox-title">
        <div class='d-flex justify-content-between align-items-center'>
          <h2><b><%= @user.full_name %></b> (<%= @user&.role&.titleize %>)</h2> 
          <h3><%= @user.email %></h3>        
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="ibox float-e-margins">
      <div class="ibox-title">
        <div class='d-flex justify-content-between align-items-center'>
          <h5><b><%= t('.user_details.title') %></b></h5>
        </div>
      </div>
      <div class="ibox-content">
        <table class="table table-bordered table-striped user-details-table">
          <tbody>
            <tr>
              <th><%= User.human_attribute_name('name') %></th>
              <td><%= @user.name %></td>
            </tr>
            <tr>
              <th><%= User.human_attribute_name('middle_name') %></th>
              <td><%= @user.middle_name %></td>
            </tr>
            <tr>
              <th><%= User.human_attribute_name('last_name') %></th>
              <td><%= @user.last_name %></td>
            </tr>
            <% if @user.default_role? %>
              <tr>
                <th><%= User.human_attribute_name('dob') %></th>
                <td><%= @user.user_detail&.dob&.strftime('%e %b, %Y') %></td>
              </tr>
              <tr>
                <th><%= User.human_attribute_name('gender') %></th>
                <td><%= @user.user_detail&.gender %></td>
              </tr>
            <% end %>
            <tr>
              <th><%= User.human_attribute_name('username') %></th>
              <td><%= @user.username %></td>
            </tr>
            <tr>
              <th><%= User.human_attribute_name('active') %></th>
              <td><%= label_span(@user.active, 'Active', 'Deactivate').html_safe %></td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="m-t">
        <div class="ibox-title">
          <div class='d-flex justify-content-between align-items-center'>
            <h5><b><%= t('.user_details.contact_info') %></b></h5>
          </div>
        </div>
        <div class="ibox-content">
          <table class="table table-bordered table-striped user-details-table">
            <tbody>
              <tr>
                <th><%= User.human_attribute_name('email') %></th>
                <td><%= @user.email %></td>
              </tr>
              <tr>
                <th><%= User.human_attribute_name('email_alternate') %></th>
                <td><%= @user.email_alternate %></td>
              </tr>
              <tr>
                <th><%= User.human_attribute_name('country') %></th>
                <td><%= @user.country %></td>
              </tr>
              <tr>
                <th><%= User.human_attribute_name('city') %></th>
                <td><%= @user.city %></td>
              </tr>
              <tr>
                <th><%= User.human_attribute_name('mobile_area_code') %></th>
                <td><%= @user.mobile_area_code %></td>
              </tr>
              <tr>
                <th><%= User.human_attribute_name('mobile') %></th>
                <td><%= @user.mobile %></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="m-t">
        <div class="ibox-title">
          <div class='d-flex justify-content-between align-items-center'>
            <h5><b><%= t('.user_details.organization_info') %></b></h5>
          </div>
        </div>
        <div class="ibox-content">
          <table class="table table-bordered table-striped user-details-table">
            <tbody>
              <% if @user.default_role? %>
                <tr>
                  <th><%= User.human_attribute_name('service_provider') %></th>
                  <td>
                    <% if @user.service_provider.present? %>
                      <%= link_to(@user.service_provider_name, user_path(@user.service_provider_id)) %>
                    <% end %>
                  </td>
                </tr>
                <tr>
                  <th>Service Provider Email</th>
                  <td><%= @user.service_provider&.email %></td>
                </tr>
              <% end %>
              <tr>
                <th><%= User.human_attribute_name('organization_name') %></th>
                <td><%= @user.organization_name %></td>
              </tr>
              <tr>
                <th><%= User.human_attribute_name('organization_country') %></th>
                <td><%= @user.organization_country %></td>
              </tr>
              <tr>
                <th><%= User.human_attribute_name('organization_city') %></th>
                <td><%= @user.organization_city %></td>
              </tr>
              <tr>
                <th><%= User.human_attribute_name('organization_website') %></th>
                <td><%= @user.organization_website %></td>
              </tr>
              <tr>
                <th><%= User.human_attribute_name('organization_phone_area_code') %></th>
                <td><%= @user.organization_phone_area_code %></td>
              </tr>
              <tr>
                <th><%= User.human_attribute_name('organization_phone') %></th>
                <td><%= @user.organization_phone %></td>
              </tr>
              <tr>
                <th><%= User.human_attribute_name('organization_fax_area_code') %></th>
                <td><%= @user.organization_fax_area_code %></td>
              </tr>
              <tr>
                <th><%= User.human_attribute_name('organization_fax') %></th>
                <td><%= @user.organization_phone %></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="m-t">
        <div class="ibox-title">
          <div class='d-flex justify-content-between align-items-center'>
            <h5><b><%= t('.user_details.other_info') %></b></h5>
          </div>
        </div>
        <div class="ibox-content">
          <table class="table table-bordered table-striped user-details-table">
            <tbody>
              <tr>
                <th><%= User.human_attribute_name('role') %></th>
                <td><%= @user.role&.titleize %></td>
              </tr>

              <% if @user.service_provider? %>
                <tr>
                  <th><%= User.human_attribute_name('business_field') %></th>
                  <td><%= @user.service_provider_detail&.business_field %></td>
                </tr>
                <tr>
                  <th><%= User.human_attribute_name('portfolio') %></th>
                  <td><%= @user.service_provider_detail&.portfolio %></td>
                </tr>
              <% else %>
                <tr>
                  <th><%= User.human_attribute_name('designation') %></th>
                  <td><%= @user.user_detail&.designation %></td>
                </tr>
                <tr>
                  <th><%= User.human_attribute_name('work_experience') %></th>
                  <td><%= @user.user_detail&.work_experience %></td>
                </tr>
              <% end %>

              <tr>
                <th><%= User.human_attribute_name('gord_employee') %></th>
                <td><%= label_span(@user.gord_employee, 'Yes', 'No').html_safe %></td>
              </tr>
              <tr>
                <th><%= User.human_attribute_name('gsas_id') %></th>
                <td><%= @user.gsas_id %></td>
              </tr>

              <% if @user.service_provider? %>
                <tr>
                  <th><%= User.human_attribute_name('commercial_licence_no') %></th>
                  <td><%= @user.service_provider_detail&.commercial_licence_no %></td>
                </tr>
              <% else %>
                <tr>
                  <th><%= User.human_attribute_name('qid_or_passport_number') %></th>
                  <td><%= @user.user_detail&.qid_or_passport_number %></td>
                </tr>
              <% end %>

            </tbody>
          </table>
        </div>
      </div>

      <% if can?(:activity_info, User) %>
        <div class="m-t">
          <div class="ibox-title">
            <div class='d-flex justify-content-between align-items-center'>
              <h5><b><%= t('.user_details.activity_info.title') %></b></h5>
            </div>
          </div>
          <div class="ibox-content">
            <table class="table table-bordered table-striped user-details-table">
              <tbody>
                <tr>
                  <th><%= t('.user_details.activity_info.created_at') %></th>
                  <td><%= @user.created_at&.strftime('%e %b, %Y AT %H:%M') %></td>
                </tr>
                <tr>
                  <th><%= t('.user_details.activity_info.confirmed_at') %></th>
                  <td><%= @user.confirmed_at&.strftime('%e %b, %Y AT %H:%M') %></td>
                </tr>
                <tr>
                  <th><%= t('.user_details.activity_info.approved_at') %></th>
                  <td><%= @user.approved_at&.strftime('%e %b, %Y AT %H:%M') %></td>
                </tr>
                <tr>
                  <th><%= t('.user_details.activity_info.last_sign_in_at') %></th>
                  <td><%= @user.last_sign_in_at&.strftime('%e %b, %Y AT %H:%M') %></td>
                </tr>
                <tr>
                  <th><%= t('.user_details.activity_info.updated_at') %></th>
                  <td><%= @user.updated_at&.strftime('%e %b, %Y AT %H:%M') %></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      <% end %>

      <div class="ibox-content m-t">
        <% if @user == current_user %>
          <%
            url = if @user.service_provider?
                    edit_service_provider_path(current_user)
                  else
                    edit_user_registration_path(current_user)
                  end
          %>
          <%= btn_link_to(url, icon: 'edit', text: 'Edit') %>

        <% else %>
          <%= btn_link_to_if(permission: can?(:update, @user), target: edit_user_path(@user), icon: 'edit', text: 'Edit') %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="col-md-8">
    <div class="ibox float-e-margins">
      <div class="ibox-title">
        <h5><b><%= t('.user_license_details.licences') %></b></h5>
      </div>
      <div class="ibox-content">
        <div class="row">
          <%= render partial: "licence_detail", locals: { label: 'Design & Build Licences', access_licences: @user.access_licences_with_certificate_type(Certificate.certificate_types[:design_type]) } %>
        </div>

        <div class="row">
          <div class="hr-line-dashed m-t"></div>
          <%= render partial: "licence_detail", locals: { label: 'Construction Management Licences', access_licences: @user.access_licences_with_certificate_type(Certificate.certificate_types[:construction_type]) } %>
        </div>

        <div class="row">
          <div class="hr-line-dashed m-t"></div>
          <%= render partial: "licence_detail", locals: { label: 'Operation Licences', access_licences: @user.access_licences_with_certificate_type(Certificate.certificate_types[:operations_type]) } %>
        </div>
      </div>

      <div class="ibox-title m-t">
        <h5><b><%= t('.user_licence_summary.title') %></b></h5>
      </div>

      <%
        if current_user == @user
          label = "My Licences"
          labelsp = @user.service_provider? ? label : "My Service Provider's Licences"  
        else
          label = "Licences of #{@user.name}"
          labelsp = @user.service_provider? ? label : "#{label}'s Service Provider"
        end
      %>

      <div class="ibox-content">
        <div class="row">
          <div class="col-md-6">
            <%= render partial: "licences_list", locals: { label: labelsp, licences: Licence.with_service_provider_licences, licences_of: service_provider } %>
          </div>
          <% unless @user.service_provider? %>
            <div class="col-md-6">
              <%= render partial: "licences_list", locals: { label: label, licences: Licence.with_cp_licences, licences_of: @user } %>
            </div>
          <% end %>
        </div>
      </div>

      <div class="ibox-title m-t">
        <h5><b><%= t('.sp_cp_licence_summary.title') %></b></h5>
      </div>
      <div class="ibox-content">
        <%= render partial: "sp_licence_summary", locals: { service_provider: service_provider } %>
      </div>

      <% if @user.service_provider? %>
        <div class="ibox-title m-t">
          <h5><b><%= t('.cp_users.title', service_provider: service_provider.full_name) %></b></h5>
        </div>
        <div class="ibox-content">
          <%= render partial: "users_list", locals: { service_provider: service_provider } %>
        </div>
      <% end %>

    </div>
  </div>

</div>
