<%
  service_provider = @user.service_provider? ? @user : @user.service_provider
%>

<div class="row">
  <div class="col-12">
    <div class="ibox float-e-margins">
      <div class="ibox-title">
        <div class='d-flex justify-content-between align-items-center'>
          <h5><%= t('.user_details.title') %></h5>
        </div>
      </div>
      <div class="ibox-content">
        <table class="table table-bordered table-striped user-details-table">
          <tbody>
            <tr>
              <th><%= User.human_attribute_name('name') %></th>
              <td><%= @user.full_name %></td>
            </tr>
            <tr>
              <th><%= User.human_attribute_name('dob') %></th>
              <td><%= @user.dob %></td>
            </tr>
            <tr>
              <th><%= User.human_attribute_name('gender') %></th>
              <td><%= @user.gender %></td>
            </tr>
            <tr>
              <th><%= User.human_attribute_name('username') %></th>
              <td><%= @user.username %></td>
            </tr>
          </tbody>
        </table>

        <div class="hr-line-dashed"></div>
 
        <% if @user == current_user %>
          <%
            url = if @user.service_provider?
                    edit_service_provider_path(current_user)
                  else
                    edit_user_registration_path(current_user)
                  end
          %>
          <%= btn_link_to(url, icon: 'edit', text: 'Edit') %>

        <% else %>
          <%= btn_link_to_if(permission: can?(:update, @user), target: edit_user_path(@user), icon: 'edit', text: 'Edit') %>
        <% end %>
      </div>

      <div class="ibox-title">
        <div class='d-flex justify-content-between align-items-center'>
          <h5><%= t('.user_details.contact_info') %></h5>
        </div>
      </div>

      <div class="ibox-content">
        <table class="table table-bordered table-striped user-details-table">
          <tbody>
            <tr>
              <th><%= User.human_attribute_name('email') %></th>
              <td><%= @user.email %></td>
            </tr>
            <tr>
              <th><%= User.human_attribute_name('email_alternate') %></th>
              <td><%= @user.email_alternate %></td>
            </tr>
            <tr>
              <th><%= User.human_attribute_name('country') %></th>
              <td><%= @user.country %></td>
            </tr>
            <tr>
              <th><%= User.human_attribute_name('city') %></th>
              <td><%= @user.city %></td>
            </tr>
            <tr>
              <th><%= User.human_attribute_name('mobile_area_code') %></th>
              <td><%= @user.mobile_area_code %></td>
            </tr>
            <tr>
              <th><%= User.human_attribute_name('mobile') %></th>
              <td><%= @user.mobile %></td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="ibox-title">
        <div class='d-flex justify-content-between align-items-center'>
          <h5><%= t('.user_details.organization_info') %></h5>
        </div>
      </div>

      <div class="ibox-content">
        <table class="table table-bordered table-striped user-details-table">
          <tbody>
            
            <tr>
              <th><%= User.human_attribute_name('organization_name') %></th>
              <td><%= @user.organization_name %></td>
            </tr>
            <tr>
              <th><%= User.human_attribute_name('organization_country') %></th>
              <td><%= @user.organization_country %></td>
            </tr>
            <tr>
              <th><%= User.human_attribute_name('organization_city') %></th>
              <td><%= @user.organization_city %></td>
            </tr>
            <tr>
              <th><%= User.human_attribute_name('organization_website') %></th>
              <td><%= @user.organization_website %></td>
            </tr>
            <tr>
              <th><%= User.human_attribute_name('organization_phone_area_code') %></th>
              <td><%= @user.organization_phone_area_code %></td>
            </tr>
            <tr>
              <th><%= User.human_attribute_name('organization_phone') %></th>
              <td><%= @user.organization_phone %></td>
            </tr>
            <tr>
              <th><%= User.human_attribute_name('organization_fax_area_code') %></th>
              <td><%= @user.organization_fax_area_code %></td>
            </tr>
            <tr>
              <th><%= User.human_attribute_name('organization_fax') %></th>
              <td><%= @user.organization_phone %></td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="ibox-title">
        <div class='d-flex justify-content-between align-items-center'>
          <h5><%= t('.user_details.other_info') %></h5>
        </div>
      </div>

      <div class="ibox-content">
        <table class="table table-bordered table-striped user-details-table">
          <tbody>
           <tr>
              <th><%= User.human_attribute_name('role') %></th>
              <td><%= @user.role&.titleize %></td>
            </tr>
            <tr>
              <th><%= User.human_attribute_name('designation') %></th>
              <td><%= @user.designation %></td>
            </tr>
            <tr>
              <th><%= User.human_attribute_name('work_experience') %></th>
              <td><%= @user.work_experience %></td>
            </tr>
            <% if @user.default_role? %>
              <tr>
                <th><%= User.human_attribute_name('service_provider') %></th>
                <td><%= @user.service_provider_name %></td>
              </tr>
            <% end %>
            <tr>
              <th><%= User.human_attribute_name('gord_employee') %></th>
              <td><%= label_span(@user.gord_employee, 'Yes', 'No').html_safe %></td>
            </tr>
            <tr>
              <th><%= User.human_attribute_name('active') %></th>
              <td><%= label_span(@user.active, 'Active', 'Deactivate').html_safe %></td>
            </tr>
            <tr>
              <th><%= User.human_attribute_name('gsas_id') %></th>
              <td><%= @user.gsas_id %></td>
            </tr>
            <tr>
              <th><%= User.human_attribute_name('qid_or_passport_number') %></th>
              <td><%= @user.qid_or_passport_number %></td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="ibox float-e-margins">
        <div class="ibox-title m-t">
          <h5><%= t('.user_license_details.licences') %></h5>
        </div>
        <div class="ibox-content">
          <%= render partial: "licence_detail", locals: { label: 'Design & Build Licences', access_licences: @user.access_licences_with_certificate_type(Certificate.certificate_types[:design_type]) } %>
          <%= render partial: "licence_detail", locals: { label: 'Construction Management Licences', access_licences: @user.access_licences_with_certificate_type(Certificate.certificate_types[:construction_type]) } %>
          <%= render partial: "licence_detail", locals: { label: 'Operation Licences', access_licences: @user.access_licences_with_certificate_type(Certificate.certificate_types[:operations_type]) } %>
        </div>

        <div class="ibox-title m-t">
          <h5><%= t('.user_licence_summary.title') %></h5>
        </div>
        <div class="ibox-content">
          <%= render partial: "licences_list", locals: { label: 'My Licences', licences: Licence.with_cp_licences, licences_of: @user } %>
          <%= render partial: "licences_list", locals: { label: 'Service Provider Licences', licences: Licence.with_service_provider_licences, licences_of: service_provider } %>
          <%= render partial: "sp_licence_summary", locals: { label: 'Service Provider CGPs & CEPs', service_provider: service_provider } %>
        </div>
      </div>
    </div>
  </div>
</div>
