<div class="row">

  <div class="col-md-12 col-sm-12 col-xs-12 m-t">
    <div class="ibox">
      <div class="ibox-title">
        <div class='d-flex justify-content-between align-items-center'>
          <h2><b><%= @user.full_name %></b></h2> 
          <h3 class="text-lowercase"><%= @user.email %></h3>        
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-4 col-sm-12 col-xs-12">
    <div class="ibox">
      <div class="ibox-title">
        <div class='d-flex justify-content-between align-items-center'>
          <h5><b><%= t('.user_details.title') %></b></h5>
        </div>
      </div>
      <div class="ibox-content table-responsive">
        <table class="table table-bordered table-striped user-details-table">
          <tbody>
            <tr>
              <th><%= User.human_attribute_name('name') %></th>
              <td><%= @user.name %></td>
            </tr>
            <tr>
              <th><%= User.human_attribute_name('middle_name') %></th>
              <td><%= @user.middle_name %></td>
            </tr>
            <tr>
              <th><%= User.human_attribute_name('last_name') %></th>
              <td><%= @user.last_name %></td>
            </tr>
            <% if @user.is_default_role? %>
              <tr>
                <th><%= UserDetail.human_attribute_name('dob') %></th>
                <td><%= @user.user_detail&.dob&.strftime('%e %b, %Y') %></td>
              </tr>
              <tr>
                <th><%= UserDetail.human_attribute_name('gender') %></th>
                <td><%= @user.user_detail&.gender %></td>
              </tr>
            <% end %>
            <tr>
              <th><%= User.human_attribute_name('username') %></th>
              <td><%= @user.username %></td>
            </tr>
            <tr>
              <th><%= User.human_attribute_name('active') %></th>
              <td><%= label_span(@user.active, 'Active', 'Deactivate').html_safe %></td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="m-t">
        <div class="ibox-title">
          <div class='d-flex justify-content-between align-items-center'>
            <h5><b><%= t('.user_details.contact_information') %></b></h5>
          </div>
        </div>
        <div class="ibox-content table-responsive">
          <table class="table table-bordered table-striped user-details-table">
            <tbody>
              <tr>
                <th><%= User.human_attribute_name('email') %></th>
                <td><%= @user.email %></td>
              </tr>
              <tr>
                <th><%= User.human_attribute_name('email_alternate') %></th>
                <td><%= @user.email_alternate %></td>
              </tr>
              <tr>
                <th><%= User.human_attribute_name('country') %></th>
                <td><%= @user.country %></td>
              </tr>
              <tr>
                <th><%= User.human_attribute_name('city') %></th>
                <td><%= @user.city %></td>
              </tr>
              <tr>
                <th><%= User.human_attribute_name('mobile_area_code') %></th>
                <td><%= @user.mobile_area_code %></td>
              </tr>
              <tr>
                <th><%= User.human_attribute_name('mobile') %></th>
                <td><%= @user.mobile %></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="m-t">
        <div class="ibox-title">
          <div class='d-flex justify-content-between align-items-center'>
            <h5><b><%= t('.user_details.company_information') %></b></h5>
          </div>
        </div>
        <div class="ibox-content table-responsive">
          <table class="table table-bordered table-striped user-details-table">
            <tbody>
              <tr>
                <th><%= User.human_attribute_name('organization_name') %></th>
                <td><%= @user.organization_name %></td>
              </tr>
              <tr>
                <th><%= User.human_attribute_name('organization_country') %></th>
                <td><%= @user.organization_country %></td>
              </tr>
              <tr>
                <th><%= User.human_attribute_name('organization_city') %></th>
                <td><%= @user.organization_city %></td>
              </tr>
              <tr>
                <th><%= User.human_attribute_name('organization_website') %></th>
                <td><%= @user.organization_website %></td>
              </tr>
              <tr>
                <th><%= User.human_attribute_name('organization_phone_area_code') %></th>
                <td><%= @user.organization_phone_area_code %></td>
              </tr>
              <tr>
                <th><%= User.human_attribute_name('organization_phone') %></th>
                <td><%= @user.organization_phone %></td>
              </tr>
              <tr>
                <th><%= User.human_attribute_name('organization_fax_area_code') %></th>
                <td><%= @user.organization_fax_area_code %></td>
              </tr>
              <tr>
                <th><%= User.human_attribute_name('organization_fax') %></th>
                <td><%= @user.organization_fax %></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="m-t">
        <div class="ibox-title">
          <div class='d-flex justify-content-between align-items-center'>
            <h5><b><%= t('.user_details.additional_information') %></b></h5>
          </div>
        </div>
        <div class="ibox-content table-responsive">
          <table class="table table-bordered table-striped user-details-table">
            <tbody>
              <tr>
                <th><%= User.human_attribute_name('role') %></th>
                <td><%= @user.role&.titleize %></td>
              </tr>
              <tr>
                <th><%= UserDetail.human_attribute_name('designation') %></th>
                <td><%= @user.user_detail&.designation %></td>
              </tr>
              <tr>
                <th><%= UserDetail.human_attribute_name('work_experience') %></th>
                <td><%= @user.user_detail&.work_experience %></td>
              </tr>
              <tr>
                <th><%= User.human_attribute_name('gord_employee') %></th>
                <td><%= label_span(@user.gord_employee, 'Yes', 'No').html_safe %></td>
              </tr>
              <tr>
                <th><%= User.human_attribute_name('gsb_id') %></th>
                <td><%= @user.gsb_id %></td>
              </tr>
              <tr>
                <th><%= User.human_attribute_name('demerit_flag') %></th>
                <td>
                  <% @user&.demerit_flags.each do %>
                    <i class="fa fa-flag fa-lg" style="color:red;"></i>
                  <% end %>
                </td>
              </tr>
              <tr>
                <th><%= UserDetail.human_attribute_name('qid_or_passport_number') %></th>
                <td><%= @user.user_detail&.qid_or_passport_number %></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      
      <div class="ibox-content m-t">
        <% if @user == current_user %>
          <% url = edit_user_registration_path(current_user)%>
          <%= btn_link_to(url, icon: 'edit', text: 'Edit') %>
        <% else %>
          <%= btn_link_to_if(permission: can?(:update, @user), target: edit_user_path(@user), icon: 'edit', text: 'Edit') %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="col-md-8">
    <div class="ibox float-e-margins">
      <div class="ibox-title">
        <h5><b><%= t('.user_license_details.licences') %></b></h5>
      </div>

      <div class="ibox-content table-responsive">
        <%= render partial: "licence_detail", locals: { label: "#{I18n.t("activerecord.attributes.certificate.certificate_types.certificate_titles.energy_centers_efficiency")} Licences", access_licences: @user.access_licences_with_certificate_type(Certificate.certificate_types[:energy_centers_efficiency_type]) } %>
        <%= render partial: "licence_detail", locals: { label: "#{I18n.t("activerecord.attributes.certificate.certificate_types.certificate_titles.building_energy_efficiency")} Licences", access_licences: @user.access_licences_with_certificate_type(Certificate.certificate_types[:building_energy_efficiency_type]) } %>
        <%= render partial: "licence_detail", locals: { label: "#{I18n.t("activerecord.attributes.certificate.certificate_types.certificate_titles.healthy_buildings")} Licences", access_licences: @user.access_licences_with_certificate_type(Certificate.certificate_types[:healthy_buildings_type]) } %>
        <%= render partial: "licence_detail", locals: { label: "#{I18n.t("activerecord.attributes.certificate.certificate_types.certificate_titles.indoor_air_quality")} Licences", access_licences: @user.access_licences_with_certificate_type(Certificate.certificate_types[:indoor_air_quality_type]) } %>
        <%= render partial: "licence_detail", locals: { label: "#{I18n.t("activerecord.attributes.certificate.certificate_types.certificate_titles.measurement_reporting_and_verification")} Licences", access_licences: @user.access_licences_with_certificate_type(Certificate.certificate_types[:measurement_reporting_and_verification_type]) } %>
        <%= render partial: "licence_detail", locals: { label: "#{I18n.t("activerecord.attributes.certificate.certificate_types.certificate_titles.building_water_efficiency")} Licences", access_licences: @user.access_licences_with_certificate_type(Certificate.certificate_types[:building_water_efficiency_type]) } %>
        <%= render partial: "licence_detail", locals: { label: "#{I18n.t("activerecord.attributes.certificate.certificate_types.certificate_titles.events_carbon_neutrality")} Licences", access_licences: @user.access_licences_with_certificate_type(Certificate.certificate_types[:events_carbon_neutrality_type]) } %>
        <%= render partial: "licence_detail", locals: { label: "#{I18n.t("activerecord.attributes.certificate.certificate_types.certificate_titles.products_ecolabeling")} Licences", access_licences: @user.access_licences_with_certificate_type(Certificate.certificate_types[:products_ecolabeling_type]) } %>
        <%= render partial: "licence_detail", locals: { label: "#{I18n.t("activerecord.attributes.certificate.certificate_types.certificate_titles.green_IT")} Licences", access_licences: @user.access_licences_with_certificate_type(Certificate.certificate_types[:green_IT_type]) } %>
        <%= render partial: "licence_detail", locals: { label: "#{I18n.t("activerecord.attributes.certificate.certificate_types.certificate_titles.net_zero")} Licences", access_licences: @user.access_licences_with_certificate_type(Certificate.certificate_types[:net_zero_type]) } %>
        <%= render partial: "licence_detail", locals: { label: "#{I18n.t("activerecord.attributes.certificate.certificate_types.certificate_titles.energy_label_waste_water_treatment_facility")} Licences", access_licences: @user.access_licences_with_certificate_type(Certificate.certificate_types[:energy_label_waste_water_treatment_facility_type]) } %>
      </div>

      <div class="ibox-title m-t">
        <h5><b><%= t('.user_licence_summary.title') %></b></h5>
      </div>

      <%
        if current_user == @user
          label = "My Licences"
        else
          label = "Licences of #{@user.name}"
        end
      %>

      <div class="ibox-content table-responsive">
        <div class="row">
          <div class="col-md-12">
            <%= render partial: "licences_list", locals: { label: label, licences: Licence.with_cp_licences, licences_of: @user } %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>