<div class="modal-dialog">
    <%= bootstrap_form_for([@project, @certification_path, @scheme_mix, @scheme_mix_criterion, @scheme_mix_criteria_document], url: update_status_project_certification_path_scheme_mix_scheme_mix_criterion_scheme_mix_criteria_document_path, method: 'put') do |f| %>
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" title="<%= t('.btn_close') %>" data-toggle="tooltip">
                    <span>&times;</span>
                </button>
                <h4 class="modal-title"><%= t('.modal_title') %></h4>
            </div>
            <div class="modal-body">
                <div class="alert alert-info" role="alert">
                    <i class="fa fa-info-circle"></i>&nbsp;&nbsp;<%=t '.info_text_review' %>
                </div>
                <%= f.select :status, SchemeMixCriteriaDocument.statuses.keys.map { |k| [k.humanize, k]} %>
                <%= label_tag nil, 'Apply to the following criteria' %>
                <ul class="checkbox-list">
                    <% @scheme_mix_criteria_document.document.scheme_mix_criteria.each do |smc| %>
                        <li>
                            <% default_checkbox_value = (@scheme_mix_criterion.id == smc.id) %>
                            <%= check_box_tag 'scheme_mix_criteria[]', smc.id, default_checkbox_value, disabled: default_checkbox_value, id: 'scheme_mix_criterion_' + smc.id.to_s %>
                            <%= label_tag 'scheme_mix_criterion_' + smc.id.to_s, smc.name %>
                        </li>
                    <% end %>
                </ul>
                <%= f.text_area :audit_log_user_comment, rows: 4 %>
            </div>
            <div class="modal-footer">
                <%= button_tag type: 'submit', class: 'btn btn-primary' do %>
                    <i title="Save" class="fa fa-lg fa-save" style="padding-right: 10px;"></i><%= t('.btn_save') %>
                <% end %>
                <button type="button" class="btn btn-white" data-dismiss="modal"><i title="Cancel" class="fa fa-lg fa-times" style="padding-right: 10px;"></i><%= t('.btn_cancel') %></button>
            </div>
        </div>
    <% end %>
</div>
