<% if scheme_mix_criteria_documents.empty? %>
    No documentation was uploaded yet.
<% else %>
    <table class="table table-bordered datatable document-table">
        <thead>
        <tr>
            <th>File name</th>
            <th>Uploaded by</th>
            <th>Upload date</th>
            <th>Status</th>
        </tr>
        </thead>
        <tbody>
        <% scheme_mix_criteria_documents.each do |smcd| %>
            <tr class="clickable document-<%= smcd.status.dasherize %>" data-href="<%= project_certification_path_scheme_mix_scheme_mix_criterion_scheme_mix_criteria_document_path(smcd.scheme_mix_criterion.scheme_mix.certification_path.project, smcd.scheme_mix_criterion.scheme_mix.certification_path, smcd.scheme_mix_criterion.scheme_mix, smcd.scheme_mix_criterion, smcd) %>">
                <td data-order="<%= smcd.name %>" data-search="<%= smcd.name %>">
                    <%= image_tag(Icon.for_filename(smcd.name), alt: smcd.content_type, title: smcd.content_type) + ' ' + smcd.name %>
                </td>
                <td><%= smcd.document.user.email %></td>
                <td><%= localize(smcd.document.created_at) %></td>
                <td><%= smcd.status.humanize %></td>
            </tr>
        <% end %>
        </tbody>
    </table>
<% end %>