<% if scheme_mix_criteria_documents.empty? %>
    No documentation was uploaded yet.
<% else %>
    <table class="table table-striped table-bordered table-hover datatable">
        <thead>
        <tr>
            <th>File name</th>
            <th>Uploaded by</th>
            <th>Upload date</th>
            <th>Status</th>
        </tr>
        </thead>
        <tbody>
        <% scheme_mix_criteria_documents.each do |smcd| %>
            <tr class="clickable" data-href="<%= project_certification_path_scheme_mix_scheme_mix_criterion_scheme_mix_criteria_document_path(smcd.scheme_mix_criterion.scheme_mix.certification_path.project, smcd.scheme_mix_criterion.scheme_mix.certification_path, smcd.scheme_mix_criterion.scheme_mix, smcd.scheme_mix_criterion, smcd) %>">
                <td data-order="<%= smcd.document.document_file.file.filename %>" data-search="<%= smcd.document.document_file.file.filename %>">
                    <%= image_tag(Icon.for_filename(smcd.document.document_file.file.filename), alt: smcd.document.document_file.content_type, title: smcd.document.document_file.content_type) + ' ' + smcd.document.document_file.file.filename %>
                </td>
                <td><%= smcd.document.user.email %></td>
                <td><%= localize(smcd.document.created_at) %></td>
                <td><%= smcd.status.humanize %></td>
            </tr>
        <% end %>
        </tbody>
    </table>
<% end %>