<div class="row">
    <div class="col-md-5">
        <div class="ibox float-e-margins document-details">
            <div class="ibox-title">
                <%= audit_log_label(@scheme_mix_criteria_document) %>
                <%= status_label(@scheme_mix_criteria_document.status, @certification_path.in_submission? && can?(:update, @scheme_mix_criteria_document), 'updateSchemeMixCriteriaDocumentStatusModal') %>
                <h5>Document details</h5>
            </div>
            <div class="ibox-content">
                <table class="table table-bordered table-striped">
                    <tbody>
                    <tr>
                        <th>File name</th>
                        <td><%= @document.name %></td>
                    </tr>
                    <tr>
                        <th>File size</th>
                        <td><%= number_to_human_size(@document.size) %></td>
                    </tr>
                    <tr>
                        <th>Uploaded by</th>
                        <td> <%= @document.user.email %></td>
                    </tr>
                    <tr>
                        <th>Upload date</th>
                        <td><%= localize(@document.created_at) %></td>
                    </tr>
                    <tr>
                        <th>Criteria</th>
                        <td>
                            <% @document.scheme_mix_criteria.each do |scheme_mix_criterion| %>
                                <%= scheme_mix_criterion.full_name %>
                                <br />
                            <% end %>
                            <!-- if can? :create, SchemeMixCriteriaDocument %-->
                            <% if @certification_path.in_submission? && can?(:update, @scheme_mix_criteria_document) %>
                                <hr />
                                <p>If this document also supports requirements in other criteria, add a criterion below:</p>
                                <%= bootstrap_form_for([@project, @certification_path, @scheme_mix, @scheme_mix_criterion, SchemeMixCriteriaDocument.new], layout: :inline) do |f| %>
                                    <%= f.hidden_field :document_id, value: @document.id %>
                                    <%= f.select :scheme_mix_criterion_id, @scheme_mix.scheme_mix_criteria.collect {|smc| [ smc.full_name, smc.id ] }, hide_label: true %>
                                    <%= button_tag(class: 'btn btn-primary no-margins', title: 'Add the criterion') do %>
                                        <i class="fa fa-plus-circle"></i>
                                    <% end %>
                                <% end %>
                            <% end %>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <div class="hr-line-dashed"></div>
                <% if can? :show, @document %>
                    <%= link_to(raw('<i title="Download document" class="fa fa-lg fa-download" style="padding-right: 10px;"></i>Download document'), project_certification_path_document_path(@project, @certification_path, @document), class: 'btn btn-primary') %>
                <% end %>
            </div>
        </div>
    </div>
</div>
<%= render 'scheme_mix_criteria_documents/modal', project: @project, certification_path: @certification_path, scheme_mix: @scheme_mix, scheme_mix_criterion: @scheme_mix_criterion, scheme_mix_criteria_document: @scheme_mix_criteria_document %>
