<div class="row">
    <div class="col-md-6">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Document details</h5>
            </div>
            <div class="ibox-content">
                <table class="table table-bordered table-striped">
                    <tbody>
                    <tr>
                        <th>File name</th>
                        <td><%= @document.document_file.file.filename %></td>
                    </tr>
                    <tr>
                        <th>File size</th>
                        <td><%= number_to_human_size(@document.document_file.size) %></td>
                    </tr>
                    <tr>
                        <th>Uploaded by</th>
                        <td> <%= @document.user.email %></td>
                    </tr>
                    <tr>
                        <th>Upload date</th>
                        <td><%= localize(@document.created_at) %></td>
                    </tr>
                    <tr>
                        <th>Status</th>
                        <td><%= @scheme_mix_criteria_document.status.humanize %></td>
                    </tr>
                    <tr>
                        <th>Criteria</th>
                        <td>
                            <% @document.scheme_mix_criteria.each do |scheme_mix_criterion| %>
                                <%= scheme_mix_criterion.name %>
                                <% unless scheme_mix_criterion == @scheme_mix_criterion %>
                                    <% smcd = SchemeMixCriteriaDocument.find_by(scheme_mix_criterion: scheme_mix_criterion, document: @document) %>
                                    <% if can? :destroy, smcd %>
                                        <%= link_to raw('<i title="Remove criterion link" class="fa fa-lg fa-trash" style="padding-right: 10px;"></i>'), project_certification_path_scheme_mix_scheme_mix_criterion_scheme_mix_criteria_document_path(@project, @certification_path, @scheme_mix, scheme_mix_criterion, smcd), method: :delete, data: {confirm: 'Are you sure you want to unlink this criterion?'} %>
                                    <% end %>
                                <% end %>
                                <br />
                            <% end %>
                            <% if can? :create, SchemeMixCriteriaDocument %>
                                <hr />
                                <p>If this document also supports requirements in other criteria, add a criterion below:</p>
                                <%= bootstrap_form_for([@project, @certification_path, @scheme_mix, @scheme_mix_criterion, SchemeMixCriteriaDocument.new], layout: :inline) do |f| %>
                                    <%= f.hidden_field :document_id, value: @document.id %>
                                    <%= f.select :scheme_mix_criterion_id, @scheme_mix.scheme_mix_criteria.collect {|smc| [ smc.scheme_criterion.code + ': ' + smc.scheme_criterion.criterion.name, smc.id ] }, hide_label: true %>
                                    <%= button_tag(class: 'btn btn-primary no-margins', title: 'Add the criterion') do %>
                                        <i class="fa fa-plus-circle"></i>
                                    <% end %>
                                <% end %>
                            <% end %>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <div class="hr-line-dashed"></div>
                <% if can? :show, @document %>
                    <%= link_to(raw('<i title="Download document" class="fa fa-lg fa-download" style="padding-right: 10px;"></i>Download document'), @document, class: 'btn btn-primary') %>
                <% end %>
                <% if can? :edit, @scheme_mix_criteria_document %>
                    <button type="button" class="btn btn-white" data-toggle="modal" data-target="#updateSchemeMixCriteriaDocumentStatusModal">Update status</button>
                <% end %>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Comments</h5>
            </div>
            <div class="ibox-content">
                <% if @scheme_mix_criteria_document.scheme_mix_criteria_document_comments.empty? %>
                    This document has no comments.
                <% else %>
                    <% @scheme_mix_criteria_document.scheme_mix_criteria_document_comments.each do |comment| %>
                        <div class="feed-element">
                            <div class="media-body">
                                <strong><%= comment.user.email %></strong> commented on <strong><%= localize(comment.created_at) %></strong>
                                <div class="well">
                                    <%= comment.body %>
                                </div>
                            </div>
                        </div>
                    <% end %>
                <% end %>
                <% if can? :create, SchemeMixCriteriaDocumentComment %>
                    <div class="hr-line-dashed"></div>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#createSchemeMixCriteriaDocumentCommentModal"><i title="Add comment" class="fa fa-lg fa-comment" style="padding-right: 10px;"></i>Add comment</button>
                <% end %>
            </div>
        </div>
    </div>
</div>
<%= render 'scheme_mix_criteria_documents/modal', project: @project, certification_path: @certification_path, scheme_mix: @scheme_mix, scheme_mix_criterion: @scheme_mix_criterion, scheme_mix_criteria_document: @scheme_mix_criteria_document %>
<%= render 'scheme_mix_criteria_document_comments/modal', project: @project, certification_path: @certification_path, scheme_mix: @scheme_mix, scheme_mix_criterion: @scheme_mix_criterion, scheme_mix_criteria_document: @scheme_mix_criteria_document, scheme_mix_criteria_document_comment: SchemeMixCriteriaDocumentComment.new %>
