<tr>
    <td style="padding: .75pt .75pt;">
        <p><span style='font-size: 18pt; font-family: "Verdana", "sans-serif"; color: #0B9ADC;'>Certificate Activated</span></p>
    </td>
</tr>
<tr>
    <td style="width: 650pt; border: solid #CCC 1pt; background: white; padding: 15pt 15pt;">
        <p>
            <span style='font-size: 9pt; font-family: "Verdana", "sans-serif";'>Dear Ms/Mr<br/><br/>
            The <b><%= @certification_path.name %></b> certificate for project with name <b><%= @certification_path.project.name %></b> is activated.</span>
        </p>
        <br/>
        <table style='font-size: 9pt; font-family: "Verdana", "sans-serif";'>
            <tr>
                <td><b>Development Type</b></td>
                <td><%= @certification_path.development_type.humanize %></td>
            </tr>
            <% unless @certification_path.duration == 0 %>
            <tr>
                <td><b>Duration</b></td>
                <td><%= pluralize(@certification_path.duration, 'year') %></td>
            </tr>
            <% end %>
            <tr>
                <td colspan="2"><b>Schemes</b>
                    <ul>
                        <% @certification_path.scheme_mixes.each do |scheme_mix| %>
                            <li><%= scheme_mix.weight %>% <%= scheme_mix.full_name %></li>
                        <% end %>
                    </ul>
                <td></td>
            </tr>
        </table>
        <br/>
        <p><span style='font-size: 9pt; font-family: "Verdana", "sans-serif";'>With kind regards,</span></p>
    </td>
</tr>