<tr>
    <td style="padding: .75pt .75pt;">
        <p><span style='font-size: 18pt; font-family: "Verdana", "sans-serif"; color: #0B9ADC;'>Linkme.qa invitation</span></p>
    </td>
</tr>
<tr>
    <td style="width: 650pt; border: solid #CCC 1pt; background: white; padding: 15pt 15pt;">
        <p>
            <span style='font-size: 9pt; font-family: "Verdana", "sans-serif";'>Dear Ms/Mr<br/><br/>
            <%= @user.full_name %> (<%= @user.email %>) wants to add you to a project in <%= link_to 'GSASgate', root_url %>.<br /><br />
            Please create a <a href="http://www.linkme.qa/">linkme.qa</a> user account by clicking on the link below and notify <%= @user.full_name %> afterwards.<br /><br />
            <%= link_to 'http://www.linkme.qa/general/register_start.asp', 'http://www.linkme.qa/general/register_start.asp' %><br />
            </span>
        </p>
        <br/>
        <p><span style='font-size: 9pt; font-family: "Verdana", "sans-serif";'>With kind regards,</span></p>
    </td>
</tr>