<tr>
    <td style="padding: .75pt .75pt;">
        <p><span style='font-size: 18pt; font-family: "Verdana", "sans-serif"; color: #0B9ADC;'>Project Registered</span></p>
    </td>
</tr>
<tr>
    <td style="width: 650pt; border: solid #CCC 1pt; background: white; padding: 15pt 15pt;">
        <p>
            <span style='font-size: 9pt; font-family: "Verdana", "sans-serif";'>Dear Ms/Mr<br/><br/>
            A new project with name <b><%= @project.name %></b> is registered.</span>
        </p>
        <br/>
        <table style='font-size: 9pt; font-family: "Verdana", "sans-serif";'>
            <tr>
                <td><b>Certificate Type</b></td>
                <td><%= t(Certificate.certificate_types.key(@project.certificate_type), scope: 'activerecord.attributes.certificate.certificate_types') %></td>
            </tr>
            <tr>
                <td><b>Project owner</b></td>
                <td><%= @project.owner %></td>
            </tr>
            <tr>
                <td><b>Developer</b></td>
                <td><%= @project.developer %></td>
            </tr>
            <tr>
                <td><b>Building Type Group</b></td>
                <td><%= @project.building_type_group&.name %></td>
            </tr>
            <tr>
                <td><b>Description</b></td>
                <td><%= @project.description %></td>
            </tr>
            <tr>
                <td><b>Completion Year</b></td>
                <td><%= @project.construction_year %></td>
            </tr>
            <tr>
                <td><b>Address</b></td>
                <td><%= @project.address %></td>
            </tr>
            <tr>
                <td><b>Location</b></td>
                <td><%= @project.location %></td>
            </tr>
            <tr>
                <td><b>Country</b></td>
                <td><%= @project.country %></td>
            </tr>
            <tr>
              <td><b>Project Plot Area (A)</b></td>
              <td><%= @project.project_site_area %>m²</td>
            </tr>
            <tr>
                <td><b>Buildings Gross Built up Area (B)</b></td>
                <td><%= @project.gross_area %>m²</td>
            </tr>
            <tr>
              <td><b>Buildings Footprint (C)</b></td>
              <td><%= @project.buildings_footprint_area %>m²</td>
            </tr>
            <tr>
                <td><b>Gross Certified Area (A+B-C)</b></td>
                <td><%= @project.certified_area %>m²</td>
            </tr>
            <tr>
                <td><b>Car Park Area</b></td>
                <td><%= @project.carpark_area %>m²</td>
            </tr>
        </table>
        <br/>
        <p><span style='font-size: 9pt; font-family: "Verdana", "sans-serif";'>With kind regards,</span></p>
    </td>
</tr>