<% if documents.empty? %>
    No documentation was uploaded yet.
<% else %>
    <table class="table table-striped table-bordered table-hover datatable">
        <thead>
        <tr>
            <th>File name</th>
            <th>File size</th>
            <th>Uploaded by</th>
            <th>Upload date</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <% documents.each do |d| %>
            <tr>
                <td data-order="<%= d.document_file.file.filename %>" data-search="<%= d.document_file.file.filename %>">
                    <%= image_tag(Icon.for_filename(d.document_file.file.filename), alt: d.document_file.content_type, title: d.document_file.content_type) + ' ' + link_to(d.document_file.file.filename, project_document_path(project, d), title: 'Click to view the document details') %>
                </td>
                <td data-order="<%= d.document_file.size %>"><%= number_to_human_size(d.document_file.size) %></td>
                <td><%= d.user.email %></td>
                <td><%= localize(d.created_at) %></td>
                <td>
                    <%= link_to raw('<i title="Document details" class="fa fa-lg fa-search" style="padding-right: 10px;"></i>'), project_document_path(project, d) %>
                    <%= link_to raw('<i title="Download document" class="fa fa-lg fa-download" style="padding-right: 10px;"></i>'), download_project_document_path(project, d) %>
                </td>
            </tr>
        <% end %>
        </tbody>
    </table>
<% end %>