<%= bootstrap_form_for([project, document], html: {class: 'dropzone'}) do |f| %>
    <div class="fallback">
        <%= f.file_field :document_file, hide_label: true %>
        <%= f.primary 'Upload documentation' %>
    </div>
    <div id="dropzone-top">
        <div class="dz-message"><i class="fa fa-lg fa-files-o"></i>&nbsp;&nbsp;Drop files here or click to upload documentation.</div>
    </div>
    <div id="dropzone-bottom" style="display:none;">
        <div id="dropzone-previews" class="table table-striped table-bordered">
            <div class="file-row header">
                <div><strong>File name</strong></div>
                <div><strong>File size</strong></div>
                <div><strong>Upload progress</strong></div>
                <div><strong>Actions</strong></div>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-5">
                <div class="panel panel-default">
                    <div class="panel-heading">Additional requirements <%= tooltip('If this documentation meets other requirements click here to select any additional criteria it applies to.') %></div>
                    <div class="panel-body">
                        <a href="#" id="documents-select-criteria" class="btn btn-white btn-sm"><i class="fa fa-plus-circle"></i>&nbsp;&nbsp;Select additional criteria</a>
                        <ul id="document-scheme-mix-criteria" style="display:none;">
                            <% scheme_mix.categories.uniq.each do |category| %>
                                <li>
                                    <a href="#"><i class="fa fa-caret-square-o-right"></i>&nbsp;<%= category.name %></a>
                                    <ul style="display:none;">
                                        <% scheme_mix.scheme_mix_criteria.for_category(category).each do |scheme_mix_criterion| %>
                                            <li>
                                                <% default_checkbox_value = (scheme_mix_criterion_id.present? and (scheme_mix_criterion_id == scheme_mix_criterion.id)) %>
                                                <%= check_box_tag 'document[scheme_mix_criteria][]', scheme_mix_criterion.id, default_checkbox_value, disabled: default_checkbox_value, id: 'document_scheme_mix_criterion_' + scheme_mix_criterion.id.to_s %>
                                                <%= label_tag 'document_scheme_mix_criterion_' + scheme_mix_criterion.id.to_s, scheme_mix_criterion.scheme_criterion.code + ': ' + scheme_mix_criterion.scheme_criterion.criterion.name %>
                                            </li>
                                        <% end %>
                                    </ul>
                                </li>
                            <% end %>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-7">
                <div class="panel panel-default">
                    <div class="panel-heading">Notes to support the documentation <%= tooltip('Please enter some additional comments relating to this documentation to help understand which requirements it relates to.') %></div>
                    <div class="panel-body">
                        <textarea class="form-control"></textarea>
                    </div>
                </div>
            </div>
        </div>
        <div class="hr-line-dashed"></div>
        <a href="#" id="dropzone-upload-all" class="btn btn-primary">Upload documentation</a>
    </div>
<% end %>

<div id="dropzone-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dropzone-modal-title">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header alert-danger">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title" id="dropzone-modal-title"></h4>
            </div>
            <div class="modal-body"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<% content_for :js do %>
    <script type="text/javascript">
        var dropzoneUploading = false;

        $(function() {
            Dropzone.options.newDocument = {
                autoProcessQueue: false, // Prevents Dropzone from uploading dropped files immediately
                paramName: 'document[document_file]',
                parallelUploads: 5,
                previewsContainer: '#dropzone-previews',
                clickable: '#dropzone-top',
                previewTemplate: '<div class="file-row"> <div><p class="name" data-dz-name></p><strong class="error text-danger" data-dz-errormessage></strong></div> <div><p class="size" data-dz-size></p></div> <div> <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0"> <div class="progress-bar progress-bar-success" style="width:0%;" data-dz-uploadprogress></div> </div> </div> <div> <a href="#" data-dz-remove> <i title="Delete" class="fa fa-lg fa-trash" style="padding-right: 10px;"></i></a> </div> </div>',
                maxFilesize: <%= Document::MAXIMUM_DOCUMENT_FILE_SIZE %>, // in MB
                acceptedFiles: '<%= DocumentUploader.new.extension_white_list_js %>',

                init: function () {
                    var documentsDropzone = this;
                    var dropzoneTop = $("#dropzone-top");
                    var dropzoneBottom = $("#dropzone-bottom");
                    var dropzoneModal = $("#dropzone-modal");
                    var uploadButton = $("#dropzone-upload-all");
                    var previewsContainer = $("#dropzone-previews");
                    var uploadErrors = [];

                    // Process all queued files when the upload button is clicked
                    uploadButton.click(function (e) {
                        if (!dropzoneUploading) {
                            // All rejected files should first be removed from the queue list
                            if (documentsDropzone.getRejectedFiles().length > 0) {
                                // Show a modal box
                                dropzoneModal.find('.modal-title').html('<i class="fa fa-exclamation-circle"></i>&nbsp;&nbsp;Validation error');
                                dropzoneModal.find('.modal-body').html('Please remove all invalid files before uploading.');
                                dropzoneModal.find('.modal-header').attr('class', 'modal-header alert-danger');
                                dropzoneModal.modal('show');
                            }
                            else {
                                dropzoneUploading = true;
                                documentsDropzone.processQueue();
                            }
                        }
                        e.preventDefault();
                    });

                    // Show the previews container and upload button when one or more files are added
                    this.on("addedfile", function () {
                        dropzoneBottom.slideDown();
                    });
                    // Hide the previews container and upload button when all files are removed
                    this.on("removedfile", function () {
                        if (previewsContainer.children().length == 1) {
                            dropzoneBottom.slideUp();
                        }
                    });
                    // Once the upload button is clicked, the full queue can be processed
                    this.on("processing", function () {
                        this.options.autoProcessQueue = true;
                        uploadButton.html('<i class="fa fa-lg fa-cog fa-spin"></i>&nbsp;&nbsp;Please wait...');
                        uploadButton.prop('disabled', true);
                        dropzoneTop.hide();
                    });
                    // Catch all server errors
                    this.on("error", function (file, errorMessage, XMLHttpRequest) {
                        // Errors returned by the server
                        if (XMLHttpRequest !== undefined) {
                            uploadErrors.push('<strong>' + file.name + '</strong>: ' + errorMessage);
                        }
                        // Errors on the client side
                        else {
                            // These errors are shown in the file row
                        }
                    });
                    // Notify the user when all uploads are completed
                    this.on("queuecomplete", function () {
                        if (dropzoneUploading) {
                            var modalBody = '';
                            var modalHeaderClass = '';

                            // There were server errors during the upload
                            if (uploadErrors.length > 0) {
                                modalBody = '<div>Some documents weren\'t successfully uploaded because of the following errors:</div>';

                                modalBody += '<ul>';
                                $.each(uploadErrors, function(index, uploadError) {
                                    modalBody += '<li>' + uploadError + '</li>';
                                });
                                modalBody += '</ul>';

                                modalBody += '<div>All other documentation was uploaded successfully.</div>';
                                modalHeaderClass = 'alert-warning';
                            }
                            // There were no errors
                            else {
                                modalBody = 'All documentation was successfully uploaded.';
                                modalHeaderClass = 'alert-success';
                            }

                            // Show a modal box
                            dropzoneModal.find('.modal-title').html('<i class="fa fa-check-circle"></i>&nbsp;&nbsp;Uploading completed');
                            dropzoneModal.find('.modal-body').html(modalBody);
                            dropzoneModal.find('.modal-header').attr('class', 'modal-header ' + modalHeaderClass);
                            dropzoneModal.modal('show');
                        }
                    });
                }
            };

            // Handle closing of modal box
            $('#dropzone-modal').on('hide.bs.modal', function (e) {
                // Reload the page when the upload notification is closed by the user
                if (dropzoneUploading) {
                    location.reload();
                }
            });

            // Handle select criteria button click
            $('#documents-select-criteria').click(function(e) {
                $(this).hide();
                $('#document-scheme-mix-criteria').show();
                e.preventDefault();
            });

            // Handle scheme mix criteria lists toggle
            $('ul#document-scheme-mix-criteria li a').click(function (e) {
                $(this).siblings('ul').slideToggle();
                $(this).children('i').toggleClass('fa-caret-square-o-right').toggleClass('fa-caret-square-o-down');
                e.preventDefault();
            });
        });
    </script>
<% end %>
