<% use_gmaps_for(:project) %>

<%= bootstrap_form_for(@project) do |f| %>
    <% if @project.errors.any? %>
        <div id="error_explanation">
            <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

            <ul>
                <% @project.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                <% end %>
            </ul>
        </div>
    <% end %>

    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-title">
                    <h5>Project details</h5>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-md-3">
                            <%= f.text_field :code %>
                            <%= f.text_field :name %>
                            <%= f.text_area :description %>
                            <%= f.text_area :address %>
                            <%= f.text_field :location %>
                            <%= f.text_field :country %>
                        </div>
                        <div class="col-md-3">
                            <%= f.text_field :gross_area, append: 'm²', label: (Project.human_attribute_name('gross_area') + tooltip(t '.tooltip_gross_area')).html_safe %>
                            <%= f.text_field :certified_area, append: 'm²', label: (Project.human_attribute_name('certified_area') + tooltip(t '.tooltip_certified_area')).html_safe %>
                            <%= f.text_field :carpark_area, append: 'm²', label: (Project.human_attribute_name('carpark_area') + tooltip(t '.tooltip_carpark_area')).html_safe %>
                            <%= f.text_field :project_site_area, append: 'm²', label: (Project.human_attribute_name('project_site_area') + tooltip(t '.tooltip_project_site_area')).html_safe %>
                            <% if current_user.system_admin? %>
                                <div class="panel panel-default">
                                    <div class="panel-heading">Admin fields</div>
                                    <div class="panel-body">
                                        <%= f.select :owner_id, User.with_assessor_role.map { |k| [k.email, k.id]}, {}, { class: 'chosen-select'} %>
                                        <%= f.select :client_id, User.with_enterprise_role.map { |k| [k.email, k.id]}, {}, { class: 'chosen-select'} %>
                                        <%= f.select :certifier_id, User.with_certifier_role.map { |k| [k.email, k.id]}, {}, { class: 'chosen-select'} %>
                                    </div>
                                </div>
                            <% end %>
                        </div>
                        <div class="col-md-6">
                            <div class="alert alert-info" role="alert">
                                <i class="fa fa-info-circle"></i>&nbsp;&nbsp;<%=t '.info_text_map' %>
                            </div>
                            <div id="project-map" class="map" style="height: 400px;"></div>
                            <div style="display:none;">
                                <%= f.text_field :latlng %>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="hr-line-dashed"></div>
                            <%= f.primary %> or <%= link_to 'Cancel', projects_path, class: 'btn btn-default' %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<% end %>
