<% use_gmaps_for(:project) %>

<%= bootstrap_form_for(@project) do |f| %>
    <% if @project.errors.any? %>
        <div id="error_explanation">
            <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

            <ul>
                <% @project.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                <% end %>
            </ul>
        </div>
    <% end %>

    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-title">
                    <h5>Project details</h5>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-md-3">
                            <%= f.text_field :name %>
                            <%= f.text_area :description %>
                            <%= f.text_area :address %>
                            <%= f.text_field :location %>
                            <%= f.text_field :country %>
                        </div>
                        <div class="col-md-3">
                            <!-- todo: load labels from i18n translation file -->
                            <%= f.text_field :gross_area, append: 'm²', label: ('Gross area ' + tooltip('Total built up area including parking areas such as underground or structured parking.')).html_safe %>
                            <%= f.text_field :certified_area, append: 'm²', label: ('Certified area ' + tooltip('Total built up area excluding parking areas. All parking areas (whether underground, structured, or at grade) should NOT be included in this calculation. Other spaces, such as common areas, mechanical spaces, and circulation areas, should be included in the certified area of the building.')).html_safe %>
                            <%= f.text_field :carpark_area, append: 'm²', label: ('Car park area ' + tooltip('Total built up area associated with parking (underground or structured parking). This does NOT include on-grade parking, as we are only interested in the built up area.')).html_safe %>
                            <%= f.text_field :project_site_area, append: 'm²', label: ('Project site area ' + tooltip('Total site area including roadways, parking, landscape, etc.')).html_safe %>
                        </div>
                        <div class="col-md-6">
                            <div class="alert alert-info" role="alert">
                                <i class="fa fa-info-circle"></i>&nbsp;&nbsp;The marker on the map below will automatically
                                move to the location of the project address when the Address, Location and Country fields are filled out.
                                Moreover, it is also possible to drag the marker to a custom location.
                            </div>
                            <div id="project-map" class="map" style="height: 400px;"></div>
                            <div style="display:none;">
                                <%= f.text_field :latlng %>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="hr-line-dashed"></div>
                            <%= f.primary %> or <%= link_to 'Cancel', projects_path, class: 'btn btn-default' %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<% end %>
