<% use_gmaps_for(:project) %>

<%= bootstrap_form_for(@project) do |f| %>
    <% if @project.errors.any? %>
        <div id="error_explanation">
            <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

            <ul>
                <% @project.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                <% end %>
            </ul>
        </div>
    <% end %>

    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-title">
                    <h5>Project details</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-md-3">
                            <%= f.text_field :name %>
                            <%= f.text_area :description %>
                            <%= f.text_area :address %>
                            <%= f.text_field :location %>
                            <%= f.text_field :country %>
                        </div>
                        <div class="col-md-3">
                            <%= f.text_field :gross_area, append: 'm²' %>
                            <%= f.text_field :certified_area, append: 'm²' %>
                            <%= f.text_field :carpark_area, append: 'm²' %>
                            <%= f.text_field :project_site_area, append: 'm²' %>
                        </div>
                        <div class="col-md-6">
                            <a href="#" id="geocode-project-address" class="btn btn-default">Move marker to project address</a>

                            <div id="project-map" class="map" style="width: 800px; height: 400px;"></div>
                            <div style="display:none;">
                                <%= f.text_field :latlng %>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <%= f.primary %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<% end %>
