<% use_gmaps_for(:project) %>

<%= bootstrap_form_for(@project) do |f| %>
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-title">
                    <h5>Project details</h5>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-md-3">
                            <% if current_user.system_admin? || current_user.gord_manager? || current_user.gord_top_manager? || current_user.gord_admin? %>
                                <%= f.text_field :code %>
                            <% end %>
                            <%= f.text_field :name %>
                            <%= f.text_area :description %>
                            <%= f.text_field :construction_year %>
                            <%= f.text_area :address %>
                            <%= f.text_field :location %>
                            <%= f.text_field :country %>
                        </div>
                        <div class="col-md-3">
                            <%= f.text_field :gross_area, append: 'm²', label: (Project.human_attribute_name('gross_area') + tooltip(t '.tooltip_gross_area')).html_safe %>
                            <%= f.text_field :certified_area, append: 'm²', label: (Project.human_attribute_name('certified_area') + tooltip(t '.tooltip_certified_area')).html_safe %>
                            <%= f.text_field :carpark_area, append: 'm²', label: (Project.human_attribute_name('carpark_area') + tooltip(t '.tooltip_carpark_area')).html_safe %>
                            <%= f.text_field :project_site_area, append: 'm²', label: (Project.human_attribute_name('project_site_area') + tooltip(t '.tooltip_project_site_area')).html_safe %>
                            <div class="form-group">
                                <label class="control-label" for="project_location_plan_file"><%= Project.human_attribute_name('location_plan_file') %></label>
                                <% if @project.id.present? && @project.location_plan_file.present? %>
                                    <div class="input-group">
                                        <span class="input-group-btn">
                                            <%= btn_download(download_project_location_plan_path(@project), tooltip: "Download #{Project.human_attribute_name('location_plan_file')}") %>
                                        </span>
                                        <input type="text" class="form-control" disabled value="<%= @project.location_plan_file.file.filename %>">
                                    </div>
                                <% end %>
                                <%= f.file_field :location_plan_file, hide_label: true %>
                            </div>
                            <div class="form-group">
                                <label class="control-label" for="project_site_plan_file"><%= Project.human_attribute_name('site_plan_file') %></label>
                                <% if @project.id.present? && @project.site_plan_file.present? %>
                                    <div class="input-group">
                                        <span class="input-group-btn">
                                            <%= btn_download(download_project_site_plan_path(@project),tooltip: "Download #{Project.human_attribute_name('site_plan_file')}") %>
                                        </span>
                                        <input type="text" class="form-control" disabled value="<%= @project.site_plan_file.file.filename %>">
                                    </div>
                                <% end %>
                                <%= f.file_field :site_plan_file, hide_label: true %>
                            </div>
                            <div class="form-group">
                                <label class="control-label" for="project_design_brief_file"><%= Project.human_attribute_name('design_brief_file') %></label>
                                <% if @project.id.present? && @project.design_brief_file.present? %>
                                    <div class="input-group">
                                        <span class="input-group-btn">
                                            <%= btn_download(download_project_design_brief_path(@project), tooltip: "Download #{Project.human_attribute_name('design_brief_file')}") %>
                                        </span>
                                        <input type="text" class="form-control" disabled value="<%= @project.design_brief_file.file.filename %>">
                                    </div>
                                <% end %>
                                <%= f.file_field :design_brief_file, hide_label: true %>
                            </div>
                            <div class="form-group">
                                <label class="control-label" for="project_project_narrative_file"><%= Project.human_attribute_name('project_narrative_file') %></label>
                                <% if @project.id.present? && @project.project_narrative_file.present? %>
                                    <div class="input-group">
                                        <span class="input-group-btn">
                                            <%= btn_download(download_project_narrative_path(@project), tooltip: "Download #{Project.human_attribute_name('project_narrative_file')}") %>
                                        </span>
                                        <input type="text" class="form-control" disabled value="<%= @project.project_narrative_file.file.filename %>">
                                    </div>
                                <% end %>
                                <%= f.file_field :project_narrative_file, hide_label: true %>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <%= label_tag :lat, ('Latitude' + tooltip(t '.tooltip_latlng')).html_safe %>
                                        <%= text_field_tag :lat, @project.latlng.y, class: 'form-control' %>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <%= label_tag :lng, ('Longitude' + tooltip(t '.tooltip_latlng')).html_safe %>
                                        <%= text_field_tag :lng, @project.latlng.x, class: 'form-control' %>
                                    </div>
                                </div>
                            </div>
                            <div style="display:none;">
                                <%= f.text_field :latlng %>
                            </div>
                            <div id="project-map" class="map" style="height: 350px;"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <% if @project.new_record? %>
                                <%= f.form_group :terms_and_conditions_accepted do %>
                                    <%= f.check_box :terms_and_conditions_accepted do %>
                                        <small>Tick here to indicate you have read and agreed to the <%= link_to 'terms and conditions', asset_path('GSAS_Certification_TCs.pdf'), target: '_blank' %>.</small>
                                    <% end %>
                                <% end %>
                            <% end %>
                            <div class="hr-line-dashed"></div>
                            <% if can?(:create, @project) || can?(:update, @project) %>
                                <%= btn_save %>
                            <% end %>
                            <%= btn_cancel_to(projects_path) %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<% end %>
