<%= javascript_include_tag 'projects_chart/parser' %>
<%= javascript_include_tag 'projects_chart/index' %>
<%= javascript_include_tag 'projects_chart/projFunctions' %>
<%= javascript_include_tag 'projects_chart/helpers' %>
<%= javascript_include_tag 'projects_chart/graph' %>

<div class="modal-dialog modal-lg" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
    <div class="horizontal">       
      <div class="inputBox" >
          <button class="sidebarBtn" id="sidebarBtn" onclick="toggleSidebar()">
              <i class="fa fa-chevron-left" aria-hidden="true"></i>
          </button>
          <div id="sidebar" class="noScrollbar">
                        
              <div class="horizontal">
                  <div><label for="cutoff-year">Cut-off Date</label><input type="date" placeholder="Cut-off Date" id="cutoff-year" name="cutoff-year" value="2023-01-01" ></div>
                  <input type="file" accept=".csv" id="csvFile" hidden>
                  <button onclick="addProjects(res=>{projects = res; prepareInputBox();})" >Browse CSV file</button>
                  <button onclick="addProjects(res=>projects = [...projects, ...res]   )" >Append CSV file</button>
                  
              </div>
              <div class="verticalContainer marginChildren">
                  <div><label for="filter1">Group By</label><select id="filter1" name="filter1"></select></div>
                  <div><label for="filter2">Then Group By</label><select id="filter2" name="filter2"></select></div>
                  <div><label for="filter3">Then Group By</label><select id="filter3" name="filter3"></select></div>
                  <div><label for="filter4">Then Group By</label><select id="filter4" name="filter4"></select></div>
                  <div><label for="filter5">Then Group By</label><select id="filter5" name="filter5"></select></div>
                  <div><label for="filter6">Then Group By</label><select id="filter6" name="filter6"></select></div>
                  <hr>
                  <div><label for="graphSelect">Chart By</label><select id="graphSelect" name="graphSelect"></select></div>
                  <div><label for="graphChart">Chart Type</label><select id="graphChart" name="graphChart">
                      <option value="1">Sunburst</option>
                      <option value="2">Treemap</option>
                  </select></div>
                  
              </div>
              <div id="errorBox" hidden> </div>
              <div class="horizontal">
                  <button onclick="drawTables()">Refine Data</button>
                  <button onclick="exportToExcel()">Download Data</button>
                  <button onclick="copyTable()">Copy to Clipboard</button>
              </div>
              <div id="advancedFilters" class="horizontal">
                  <hr>
              </div>
            </div>
          </div>
    
          <div>
              <h1 class="primaryColor">Project Data Summary</h1>
              <div id="certData" class="noScrollbar">
              </div>
          </div>
          <div>
              <h1 class="primaryColor">Projects Chart</h1>
              <div id="chartDiv"></div>
          </div>
      </div>
      <div>
          <a hidden id="downloadAnchorElem"></a>
      </div>
      <div id="loader" class="loader"></div>
      <div id="modal" class="modal"></div>

      <div>
          <h1 class="primaryColor">Projects Chart</h1>
          <div id="chartDiv"></div>
      </div>
    </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
    </div>
  </div>


