<div class="ibox float-e-margins">
    <div class="ibox-title">
        <h5>Listing projects</h5>
    </div>
    <div class="ibox-content">
        <table class="table table-bordered table-hover datatable">
            <thead>
            <tr>
                <th><%= Project.human_attribute_name('code') %></th>
                <th><%= Project.human_attribute_name('name') %></th>
                <th><%= Project.human_attribute_name('description') %></th>
                <th><%= Project.human_attribute_name('country') %></th>
            </tr>
            </thead>
            <tbody>
            <% @projects.each do |project| %>
                <tr class="clickable" data-href="<%= project_path(project) %>">
                    <td><%= project.code %></td>
                    <td>
                        <%= project.name %>
                    </td>
                    <td><%= project.description %><br>
                        <% if project.certification_paths.count > 0 %>
                            <% project.certification_paths.each do |certification_path| %>
                                <% if certification_path.preassessment? %>
                                    <div class="project-certification-progress"><%= certification_path.certificate.label %>: <%= certification_path.status %> for <%= RequirementDatum.for_certification_path(certification_path).completed.count * 100 / RequirementDatum.for_certification_path(certification_path).count %>% complete</div>
                                <% else %>
                                    <div class="project-certification-progress"><%= certification_path.certificate.label %>: <%= certification_path.status %></div>
                                <% end %>
                            <% end %>
                        <% end %>
                    </td>
                    <td><%= project.country %></td>
                </tr>
            <% end %>
            </tbody>
        </table>

        <div class="hr-line-dashed"></div>


        <%= link_to 'New Project', new_project_path, class: 'btn btn-primary' %>
    </div>
</div>
