<script src="https://d3js.org/d3.v7.min.js"></script>

<div class="col-md-12">
    <div class="ibox">
        <!-- <div class="ibox-title">
            <h5><%= t('.title_html') %></h5>
        </div> -->
        <div class="ibox-content px-0 pt-0" id="projects-table" data-user-role="<%= current_user.role %>">
            <%= render_datatable(@datatable) %>
            <% if can? :create, Project.new %>
                <div class="hr-line-dashed"></div>
                <%= btn_link_to(new_project_path, icon: 'building-o', text: t('.btn_new_project')) %>
            <% end %>

            <%= btn_tag({id: 'projects-chart-button', icon: 'pie-chart', text: 'Projects Statistics', disabling: true, data: { disable_with: true }}) %>
        </div>
    </div>
</div>

<!-- Display projects chart -->
<div id='projects-chart-div' class="modal fade"></div>

<script>
    $(document).ready(function(){
        if(<%= current_user.record_checker? %>) {
            $('.btn-group').find('.buttons-copy, .buttons-csv, .buttons-print').css('display', 'none')
            $('.ibox-content').addClass('unselectable')
            $(document).on('keydown', function(e) {
                if((e.ctrlKey || e.metaKey) && (e.key == "p" || e.charCode == 16 || e.charCode == 112 || e.keyCode == 80) ){
                    e.cancelBubble = true;
                    e.preventDefault();
                    e.stopImmediatePropagation();
                }  
            });
        }
        $('body').addClass('page-bg-dark');
        $('.dataTables_entries').parent().closest('div').addClass('dataTable-pagination');

        $("#projects-chart-button").on('click', function(){
          $.ajax({
              url: "/projects/get_projects_chart",
              method: "GET",
              error: function() {
                  alert('Something went wrong !');
              }
          });
        });
    });
</script>

<style>
    .unselectable {
        -webkit-user-select: none;
        -webkit-touch-callout: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
</style>