<div class="ibox float-e-margins">
    <div class="ibox-title">
        <h5>Project overview</h5>
    </div>
    <div class="ibox-content">
        <table class="table table-bordered table-hover nowrap datatable dt-responsive" cellspacing="0" width="100%">
            <thead>
            <!--https://datatables.net/extensions/responsive/examples/display-control/classes.html-->
            <tr>
                <th class="all"><%= Project.human_attribute_name('code') %></th>
                <th class="all"><%= Project.human_attribute_name('name') %></th>
                <th class="desktop">LOC</th>
                <th class="desktop">Final Design</th>
                <th class="desktop">Construction</th>
                <th class="desktop">Operations</th>
                <th class="desktop">Design Scheme(s)</th>
                <th class="none"><%= Project.human_attribute_name('country') %></th>
                <th class="none"><%= Project.human_attribute_name('construction_year') %></th>
                <th class="none"><%= Project.human_attribute_name('description') %></th>
            </tr>
            </thead>
            <tbody>
            <% @projects.each do |project| %>
                <tr>
                    <td>
                        <%= project.code %>
                    </td>
                    <td>
                        <%= link_to project_path(project) do %>
                            <%= project.name %>
                        <% end %>
                    </td>
                    <td>
                        <ul class="list-unstyled">
                            <% project.certification_paths.letter_of_conformance.each do |certification_path| %>
                                <li>
                                    <%= render 'certification_paths/summary', certification_path: certification_path %>
                                </li>
                            <% end %>
                        </ul>
                    </td>
                    <td>
                        <ul class="list-unstyled">
                            <% project.certification_paths.final_design_certificate.each do |certification_path| %>
                                <li><%= render 'certification_paths/summary', certification_path: certification_path %></li>
                            <% end %>
                        </ul>
                    </td>
                    <td>
                        <ul class="list-unstyled">
                            <% project.certification_paths.construction_certificate.each do |certification_path| %>
                                <li><%= render 'certification_paths/summary', certification_path: certification_path %></li>
                            <% end %>
                        </ul>
                    </td>
                    <td>
                        <ul class="list-unstyled">
                            <% project.certification_paths.operations_certificate.each do |certification_path| %>
                                <li><%= render 'certification_paths/summary', certification_path: certification_path %></li>
                            <% end %>
                        </ul>
                    </td>
                    <td>
                        <% if project.certification_paths.letter_of_conformance.present? %>
                            <% certification_path = project.certification_paths.letter_of_conformance.first %>
                            <% certification_path.scheme_mixes.each do |scheme_mix| %>
                                <div>
                                    <!--%= link_to project_certification_path_scheme_mix_path(project, certification_path, scheme_mix) do %-->
                                        <%= scheme_mix.name %>
                                    <!--% end %-->
                                </div>
                            <% end %>

                        <% end %>
                    </td>
                    <td>
                        <%= project.country %>
                    </td>
                    <td>
                        <%= project.construction_year %>
                    </td>
                    <td>
                        <%= project.description %>
                    </td>
                </tr>
            <% end %>
            </tbody>
        </table>

        <div class="hr-line-dashed"></div>


        <%= link_to 'New Project', new_project_path, class: 'btn btn-primary' %>
    </div>
</div>
