<div class="row">
    <div class="col-md-4">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Project details</h5>
            </div>
            <div class="ibox-content">
                <p>
                  <strong>Name:</strong>
                  <%= @project.name %>
                </p>
                <p>
                    <strong>Description:</strong>
                    <%= @project.description %>
                </p>
                <p>
                    <strong>Address:</strong>
                    <%= @project.address %>
                </p>
                <p>
                    <strong>Location:</strong>
                    <%= @project.location %>
                </p>
                <p>
                    <strong>Country:</strong>
                    <%= @project.country%>
                </p>
                <p>
                    <strong>Gross area:</strong>
                    <%= @project.gross_area %> m²
                </p>
                <p>
                    <strong>Certified area:</strong>
                    <%= @project.certified_area %> m²
                </p>
                <p>
                    <strong>Carpark area:</strong>
                    <%= @project.carpark_area%> m²
                </p>
                <p>
                    <strong>Project site area:</strong>
                    <%= @project.project_site_area %> m²
                </p>
                <div class="hr-line-dashed"></div>
                    <%= link_to 'Edit', edit_project_path(@project), :class => 'btn btn-primary' %>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Certificates</h5>
            </div>
            <div class="ibox-content">
                <table class="table table-striped table-bordered table-hover">
                    <thead>
                        <tr>
                            <th class="col-md-10">Stage</th>
                            <th class="col-md-2">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                    <% @project.certification_paths.each do |certification_path| %>
                        <tr>
                            <td><%= certification_path.certificate.label %></td>
                            <td>
                                <%= link_to raw('<i title="Show" class="fa fa-search" style="padding-right: 10px;"></i>'), project_certification_path_path(@project, certification_path) %>
                            </td>
                        </tr>
                    <% end %>
                    </tbody>
                </table>
                <div class="hr-line-dashed"></div>
                <%= link_to 'Apply for another certificate', new_project_certification_path_path(@project), :class => 'btn btn-primary' %>

            </div>
        </div>
    </div>
</div>
<div class="row">

</div>
