<% use_gmaps_for(:project) %>

<div class="row">
    <div class="col-md-4">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <%= audit_log_label(@project) %>
                <h5>Project details</h5>
            </div>
            <div class="ibox-content">
                <table class="table table-bordered table-striped">
                    <tbody>
                    <tr>
                        <th><%= Project.human_attribute_name('code') %></th>
                        <td><%= @project.code %></td>
                    </tr>
                    <tr>
                        <th><%= Project.human_attribute_name('name') %></th>
                        <td><%= @project.name %></td>
                    </tr>
                    <tr>
                        <th><%= Project.human_attribute_name('description') %></th>
                        <td><%= @project.description %></td>
                    </tr>
                    <tr>
                        <th><%= Project.human_attribute_name('address') %></th>
                        <td><%= @project.address %></td>
                    </tr>
                    <tr>
                        <th><%= Project.human_attribute_name('location') %></th>
                        <td><%= @project.location %></td>
                    </tr>
                    <tr>
                        <th><%= Project.human_attribute_name('country') %></th>
                        <td><%= @project.country %></td>
                    </tr>
                    <tr>
                        <th><%= Project.human_attribute_name('construction_year') %></th>
                        <td><%= @project.construction_year %></td>
                    </tr>
                    <tr>
                        <th><%= Project.human_attribute_name('gross_area') %></th>
                        <td><%= @project.gross_area %> m²</td>
                    </tr>
                    <tr>
                        <th><%= Project.human_attribute_name('certified_area') %></th>
                        <td><%= @project.certified_area %> m²</td>
                    </tr>
                    <tr>
                        <th><%= Project.human_attribute_name('carpark_area') %></th>
                        <td><%= @project.carpark_area %> m²</td>
                    </tr>
                    <tr>
                        <th><%= Project.human_attribute_name('project_site_area') %></th>
                        <td><%= @project.project_site_area %> m²</td>
                    </tr>

                    <tr>
                        <th><%= Project.human_attribute_name('location_plan_file') %></th>
                        <td>
                            <% if @project.location_plan_file.present? %>
                                <% if can? :download_location_plan, @project %>
                                    <%= link_to(download_project_location_plan_path(@project.id), class: 'btn btn-xs btn-primary') do %>
                                        <%= fa_icon('download', {size: 'sm', title: "Download #{Project.human_attribute_name('location_plan_file')}"}) %>
                                    <% end %>
                                <% end %>
                                <%= truncate(@project.location_plan_file.file.filename, length: 35) %>
                            <% end %>
                        </td>
                    </tr>

                    <tr>
                        <th><%= Project.human_attribute_name('site_plan_file') %></th>
                        <td>
                            <% if @project.site_plan_file.present? %>
                                <% if can? :download_site_plan, @project %>
                                    <%= link_to(download_project_site_plan_path(@project.id), class: 'btn btn-xs btn-primary') do %>
                                        <%= fa_icon('download', {size: 'sm', title: "Download #{Project.human_attribute_name('site_plan_file')}"}) %>
                                    <% end %>
                                <% end %>
                                <%= truncate(@project.site_plan_file.file.filename, length: 35) %>
                            <% end %>
                        </td>
                    </tr>

                    <tr>
                        <th><%= Project.human_attribute_name('design_brief_file') %></th>
                        <td>
                            <% if @project.design_brief_file.present? %>
                                <% if can? :download_design_brief, @project %>
                                    <%= link_to(download_project_design_brief_path(@project.id), class: 'btn btn-xs btn-primary') do %>
                                        <%= fa_icon('download', {size: 'sm', title: "Download #{Project.human_attribute_name('design_brief_file')}"}) %>
                                    <% end %>
                                <% end %>
                                <%= truncate(@project.design_brief_file.file.filename, length: 35) %>
                            <% end %>
                        </td>
                    </tr>


                    <tr>
                        <th><%= Project.human_attribute_name('project_narrative_file') %></th>
                        <td>
                            <% if @project.project_narrative_file.present? %>
                                <% if can? :download_project_narrative, @project %>
                                    <%= link_to(download_project_narrative_path(@project.id), class: 'btn btn-xs btn-primary') do %>
                                        <%= fa_icon('download', {size: 'sm', title: "Download #{Project.human_attribute_name('project_narrative_file')}"}) %>
                                    <% end %>
                                <% end %>
                                <%= truncate(@project.project_narrative_file.file.filename, length: 35) %>
                            <% end %>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <input type="hidden" id="project_latlng" value="<%= @project.latlng %>"/>

                <div id="project-map" class="map" style="height: 300px;"></div>
                <% if can? :update, @project %>
                    <div class="hr-line-dashed"></div>
                    <%= link_to edit_project_path(@project), :class => 'btn btn-primary' do %>
                        <%= fa_icon('edit', 'Edit', {title: 'Edit project'}) %>
                    <% end %>
                <% end %>
            </div>
        </div>
    </div>
    <div class="col-md-8">

        <% if can? :show_tools, @project %>
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Project Tools</h5>
                </div>
                <div class="ibox-content">
                    <%= link_to tools_project_path(@project) do %>
                        <%= fa_icon('street-view', '3D Visualization') %>
                    <% end %>
                </div>
            </div>
        <% end %>

        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Certificates</h5>
            </div>
            <div class="ibox-content">
                <%= render partial: 'certification_paths/overview', locals: {project: @project} %>
            </div>
        </div>

        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Project team</h5>
            </div>
            <div class="ibox-content">
                <% if @project.projects_users.assessors.distinct.count.zero? %>
                    <p>This project has no team members.</p>
                <% else %>
                    <table class="table table-striped table-bordered table-hover datatable" cellspacing="0" width="100%">
                        <thead>
                        <tr>
                            <th>Member</th>
                            <th>Role</th>
                            <th>Tasks</th>
                        </tr>
                        </thead>
                        <tbody>
                        <% @project.projects_users.assessors.distinct.each do |assessor| %>
                            <tr>
                                <td>
                                    <%= can_link_to(project_user_path(@project, assessor), assessor) do %>
                                        <%= assessor.user.email %>
                                        <% if @project.owner == assessor.user %>
                                            <%= fa_icon('home', {title: 'Project owner'}) %>
                                        <% end %>
                                    <% end %>
                                </td>
                                <td>
                                    <%= assessor.role.humanize %>
                                </td>
                                <td>
                                    <% if assessor.enterprise_account? %>
                                        ---
                                    <% else %>
                                        <span class="badge"><%= TaskService::count_tasks(user: assessor.user, project_id: @project.id) %></span>
                                    <% end %>
                                </td>
                            </tr>
                        <% end %>
                        </tbody>
                    </table>
                <% end %>
                <% if can?(:create, ProjectsUser.new(:project_id => @project.id, :role => ProjectsUser.roles[:project_team_member])) or can?(:create, ProjectsUser.new(:project_id => @project.id, :role => ProjectsUser.roles[:project_manager])) or can?(:create, ProjectsUser.new(:project_id => @project.id, :role => ProjectsUser.roles[:enterprise_account])) %>
                    <div class="hr-line-dashed"></div>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addProjectTeamMemberModal">
                        <%= fa_icon('user-plus', "#{t('.btn_add_project_team_member')}", {title: 'Add team member'}) %>
                    </button>
                <% end %>
            </div>
        </div>

        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Certifier team</h5>
            </div>
            <div class="ibox-content">
                <% if @project.projects_users.certifiers.distinct.count.zero? %>
                    <p>This project has no certifiers.</p>
                <% else %>
                    <table class="table table-striped table-bordered table-hover datatable" cellspacing="0" width="100%">
                        <thead>
                        <tr>
                            <th>Member</th>
                            <th>Role</th>
                            <th>Tasks</th>
                        </tr>
                        </thead>
                        <tbody>
                        <% User.where.not(role: [User.roles[:user]]).each do |user| %>
                            <tr>
                                <td>
                                    <% if user == current_user %>
                                        <%= link_to tasks_path(project_id: @project.id) do %>
                                            <%= user.email %>
                                        <% end %>
                                    <% else %>
                                        <%= user.email %>
                                    <% end %>
                                </td>
                                <td>
                                    <%= user.role.humanize %>
                                </td>
                                <td>
                                    <span class="badge"><%= TaskService::count_tasks(user: user, project_id: @project.id) %></span>
                                </td>
                            </tr>
                        <% end %>
                        <% @project.projects_users.certifiers.distinct.each do |certifier| %>
                            <tr>
                                <td>
                                    <%= can_link_to(project_user_path(@project, certifier), certifier) do %>
                                        <%= certifier.user.email %>
                                    <% end %>
                                </td>
                                <td>
                                    <%= certifier.role.humanize %>
                                </td>
                                <td>
                                    <span class="badge"><%= TaskService::count_tasks(user: certifier.user, project_id: @project.id) %></span>
                                </td>
                            </tr>
                        <% end %>
                        </tbody>
                    </table>
                <% end %>
                <!--current_user.certifier_manager?(@project)-->
                <% if can?(:create, ProjectsUser.new(:project_id => @project.id, :role => ProjectsUser.roles[:certifier])) or can?(:create, ProjectsUser.new(:project_id => @project.id, :role => ProjectsUser.roles[:certifier_manager])) %>
                    <div class="hr-line-dashed"></div>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addCertifierTeamMemberModal">
                        <%= fa_icon('user-plus', "#{t('.btn_add_certifier_team_member')}", 'Add certifier member') %>
                    </button>
                <% end %>
            </div>
        </div>
    </div>
</div>
<%= render 'projects_users/form', show_certifiers: true %>
<%= render 'projects_users/form', show_certifiers: false %>
<%= javascript_include_tag 'select_user' %>