<% use_gmaps_for(:project) %>

<div class="row">
    <div class="col-md-4">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Project details</h5>
            </div>
            <div class="ibox-content">
                <p>
                    <strong><%= Project.human_attribute_name('code') %>:</strong>
                    <%= @project.code %>
                </p>
                <p>
                  <strong><%= Project.human_attribute_name('name') %>:</strong>
                  <%= @project.name %>
                </p>
                <p>
                    <strong><%= Project.human_attribute_name('description') %>:</strong>
                    <%= @project.description %>
                </p>
                <p>
                    <strong><%= Project.human_attribute_name('address') %>:</strong>
                    <%= @project.address %>
                </p>
                <p>
                    <strong><%= Project.human_attribute_name('location') %>:</strong>
                    <%= @project.location %>
                </p>
                <p>
                    <strong><%= Project.human_attribute_name('country') %>:</strong>
                    <%= @project.country%>
                </p>
                <p>
                    <strong><%= Project.human_attribute_name('gross_area') %>:</strong>
                    <%= @project.gross_area %> m²
                </p>
                <p>
                    <strong><%= Project.human_attribute_name('certified_area') %>:</strong>
                    <%= @project.certified_area %> m²
                </p>
                <p>
                    <strong><%= Project.human_attribute_name('carpark_area') %>:</strong>
                    <%= @project.carpark_area%> m²
                </p>
                <p>
                    <strong><%= Project.human_attribute_name('project_site_area') %>:</strong>
                    <%= @project.project_site_area %> m²
                </p>
                <p>
                    <input type="hidden" id="project_latlng" value="<%= @project.latlng %>" />
                    <div id="project-map" class="map" style="height: 300px;"></div>
                </p>
                <div class="hr-line-dashed"></div>
                <% if can? :manage, @project %>
                    <%= link_to 'Edit', edit_project_path(@project), :class => 'btn btn-primary' %>
                <% end %>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Certificates</h5>
            </div>
            <div class="ibox-content">
                <% if @project.certification_paths.count == 0 %>
                    <p>This project hasn't applied for any certificate yet.</p>
                <% else %>
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <th class="col-md-3">Stage</th>
                                <th class="col-md-2">Status</th>
                                <th class="col-md-2">Certification goal</th>
                                <th class="col-md-2">Current rating</th>
                                <th class="col-md-1">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                        <% @project.certification_paths.each do |certification_path| %>
                            <tr>
                                <td><%= certification_path.certificate.label %></td>
                                <td><%= certification_path.status.humanize %></td>
                                <% targeted_score = certification_path.total_weighted_targeted_score %>
                                <% stars = certification_path.star_rating_for_score(targeted_score) %>
                                <td>
                                    <%= stars %> Stars&nbsp;
                                    (<% stars.times do %>
                                        <i class="fa fa-star"></i>
                                    <% end %>) - <%= targeted_score %>
                                </td>
                                <% submitted_score = certification_path.total_weighted_submitted_score %>
                                <% stars = certification_path.star_rating_for_score(submitted_score) %>
                                <td>
                                    <%= stars %> Stars&nbsp;
                                    (<% stars.times do %>
                                        <i class="fa fa-star"></i>
                                    <% end %>) - <%= submitted_score %>
                                </td>
                                <td>
                                    <%= link_to raw('<i title="Show" class="fa fa-lg fa-search" style="padding-right: 10px;"></i>'), project_certification_path_path(@project, certification_path) %>
                                    <% if can? :manage, certification_path %>
                                    <%= link_to raw('<i title="Edit" class="fa fa-lg fa-edit" style="padding-right: 10px;"></i>'), edit_project_certification_path_path(@project, certification_path) %>
                                    <% end %>
                                </td>
                            </tr>
                        <% end %>
                        </tbody>
                    </table>
                <% end %>
                <div class="hr-line-dashed"></div>
                <% if can? :manage, @project %>
                    <%= link_to 'Apply for a certificate', new_project_certification_path_path(@project), :class => 'btn btn-primary' %>
                <% end %>
            </div>
        </div>
        <% if (@project.project_authorizations.count == 0) || (can? :read, @project.project_authorizations.first) %>
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Project team</h5>
                </div>
                <div class="ibox-content">
                    <% if @project.users.distinct.count == 0%>
                    <p>This project has no team members.</p>
                    <% else %>
                    <table class="table table-striped table-bordered table-hover datatable">
                        <thead>
                        <tr>
                            <th>Member</th>
                            <th>Role</th>
                            <th>Requirement progress</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>Unassigned</td>
                            <td>-</td>
                            <td><%= RequirementDatum.for_project(@project).unassigned.count %>/<%= RequirementDatum.for_project(@project).count %></td>
                            <td></td>
                        </tr>
                        <% @project.users.distinct.each do |user| %>
                        <tr>
                            <% project_authorization = user.project_authorizations.for_project(@project).first %>
                            <td><%= user.email %></td>
                            <td><%= project_authorization.role.humanize %></td>
                            <td><%= user.requirement_data.for_project(@project).provided.count %>/<%= user.requirement_data.for_project(@project).count %></td>
                            <td>
                            <% if can? :edit, project_authorization %>
                                <%= link_to raw('<i title="Edit authorization" class="fa fa-lg fa-edit" style="padding-right: 10px;"></i>'),  edit_project_authorization_path(@project, project_authorization) %>
                            <% end %>
                            <% if can? :destroy, project_authorization %>
                                <%= link_to raw('<i title="Delete authorization" class="fa fa-lg fa-trash" style="padding-right: 10px;"></i>'), project_authorization_path(@project, project_authorization), method: :delete, data: {confirm: 'Are you sure?'} %>
                            <% end %>
                            </td>
                        </tr>
                        <% end %>
                        </tbody>
                    </table>
                    <% end %>
                    <div class="hr-line-dashed"></div>
                    <% if (@project.project_authorizations.count == 0) ||  (can? :manage, @project.project_authorizations.first) %>
                        <%= link_to t('.btn_add_project_team_member'), new_project_authorization_path(@project), class: 'btn btn-primary' %>
                    <% end %>
                </div>
            </div>
        <% end %>
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Project Tasks</h5>
                </div>
                <div class="ibox-content">
                    <% if current_user.requirement_data.count == 0 %>
                        <p>No tasks are assigned to you.</p>
                    <% else %>
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th class="col-md-1">Code</th>
                            <th>Criteria</th>
                        </tr>
                        </thead>
                        <tbody>
                        <% SchemeMixCriterion.for_project(@project).assigned_to_user(current_user).order_by_code.group([:id, 'scheme_criteria.code', 'criteria.name']).each do |scheme_mix_criterion| %>
                            <tr>
                                <td><%= scheme_mix_criterion.scheme_criterion.code %></td>
                                <td><%= link_to scheme_mix_criterion.scheme_criterion.criterion.name, edit_project_certification_path_scheme_mix_scheme_mix_criterion_path(@project, scheme_mix_criterion.scheme_mix.certification_path, scheme_mix_criterion.scheme_mix, scheme_mix_criterion), class: 'btn btn-default' %></td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <table class="table">
                                        <thead>
                                        <tr>
                                            <th class="col-md-1">Provided</th>
                                            <th class="col-md-9">Requirement</th>
                                            <th class="col-md-2">Due date</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                            <% scheme_mix_criterion.requirement_data.assigned_to_user(current_user).each do |requirement_data| %>
                                                <tr>
                                                    <td><% if !requirement_data.required? %><i class="fa fa-check-square-o"></i><% else %><i class="fa fa-square-o"></i><% end %></td>
                                                    <td><%= requirement_data.requirement.label %></td>
                                                    <td><%= requirement_data.due_date %></td>
                                                </tr>
                                            <% end %>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        <% end %>
                        </tbody>
                    </table>
                    <% end %>
                </div>
            </div>
    </div>
</div>