<% use_gmaps_for(:project) %>

<div class="row">
    <div class="col-md-4">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Project details</h5>
            </div>
            <div class="ibox-content">
                <p>
                  <strong>Name:</strong>
                  <%= @project.name %>
                </p>
                <p>
                    <strong>Description:</strong>
                    <%= @project.description %>
                </p>
                <p>
                    <strong>Address:</strong>
                    <%= @project.address %>
                </p>
                <p>
                    <strong>Location:</strong>
                    <%= @project.location %>
                </p>
                <p>
                    <strong>Country:</strong>
                    <%= @project.country%>
                </p>
                <p>
                    <strong>Gross area:</strong>
                    <%= @project.gross_area %> m²
                </p>
                <p>
                    <strong>Certified area:</strong>
                    <%= @project.certified_area %> m²
                </p>
                <p>
                    <strong>Carpark area:</strong>
                    <%= @project.carpark_area%> m²
                </p>
                <p>
                    <strong>Project site area:</strong>
                    <%= @project.project_site_area %> m²
                </p>
                <p>
                    <input type="hidden" id="project_latlng" value="<%= @project.latlng %>" />
                    <div id="project-map" class="map" style="height: 300px;"></div>
                </p>
                <div class="hr-line-dashed"></div>
                    <%= link_to 'Edit', edit_project_path(@project), :class => 'btn btn-primary' %>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Certificates</h5>
            </div>
            <div class="ibox-content">
                <% if @project.certification_paths.count == 0 %>
                    <p>This project hasn't applied for any certificate yet.</p>
                <% else %>
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <th class="col-md-5">Stage</th>
                                <th class="col-md-2">Certification goal</th>
                                <th class="col-md-2">Current rating</th>
                                <th class="col-md-1">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                        <% @project.certification_paths.each do |certification_path| %>
                            <tr>
                                <td><%= certification_path.certificate.label %></td>
                                <% targeted_score = certification_path.total_weighted_targeted_score %>
                                <% stars = certification_path.star_rating_for_score(targeted_score) %>
                                <td>
                                    <%= stars %> Stars&nbsp;
                                    (<% stars.times do %>
                                        <i class="fa fa-star"></i>
                                    <% end %>) - <%= targeted_score %>
                                </td>
                                <% submitted_score = certification_path.total_weighted_submitted_score %>
                                <% stars = certification_path.star_rating_for_score(submitted_score) %>
                                <td>
                                    <%= stars %> Stars&nbsp;
                                    (<% stars.times do %>
                                        <i class="fa fa-star"></i>
                                    <% end %>) - <%= submitted_score %>
                                </td>
                                <td>
                                    <%= link_to raw('<i title="Show" class="fa fa-lg fa-search" style="padding-right: 10px;"></i>'), project_certification_path_path(@project, certification_path) %>
                                </td>
                            </tr>
                        <% end %>
                        </tbody>
                    </table>
                <% end %>
                <div class="hr-line-dashed"></div>
                <%= link_to 'Apply for a certificate', new_project_certification_path_path(@project), :class => 'btn btn-primary' %>
            </div>
        </div>
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Project team</h5>
            </div>
            <div class="ibox-content">
                <p>
                    <strong>Assessor PM:</strong>
                    <%= @project.owner.email if not @project.owner.nil? %>
                </p>
                <p>
                    <strong>Enterprise client:</strong>
                    <%= @project.client.email if not @project.client.nil? %>
                </p>
                <p>
                    <strong>Certifier PM:</strong>
                    <%= @project.certifier.email if not @project.certifier.nil?%>
                </p>
                <div class="hr-line-dashed"></div>
                <% if @project.users.distinct.count == 0%>
                <p>This project has no team members.</p>
                <% else %>
                <table class="table table-striped table-bordered table-hover datatable">
                    <thead>
                    <tr>
                        <th>Member</th>
                        <th>Requirement progress</th>
                    </tr>
                    </thead>
                    <tbody>
                    <% @project.users.distinct.each do |user| %>
                    <tr>
                        <td><%= user.email %></td>
                        <td><%= RequirementDatum.for_user_and_project(user, @project).provided.count %>/<%= RequirementDatum.for_user_and_project(user, @project).count %></td>
                    </tr>
                    <% end %>
                    </tbody>
                </table>
                <% end %>
                <div class="hr-line-dashed"></div>
            </div>
        </div>
    </div>
</div>