<% use_gmaps_for(:project) %>

<div class="row">
  <div class="col-md-4">
    <div class="ibox float-e-margins">
      <div class="ibox-title">
        <%= audit_log_label(@project) %>
        <h5><%= t('.project_details.title') %></h5>
      </div>
      <div class="ibox-content">
        <table class="table table-bordered table-striped project-details-table">
          <tbody>
            <tr>
              <th><%= Project.human_attribute_name('code') %></th>
              <td><%= @project.code %></td>
            </tr>
            <tr>
              <th><%= Project.human_attribute_name('name') %></th>
              <td><%= @project.name %></td>
            </tr>
            <tr>
              <th><%= Project.human_attribute_name('country') %></th>
              <td><%= @project.country %></td>
            </tr>
            <tr>
              <th><%= Project.human_attribute_name('address') %></th>
              <td><%= @project.address %></td>
            </tr>
            <tr>
              <th><%= Project.human_attribute_name('location') %></th>
              <td><%= @project.location %></td>
            </tr>
            <tr>
              <th><%= Project.human_attribute_name('owner') %></th>
              <td><%= @project.owner %></td>
            </tr>
            <tr>
              <th><%= Project.human_attribute_name('developer') %></th>
              <td><%= @project.developer %></td>
            </tr>
            <tr>
              <th><%= Project.human_attribute_name('construction_year') %></th>
              <td><%= @project.construction_year %></td>
            </tr>
            <tr>
              <th><%= Project.human_attribute_name('estimated_project_cost') %></th>
              <td><%= @project.estimated_project_cost %></td>
            </tr>
            <tr>
              <th><%= Project.human_attribute_name('project_site_area') %></th>
              <td><%= @project.project_site_area %> m²</td>
            </tr>
            <tr>
              <th><%= Project.human_attribute_name('gross_area') %></th>
              <td><%= @project.gross_area %> m²</td>
            </tr>
            <tr>
              <th><%= Project.human_attribute_name('buildings_footprint_area') %></th>
              <td><%= @project.buildings_footprint_area %> m²</td>
            </tr>
            <tr>
              <th><%= Project.human_attribute_name('certified_area') %></th>
              <td><%= @project.certified_area %> m²</td>
            </tr>
            <tr>
              <th><%= Project.human_attribute_name('carpark_area') %></th>
              <td><%= @project.carpark_area %> m²</td>
            </tr>
            <tr>
              <th><%= Project.human_attribute_name('building_type_id') %></th>
              <td><%= @project.building_type.name if @project.building_type.present? %></td>
            </tr>
            <tr>
              <th><%= Project.human_attribute_name('building_type_group_id') %></th>
              <td><%= @project.building_type_group.name if @project.building_type_group.present? %></td>
            </tr>

            <% if @project.building_type_group_id == 8 %>
              <tr>
                <th><%= Project.human_attribute_name('estimated_building_cost') %></th>
                <td><%= @project.estimated_building_cost %></td>
              </tr>
              <tr>
                <th><%= Project.human_attribute_name('estimated_infrastructure_cost') %></th>
                <td><%= @project.estimated_infrastructure_cost %></td>
              </tr>
            <% end %>

            <tr>
              <th><%= Project.human_attribute_name('location_plan_file') %></th>
              <td>
                <% if @project.location_plan_file.present? %>
                  <% if can? :download_location_plan, @project %>
                    <%= btn_download(download_project_location_plan_path(@project), size: 'extra_small', tooltip: "Download #{Project.human_attribute_name('location_plan_file')}") %>
                  <% end %>
                  <%= truncate(@project.location_plan_file.file.filename, length: 35) %>
                <% end %>
              </td>
            </tr>

            <tr>
              <th><%= Project.human_attribute_name('site_plan_file') %></th>
              <td>
                <% if @project.site_plan_file.present? %>
                  <% if can? :download_site_plan, @project %>
                    <%= btn_download(download_project_site_plan_path(@project), size: 'extra_small', tooltip: "Download #{Project.human_attribute_name('site_plan_file')}") %>
                  <% end %>
                  <%= truncate(@project.site_plan_file.file.filename, length: 35) %>
                <% end %>
              </td>
            </tr>
    
            <% if @project.project_narrative_file.present? %>
              <tr>
                <th><%= Project.human_attribute_name('project_narrative_file') %></th>
                <td>
                    <% if can? :download_project_narrative, @project %>
                      <%= btn_download(download_project_narrative_path(@project), size: 'extra_small', tooltip: "Download #{Project.human_attribute_name('project_narrative_file')}") %>
                    <% end %>
                    <%= truncate(@project.project_narrative_file.file.filename, length: 35) %>
                </td>
              </tr>
            <% else %>
              <tr>
                <th><%= Project.human_attribute_name('area_statement_file') %></th>
                <td>
                  <% if @project.area_statement_file.present? %>
                    <% if can? :download_area_statement, @project %>
                      <%= btn_download(download_area_statement_path(@project), size: 'extra_small', tooltip: "Download #{Project.human_attribute_name('area_statement_file')}") %>
                    <% end %>
                    <%= truncate(@project.area_statement_file.file.filename, length: 35) %>
                  <% end %>
                </td>
              </tr>
            <% end %>

            <tr>
              <th><%= Project.human_attribute_name('design_brief_file') %></th>
              <td>
                <% if @project.design_brief_file.present? %>
                  <% if can? :download_design_brief, @project %>
                    <%= btn_download(download_project_design_brief_path(@project), size: 'extra_small', tooltip: "Download #{Project.human_attribute_name('design_brief_file')}") %>
                  <% end %>
                  <%= truncate(@project.design_brief_file.file.filename, length: 35) %>
                <% end %>
              </td>
            </tr>

            <tr>
              <th><%= Project.human_attribute_name('sustainability_features_file') %></th>
              <td>
                <% if @project.sustainability_features_file.present? %>
                  <% if can? :download_sustainability_features, @project %>
                    <%= btn_download(download_sustainability_features_path(@project), size: 'extra_small', tooltip: "Download #{Project.human_attribute_name('sustainability_features_file')}") %>
                  <% end %>
                  <%= truncate(@project.sustainability_features_file.file.filename, length: 35) %>
                <% end %>
              </td>
            </tr>

            <% if [Certificate.certificate_types['design_type'],  Certificate.certificate_types['operations_type']].include?(@project.certificate_type) %>
              <% if @project.can_upload_actual_image? %>
                <% if can?(:read, ActualProjectImage.new(project_id: @project.id)) %>
                  <% if can?(:create, ActualProjectImage.new(project_id: @project.id)) %>
                    <tr>
                      <th><%= Project.human_attribute_name('project_actual_images') %></th>
                      <td>
                        <% if @project.actual_project_images.present? %>
                          <% @project.actual_project_images.each do |project_actual_image| %>
                            <div class="row mb-1rem">
                              <div class="col-md-8">
                                <%= image_tag(icon_for_filename(project_actual_image['actual_image']), alt: project_actual_image.actual_image.content_type, title: project_actual_image.actual_image.content_type) + ' ' + truncate(project_actual_image['actual_image'], length: 25) %>
                              </div>

                              <div class="col-md-4">
                                <% if can?(:read, project_actual_image) %>
                                  <%= btn_download(project_actual_project_image_path(@project, project_actual_image), size: 'small', tooltip: 'Download image') %>
                                <% end %>
                                <% if can?(:destroy, project_actual_image) %>
                                  <%= btn_link_to(project_actual_project_image_path(@project, project_actual_image), method: :delete, data: { confirm: 'Are you sure to delete the image?'}, style: 'danger', size: 'small', icon: 'trash', tooltip: 'Delete image') %>
                                <% end %>                            
                              </div>
                            </div>
                          <% end %>
                        <% else %>
                          <%= render partial: 'actual_project_images/form', locals: { project: @project } %>
                        <% end %>
                      </td>
                    </tr>
                  <% end %>
                <% end %>
              <% end %>
              <% if @project.can_upload_project_rendering_image? %>
                <% if can?(:read, ProjectRenderingImage.new(project_id: @project.id)) %>
                  <% if can?(:create, ProjectRenderingImage.new(project_id: @project.id)) %>
                    <tr>
                      <th><%= Project.human_attribute_name('project_rendering_images') %></th>
                      <td>
                        <% if @project.project_rendering_images.present? %>
                          <% @project.project_rendering_images.each do |project_rendering_image| %>
                            <div class="row">
                              <div class="col-md-8">
                                <%= image_tag(icon_for_filename(project_rendering_image['rendering_image']), alt: project_rendering_image.rendering_image.content_type, title: project_rendering_image.rendering_image.content_type) + ' ' + truncate(project_rendering_image['rendering_image'], length: 25) %>
                              </div>

                              <div class="col-md-4">
                                <% if can?(:read, project_rendering_image) %>
                                  <%= btn_download(project_project_rendering_image_path(@project, project_rendering_image), size: 'small', tooltip: 'Download image') %>
                                <% end %>
                                <% if can?(:destroy, project_rendering_image) %>
                                  <%= btn_link_to(project_project_rendering_image_path(@project, project_rendering_image), method: :delete, data: { confirm: 'Are you sure to delete the image?'}, style: 'danger', size: 'small', icon: 'trash', tooltip: 'Delete image') %>
                                <% end %>
                              </div>
                            </div>
                          <% end %>
                        <% else %>
                          <%= render partial: 'project_rendering_images/form', locals: { project: @project } %>
                        <% end %>
                      </td>
                    </tr>
                  <% end %>
                <% end %>
              <% end %>
            <% end %>
          </tbody>
        </table>
        <input type="hidden" id="project_coordinates" value="<%= @project.coordinates %>"/>

        <div id="project-map" class="map" style="height: 300px;"></div>
        <% if can?(:update, @project) || can?(:destroy, @project) %>
          <div class="hr-line-dashed"></div>
          <% if can? :update, @project %>
            <%= btn_link_to(edit_project_path(@project), icon: 'edit', text: 'Edit') %>
          <% end %>
          <% if can? :confirm_destroy, @project %>
            <%= btn_link_to(confirm_destroy_project_path(@project), {icon: 'trash', text: 'Delete', style: 'danger', method: :get, data: {confirm: 'Do you really want to delete this project?'}}) %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="col-md-8">
    <div class="ibox float-e-margins">
      <div class="ibox-title">
        <h5><%= t('.certificates.title') %></h5>
      </div>
      <div class="ibox-content">
        <%= render partial: 'certification_paths/overview', locals: {project: @project} %>
      </div>
    </div>

    <div class="ibox float-e-margins">
      <div class="ibox-title">
        <h5><b>Teams</b></h5>
      </div>
    </div>

    <%= render partial: 'projects_users/show_gord_contact', locals: {project: @project} %>
      <% if @project.certificate_type == Certificate.certificate_types[:design_type] && @project.created_at > last_created_project_date %>
        <% if @project.certification_paths.present? %>
          <% @project.certification_paths.each do |certification_path| %>
            <div class="ibox float-e-margins">
              <div class="ibox-title bg-header-grey">
                <h5><%= certification_path.certificate.stage_title %></h5>
              </div>
              <%= render partial: 'projects_users/index', locals: {project: @project, team: :project_team, certification_team_type: ProjectsUser.certification_team_types[certification_path.certificate.only_name]} %>
              <%= render partial: 'projects_users/index', locals: {project: @project, team: :gsas_trust_team, certification_team_type: ProjectsUser.certification_team_types[certification_path.certificate.only_name]} %>
            </div>
          <% end %>
        <% else %>
          <div class="ibox float-e-margins">
            <%= render partial: 'projects_users/index', locals: {project: @project, team: :project_team, certification_team_type: 2} %>
            <%= render partial: 'projects_users/index', locals: {project: @project, team: :gsas_trust_team, certification_team_type: 2} %>
          </div>
        <% end %>
      <% else %>
        <div class="ibox float-e-margins">
          <%= render partial: 'projects_users/index', locals: {project: @project, team: :project_team, certification_team_type: 1} %>
          <%= render partial: 'projects_users/index', locals: {project: @project, team: :gsas_trust_team, certification_team_type: 1} %>
        </div>
      <% end %>
    <%= render partial: 'projects_users/index', locals: {project: @project, team: :enterprise_clients, certification_team_type: 1} %>
  </div>
</div>
<%= javascript_include_tag 'find_users_by_email' %>
