<div class="row">
  <div class="col-md-4">
    <div class="ibox float-e-margins">
      <div class="ibox-title">
        <h5><%= t('.schemes.title') %></h5>
      </div>
      <div class="ibox-content">
        <table class="table table-bordered table-striped project-details-table">
          <tbody>
            <tr>
              <th><%= Offline::SchemeMix.human_attribute_name('name') %></th>
              <td><%= @scheme_mix.name %></td>
            </tr>
            <tr>
              <th><%= Offline::SchemeMix.human_attribute_name('weight') %></th>
              <td><%= @scheme_mix.weight %></td>
            </tr>
          </tbody>
        </table>
        <%= btn_link_to(:back, icon: 'backward', text: 'Back') %>
      </div>
    </div>
  </div>
  <div class="col-md-8">
    <div class="ibox float-e-margins">
      <div class="ibox-title">
        <h5><%= t('.scheme_mix_criteria.title') %></h5>
      </div>
      <div class="ibox-content">

        <table class="table table-bordered table-mb-1">
          <tbody>
          <% unless @scheme_mix.offline_scheme_mix_criteria.nil? %>
            <tr class="bg-header-grey">
              <th>Code</th>
              <th>Name</th>
              <th>Score</th>
            </tr>
              <% @scheme_mix.offline_scheme_mix_criteria.each do |scheme_mix_criterion| %>
                <tr>
                  <td style><%= scheme_mix_criterion.code %></td>
                  <td><%= scheme_mix_criterion.name %></td>
                  <td><%= scheme_mix_criterion.score %></td>
                </tr>
              <% end %>
            <% end %>
            <tr>
                <td colspan="3" style="padding: 0px;">
                      <li class="list-group-item container ">
                        <div class="row">
                            <span class="col-md-4">
                              <% #btn_link_to(new_criterion_offline_project_certification_scheme_path(@project, @certification_path), icon: 'plus', text: 'Add Criterion') %>
                              <%= btn_link_to(edit_criterion_offline_project_certification_scheme_path(@project, @certification_path), icon: 'pencil', text: 'Add / Edit Criterion') %>
                            </span>
                        </div>
                      </li>
                </td>
              </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
