<%= bootstrap_form_for([@project, @project_authorization], as: :authorization, url: project_authorizations_path(@project, @project_authorization)) do |f| %>
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-title">
                    <h5><%=t '.form_title' %></h5>
                </div>
                <div class="ibox-content">
                    <!--= f.select :user_id, User.without_permissions_for_project(@project).map { |k| [k.email, k.id]}, {}, { class: 'chosen-select'} %-->
                    <%= f.hidden_field :user_id, { class: 'select2-ajax', data: {project_id: @project.id } } %>
                    <% if @show_certifiers %>
                    <%= f.select :role, ProjectAuthorization.roles.keys[5..5].map { |k| [k.humanize, k] } %>
                    <% else %>
                    <%= f.select :role, ProjectAuthorization.roles.keys[0..3].map { |k| [k.humanize, k] } %>
                    <% end %>
                    <%= f.primary t('.btn_save') %>
                    <%= link_to t('.btn_cancel'), :back, class: 'btn btn-white' %>
                </div>
            </div>
        </div>
    </div>
<% end %>
