<%= bootstrap_form_for([@project, @project_authorization], as: :authorization, url: project_authorization_path(@project, @project_authorization)) do |f| %>
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-title">
                    <h5><%=t '.form_title' %></h5>
                </div>
                <div class="ibox-content">
                    <%= f.select :user_id, [[@project_authorization.user.email, @project_authorization.user.id]], {}, { class: 'chosen-select', disabled: true} %>
                    <%= f.select :role, ProjectAuthorization.roles.keys.map { |k| [k.humanize, k]} %>
                    <%= f.primary t('.btn_save') %>
                    <%= link_to t('.btn_cancel'), :back, class: 'btn btn-white' %>
                </div>
            </div>
        </div>
    </div>
<% end %>