<div class="ibox float-e-margins">
    <div class="ibox-title">
        <h5><%=t '.table_title' %></h5>
    </div>
    <div class="ibox-content">

        <%= bootstrap_form_tag url: update_permissions_path(@project.id) do |f| %>
            <table id="permissions-grid" class="table table-striped table-bordered table-hover">
                <thead>
                <tr>
                    <th rowspan="2"><%=t '.table_header_project_team_member' %></th>
                    <th rowspan="2"><%=t '.table_header_project_manager' %></th>
                    <th colspan="<%= @categories.count %>" class="text-center"><%=t '.table_header_categories' %></th>
                    <th rowspan="2">Actions</th>
                </tr>
                <tr>
                    <% @categories.each do |category| %>
                    <th><%= category.name %></th>
                    <% end %>
                </tr>
                </thead>
                <tbody>
                <% @project.users.distinct.each do |user| %>
                <tr>
                    <td><%= user.email %></td>
                    <% is_manager = is_project_manager(@project.id, user.id) %>
                    <td class="manager-permission text-center"><%= get_project_manager_permission(user.id, is_manager) %></td>
                    <% @categories.each do |category| %>
                    <td class="category-permission text-center"><%= get_permission(@project.id, user.id, category.id, is_manager) %></td>
                    <% end %>
                    <td><%= link_to "<i title=\"#{t('.action_delete_title')}\" class=\"fa fa-lg fa-trash\" style=\"padding-right: 10px;\"></i>".html_safe, destroy_permissions_path(@project.id, user.id), method: :delete, data: {confirm: 'Remove this team member from this project team?'} %></td>
                </tr>
                <% end %>
                </tbody>
            </table>

            <div class="hr-line-dashed"></div>

            <%= f.primary t('.btn_save') %>
            <%= link_to t('.btn_add_project_team_member'), new_project_project_authorization_path, class: 'btn btn-white' %>
        <% end %>

    </div>
</div>