<div class="ibox float-e-margins">
    <div class="ibox-title">
        <h5>Project team permissions</h5>
    </div>
    <div class="ibox-content">

        <%= form_tag update_permissions_path(@project.id) do %>
            <table class="table table-striped table-bordered table-hover datatable">
                <thead>
                <tr>
                    <th rowspan="2">Member</th>
                    <th rowspan="2">Project manager</th>
                    <th colspan="8">Categories</th>
                    <th rowspan="2">Actions</th>
                </tr>
                <tr>
                    <% @categories.each do |category| %>
                    <th><%= category.name %></th>
                    <% end %>
                </tr>
                </thead>
                <tbody>
                <% @project.users.distinct.each do |user| %>
                <tr>
                    <td><%= user.email %></td>
                    <% is_manager = is_project_manager(@project.id, user.id) %>
                    <td class="manager-permission"><%= get_project_manager_permission(user.id, is_manager) %></td>
                    <% @categories.each do |category| %>
                    <td class="category-permission"><%= get_permission(@project.id, user.id, category.id, is_manager) %></td>
                    <% end %>
                    <td><%= link_to raw('<i title="Delete" class="fa fa-trash" style="padding-right: 10px;"></i>'), destroy_permissions_path(@project.id, user.id), method: :delete, data: {confirm: 'Remove this team member from this project team?'} %></td>
                </tr>
                <% end %>
                </tbody>
            </table>

            <div class="hr-line-dashed"></div>

            <%= submit_tag %>
            <%= link_to 'Add project team member', new_project_project_authorization_path, class: 'btn btn-sm btn-primary' %>
        <% end %>

    </div>
</div>