<h1>Listing survey_questions</h1>
<table>
  <thead>
    <tr>
      <th>Question text</th>
      <th>Description</th>
      <th>Mandatory</th>
      <th>Position</th>
      <th>Question type</th>
      <th>Released</th>
      <th>Survey questionnaire version</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @survey_questions.each do |survey_question| %>
      <tr>
        <td>
          <%= survey_question.question_text %>
        </td>
        <td>
          <%= survey_question.description %>
        </td>
        <td>
          <%= survey_question.mandatory %>
        </td>
        <td>
          <%= survey_question.position %>
        </td>
        <td>
          <%= survey_question.question_type %>
        </td>
        <td>
          <%= survey_question.survey_questionnaire_version %>
        </td>
        <td>
          <%= link_to 'Show', survey_question %>
        </td>
        <td>
          <%= link_to 'Edit', edit_survey_question_path(survey_question) %>
        </td>
        <td>
          <%= link_to 'Destroy', survey_question, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<br/>
<%= link_to 'New Survey question', new_survey_question_path %>
