<div class="row">
  <div class="col-lg-8 col-sm-12 col-xs-12">
    <%= bootstrap_form_for(@survey_questionnaire_version, url: survey_type_survey_questionnaire_versions_path(@survey_type), method: @submit_method ) do |f| %>
      <div class="ibox">
        <div class="ibox-title m-b">
          <h4><b>Edit Questions</b></h4>
          <h4>Current Version: 
            <%= "v#{@survey_questionnaire_version.version}" %>
          </h4>
        </div>

        <%= f.fields_for :survey_questions, @survey_questions do |survey_question| %>
          <%= render partial: 'survey_question_fields', locals: { f: survey_question } %>
        <% end %>

        <div class="form-actions">
          <%= btn_link_to(:back, icon: 'backward', text: 'Back') %>
          <%= link_to_add_association 'Add Question', f, :survey_questions, class: "btn btn-primary" %>
          <%= btn_save %>
          <%= btn_save(text: 'Save and Release', value: 'save-and-release', data: { confirm: "Are you sure about release this questionnaire ?" }) %>
          <%= btn_cancel_to(form_survey_type_survey_questionnaire_versions_path(@survey_type), text: 'Reset', style: 'white', icon: 'refresh') %>
        </div>
      </div>
    <% end %>
  </div>

  <div class="col-lg-4 col-sm-12 col-xs-12">
    <div class="ibox">
      <div class="ibox-title">
        <h5>Versions of questions set for this survey</h5>
      </div>
      <div class="ibox-content table-responsive">
        <table class="table table-bordered table-striped border-bottom-table">
          <thead>
            <tr>
              <th class="border-left-0">Sr.no</th>
              <th>Version</th>
              <th>Release Date</th>
            </tr>
          </thead>
          <tbody>
            <% @survey_type.survey_questionnaire_versions.each.with_index(1) do |version, i| %>
              <tr>
                <td><%= i %></td>
                <td><%= link_to("v#{version.version}", survey_type_survey_questionnaire_version_path(@survey_type, version)) %>
                <td><%= label_span(version.released?, version&.released_at&.strftime("%d %B, %Y %H:%M"), "Not released").html_safe rescue "-" %>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
