<div class="row">
  <div class="col-lg-8"><%= bootstrap_form_for(@latest_survey_questionnaire_version, url: survey_type_survey_questionnaire_versions_path(@survey_type), method: @submit_method ) do |f| %>
    <div class="ibox">
      <div class="ibox-title">
        <h5>Edit Questions</h5>
      </div>
      
      <%= f.fields_for :survey_questions do |survey_question| %>
        <%= render partial: 'survey_question_fields', locals: { f: survey_question } %>
      <% end %>

      <div class="form-actions">
        <%= link_to_add_association 'Add Question', f, :survey_questions, class: "btn btn-primary" %>
        <%= btn_save %>
        <%= btn_save(text: 'Save and Release', value: 'save-and-release') %>
      </div>
    <% end %>
  </div>
</div>