<div class="modal-dialog">
    <%= bootstrap_form_for([@project, @certification_path, @scheme_mix, @scheme_mix_criterion], url: update_status_project_certification_path_scheme_mix_scheme_mix_criterion_path, method: 'put') do |f| %>
    <div class="modal-content">
        <% if todos.blank? %>
            <div class="modal-header">
                <%= btn_close_modal %>
                <h4 class="modal-title">
                    <% if params.has_key?(:undo) && (params[:undo] == '1') %>
                        <%= t('.title.undo') %>
                    <% elsif params.has_key?(:achieved) && (params[:achieved] == '1') %>
                        <%= t('.title.achieved') %>
                    <% elsif params.has_key?(:achieved) %>
                        <%= t('.title.not_achieved') %>
                    <% else %>
                        <%= t('.title.submit') %>
                    <% end %>
                </h4>
            </div>
            <% if params.has_key?(:achieved) && (params[:achieved] == '1') %>
                <%= hidden_field_tag :achieved, 1 %>
            <% end %>
            <div class="modal-body">
                <%= f.text_area :audit_log_user_comment, rows: 4 %>
            </div>
            <div class="modal-footer">
                <% if can?(:update_status, @scheme_mix_criterion) %>
                    <%= btn_save %>
                <% end %>
            </div>
            <% else %>
                <div class="modal-header alert-danger">
                    <%= btn_close_modal %>
                    <h4 class="modal-title">
                        <%= fa_icon_with_text('exclamation-circle', 'The status cannot be advanced yet because of the following issues:') %>
                    </h4>
                </div>
                <div class="modal-body">
                    <ul>
                        <% todos.each do |todo| %>
                            <li><%= todo %></li>
                        <% end %>
                    </ul>
                </div>
            <% end %>
        </div>
    <% end %>
</div>
