<% if @prev_smc.present? %>
    <% @page_title_prefix = btn_link_to(project_certification_path_scheme_mix_scheme_mix_criterion_path(@certification_path.project, @certification_path, @scheme_mix, @prev_smc), icon: 'caret-left', icon_position: 'front', text: @prev_smc.code, style: 'white', size: 'small') %>
<% end %>
<% if @next_smc.present? %>
    <% @page_title_suffix = btn_link_to(project_certification_path_scheme_mix_scheme_mix_criterion_path(@certification_path.project, @certification_path, @scheme_mix, @next_smc), icon: 'caret-right', icon_position: 'back', text: @next_smc.code, style: 'white', size: 'small') %>
<% end %>
<div class="row">
<div class="col-lg-4">
    <div class="ibox criterion-details">
        <div class="ibox-title">
            <%= audit_log_label(@scheme_mix_criterion) %>
            <h5>Criterion details</h5>
        </div>
        <div class="ibox-content">
            <% if (@certification_path.main_scheme_mix_id == @scheme_mix.id) && @scheme_mix_criterion.scheme_criterion.scheme_category.shared? %>
                <p class="alert alert-info"><%= ikoen('info-circle') %>
                    The status &amp; scores of this criterion will be inherited by other schemes.
                </p>
            <% elsif @scheme_mix_criterion.main_scheme_mix_criterion_id.present? %>
                <p class="alert alert-info"><%= ikoen('info-circle') %>
                    The status &amp; scores of this criterion are inherited from "<%= link_to(@scheme_mix_criterion.main_scheme_mix_criterion.full_name, project_certification_path_scheme_mix_scheme_mix_criterion_path(@project, @certification_path, @certification_path.main_scheme_mix, @scheme_mix_criterion.main_scheme_mix_criterion)) %>" in the "<%= link_to(@certification_path.main_scheme_mix.name, project_certification_path_scheme_mix_path(@project, @certification_path, @certification_path.main_scheme_mix)) %>" scheme.
                </p>
            <% end %>
            <table class="table table-bordered table-striped">
              <tbody>
                <tr>
                    <th>Status</th>
                    <td>
                        <%= t(@scheme_mix_criterion.status, scope: 'activerecord.attributes.scheme_mix_criterion.statuses') %>
                    </td>
                </tr>
                <% if @certification_path.in_screening? %>
                <tr>
                    <th>Screened</th>
                    <td>
                        <%= @scheme_mix_criterion.screened ? 'Yes' : 'No' %>
                    </td>
                </tr>
                <% end %>
                <% if can?(:request_review, @scheme_mix_criterion) || can?(:provide_review_comment, @scheme_mix_criterion) %>
                <tr>
                  <th>PCR reviews requested</th>
                  <td>
                    <%= @scheme_mix_criterion.review_count %>
                  </td>
                </tr>
                <tr>
                  <th>PCR reviews available</th>
                  <td>
                    <%= @scheme_mix_criterion.reviews_available %>
                  </td>
                </tr>
                <% end %>
              </tbody>
            </table>
            <% if can?(:update_status, @scheme_mix_criterion) %>
                <div class="hr-line-dashed"></div>
                <% if @scheme_mix_criterion.at_certifier_side? %>
                    <% if @scheme_mix_criterion.in_verification? %>
                        <%= btn_link_to(edit_status_project_certification_path_scheme_mix_scheme_mix_criterion_path(@project, @certification_path, @scheme_mix, @scheme_mix_criterion), remote: true, icon: 'check', text: t('.details.btn_edit_status.verified')) %>
                    <% else %>
                        <%= btn_link_to(edit_status_project_certification_path_scheme_mix_scheme_mix_criterion_path(@project, @certification_path, @scheme_mix, @scheme_mix_criterion, undo: 1), remote: true, icon: 'undo', text: t('.details.btn_edit_status.undo'), style: 'danger') %>
                    <% end %>
                <% else %>
                    <% if @scheme_mix_criterion.in_submission? %>
                        <% if @scheme_mix_criterion.scheme_mix_criteria_documents.count < 1 %>
                            <% data = {confirm: 'You are submitting this criterion without documentation. Are you sure?'} %>
                        <% else %>
                            <% data = {} %>
                        <% end %>
                        <%= btn_link_to(edit_status_project_certification_path_scheme_mix_scheme_mix_criterion_path(@project, @certification_path, @scheme_mix, @scheme_mix_criterion), remote: true, icon: 'check', text: t('.details.btn_edit_status.submit'), data: data) %>
                        <% if can?(:request_review, @scheme_mix_criterion) %>
                          <% if @scheme_mix_criterion.review_count < @certification_path.max_review_count %>
                            <% if @scheme_mix_criterion.in_review? %>
                              <%= btn_link_to(request_review_project_certification_path_scheme_mix_scheme_mix_criterion_path(@project, @certification_path, @scheme_mix, @scheme_mix_criterion), icon: 'life-saver', text: 'PCR review in progress', class: 'disabled') %>
                            <% else %>
                                <%= btn_link_to(request_review_project_certification_path_scheme_mix_scheme_mix_criterion_path(@project, @certification_path, @scheme_mix, @scheme_mix_criterion), icon: 'life-saver', text: 'Request PCR review') %>
                            <% end %>
                          <% else %>
                              <%= btn_link_to(request_review_project_certification_path_scheme_mix_scheme_mix_criterion_path(@project, @certification_path, @scheme_mix, @scheme_mix_criterion), icon: 'life-saver', text: 'Max. PCR reviews reached', class: 'disabled') %>
                          <% end %>
                        <% end %>
                    <% else %>
                        <%= btn_link_to(edit_status_project_certification_path_scheme_mix_scheme_mix_criterion_path(@project, @certification_path, @scheme_mix, @scheme_mix_criterion, undo: 1), remote: true, icon: 'undo', text: t('.details.btn_edit_status.undo'), style: 'danger') %>
                    <% end %>
                <% end %>
            <% elsif can?(:provide_review_comment, @scheme_mix_criterion) %>
              <div class="hr-line-dashed"></div>
              <%= btn_link_to(provide_review_comment_project_certification_path_scheme_mix_scheme_mix_criterion_path(@project, @certification_path, @scheme_mix, @scheme_mix_criterion), remote: true, icon: 'life-saver', text: 'Provide PCR review comment') %>
            <% elsif can?(:screen, @scheme_mix_criterion) %>
              <div class="hr-line-dashed"></div>
              <%= btn_link_to(screen_project_certification_path_scheme_mix_scheme_mix_criterion_path(@project, @certification_path, @scheme_mix, @scheme_mix_criterion), method: :put, icon: 'eye', text: 'Mark as screened') %>
            <% end %>
        </div>
    </div>
    <div class="ibox criterion-details">
        <div class="ibox-title">
            <h5>Criterion scores</h5>
        </div>
        <div class="ibox-content">
            <%= bootstrap_form_for([@project, @certification_path, @scheme_mix, @scheme_mix_criterion], url: update_scores_project_certification_path_scheme_mix_scheme_mix_criterion_path, method: 'put') do |f| %>
                <% if @scheme_mix_criterion.errors.any? %>
                    <div id="error_explanation">
                        <h2><%= pluralize(@scheme_mix_criterion.errors.count, "error") %> prohibited this criterion from being saved:</h2>
                        <ul>
                            <% @scheme_mix_criterion.errors.full_messages.each do |message| %>
                                <li><%= message %></li>
                            <% end %>
                        </ul>
                    </div>
                <% end %>
                <% if @scheme_mix_criterion.scheme_criterion.minimum_score != @scheme_mix_criterion.scheme_criterion.minimum_valid_score %>
                    <p class="alert alert-warning"><%= ikoen('exclamation-circle') %>
                      <% if @certification_path.certificate.construction_issue_1? %>
                        <%= t('.scores.minimum_valid_score_warning', minimum_valid_score: number_to_percentage(@scheme_mix_criterion.scheme_criterion.minimum_valid_score, precision: 1)) %>
                      <% else %>
                        <%= t('.scores.minimum_valid_score_warning', minimum_valid_score: number_with_precision(@scheme_mix_criterion.scheme_criterion.minimum_valid_score, precision: 0, significant: true)) %>
                      <% end %>
                    </p>
                <% end %>
                <table class="table table-bordered table-striped">
                    <thead>
                    <tr>
                        <th></th>
                        <th>Score</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th>Targeted score <%= tooltip(t('.scores.targeted_score.tooltip')) %></th>
                        <td>
                            <% if can?(:update_targeted_score, @scheme_mix_criterion) %>
                              <% if @certification_path.certificate.construction_issue_1? %>
                                  <%= f.number_field :targeted_score, in: 0.0..@scheme_mix_criterion.scheme_criterion.weight, step: 0.1, hide_label: true, append: '%' %>
                              <% else %>
                                <%= f.select :targeted_score, @scheme_mix_criterion.scheme_criterion.scores, hide_label: true %>
                              <% end %>
                            <% else %>
                                <%= f.static_control label: 'targeted score', hide_label: true do %>
                                  <% if @certification_path.certificate.construction_issue_1? %>
                                      <%= number_to_percentage(@scheme_mix_criterion.targeted_score, precision: 1) %>
                                  <% else %>
                                      <%= number_with_precision(@scheme_mix_criterion.targeted_score, precision: 0, significant: true) %>
                                  <% end %>
                                <% end %>
                            <% end %>
                        </td>
                    </tr>
                    <tr>
                        <th>Submitted score <%= tooltip(t('.scores.submitted_score.tooltip')) %></th>
                        <td>
                            <% if can?(:update_submitted_score, @scheme_mix_criterion) %>
                              <% if @certification_path.certificate.construction_issue_1? %>
                                  <%= f.number_field :submitted_score, in: 0.0..@scheme_mix_criterion.scheme_criterion.weight, step: 0.1, hide_label: true, append: '%' %>
                              <% else %>
                                <%= f.select :submitted_score, @scheme_mix_criterion.scheme_criterion.scores, {include_blank: '-', hide_label: true} %>
                              <% end %>
                            <% else %>
                                <%= f.static_control label: 'submitted score', hide_label: true do %>
                                  <% if @certification_path.certificate.construction_issue_1? %>
                                      <%= number_to_percentage(@scheme_mix_criterion.submitted_score, precision: 1) %>
                                  <% else %>
                                      <%= number_with_precision(@scheme_mix_criterion.submitted_score, precision: 0, significant: true) %>
                                  <% end %>
                                <% end %>
                            <% end %>
                        </td>
                    </tr>
                    <% if !@certification_path.in_pre_verification? %>
                    <% if !@certification_path.in_verification? || (@certification_path.certification_path_status_id == CertificationPathStatus::VERIFYING_AFTER_APPEAL && SchemeMixCriterion::statuses[@scheme_mix_criterion.status] < SchemeMixCriterion::statuses[:verifying_after_appeal]) || !current_user.default_role? || @project.role_for_user(current_user) == ProjectsUser.roles.keys[ProjectsUser.roles[:certifier]] || @project.role_for_user(current_user) == ProjectsUser.roles.keys[ProjectsUser.roles[:certification_manager]] %>
                    <tr>
                        <th>Achieved score <%= tooltip(t('.scores.achieved_score.tooltip')) %></th>
                        <td>
                            <% if can?(:update_achieved_score, @scheme_mix_criterion) %>
                              <% if @certification_path.certificate.construction_issue_1? %>
                                  <%= f.number_field :achieved_score, in: 0.0..@scheme_mix_criterion.scheme_criterion.weight, step: 0.1, hide_label: true, append: '%' %>
                              <% else %>
                                <%= f.select :achieved_score, @scheme_mix_criterion.scheme_criterion.scores, {include_blank: '-', hide_label: true} %>
                              <% end %>
                            <% else %>
                                <%= f.static_control label: 'achieved score', hide_label: true do %>
                                  <% if @certification_path.certificate.construction_issue_1? %>
                                      <%= number_to_percentage(@scheme_mix_criterion.achieved_score, precision: 1) %>
                                  <% else %>
                                      <%= number_with_precision(@scheme_mix_criterion.achieved_score, precision: 0, significant: true) %>
                                  <% end %>
                                <% end %>
                            <% end %>
                        </td>
                    </tr>
                    <% if @certification_path.certificate.construction_issue_3? && @scheme_mix_criterion.scheme_criterion.incentive_weight > 0 %>
                        <tr>
                          <th>Incentive earned ?</th>
                          <td>
                            <% if can?(:update_incentive_scored, @scheme_mix_criterion) %>
                                <%= f.check_box :incentive_scored, label: '' %>
                            <% else %>
                                <%= @scheme_mix_criterion.incentive_scored? ? 'Yes' : 'No' %>
                            <% end %>
                          </td>
                        </tr>
                    <% end %>
                    <% end %>
                    <% end %>
                    </tbody>
                </table>
                <% if can?(:update_targeted_score, @scheme_mix_criterion) || can?(:update_submitted_score, @scheme_mix_criterion) || can?(:update_achieved_score, @scheme_mix_criterion) %>
                    <div class="hr-line-dashed"></div>
                    <%= btn_save %>
                <% end %>
            <% end %>
        </div>
    </div>

    <% unless @scheme_mix_criterion.main_scheme_mix_criterion_id.present? %>
      <% if can?(:read, ProjectsUser.new(project: @project, role: ProjectsUser.roles[:certifier])) %>
        <div class="ibox">
            <div class="ibox-title">
                <h5><%= t('.certifier.title') %></h5>
            </div>
            <div class="ibox-content">
                <%= bootstrap_form_tag url: assign_certifier_project_certification_path_scheme_mix_scheme_mix_criterion_path(@project, @certification_path, @scheme_mix, @scheme_mix_criterion), method: 'put' do |f| %>
                    <% if can?(:assign_certifier, @scheme_mix_criterion) %>
                        <div class="row">
                            <div class="col-md-7">
                                <% users = User.authorized_for_project(@project).with_gsas_trust_team_role %>
                                <% user_id = @scheme_mix_criterion.certifier.id if @scheme_mix_criterion.certifier.present? %>
                                <%= f.select :user_id, options_for_select(users.map { |k| [k.full_name, k.id]}, user_id), {label: 'Responsibility', include_blank: ''}, class: 'select2-certifier' %>
                            </div>
                            <div class="col-md-5">
                                <%= f.text_field :due_date, value: ((l @scheme_mix_criterion.due_date, format: :short) if !@scheme_mix_criterion.due_date.nil?), prepend: '<i class="fa fa-calendar"></i>'.html_safe, class: 'datepicker-future', autocomplete: 'off' %>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <%= btn_save %>
                    <% else %>
                        <div class="row">
                            <div class="col-md-7">
                                <% if @scheme_mix_criterion.certifier.nil? %>
                                    <%= f.label :user_id, 'Responsibility' %>
                                    <p>This criterion is not yet assigned.</p>
                                <% else %>
                                    <%= f.select :user_id, options_for_select([@scheme_mix_criterion.certifier].map { |k| [k.full_name, k.id]}, @scheme_mix_criterion.certifier.id), {label: 'Responsibility'}, disabled: true, class: 'select2-certifier' %>
                                <% end %>
                            </div>
                            <div class="col-md-5">
                                <%= f.text_field :due_date, value: ((l @scheme_mix_criterion.due_date, format: :short) if !@scheme_mix_criterion.due_date.nil?), prepend: '<i class="fa fa-calendar"></i>'.html_safe, class: 'datepicker-future', autocomplete: 'off', disabled: true %>
                            </div>
                        </div>
                    <% end %>
                <% end %>
            </div>
        </div>
      <% end %>
    <% end %>

    <div class="ibox criterion-information">
        <div class="ibox-title">
            <h5>Criterion information</h5>
        </div>
        <div class="ibox-content">
            <% @scheme_mix_criterion.scheme_criterion.scheme_criterion_texts.each do |scheme_criterion_text| %>
                <div class="subtitle"><%= scheme_criterion_text.name.capitalize %></div>
                <div class="<%= scheme_criterion_text.name.downcase  %>"><%= scheme_criterion_text.html_text.html_safe %></div>
            <% end %>
        </div>
    </div>
</div>
<% unless @scheme_mix_criterion.main_scheme_mix_criterion_id.present? %>
    <div class="col-lg-8">
        <% if @scheme_mix_criterion.requirement_data.assigned_to_user(current_user).present? %>
            <div class="ibox">
                <div class="ibox-title">
                    <h5>Your requirements <%= tooltip('These requirements were assigned to you. It is your responsibility to provide documentation for these requirements.') %></h5>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-md-12">
                            <div id="accordion" class="panel-group">
                                <% @scheme_mix_criterion.requirement_data.assigned_to_user(current_user).each do |requirement_datum| %>
                                    <%= render 'requirement_data/update', requirement_datum: requirement_datum %>
                                <% end %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <% end %>
        <% if @scheme_mix_criterion.requirement_data.not_assigned_to_user(current_user).present? %>
            <div class="ibox">
                <div class="ibox-title">
                    <% if @scheme_mix_criterion.requirement_data.assigned_to_user(current_user).present? %>
                        <h5>Other requirements</h5>
                    <% else %>
                        <h5>Requirements</h5>
                    <% end %>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-md-12">
                            <div id="accordion" class="panel-group">
                                <% @scheme_mix_criterion.requirement_data.not_assigned_to_user(current_user).each do |requirement_datum| %>
                                    <%= render 'requirement_data/update', requirement_datum: requirement_datum %>
                                <% end %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <% end %>
        <% if can?(:create, Document.new(:scheme_mix_criteria_documents_attributes => [{:scheme_mix_criterion_id => @scheme_mix_criterion.id}])) %>
            <div class="ibox">
                <div class="ibox-title">
                    <h5>Upload criterion documentation</h5>
                </div>
                <div class="ibox-content">
                    <%= render 'documents/new', document: Document.new, project: @project, certification_path: @certification_path, scheme_mix: @scheme_mix,  scheme_mix_criterion_id: @scheme_mix_criterion.id %>
                </div>
            </div>
        <% end %>
        <div class="ibox" id="documentation">
            <div class="ibox-title">
                <h5>Criterion Documentation</h5>
                <% if can?(:download_archive, @scheme_mix_criterion) && @scheme_mix_criterion.scheme_mix_criteria_documents.any? %>
                  <%= btn_download(archive_project_certification_path_scheme_mix_scheme_mix_criterion_path, text: 'Download all approved documents', size: 'extra_small', class: 'pull-right') %>
                <% end %>
            </div>
            <div class="ibox-content">
                <%= render 'scheme_mix_criteria_documents/index', scheme_mix_criteria_documents: @scheme_mix_criterion.scheme_mix_criteria_documents %>
            </div>
        </div>
    </div>
<% end %>
</div>
<div id="editStatusSchemeMixCriterionModal" class="modal fade"></div>
<div id="reviewSchemeMixCriterionModal" class="modal fade"></div>
<%= javascript_include_tag 'select_project_certifier' %>
<%= javascript_include_tag 'select_project_team_member' %>