<div class="row">
    <div class="col-md-12">
        <div class="ibox">
            <div class="ibox-title">
                <h5>Criterion details</h5>
            </div>
            <div class="ibox-content">
                <div class="row">
                    <div class="col-md-12">
                        ...
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-6">
        <div class="ibox">
            <div class="ibox-title">
                <h5>Score</h5>
            </div>
            <div class="ibox-content">
                <%= bootstrap_form_for([@project, @certification_path, @scheme_mix, @scheme_mix_criterion], url: project_certification_path_scheme_mix_scheme_mix_criterion_path) do |f| %>
                    <% if @scheme_mix_criterion.errors.any? %>
                        <div id="error_explanation">
                            <h2><%= pluralize(@scheme_mix_criterion.errors.count, "error") %> prohibited this criterion from being saved:</h2>
                            <ul>
                                <% @scheme_mix_criterion.errors.full_messages.each do |message| %>
                                    <li><%= message %></li>
                                <% end %>
                            </ul>
                        </div>
                    <% end %>
                    <% if can? :manage, @scheme_mix_criterion %>
                        <div class="row">
                            <div class="col-md-3">
                                <%= f.select :targeted_score, @scheme_mix_criterion.scheme_criterion.scores.map { |k| [k.score, k.score]} %>
                            </div>
                            <div class="col-md-3">
                                <%= f.select :achieved_score, @scheme_mix_criterion.scheme_criterion.scores.map { |k| [k.score, k.score]}, {include_blank: 'Unclassified'}, disabled: true %>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <%= f.fields_for :documents do |d| %>
                                    <%= d.file_field :document_file, :multiple => true, name: "documents[document_file][]" %>
                                <% end %>
                                <% @scheme_mix_criterion.documents.each do |d| %>
                                    <div class="well well-sm">
                                        <ul>
                                            <li>Icon: <%= image_tag Icon.for_filename(d.document_file.file.filename) %></li>
                                            <li>Filename: <%= d.document_file.file.filename %></li>
                                            <li>URL: <%= d.document_file.url %></li>
                                            <li>Path: <%= d.document_file.path %></li>
                                            <li>Content type: <%= d.document_file.content_type %></li>
                                            <li>Size: <%= number_to_human_size(d.document_file.size) %></li>
                                            <li>Extension: <%= File.extname(d.document_file.file.filename) %></li>
                                        </ul>
                                    </div>
                                <% end %>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="hr-line-dashed"></div>
                                <%= f.primary 'Save' %>
                            </div>
                        </div>
                    <% else %>
                        <div class="row">
                            <div class="col-md-3">
                                <%= f.text_field :targeted_score, disabled: 'disabled' %>
                            </div>
                            <div class="col-md-3">
                                <% if @scheme_mix_criterion.certifier.id == current_user.id %>
                                    <%= f.select :achieved_score, @scheme_mix_criterion.scheme_criterion.scores.map { |k| [k.score, k.score]}, {include_blank: 'Unclassified'} %>
                                <% else %>
                                    <%= f.text_field :achieved_score, disabled: 'disabled' %>
                                <% end %>
                            </div>
                        </div>
                    <% end %>
                <% end %>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="ibox">
            <div class="ibox-title">
                <h5>Requirements</h5>
            </div>
            <div class="ibox-content">
                <div class="row">
                    <div class="col-md-12">
                        <div id="accordion" class="panel-group">
                            <%= render "requirements/form", scheme_mix_criterion: @scheme_mix_criterion %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
