<div class="row">
    <div class="col-lg-6">
        <div class="ibox">
            <div class="ibox-title">
                <h5>Criterion score</h5>
            </div>
            <div class="ibox-content">
                <%= bootstrap_form_for([@project, @certification_path, @scheme_mix, @scheme_mix_criterion], url: project_certification_path_scheme_mix_scheme_mix_criterion_path) do |f| %>
                <% if @scheme_mix_criterion.errors.any? %>
                  <div id="error_explanation">
                    <h2><%= pluralize(@scheme_mix_criterion.errors.count, "error") %> prohibited this criterion from being saved:</h2>
                    <ul>
                      <% @scheme_mix_criterion.errors.full_messages.each do |message| %>
                        <li><%= message %></li>
                      <% end %>
                    </ul>
                  </div>
                <% end %>
                <div class="row">
                    <div class="col-md-12">
                        <%= f.static_control label: 'Status' do @scheme_mix_criterion.status.humanize end %>
                        <% if can? :update, @scheme_mix_criterion %>
                            <button type="button" class="btn btn-white" data-toggle="modal" data-target="#updateCriterionStatusModal">Update status</button>
                        <% end %>
                        <%= link_to raw('<i title="Show status log" class="fa fa-lg fa-history" style="padding-right: 10px;"></i>Show status log'), project_certification_path_scheme_mix_scheme_mix_criterion_status_logs_path(@project, @certification_path, @scheme_mix, @scheme_mix_criterion), remote: true, class: 'btn btn-white' %>
                        <div class="hr-line-dashed"></div>
                    </div>
                </div>
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th></th>
                            <th><%= @scheme_mix_criterion.scheme_criterion.score_a['score_name'] %></th>
                            <% if !@scheme_mix_criterion.scheme_criterion.score_b.nil? %>
                                <th><%= @scheme_mix_criterion.scheme_criterion.score_b['score_name'] %></th>
                                <th>Final Score</th>
                            <% end %>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th>
                              Targeted Score
                            </th>
                            <td>
                                <% if (can? :update, @scheme_mix_criterion) && (current_user.system_admin? || current_user.project_manager?(@project)) %>
                                    <%= f.select :targeted_score_a, @scheme_mix_criterion.scheme_criterion.score_a['score_values'].map { |k,v| [k,k]}, hide_label: true %>
                                <% else %>
                                    <%= f.static_control :targeted_score_a, hide_label: true  %>
                                <% end %>
                            </td>
                            <% if !@scheme_mix_criterion.scheme_criterion.score_b.nil? %>
                                <td>
                                    <% if (can? :update, @scheme_mix_criterion) && (current_user.system_admin? || current_user.project_manager?(@project)) %>
                                      <%= f.select :targeted_score_b, @scheme_mix_criterion.scheme_criterion.score_b['score_values'].map { |k,v| [k,k]}, hide_label: true %>
                                    <% else %>
                                      <%= f.static_control :targeted_score_b, hide_label: true  %>
                                    <% end %>
                                </td>
                                <td>
                                    <%= f.static_control :targeted_score, hide_label: true %>
                                </td>
                            <% end %>
                        </tr>
                        <tr>
                            <th>
                              Submitted Score
                            </th>
                            <td>
                                <% if (can? :update, @scheme_mix_criterion) &&
                                      (current_user.system_admin? ||
                                              current_user.project_manager?(@project) ||
                                              @scheme_mix_criterion.contains_requirement_for?(current_user)
                                      ) %>
                                    <%= f.select :submitted_score_a, @scheme_mix_criterion.scheme_criterion.score_a['score_values'].map { |k,v| [k,k]}, {include_blank: '-', hide_label: true} %>
                                <% else %>
                                    <%= f.static_control :submitted_score_a, hide_label: true %>
                                <% end %>
                            </td>
                          <% if !@scheme_mix_criterion.scheme_criterion.score_b.nil? %>
                              <td>
                                  <% if (can? :update, @scheme_mix_criterion) &&
                                      (current_user.system_admin? ||
                                          current_user.project_manager?(@project) ||
                                          @scheme_mix_criterion.contains_requirement_for?(current_user)
                                      ) %>
                                    <%= f.select :submitted_score_b, @scheme_mix_criterion.scheme_criterion.score_b['score_values'].map { |k,v| [k,k]}, {include_blank: '-', hide_label: true} %>
                                  <% else %>
                                    <%= f.static_control :submitted_score_b, hide_label: true %>
                                  <% end %>
                              </td>
                              <td>
                                  <%= f.static_control :submitted_score, hide_label: true %>
                              </td>
                          <% end %>
                        </tr>
                        <tr>
                            <th>
                              Achieved Score
                            </th>
                            <td>
                                <% if (can? :update, @scheme_mix_criterion) && (current_user.system_admin? || @scheme_mix_criterion.certifier == current_user || current_user.certifier_manager?(@project)) %>
                                    <%= f.select :achieved_score_a, @scheme_mix_criterion.scheme_criterion.score_a['score_values'].map { |k,v| [k,k]}, {include_blank: '-', hide_label: true} %>
                                <% else %>
                                    <%= f.static_control :achieved_score_a, hide_label: true %>
                                <% end %>
                            </td>
                            <% if !@scheme_mix_criterion.scheme_criterion.score_b.nil? %>
                                <td>
                                  <% if (can? :update, @scheme_mix_criterion) && (current_user.system_admin? || @scheme_mix_criterion.certifier == current_user || current_user.certifier_manager?(@project)) %>
                                    <%= f.select :achieved_score_b, @scheme_mix_criterion.scheme_criterion.score_b['score_values'].map { |k,v| [k,k]}, {include_blank: '-', hide_label: true} %>
                                  <% else %>
                                    <%= f.static_control :achieved_score_b, hide_label: true %>
                                  <% end %>
                                </td>
                                <td>
                                    <%= f.static_control :achieved_score, hide_label: true %>
                                </td>
                            <% end %>
                        </tr>
                    </tbody>
                </table>
                <div class="row">
                  <div class="col-md-12">
                    <div class="hr-line-dashed"></div>
                    <% if can? :update, @scheme_mix_criterion %>
                      <%= button_tag type: 'submit', class: 'btn btn-primary' do %>
                        <i title="Save" class="fa fa-lg fa-save" style="padding-right: 10px;"></i>Save
                      <% end %>
                    <% end %>
                  </div>
                </div>
            <% end %>
            </div>
        </div>

        <div class="ibox">
            <div class="ibox-title">
                <h5>Certifier</h5>
            </div>
            <div class="ibox-content">
                <%= bootstrap_form_tag url: assign_certifier_to_criteria_path(@project, @certification_path, @scheme_mix, @scheme_mix_criterion), method: 'put' do |f| %>
                    <% if current_user.system_admin? || current_user.certifier_manager?(@project) %>
                        <% users = User.authorized_for_project(@project).with_certifier_project_role %>
                        <% if @scheme_mix_criterion.certifier.nil? %>
                            <%= f.select :user_id, options_for_select(users.map { |k| [k.email, k.id]}), {label: 'Responsibility', include_blank: ''} %>
                        <% else %>
                            <%= f.select :user_id, options_for_select(users.map { |k| [k.email, k.id]}, @scheme_mix_criterion.certifier.id), {label: 'Responsibility'} %>
                        <% end %>
                        <%= f.text_field :due_date, value: ((l @scheme_mix_criterion.due_date, format: :short) if !@scheme_mix_criterion.due_date.nil?), prepend: '<i class="fa fa-calendar"></i>'.html_safe, data: {provide: 'datepicker'} %>
                        <div class="hr-line-dashed"></div>
                        <%= button_tag type: 'submit', class: 'btn btn-primary' do %>
                            <i title="Save" class="fa fa-lg fa-save" style="padding-right: 10px;"></i>Save
                        <% end %>
                    <% else %>
                        <% if @scheme_mix_criterion.certifier.nil? %>
                            <p>This criterion is not assigned yet.</p>
                        <% else %>
                            <%= f.select :user_id, options_for_select([@scheme_mix_criterion.certifier].map { |k| [k.email, k.id]}, @scheme_mix_criterion.certifier.id), {label: 'Responsibility'}, disabled: true %>
                        <% end %>
                        <%= f.text_field :due_date, value: ((l @scheme_mix_criterion.due_date, format: :short) if !@scheme_mix_criterion.due_date.nil?), prepend: '<i class="fa fa-calendar"></i>'.html_safe, data: {provide: 'datepicker'}, disabled: true %>
                    <% end %>
                <% end %>
            </div>
        </div>

        <div class="ibox criterion-details">
          <div class="ibox-title">
            <h5>Criterion details</h5>
          </div>
          <div class="ibox-content">
            <div class="criterion-details-subtitle">Description</div>
            <div class="criterion-details-description"><%= @scheme_mix_criterion.scheme_criterion.criterion.description.html_safe %></div>
            <div class="criterion-details-subtitle">Measurement</div>
            <div class="criterion-details-measurement"><%= @scheme_mix_criterion.scheme_criterion.criterion.measurement.html_safe %></div>
            <div class="criterion-details-subtitle">Measurement principle</div>
            <div class="criterion-details-measurement-principle"><%= @scheme_mix_criterion.scheme_criterion.criterion.measurement_principle.html_safe %></div>
            <div class="criterion-details-subtitle">Score description</div>
            <div class="criterion-details-score-description"><%= @scheme_mix_criterion.scheme_criterion.score_description.html_safe %></div>
          </div>
        </div>
    </div>
    <div class="col-lg-6">
        <% if @scheme_mix_criterion.requirement_data.assigned_to_user(current_user).present? %>
            <div class="ibox">
                <div class="ibox-title">
                    <h5>Your requirements <%= tooltip('These requirements were assigned to you. It is your responsibility to provide documentation for these requirements.') %></h5>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-md-12">
                            <div id="accordion" class="panel-group">
                                <% @scheme_mix_criterion.requirement_data.assigned_to_user(current_user).each_with_index do |requirement_datum| %>
                                    <%= render 'requirements/update', requirement_datum: requirement_datum, certification_path_id: @certification_path.id, scheme_mix_id: @scheme_mix.id, scheme_mix_criterion_id: @scheme_mix_criterion.id %>
                                <% end %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <% end %>
        <% if @scheme_mix_criterion.requirement_data.not_assigned_to_user(current_user).present? %>
            <div class="ibox">
                <div class="ibox-title">
                    <% if @scheme_mix_criterion.requirement_data.assigned_to_user(current_user).present? %>
                        <h5>Other requirements</h5>
                    <% else %>
                        <h5>Requirements</h5>
                    <% end %>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-md-12">
                            <div id="accordion" class="panel-group">
                                <% @scheme_mix_criterion.requirement_data.not_assigned_to_user(current_user).each_with_index do |requirement_datum| %>
                                    <%= render 'requirements/update', requirement_datum: requirement_datum, certification_path_id: @certification_path.id, scheme_mix_id: @scheme_mix.id, scheme_mix_criterion_id: @scheme_mix_criterion.id %>
                                <% end %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <% end %>
        <!-- if can? :create, Document %-->
        <% if current_user.system_admin? || current_user.project_manager?(@project) || current_user.project_team_member?(@project) %>
            <div class="ibox">
                <div class="ibox-title">
                    <h5>Upload documentation</h5>
                </div>
                <div class="ibox-content">
                    <%= render 'documents/new', document: Document.new, project: @project, certification_path: @certification_path, scheme_mix: @scheme_mix, scheme_mix_criterion_id: @scheme_mix_criterion.id %>
                </div>
            </div>
        <% end %>
        <div class="ibox">
            <div class="ibox-title">
                <h5>Documentation</h5>
            </div>
            <div class="ibox-content">
                <%= render 'scheme_mix_criteria_documents/index', scheme_mix_criteria_documents: @scheme_mix_criterion.scheme_mix_criteria_documents %>
            </div>
        </div>
    </div>
</div>
<%= render 'modal', project: @project, certification_path: @certification_path, scheme_mix: @scheme_mix, scheme_mix_criterion: @scheme_mix_criterion %>
<div id="showCriteriaStatusLogsModal" class="modal fade"></div>
