<div class="row">
    <div class="col-lg-6">
        <div class="ibox">
            <div class="ibox-title">
                <h5>Criterion score</h5>
            </div>
            <div class="ibox-content">
                <%= bootstrap_form_for([@project, @certification_path, @scheme_mix, @scheme_mix_criterion], url: project_certification_path_scheme_mix_scheme_mix_criterion_path) do |f| %>
                    <% if @scheme_mix_criterion.errors.any? %>
                        <div id="error_explanation">
                            <h2><%= pluralize(@scheme_mix_criterion.errors.count, "error") %> prohibited this criterion from being saved:</h2>
                            <ul>
                                <% @scheme_mix_criterion.errors.full_messages.each do |message| %>
                                    <li><%= message %></li>
                                <% end %>
                            </ul>
                        </div>
                    <% end %>
                    <div class="row">
                        <div class="col-md-3">
                            <% if (can? :update, @scheme_mix_criterion) && (current_user.system_admin? || current_user.project_manager?(@project)) %>
                                <%= f.select :targeted_score, @scheme_mix_criterion.scheme_criterion.scores.map { |k| [k.score, k.score]} %>
                            <% else %>
                                <%= f.static_control :targeted_score %>
                            <% end %>
                        </div>
                        <div class="col-md-3">
                            <% if (can? :update, @scheme_mix_criterion) &&
                                    (current_user.system_admin? ||
                                            current_user.project_manager?(@project) ||
                                            @scheme_mix_criterion.contains_requirement_for?(current_user)
                                    ) %>
                                <%= f.select :submitted_score, @scheme_mix_criterion.scheme_criterion.scores.map { |k| [k.score, k.score]}, {include_blank: '-'} %>
                            <% else %>
                                <%= f.static_control :submitted_score %>
                            <% end %>
                        </div>
                        <div class="col-md-3">
                            <% if (can? :update, @scheme_mix_criterion) && (current_user.system_admin? || @scheme_mix_criterion.certifier == current_user || current_user.certifier_manager?(@project)) %>
                                <%= f.select :achieved_score, @scheme_mix_criterion.scheme_criterion.scores.map { |k| [k.score, k.score]}, {include_blank: '-'} %>
                            <% else %>
                                <%= f.static_control :achieved_score %>
                            <% end %>
                        </div>
                        <div class="col-md-3">
                            <%= f.static_control label: 'Status' do @scheme_mix_criterion.status.humanize end %>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="hr-line-dashed"></div>
                            <% if (can? :update, @scheme_mix_criterion) &&
                                    (current_user.system_admin? ||
                                            current_user.project_manager?(@project) ||
                                            @scheme_mix_criterion.contains_requirement_for?(current_user) ||
                                            @scheme_mix_criterion.certifier == current_user ||
                                            current_user.certifier_manager?(@project)
                                    ) %>
                                <%= button_tag type: 'submit', class: 'btn btn-primary' do %>
                                <i title="Save" class="fa fa-lg fa-save" style="padding-right: 10px;"></i>Save
                                <% end %>
                                <% if !@scheme_mix_criterion.contains_requirement_for?(current_user) %>
                                <button type="button" class="btn btn-white" data-toggle="modal" data-target="#updateCriterionStatusModal">Update status</button>
                                <% end %>
                            <% end %>
                            <%= link_to raw('<i title="Show status log" class="fa fa-lg fa-history" style="padding-right: 10px;"></i>Show status log'), project_certification_path_scheme_mix_scheme_mix_criterion_status_logs_path(@project, @certification_path, @scheme_mix, @scheme_mix_criterion), remote: true, class: 'btn btn-white' %>
                        </div>
                    </div>
                <% end %>
            </div>
        </div>
        <% if current_user.system_admin? || current_user.certifier_manager?(@project) %>
            <div class="ibox">
                <div class="ibox-title">
                    <h5>Certifier</h5>
                </div>
                <div class="ibox-content">
                    <%= bootstrap_form_tag url: assign_certifier_to_criteria_path(@project, @certification_path, @scheme_mix, @scheme_mix_criterion), method: 'put' do |f| %>
                        <% users = User.authorized_for_project(@project).with_certifier_project_role %>
                        <% if @scheme_mix_criterion.certifier.nil? %>
                            <%= f.select :user_id, options_for_select(users.map { |k| [k.email, k.id]}), {label: 'Responsibility', include_blank: ''} %>
                        <% else %>
                            <%= f.select :user_id, options_for_select(users.map { |k| [k.email, k.id]}, @scheme_mix_criterion.certifier.id), {label: 'Responsibility'} %>
                        <% end %>
                        <%= f.text_field :due_date, value: ((l @scheme_mix_criterion.due_date, format: :short) if !@scheme_mix_criterion.due_date.nil?), prepend: '<i class="fa fa-calendar"></i>'.html_safe, data: {provide: 'datepicker'} %>
                        <div class="hr-line-dashed"></div>
                        <%= button_tag type: 'submit', class: 'btn btn-primary' do %>
                        <i title="Save" class="fa fa-lg fa-save" style="padding-right: 10px;"></i>Save
                        <% end %>
                    <% end %>
                </div>
            </div>
        <% end %>
        <div class="ibox">
          <div class="ibox-title">
            <h5>Criterion details</h5>
          </div>
          <div class="ibox-content">
            <div><strong>Description</strong></div>
            <div><p><%= @scheme_mix_criterion.scheme_criterion.criterion.description %></p></div>
            <div><strong>Measurement</strong></div>
            <div><p><%= @scheme_mix_criterion.scheme_criterion.criterion.measurement %></p></div>
            <div><strong>Measurement principle</strong></div>
            <div><p><%= @scheme_mix_criterion.scheme_criterion.criterion.measurement_principle %></p></div>
          </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="ibox">
            <div class="ibox-title">
                <h5>Requirements</h5>
            </div>
            <div class="ibox-content">
                <div class="row">
                    <div class="col-md-12">
                        <div id="accordion" class="panel-group">
                            <% @scheme_mix_criterion.requirement_data.each_with_index do |requirement_datum| %>
                                <%= render 'requirements/update', requirement_datum: requirement_datum, certification_path_id: @certification_path.id, scheme_mix_id: @scheme_mix.id, scheme_mix_criterion_id: @scheme_mix_criterion.id %>
                            <% end %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <% if can? :create, Document %>
            <div class="ibox">
                <div class="ibox-title">
                    <h5>Upload documentation</h5>
                </div>
                <div class="ibox-content">
                    <%= render 'documents/new', document: Document.new, scheme_mix: @scheme_mix, scheme_mix_criterion_id: @scheme_mix_criterion.id %>
                </div>
            </div>
        <% end %>
        <div class="ibox">
            <div class="ibox-title">
                <h5>Documentation</h5>
            </div>
            <div class="ibox-content">
                <%= render 'scheme_mix_criteria_documents/index', scheme_mix_criteria_documents: @scheme_mix_criterion.scheme_mix_criteria_documents %>
            </div>
        </div>
    </div>
</div>
<%= render 'modal', project: @project, certification_path: @certification_path, scheme_mix: @scheme_mix, scheme_mix_criterion: @scheme_mix_criterion %>
<div id="showCriteriaStatusLogsModal" class="modal fade"></div>
