<div class="row">
<div class="col-lg-4">
    <div class="ibox criterion-details">
        <div class="ibox-title">
            <%= audit_log_label(@scheme_mix_criterion) %>
            <h5>Criterion details</h5>
        </div>
        <div class="ibox-content">
            <table class="table table-bordered table-striped">
                <tbody>
                <tr>
                    <th>Status</th>
                    <td>
                        <%= @scheme_mix_criterion.status.humanize %>
                    </td>
                </tr>
                </tbody>
            </table>
            <% if can?(:update_status, @scheme_mix_criterion) %>
                <% if @scheme_mix_criterion.verifying? || @scheme_mix_criterion.verifying_after_appeal? %>
                    <div class="hr-line-dashed"></div>
                    <%= link_to('<i title="Target achieved" class="fa fa-lg fa-check" style="padding-right: 10px;"></i>Target achieved'.html_safe, edit_status_project_certification_path_scheme_mix_scheme_mix_criterion_path(@project, @certification_path, @scheme_mix, @scheme_mix_criterion, achieved: 1), class: 'btn btn-primary', remote: true) %>
                    <%= link_to('<i title="Target not achieved" class="fa fa-lg fa-times" style="padding-right: 10px;"></i>Target not achieved'.html_safe, edit_status_project_certification_path_scheme_mix_scheme_mix_criterion_path(@project, @certification_path, @scheme_mix, @scheme_mix_criterion, achieved: 0), class: 'btn btn-danger', remote: true) %>
                <% elsif @scheme_mix_criterion.submitting? || @scheme_mix_criterion.submitting_after_appeal? %>
                    <div class="hr-line-dashed"></div>
                    <%= link_to('<i title="Submit criterion" class="fa fa-lg fa-check" style="padding-right: 10px;"></i>Submit criterion'.html_safe, edit_status_project_certification_path_scheme_mix_scheme_mix_criterion_path(@project, @certification_path, @scheme_mix, @scheme_mix_criterion), class: 'btn btn-primary', remote: true) %>
                <% end %>
            <% end %>
        </div>
    </div>
    <div class="ibox criterion-details">
        <div class="ibox-title">
            <h5>Criterion scores</h5>
        </div>
        <div class="ibox-content">
            <%= bootstrap_form_for([@project, @certification_path, @scheme_mix, @scheme_mix_criterion], url: update_scores_project_certification_path_scheme_mix_scheme_mix_criterion_path, method: 'put') do |f| %>
                <% if @scheme_mix_criterion.errors.any? %>
                    <div id="error_explanation">
                        <h2><%= pluralize(@scheme_mix_criterion.errors.count, "error") %> prohibited this criterion from being saved:</h2>
                        <ul>
                            <% @scheme_mix_criterion.errors.full_messages.each do |message| %>
                                <li><%= message %></li>
                            <% end %>
                        </ul>
                    </div>
                <% end %>
                <% show_save_button = false %>
                <table class="table table-bordered table-striped">
                    <thead>
                    <tr>
                        <th></th>
                        <th>Score</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th>Targeted score</th>
                        <td>
                            <% if current_user.system_admin? || (@certification_path.in_submission? && current_user.project_manager?(@project)) %>
                                <%= f.select :targeted_score, @scheme_mix_criterion.scheme_criterion.scores, hide_label: true %>
                                <% show_save_button = true %>
                            <% else %>
                                <%= f.static_control :targeted_score, hide_label: true  %>
                            <% end %>
                        </td>
                    </tr>
                    <tr>
                        <th>Submitted score</th>
                        <td>
                            <% if current_user.system_admin? || (@certification_path.in_submission? && (current_user.project_manager?(@project) || @scheme_mix_criterion.contains_requirement_for?(current_user))) %>
                                <%= f.select :submitted_score, @scheme_mix_criterion.scheme_criterion.scores, {include_blank: '-', hide_label: true} %>
                                <% show_save_button = true %>
                            <% else %>
                                <%= f.static_control :submitted_score, hide_label: true %>
                            <% end %>
                        </td>
                    </tr>
                    <tr>
                        <th>Achieved score</th>
                        <td>
                            <% if current_user.system_admin? || (@certification_path.in_verification? && ((@scheme_mix_criterion.certifier == current_user) || current_user.certifier_manager?(@project))) %>
                                <%= f.select :achieved_score, @scheme_mix_criterion.scheme_criterion.scores, {include_blank: '-', hide_label: true} %>
                                <% show_save_button = true %>
                            <% else %>
                                <%= f.static_control :achieved_score, hide_label: true %>
                            <% end %>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <% if show_save_button %>
                    <div class="hr-line-dashed"></div>
                    <%= button_tag type: 'submit', class: 'btn btn-primary' do %>
                        <i title="Save" class="fa fa-lg fa-save" style="padding-right: 10px;"></i>Save
                    <% end %>
                <% end %>
            <% end %>
        </div>
    </div>

    <div class="ibox">
        <div class="ibox-title">
            <h5>Certifier</h5>
        </div>
        <div class="ibox-content">
            <%= bootstrap_form_tag url: assign_certifier_project_certification_path_scheme_mix_scheme_mix_criterion_path(@project, @certification_path, @scheme_mix, @scheme_mix_criterion), method: 'put' do |f| %>
                <% if current_user.system_admin? || (@certification_path.in_verification? && current_user.certifier_manager?(@project)) %>
                    <div class="row">
                        <div class="col-md-7">
                            <% users = User.authorized_for_project(@project).with_certifier_project_role %>
                            <% if @scheme_mix_criterion.certifier.nil? %>
                                <%= f.select :user_id, options_for_select(users.map { |k| [k.email, k.id]}), {label: 'Responsibility', include_blank: ''}, class: 'select2-certifier' %>
                            <% else %>
                                <%= f.select :user_id, options_for_select(users.map { |k| [k.email, k.id]}, @scheme_mix_criterion.certifier.id), {label: 'Responsibility', include_blank: ''}, class: 'select2-certifier' %>
                            <% end %>
                        </div>
                        <div class="col-md-5">
                            <%= f.text_field :due_date, value: ((l @scheme_mix_criterion.due_date, format: :short) if !@scheme_mix_criterion.due_date.nil?), prepend: '<i class="fa fa-calendar"></i>'.html_safe, class: 'datepicker-future', autocomplete: 'off' %>
                        </div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <%= button_tag type: 'submit', class: 'btn btn-primary' do %>
                        <i title="Save" class="fa fa-lg fa-save" style="padding-right: 10px;"></i>Save
                    <% end %>
                <% else %>
                    <div class="row">
                        <div class="col-md-7">
                            <% if @scheme_mix_criterion.certifier.nil? %>
                                <%= f.label :user_id, 'Responsibility' %>
                                <p>This criterion is not yet assigned.</p>
                            <% else %>
                                <%= f.select :user_id, options_for_select([@scheme_mix_criterion.certifier].map { |k| [k.email, k.id]}, @scheme_mix_criterion.certifier.id), {label: 'Responsibility'}, disabled: true, class: 'select2-certifier' %>
                            <% end %>
                        </div>
                        <div class="col-md-5">
                            <%= f.text_field :due_date, value: ((l @scheme_mix_criterion.due_date, format: :short) if !@scheme_mix_criterion.due_date.nil?), prepend: '<i class="fa fa-calendar"></i>'.html_safe, class: 'datepicker-future', autocomplete: 'off', disabled: true %>
                        </div>
                    </div>
                <% end %>
            <% end %>
        </div>
    </div>

    <div class="ibox criterion-information">
        <div class="ibox-title">
            <h5>Criterion information</h5>
        </div>
        <div class="ibox-content">
            <% @scheme_mix_criterion.scheme_criterion.scheme_criterion_texts.each do |scheme_criterion_text| %>
                <div class="subtitle"><%= scheme_criterion_text.name.capitalize %></div>
                <div class="<%= scheme_criterion_text.name.downcase  %>"><%= scheme_criterion_text.html_text.html_safe %></div>
            <% end %>
        </div>
    </div>
</div>
<div class="col-lg-8">
    <% if @scheme_mix_criterion.requirement_data.assigned_to_user(current_user).present? %>
        <div class="ibox">
            <div class="ibox-title">
                <h5>Your requirements <%= tooltip('These requirements were assigned to you. It is your responsibility to provide documentation for these requirements.') %></h5>
            </div>
            <div class="ibox-content">
                <div class="row">
                    <div class="col-md-12">
                        <div id="accordion" class="panel-group">
                            <% @scheme_mix_criterion.requirement_data.assigned_to_user(current_user).each do |requirement_datum| %>
                                <%= render 'requirement_data/update', requirement_datum: requirement_datum, certification_path_id: @certification_path.id, scheme_mix_id: @scheme_mix.id, scheme_mix_criterion_id: @scheme_mix_criterion.id %>
                            <% end %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <% end %>
    <% if @scheme_mix_criterion.requirement_data.not_assigned_to_user(current_user).present? %>
        <div class="ibox">
            <div class="ibox-title">
                <% if @scheme_mix_criterion.requirement_data.assigned_to_user(current_user).present? %>
                    <h5>Other requirements</h5>
                <% else %>
                    <h5>Requirements</h5>
                <% end %>
            </div>
            <div class="ibox-content">
                <div class="row">
                    <div class="col-md-12">
                        <div id="accordion" class="panel-group">
                            <% @scheme_mix_criterion.requirement_data.not_assigned_to_user(current_user).each do |requirement_datum| %>
                                <%= render 'requirement_data/update', requirement_datum: requirement_datum, certification_path_id: @certification_path.id, scheme_mix_id: @scheme_mix.id, scheme_mix_criterion_id: @scheme_mix_criterion.id %>
                            <% end %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <% end %>
    <% if current_user.system_admin? || (@certification_path.in_submission? && (current_user.project_manager?(@project) || current_user.project_team_member?(@project))) %>
        <div class="ibox">
            <div class="ibox-title">
                <h5>Upload documentation</h5>
            </div>
            <div class="ibox-content">
                <%= render 'documents/new', document: Document.new, project: @project, certification_path: @certification_path, scheme_mix: @scheme_mix,  scheme_mix_criterion_id: @scheme_mix_criterion.id %>
            </div>
        </div>
    <% end %>
    <div class="ibox" id="documentation">
        <div class="ibox-title">
            <h5>Documentation</h5>
        </div>
        <div class="ibox-content">
            <%= render 'scheme_mix_criteria_documents/index', scheme_mix_criteria_documents: (current_user.certifier_manager?(@project) || current_user.certifier?(@project)) ? @scheme_mix_criterion.scheme_mix_criteria_documents.approved : @scheme_mix_criterion.scheme_mix_criteria_documents %>
        </div>
    </div>
</div>
</div>
<div id="editStatusSchemeMixCriterionModal" class="modal fade"></div>
<%= javascript_include_tag 'select_project_certifier' %>
<%= javascript_include_tag 'select_project_assessor' %>