<div class="modal fade" id="updateCriterionStatusModal">
    <div class="modal-dialog">
        <%= bootstrap_form_for([@project, @certification_path, @scheme_mix, @scheme_mix_criterion], url: project_certification_path_scheme_mix_scheme_mix_criterion_path) do |f| %>
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" title="<%= t('.btn_close') %>" data-toggle="tooltip" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title"><%= t('.modal_title') %></h4>
            </div>
            <div class="modal-body">
                <% if @certification_path.in_submission? %>
                    <%= f.select :status, SchemeMixCriterion.statuses.keys[0..1].map { |k| [k.humanize, k]} %>
                <% elsif @certification_path.in_screening? %>
                    <%= f.select :status, SchemeMixCriterion.statuses.keys[2].map { |k| [k.humanize, k]} %>
                <% elsif @certification_path.in_review? %>
                    <%= f.select :status, SchemeMixCriterion.statuses.keys[3..4].map { |k| [k.humanize, k]} %>
                <% elsif @certification_path.in_verification? %>
                    <%= f.select :status, SchemeMixCriterion.statuses.keys[5..6].map { |k| [k.humanize, k]} %>
                <% end %>
                <%= f.text_area :audit_log_user_comment, rows: 4 %>
            </div>
            <div class="modal-footer">
                <%= button_tag type: 'submit', class: 'btn btn-primary' do %>
                    <i title="Save" class="fa fa-lg fa-save" style="padding-right: 10px;"></i><%= t('.btn_save') %>
                <% end %>
                <button type="button" class="btn btn-white" data-dismiss="modal"><i title="Cancel" class="fa fa-lg fa-times" style="padding-right: 10px;"></i><%= t('.btn_cancel') %></button>
            </div>
        </div>
        <% end %>
    </div>
</div>