<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GSBgate &gt; Error</title>

    <!-- Main css styles -->
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <!-- Main javascript files -->
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
</head>

<body class="skin-gord gray-bg">
<div class="middle-box text-center animated fadeInDown errorscreen">
    <div class="ibox-content">
        <%= image_tag('layout/gsas_trust_logo-small.png') %>
        <h2 class="font-bold"><%= @title %> (<%= @status_code %>)</h2>
        <div class="error-desc">
            <p><%= @message %></p>
            <p>Support ID: <%= request.uuid %></p>
            <% if APP_VERSION.present? %>
              <p>GSBgate Version: <%= APP_VERSION %></p>
            <% end %>
            <p><%= link_to 'Click here', root_path %> to return to the home page.</p>
        </div>
    </div>
</div>

</body>
</html>
