<div class="ibox-content">
    <%= image_tag 'layout/logo.gif' %>

    <h3>Welcome to GSASgate</h3>

    <p>Please enter your <a href="http://www.linkme.qa/" target="_blank">LinkMe</a> credentials below to log in.</p>
    <%= bootstrap_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <%= f.email_field :email, autofocus: true, placeholder: 'Email address', hide_label: true %>
        <%= f.password_field :password, autocomplete: "off", placeholder: 'Password', hide_label: true %>

        <% if devise_mapping.rememberable? %>
            <%= f.check_box :remember_me %>
        <% end %>

        <%= f.submit "Log in", class: 'btn btn-primary block full-width m-b' %>
    <% end %>

    <small>
        <%= render "devise/shared/links" %>
    </small>
</div>