<style>
body.skin-gord-login{
  background-color: #3a4f57 !important; 
  background-image:none !important;
}
</style>
<div class="ibox p-5 m-4 new_form">
<div class="ibox-content new-user-content-box">
<h2 class="text-blue my-4"><b>Change your password</b></h2>
<hr/>

    <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
          <%= f.input :reset_password_token, as: :hidden %>
          <%= f.full_error :reset_password_token %>

          <%= f.input :password,
                label: "New password",
                required: true,
                autofocus: true,
                hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                input_html: { autocomplete: "new-password" } %>
          <%= f.input :password_confirmation,
                label: "Confirm your new password",
                required: true,
                input_html: { autocomplete: "new-password" } %>
      </div>

      <div class="form-actions">
        <%= btn_cancel_to(new_user_session_path, style: 'danger', icon: 'times') %>
        <%= btn_save(text: "Change my password") %>
      </div>
    <% end %>

    <%= render "users/shared/links" %>
  </div>
</div>
