<style>
body.skin-gord-login{
  background-color: #3a4f57 !important; 
  background-image:none !important;
}
</style>
<div class="ibox p-5 m-4 new_form forget-pass">
    <div class="ibox-content new-user-content-box border-0 pt-0">
    <h2 class="text-green my-4"><b>Forgot your password?</b><br/>
    <h5 class="text-dark">Please enter the email you use to sign in to GSBgate</h5>
    </h2>
    <hr/>
      <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
        <%= f.error_notification %>

        <div class="form-inputs">
          <%= f.input :email, required: true %>
        </div>

        <div class="form-actions">
          <%= btn_cancel_to(new_user_session_path, style: 'danger', icon: 'times') %>
          <%= btn_save(text: " Request password reset") %>
        </div>
      <% end %>

      <%= render "users/shared/links" %>
    </div>
</div>
