<div class="modal fade allocate-responsibility-modal" id="allocateCertifierTeamResponsibilityModal">
    <div class="modal-dialog modal-lg">
        <%= bootstrap_form_for([project, certification_path], url: allocate_certifier_team_responsibility_project_certification_path_path, method: 'put') do |f| %>
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" title="<%= t('.btn_close') %>" data-toggle="tooltip">
                        <span>&times;</span>
                    </button>
                    <h4 class="modal-title"><%= t('.modal_title') %></h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-7">
                            <div class="form-group">
                                <%= label_tag 'certifier_id', 'Allocate the selected criteria to', class: 'control-label' %>
                                <% certifiers = User.authorized_for_project(@project).with_certifier_project_role %>
                                <%= select_tag 'certifier_id', options_for_select(certifiers.map {|k| [k.email, k.id]}), {include_blank: '- Not allocated -', class: 'form-control'} %>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="form-group">
                                <%= label_tag 'due_date', 'Due date', class: 'control-label' %>
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <%= fa_icon('calendar') %>
                                    </span>
                                    <%= text_field_tag 'due_date', nil, {class: 'datepicker-future form-control', autocomplete: 'off'} %>
                                </div>
                            </div>
                        </div>
                    </div>
                    <table class="table table-bordered">
                        <% certification_path.scheme_mixes.uniq.each do |scheme_mix| %>
                            <tr><th colspan="5"><%= scheme_mix.name %></th></tr>
                            <% scheme_mix.scheme_categories.uniq.each do |category| %>
                                <tr>
                                    <th><%= check_box_tag 'categories[]', category.id, false, class: 'checkbox_parent' %></th>
                                    <th><%= category.name %></th>
                                    <th>Allocated&nbsp;to</th>
                                    <th>Due&nbsp;date</th>
                                    <th>Status</th>
                                </tr>
                                <% scheme_mix.scheme_mix_criteria.for_category(category).each do |scheme_mix_criterion| %>
                                    <tr>
                                        <td><%= check_box_tag 'scheme_mix_criteria[]', scheme_mix_criterion.id, false, class: "checkbox_child_#{category.id}" %></td>
                                        <td><%= scheme_mix_criterion.scheme_criterion.full_name %></td>
                                        <td><%= scheme_mix_criterion.certifier.email if scheme_mix_criterion.certifier %></td>
                                        <td><%= l(scheme_mix_criterion.due_date, format: :short) if scheme_mix_criterion.due_date %></td>
                                        <td><%= scheme_mix_criterion.status.humanize.gsub(' ', '&nbsp;').html_safe if scheme_mix_criterion.status %></td>
                                    </tr>
                                <% end %>
                            <% end %>
                        <% end %>
                    </table>
                </div>
                <div class="modal-footer">
                    <% can_allocate_certifier_team_responsibility = @certification_path.in_verification? && can?(:allocate_certifier_team_responsibility, @certification_path) %>
                    <% if can_allocate_certifier_team_responsibility %>
                        <%= button_tag type: 'submit', class: 'btn btn-primary' do %>
                            <%= fa_icon('save', t('.btn_save')) %>
                        <% end %>
                    <% end %>
                    <button type="button" class="btn btn-white" data-dismiss="modal">
                        <%= fa_icon('times', 'Cancel') %>
                    </button>
                </div>
            </div>
        <% end %>
    </div>
</div>
<%= javascript_include_tag 'checkbox_multicheck' %>