<% certification_path = project&.certification_paths&.first %>

<% if certification_path.present? %>
  <table class="table table-bordered table-mb-0">
    <tbody>
      <tr>
        <th><%= t('certification_paths.show.certification_path.name') %></th>
        <td>
          <%= can_link_to(project_certification_path_path(project, certification_path), certification_path, class: "link-mr-2") do %>
            <%= certification_path.certificate.only_certification_name %>
          <% end %>
          <% if can? :confirm_destroy, @certification_path %>
            <%= btn_link_to(confirm_destroy_project_certification_path_path(@project, certification_path), {icon: 'trash', style: 'danger', size: 'extra_small', tooltip: 'Destroy all certification data', method: :get, data: {confirm: 'Do you really want to delete this certification?'}}) %>
          <% end %>
          <% if can? :confirm_deny, certification_path %>
            <%= btn_link_to(confirm_deny_project_certification_path_path(@project, certification_path), {icon: 'ban', style: 'danger', size: 'extra_small', tooltip: 'Deny certificate', method: :get, data: {confirm: 'Do you really want to deny certification?'}}) %>
          <% end %>
        </td>
      </tr>
      <tr>
        <th><%= t('certification_paths.show.certification_path.version') %></th>
        <td>
          <%= can_link_to(project_certification_path_path(project, certification_path), certification_path) do %>
            <%= certification_path.certificate.only_version %>
          <% end %>
        </td>
      </tr>
      <tr>
        <th><%= t('certification_paths.show.certification_path.scheme') %></th>
        <td>
          <%= can_link_to(project_certification_path_path(project, certification_path), certification_path) do %>
            <%= certification_path.scheme_names %>
          <% end %>
        </td>
      </tr>
    </tbody>
  </table>
<% end %>
