<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class="modal-header">
      <%= btn_close_modal %>
      <h4 class="modal-title">
        Certificate Information Verification Form
      </h4>
    </div>
    <div class="modal-body">
      <%= bootstrap_form_for(certification_path_report, url: create_detailed_certification_report_project_certification_path_path(project, certification_path), remote: :true, method: :post) do |f| %>

        <% CertificationPathReport.attributes_for_user(current_user&.role).each do |attr| %>
          <%= f.text_field attr, label: CertificationPathReport.human_attribute_name(attr.to_s), required: true %>
        <% end %>

        <% if ['system_admin', 'gsas_trust_admin', 'document_controller'].include?(current_user&.role) %>
          <%= f.text_field :issuance_date, value: f.object&.issuance_date&.strftime("%d/%m/%Y"), label: CertificationPathReport.human_attribute_name('issuance_date'), prepend: ikoen('calendar'), class: 'datepicker-past', autocomplete: 'off', required: true %>

          <%= f.text_field :approval_date, value: f.object&.approval_date&.strftime("%d/%m/%Y"), label: CertificationPathReport.human_attribute_name('approval_date'), prepend: ikoen('calendar'), class: 'datepicker-past', autocomplete: 'off', required: true %>
          
          <% unless f.object&.is_released? %>
            <%= btn_save(text: 'Save and Release', value: 'save-and-release') %>
          <% end %>
        <% end %>
        
        <%= btn_save %>
      <% end %>
    </div>
  </div>
</div>
