<% certification_path = project&.certification_paths&.last %>

<% if certification_path.present? %>
<li class="list-group-item table-my-0 table-py-0 px-0">
<div class="table-responsive">
  <table class="table table-bordered table-mb-0 ">
    <tbody>
      <tr>
        <th class="w-50"><%= t('certification_paths.show.certification_path.name') %></th>
        <td>
          <%= can_link_to(project_certification_path_path(project, certification_path), certification_path, class: "link-mr-2") do %>
            <%= certification_path.certificate.only_certification_name %>
          <% end %>
        </td>
      </tr>
      <tr>
        <th><%= t('certification_paths.show.certification_path.version') %></th>
        <td>
          <%= can_link_to(project_certification_path_path(project, certification_path), certification_path) do %>
            <%= certification_path.certificate.only_version %>
          <% end %>
        </td>
      </tr>
      <tr>
        <th><%= t('certification_paths.show.certification_path.scheme') %></th>
        <td>
          <%= can_link_to(project_certification_path_path(project, certification_path), certification_path) do %>
            <%= certification_path.scheme_names %>
          <% end %>
        </td>
      </tr>
      <tr>
        <th class="border-bottom-0"><%= t('certification_paths.show.certification_path.assessment_method') %></th>
        <td class="border-bottom-0">
          <%= can_link_to(project_certification_path_path(project, certification_path), certification_path) do %>
            <%= certification_path&.assessment_method_title %>
          <% end %>
        </td>
      </tr>
    </tbody>
  </table>
  </div>
</li>
<% end %>
