<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <%= btn_close_modal %>
            <h4 class="modal-title">
                Select Main Scheme
            </h4>
        </div>
        <%= bootstrap_form_for(@certification_path, url: update_main_scheme_mix_project_certification_path_path(@project, @certification_path), method: 'put') do |f| %>
            <div class="modal-body">
                <div class="alert alert-info" role="alert">
                    <%= ikoen_with_text('info-circle', 'Some category scores of the main scheme (or main typology) will be inherited by other schemes.') %>
                </div>
                <%= f.select :main_scheme_mix_id, options_for_select(@certification_path.scheme_mixes.map {|scheme_mix| [scheme_mix.name, scheme_mix.id]}, @certification_path.main_scheme_mix_id), {label: 'Main Scheme', include_blank: '- There is no main scheme -'} %>
            </div>
            <div class="modal-footer">
                <%= btn_save %>
            </div>
        <% end %>
    </div>
</div>
