<div class="modal-dialog">
    <div class="modal-content">
        <% if todos.blank? %>
            <% if params.has_key?(:appeal) %>
                <%= render 'update_status_appeal' %>
            <% else %>
                <%= render 'update_status_advance' %>
            <% end %>
        <% else %>
            <div class="modal-header alert-danger">
                <button type="button" class="close" data-dismiss="modal" title="<%= t('.btn_close') %>" data-toggle="tooltip" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">
                    <%= fa_icon('exclamation-circle', 'The status cannot be advanced yet because of the following issues:') %>
                </h4>
            </div>
            <div class="modal-body">
                <ul>
                    <% todos.each do |todo| %>
                        <li><%= todo %></li>
                    <% end %>
                </ul>
            </div>
        <% end %>
    </div>
</div>
