<div class="modal fade" id="updateCertificatePathStatusModal">
    <div class="modal-dialog">
        <%= bootstrap_form_for([@project, @certification_path], url: project_certification_path_path) do |f| %>
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span>&times;</span>
                    </button>
                    <h4 class="modal-title"><%= t('.modal_title') %></h4>
                </div>
                <div class="modal-body">
                    <%= f.select :status, CertificationPath.statuses.keys.map { |k| [k.humanize, k]} %>
                </div>
                <div class="modal-footer">
                    <%= f.primary t('.btn_save') %>
                    <button type="button" class="btn btn-white" data-dismiss="modal"><%= t('.btn_cancel') %></button>
                </div>
            </div>
        <% end %>
    </div>
</div>