<%= bootstrap_form_for(@certification_path, url: apply_certification_path_path(@project, @certification_path.certificate)) do |f| %>

    <!-- Set the certificate-->
    <%= f.hidden_field :certificate_id, value: @certification_path.certificate_id %>

    <!-- GSAS version should be the same as LOC -->

    <!-- PCR -->
    <%= f.form_group :pcr_track, label: {text: 'Pre Certification Review'} do %>
        <%= f.check_box :pcr_track, label: 'Apply for the Pre Certification Review track (PCR)' %>
    <% end %>

    <!-- Select the duration -->
    <%= f.select :duration, [['2 years', 2], ['3 years', 3], ['4 years', 4]], {include_blank: true}, {class: 'duration-select', wrapper_class: 'duration-group'} %>

    <!-- Development Type -->
    <%= f.static_control label: 'Development Type' do %>
        <%= @certification_path.development_type.to_s.humanize %>
    <% end %>

    <!-- Scheme Mixes -->
    <div class="form-group">
        <label class="control-label">Scheme(s)</label>
        <table class="table table-bordered table-hover">
            <thead>
            <tr>
                <th class="col-md-8">Scheme name</th>
                <th class="col-md-4">Weight</th>
            </tr>
            </thead>
            <tbody>
            <% @certification_path.scheme_mixes.each do |scheme_mix| %>
                <tr>
                    <td><%= scheme_mix.name %></td>
                    <td><%= scheme_mix.weight %> %</td>
                </tr>
            <% end %>
            </tbody>
        </table>
    </div>
    <br/>
    <%= btn_save %>
<% end %>
<%= javascript_include_tag 'new_final_design' %>