<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header">
            <%= btn_close_modal %>
            <h4 class="modal-title">Applying for <em><%= t(@certification_type, scope: 'activerecord.attributes.certificate.certification_types') %></em></h4>
        </div>
        <div class="modal-body">
            <%= bootstrap_form_for(@certification_path, url: apply_certification_path_path(@project, Certificate.certification_types[@certification_type])) do |f| %>

                <!-- Set the project and certification_type, so we can access them easily from JS to reconstruct the current path -->
                <%= f.hidden_field :project_id, value: @certification_path.project_id %>
                <%= f.hidden_field :certification_type, value: Certificate.certification_types[@certification_type] %>

                <!-- PCR -->
                <%= f.form_group :pcr_track, label: {text: 'Pre Certification Review'} do %>
                    <%= f.check_box :pcr_track, label: 'Apply for the Pre Certification Review track (PCR)' %>
                <% end %>

                <!-- Duration (if applicable)-->
                <% if ((Certificate.certification_types[@certification_type] == Certificate.certification_types[:letter_of_conformance]) or (Certificate.certification_types[@certification_type] == Certificate.certification_types[:final_design_certificate])) %>
                    <% if Certificate.certification_types[@certification_type] == Certificate.certification_types[:letter_of_conformance] %>
                        <%= f.static_control label: 'Expires' do %>
                            <%= localize(@certification_path.expires_at) %>
                        <% end %>
                    <% elsif Certificate.certification_types[@certification_type] == Certificate.certification_types[:final_design_certificate] %>
                        <%= f.form_group :expires_at, label: {text: 'Duration'} do %>
                          <%= f.radio_button :expires_at, 2, label: '2 years from now', checked: true %>
                          <%= f.radio_button :expires_at, 3, label: '3 years from now' %>
                          <%= f.radio_button :expires_at, 4, label: '4 years from now' %>
                        <% end %>
                    <% end %>
                <% end %>

                <!-- Custom select for version, so we can determine the certificate -->
                <% unless @certification_path.certificate.construction_certificate_stage2? || @certification_path.certificate.construction_certificate_stage3? %>
                  <%= f.static_control label: 'GSAS Version' do %>
                      <% if Certificate.certification_types[@certification_type] == Certificate.certification_types[:final_design_certificate] %>
                          <%= @certification_path.certificate.gsas_version %>
                      <% else %>
                          <%= select_tag(:gsas_version, options_for_select(@gsas_versions, @gsas_version), {:class => 'form-control'}) %>
                      <% end %>
                  <% end %>
                <% end %>
                <!-- For debugging, to visualize the resulting certificate -->
                <!--%= f.collection_check_boxes :certificate_id, @certificates, :id, :name %-->
                <!--%= f.hidden_field :certificate_id, value: @certification_path.certificate_id %-->

                <!-- Development type -->
                <% if Certificate.certification_types[@certification_type] == Certificate.certification_types[:final_design_certificate] %>
                    <%= f.static_control label: 'Development Type' do %>
                        <%= @certification_path.development_type.name %>
                    <% end %>
                <% else %>
                    <!-- Custom select for development type, so we can determine the linked schemes -->
                    <%= f.select(:development_type, options_from_collection_for_select(@development_types, :id, :name, @certification_path.development_type.id), {:class => 'form-control'}) %>
                <% end %>

                <!-- Schemes -->
                <label class="control-label">Scheme(s)</label>
                <% if Certificate.certification_types[@certification_type] == Certificate.certification_types[:final_design_certificate] %>
                    <div class="form-group">
                        <table class="table table-bordered table-hover">
                            <thead>
                            <tr>
                                <th class="col-md-8">Scheme name</th>
                                <th class="col-md-4">Weight</th>
                            </tr>
                            </thead>
                            <tbody>
                            <% @certification_path.scheme_mixes.each do |scheme_mix| %>
                                <tr>
                                    <td><%= scheme_mix.name %></td>
                                    <td><%= scheme_mix.weight %> %</td>
                                </tr>
                            <% end %>
                            </tbody>
                        </table>
                    </div>
                <% else %>
                    <% if @certification_path.development_type.mixable? %>
                        <div class="form-group scheme-mixed-group">
                            <div class="row">
                                <div class="col-md-9">
                                    <%= select_tag('mixed_scheme_select', options_from_collection_for_select(@certification_path.development_type.schemes, :id, :name), {:include_blank => true, :multiple => false, :class => 'form-control mixed-scheme-select'}) %>
                                </div>
                                <div class="col-md-3">
                                    <%= btn_tag(icon: 'plus-circle', text: 'Add scheme', class: 'form-control add_scheme', type: 'button', style: 'white') %>
                                </div>
                            </div>
                            <br/>
                            <div class="form-group schemes-group">
                                <table class="schemes table table-bordered table-hover">
                                    <thead>
                                    <tr>
                                        <th class="col-md-4">Scheme name</th>
                                        <th class="col-md-4">Custom name</th>
                                        <th class="col-md-3">Weight</th>
                                        <th class="col-md-1"></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                                <div class="row total-row font-bold">
                                    <div class="col-md-7 text-right">Total</div>
                                    <div class="col-md-4">
                                        <span class="scheme-mixed-total"></span> %
                                    </div>
                                    <div class="col-md-1"></div>
                                </div>
                            </div>
                        </div>
                    <% else %>
                        <div class="form-group scheme-single-group">
                            <%= select_tag('single_scheme_select', options_from_collection_for_select(@certification_path.development_type.schemes, :id, :name), {:include_blank => true, :multiple => false, :class => 'form-control single-scheme-select'}) %>
                        </div>
                    <% end %>
                <% end %>
                <div class="hr-line-dashed"></div>
                <%= btn_save %>
            <% end %>
        </div>
    </div>
</div>
<%= javascript_include_tag 'new_certificate' %>
