<% 
  is_certification_paths_present = project&.certification_paths.present? 
  is_td_present = false
%>

<li class="list-group-item table-my-0 table-py-0">
  <div class="row">
    <div class="col-md-12 table-p-0 table-responsive">
      <table class="table table-bordered table-mb-1 border-bottom-table overflow-hidden">
        <tbody>
          <% if is_certification_paths_present %>
            <tr class="bg-header-grey">
              <th class="w-50 border-top-0"><%= t('certification_paths.show.certification_path.stage') %></th>
              <th class="border-top-0"><%= t('certification_paths.show.certification_path.status') %></th>
              <th class="border-top-0"><%= t('certification_paths.show.certification_path.scores') %></th>
            </tr>
          <% end %>

          <% certification_types.each do |certification_type| %>
            <% 
              certification_type = Certificate.certification_types[certification_type]
              certification_paths = CertificationPath.with_project(project).with_certification_type(Certificate.certification_types[Certificate.certification_types.key(certification_type)])
            %>

            <% if certification_paths.present? %>
              <% certification_paths.each do |certification_path| %>
                <tr>
                  <td style="width: 425px;">
                    <div class="d-flex justify-content-between">
                      <%= can_link_to(project_certification_path_path(project, certification_path), certification_path, class: "text-primary link-mr-2") do %>
                        <%= certification_path.certificate.name %>
                      <% end %>
                      <div>
                        <% if can? :confirm_destroy, certification_path %>
                        <%= btn_link_to(confirm_destroy_project_certification_path_path(project, certification_path), {icon: 'trash', style: 'danger', size: 'extra_small', tooltip: 'Destroy all certification data', method: :get, data: {confirm: 'Do you really want to delete this certification?'}}) %>
                        <% end %>
                        <% if can? :confirm_deny, certification_path %>
                        <%= btn_link_to(confirm_deny_project_certification_path_path(project, certification_path), {icon: 'ban', style: 'danger', size: 'extra_small', tooltip: 'Deny certificate', method: :get, data: {confirm: 'Do you really want to deny certification?'}}) %>
                        <% end %>
                      </div>
                    </div>
                  </td>

                  <td style="width: 225px;">
                    <%= certification_path.status %>
                  </td>

                  <td class="td-px-0">
                      <%= render partial: 'certification_paths/checklist_rating', locals: { certification_path: certification_path } %>
                  </td>

                </tr>
              <% end %>

            <% else %>
              <% 
                no_completed_provisional_energy_centers_efficiency = (certification_type == Certificate.certification_types[:final_energy_centers_efficiency] && project.completed_provisional_energy_centers_efficiency.empty?) 

                no_completed_building_energy_efficiency = (certification_type == Certificate.certification_types[:final_building_energy_efficiency] && project.completed_building_energy_efficiency.empty?) 

                no_provisional_healthy_buildings = (certification_type == Certificate.certification_types[:final_healthy_buildings] && project.completed_provisional_healthy_buildings.empty?) 

                no_provisional_indoor_air_quality = (certification_type == Certificate.certification_types[:final_indoor_air_quality] && project.completed_provisional_indoor_air_quality.empty?)
                
                no_provisional_measurement_reporting_and_verification = (certification_type == Certificate.certification_types[:final_measurement_reporting_and_verification] && project.completed_provisional_measurement_reporting_and_verification.empty?) 

                no_provisional_building_water_efficiency = (certification_type == Certificate.certification_types[:final_building_water_efficiency] && project.completed_provisional_building_water_efficiency.empty?) 

                no_provisional_events_carbon_neutrality = (certification_type == Certificate.certification_types[:final_events_carbon_neutrality] && project.completed_provisional_events_carbon_neutrality.empty?)
                
                no_provisional_products_ecolabeling = (certification_type == Certificate.certification_types[:final_products_ecolabeling] && project.completed_provisional_products_ecolabeling.empty?) 

                no_provisional_green_IT = (certification_type == Certificate.certification_types[:final_green_IT] && project.completed_provisional_green_IT.empty?) 
                
                no_provisional_net_zero = (certification_type == Certificate.certification_types[:final_net_zero] && project.completed_provisional_net_zero.empty?) 
              %>

              <% if is_certification_paths_present && !is_td_present %>
                <td colspan='4' style="padding: 0px;">
                <% is_td_present = true %>
              <% end %>

              <li class="list-group-item <%= 'disabled' if (no_completed_provisional_energy_centers_efficiency || no_completed_building_energy_efficiency || no_provisional_healthy_buildings || no_provisional_indoor_air_quality || no_provisional_measurement_reporting_and_verification || no_provisional_building_water_efficiency || no_provisional_events_carbon_neutrality || no_provisional_products_ecolabeling || no_provisional_green_IT || no_provisional_net_zero) %>">
  
                <div class="row">
                  <span class="col-md-4">
                    <%= t(Certificate.certification_types.key(certification_type), scope: 'activerecord.attributes.certificate.certification_titles') %>
                      <br />
                    <%= t(Certificate.certification_types.key(certification_type), scope: 'activerecord.attributes.certificate.certification_types_subtitles') %>
                  </span>

                  <% if no_completed_provisional_energy_centers_efficiency %>
                    <%= t('.warning.provisional_energy_centers_efficiency') %>
                  <% elsif no_completed_building_energy_efficiency %>
                    <%= t('.warning.provisional_building_energy_efficiency') %>
                  <% elsif no_provisional_healthy_buildings %>
                    <%= t('.warning.provisional_healthy_buildings') %>
                  <% elsif no_provisional_indoor_air_quality %>
                    <%= t('.warning.provisional_indoor_air_quality') %>
                  <% elsif no_provisional_measurement_reporting_and_verification %>
                    <%= t('.warning.provisional_measurement_reporting_and_verification') %>
                  <% elsif no_provisional_building_water_efficiency %>
                    <%= t('.warning.provisional_building_water_efficiency') %>
                  <% elsif no_provisional_events_carbon_neutrality %>
                    <%= t('.warning.provisional_events_carbon_neutrality') %>
                  <% elsif no_provisional_products_ecolabeling %>
                    <%= t('.warning.provisional_products_ecolabeling') %>
                  <% elsif no_provisional_green_IT %>
                    <%= t('.warning.provisional_green_IT') %>
                  <% elsif no_provisional_net_zero %>
                    <%= t('.warning.provisional_net_zero') %>
                  <% else %>
                    <span class="col-md-4">
                      Not yet registered
                    </span>

                    <span class="col-md-4">
                      <% if 
                          can?(:apply, @certification_path, project: @project) &&
                          ( project.certification_paths.empty? ||
                            ((certification_type == Certificate.certification_types[:final_energy_centers_efficiency]) && project.completed_provisional_energy_centers_efficiency.any?) ||
                            ((certification_type == Certificate.certification_types[:final_building_energy_efficiency]) && project.completed_provisional_building_energy_efficiency.any?) ||
                            ((certification_type == Certificate.certification_types[:final_healthy_buildings]) && project.completed_provisional_healthy_buildings.any?) ||
                            ((certification_type == Certificate.certification_types[:final_indoor_air_quality]) && project.completed_provisional_indoor_air_quality.any?) ||
                            ((certification_type == Certificate.certification_types[:final_measurement_reporting_and_verification]) && project.completed_provisional_measurement_reporting_and_verification.any?) ||
                            ((certification_type == Certificate.certification_types[:final_building_water_efficiency]) && project.completed_provisional_building_water_efficiency.any?) ||
                            ((certification_type == Certificate.certification_types[:final_events_carbon_neutrality]) && project.completed_provisional_events_carbon_neutrality.any?) ||
                            ((certification_type == Certificate.certification_types[:final_products_ecolabeling]) && project.completed_provisional_products_ecolabeling.any?) || 
                            ((certification_type == Certificate.certification_types[:final_green_IT]) && project.completed_provisional_green_IT.any?) || 
                            ((certification_type == Certificate.certification_types[:final_net_zero]) && project.completed_provisional_net_zero.any?)
                          ) 
                      %>

                        <%= btn_link_to(apply_certification_path_path(@project, certification_type), text: 'Apply', icon: 'play', action: :post, remote: true) %>
                      <% end %>
                    </span>
                  <% end %>
                </div>
              </li>

              <% if is_certification_paths_present && !is_td_present %>
                </td>
              <% end %>
            <% end %>
          <% end %>
        <tbody>
      </table>
    </div>
  </div>
</li>