<!-- TODO: use find_each and loop, as there can be multiple certification_paths for a specific certificate -->
<% certification_path = project.certification_paths.find_by(certificate: certificate) %>
<% can_create_certification_path = project.can_create_certification_path_for_certificate?(certificate) %>
<% enabled = (certification_path.present? || can_create_certification_path) %>
<li class="list-group-item container <%= 'disabled' if !enabled %>">
    <% if certification_path.present? %>
            <div class="row">
                <div class="col-lg-3 col-sm-6">
                    <%= can_link_to(project_certification_path_path(project, certification_path), certification_path) do %>
                        <%= certificate.name %>
                    <% end %>
                </div>
                <div class="col-lg-3 col-sm-6"><%= certification_path.status.humanize %></div>
                <div class="col-lg-3 col-sm-6">
                    <%= render 'certification_paths/star_ratings', certification_path: certification_path %>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <% certification_path.scheme_mixes.each do |scheme_mix| %>
                        <div>
                        <%= can_link_to(project_certification_path_scheme_mix_path(project, certification_path, scheme_mix), scheme_mix) do %>
                            <%= scheme_mix.name %>
                        <% end %>
                        </div>
                    <% end %>
                </div>
            </div>
    <% else %>
        <span class="col-md-4"><%= certificate.name %></span>
        <% if enabled %>
            <span class="col-md-4">
                Not yet registered
            </span>
            <span class="col-md-4">
                <% if can? :apply, @certification_path, :project => @project %>
                    <%= btn_link_to(apply_certification_path_path(@project, certificate), text: 'Apply', icon: 'play', action: :post, remote: true) %>
                <% end %>
            </span>
        <% else %>
            <span class="col-md-8">
                <% if certificate.final_design_certificate? %>
                    Please complete the Letter of conformance certificate first.
                <% end %>
            </span>
        <% end %>
    <% end %>
</li>