<!-- TODO: use find_each and loop, as there can be multiple certification_paths for a specific certificate -->
<% certification_path = project.certification_paths.find_by(certificate: certificate) %>

<% can_create_certification_path = project.can_create_certification_path_for_certificate?(certificate) %>
<% enabled = (certification_path.present? or can_create_certification_path) %>
<li class="list-group-item container <%= 'disabled' if !enabled %>">
    <% if certification_path.present? %>
        <a href="<%= project_certification_path_path(project, certification_path) %>">
            <span class="col-md-3"><%= certificate.name %></span>
            <span class="col-md-3"><%= certification_path.status.humanize %></span>
            <span class="col-md-6">
                <% if certification_path.certification_path_status_id == CertificationPathStatus::CERTIFIED or certification_path.certification_path_status_id == CertificationPathStatus::NOT_CERTIFIED %>
                    <div class="row">
                        <span class="col-md-3 text-right">Achieved</span>
                        <span class="col-md-9"><%= render partial: 'certification_paths/star_rating', locals: {score: certification_path.total_weighted_achieved_score_relative_to_certification_path} %></span>
                    </div>
                <% else %>
                    <div class="row">
                        <span class="col-md-3 text-right">Targeted</span>
                        <span class="col-md-9"><%= render partial: 'certification_paths/star_rating', locals: {score: certification_path.total_weighted_targeted_score_relative_to_certification_path} %></span>
                    </div>
                    <div class="row">
                        <span class="col-md-3 text-right">Submitted</span>
                        <span class="col-md-9"><%= render partial: 'certification_paths/star_rating', locals: {score: certification_path.total_weighted_submitted_score_relative_to_certification_path} %></span>
                    </div>
                <% end %>
            </span>
        </a>
    <% else %>
        <span class="col-md-4"><%= certificate.name %></span>
        <% if enabled %>
            <span class="col-md-4">
                Not yet registered
            </span>
            <span class="col-md-4">
                <!-- if can? :create, CertificationPath %-->
                <% if current_user.system_admin? || current_user.project_manager?(project) %>
                    <!-- Do remote for loc or final, as we need to show a modal dialog for more input -->
                    <% remote = (certificate.letter_of_conformance? or certificate.final_design_certificate?) %>
                    <%= button_to('Apply', apply_certification_path_path(@project, certificate), {remote: remote, class: 'btn btn-primary'}) %>
                <% end %>
            </span>
        <% else %>
            <span class="col-md-8">
                <% if certificate.final_design_certificate? %>
                    Please complete the Letter of conformance certificate first.
                <% elsif certificate.construction_certificate? %>
                    Please complete the Final Design certificate first.
                <% end %>
            </span>
        <% end %>

    <% end %>
</li>