<% certification_paths = CertificationPath.with_project(project).with_certification_type(Certificate.certification_types[Certificate.certification_types.key(certification_type)]) %>
<% certification_paths.each do |certification_path| %>
    <li class="list-group-item container">
        <div class="row">
            <div class="col-lg-3 col-sm-6">
                <%= can_link_to(project_certification_path_path(project, certification_path), certification_path) do %>
                    <%= certification_path.certificate.full_name %>
                <% end %>
                <% if can? :confirm_destroy, @certification_path %>
                    <%= btn_link_to(confirm_destroy_project_certification_path_path(@project, certification_path), {icon: 'trash', style: 'danger', size: 'extra_small', method: :get, data: {confirm: 'Do you really want to delete this certification?'}}) %>
                <% end %>
            </div>
            <div class="col-lg-3 col-sm-6">
                <%= certification_path.status.humanize %>
            </div>
            <div class="col-lg-3 col-sm-6">
                <%= render 'certification_paths/star_ratings', certification_path: certification_path %>
            </div>
            <div class="col-lg-3 col-sm-6">
                <% certification_path.scheme_mixes.each do |scheme_mix| %>
                    <div>
                        <%= can_link_to(project_certification_path_scheme_mix_path(project, certification_path, scheme_mix), scheme_mix) do %>
                            <%= scheme_mix.name %>
                        <% end %>
                    </div>
                <% end %>
            </div>
        </div>
    </li>
<% end %>
<% if certification_paths.empty? %>
    <% no_completed_letter_of_conformance_for_final_design = (certification_type == Certificate.certification_types[:final_design_certificate] && project.completed_letter_of_conformances.empty?) %>
    <li class="list-group-item container <%= 'disabled' if no_completed_letter_of_conformance_for_final_design %>">
        <div class="row">
            <span class="col-md-4"><%= t(Certificate.certification_types.key(certification_type), scope: 'activerecord.attributes.certificate.certification_types') %></span>
            <% if no_completed_letter_of_conformance_for_final_design %>
                <%= t('.warning_complete_loc') %>
            <% else %>
                <span class="col-md-4">
                    Not yet registered
                </span>
                <span class="col-md-4">
                        <% if can? :apply, @certification_path, :project => @project %>
                            <%= btn_link_to(apply_certification_path_path(@project, certification_type), text: 'Apply', icon: 'play', action: :post, remote: true) %>
                        <% end %>
                </span>
            <% end %>
        </div>
    </li>
<% end %>