<%= bootstrap_form_for([@project, @certification_path], url: allocate_certifier_team_responsibility_for_verification_project_certification_path_path, method: 'put') do |f| %>
    <div class="row">
        <div class="col-md-8">
            <div class="ibox">
                <div class="ibox-title">
                    <h5>Select Criteria to Allocate for Verification</h5>
                </div>
                <div class="ibox-content">
                    <p class="alert alert-info"><%= ikoen('info-circle') %> Use the checkboxes to assign criteria to certifiers. Verified criteria will not be listed here.</p>
                    <table class="table table-bordered allocate-responsibility-table">
                        <% @certification_path.scheme_mixes.uniq.each do |scheme_mix| %>
                            <tr>
                                <th colspan="5" class="scheme-name">
                                    <%= scheme_mix.name %>
                                    <% if @certification_path.main_scheme_mix_id == scheme_mix.id %>
                                        <%= ikoen('certificate', tooltip: 'This is the main scheme (or main typology). Some of its criteria scores will be inherited by other schemes.', class: 'main-scheme-icon') %>
                                    <% end %>
                                </th>
                            </tr>
                            <% scheme_mix.scheme_categories.uniq.each do |category| %>
                                <% if scheme_mix.scheme_mix_criteria.in_verification.for_category(category).exists?(main_scheme_mix_criterion_id: nil) %>
                                    <tr>
                                        <th><%= check_box_tag 'categories[]', category.id, false, class: 'checkbox_parent' %></th>
                                        <th><%= category.name %></th>
                                        <th>Allocated&nbsp;to</th>
                                        <th>Due&nbsp;Date</th>
                                        <th>Status</th>
                                    </tr>
                                    <% scheme_mix.scheme_mix_criteria.in_verification.for_category(category).order('scheme_criteria.number').each do |scheme_mix_criterion| %>
                                        <% unless scheme_mix_criterion.main_scheme_mix_criterion_id.present? %>
                                            <tr>
                                                <td><%= check_box_tag 'scheme_mix_criteria[]', scheme_mix_criterion.id, false, class: "checkbox_child_#{category.id}" %></td>
                                                <td><%= scheme_mix_criterion.scheme_criterion.full_name %></td>
                                                <td><%= scheme_mix_criterion.certifier.full_name if scheme_mix_criterion.certifier %></td>
                                                <td><%= l(scheme_mix_criterion.due_date, format: :short) if scheme_mix_criterion.due_date %></td>
                                                <td><%= t(scheme_mix_criterion.status, scope: 'activerecord.attributes.scheme_mix_criterion.statuses').gsub(' ', '&nbsp;').html_safe if scheme_mix_criterion.status %></td>
                                            </tr>
                                        <% end %>
                                    <% end %>
                                <% end %>
                            <% end %>
                        <% end %>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="ibox">
                <div class="ibox-title">
                    <h5>Allocate Selected Criteria for Verification</h5>
                </div>
                <div class="ibox-content">
                    <div class="form-group">
                        <%= label_tag 'certifier_id', 'Allocate the selected criteria to', class: 'control-label' %>
                        <% certifiers = User.authorized_for_project(@project, @certification_path).with_gsas_trust_team_role %>
                        <%= select_tag 'certifier_id', options_for_select(certifiers.map {|k| [k.full_name, k.id]}), {include_blank: '- Not allocated -', class: 'form-control'} %>
                    </div>
                    <div class="form-group">
                        <%= label_tag 'due_date', 'Due Date', class: 'control-label' %>
                        <div class="input-group">
                            <span class="input-group-addon"><%= ikoen('calendar') %></span>
                            <%= text_field_tag 'due_date', nil, {class: 'datepicker-future form-control', autocomplete: 'off'} %>
                        </div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <%= btn_save(text: t('.btn_save_and_continue')) %>
                    <%= btn_save(value: 'save-and-continue') %>
                    <%= btn_cancel_to(project_certification_path_path) %>
                </div>
            </div>
        </div>
    </div>
<% end %>
<%= javascript_include_tag 'checkbox_multicheck' %>
