<div class="row">
    <div class="col-md-5">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <%= audit_log_label(@certification_path) %>
                <%= render 'timeline_legend' %>
                <h5>Certificate status</h5>
            </div>
            <div class="ibox-content">
                <%= render 'timeline', certification_path: @certification_path %>
                <% if @certification_path.can_advance_status?(current_user) %>
                    <% if @certification_path.certification_path_status_id == CertificationPathStatus::ACKNOWLEDGING %>
                        <div class="hr-line-dashed"></div>
                        <%= link_to('<i class="fa fa-lg fa-check" style="padding-right: 10px;"></i>Accept all scores'.html_safe, edit_status_project_certification_path_url(@project, @certification_path), class: 'btn btn-primary', remote: true) %>
                        <%= link_to('<i class="fa fa-lg fa-hand-o-up" style="padding-right: 10px;"></i>Apply for appeal'.html_safe, edit_status_project_certification_path_url(@project, @certification_path, appeal: 1), class: 'btn btn-primary', remote: true) %>
                    <% else %>
                        <div class="hr-line-dashed"></div>
                        <%= link_to('<i class="fa fa-lg fa-forward" style="padding-right: 10px;"></i>Advance status'.html_safe, edit_status_project_certification_path_url(@project, @certification_path), class: 'btn btn-primary', remote: true) %>
                    <% end %>
                <% end %>
            </div>
        </div>

        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Certificate details</h5>
            </div>
            <div class="ibox-content">
                <table class="table table-bordered table-striped">
                    <tbody>
                    <tr>
                        <th>Certificate name</th>
                        <td><%= @certification_path.name %></td>
                    </tr>
                    <tr>
                        <th>Started</th>
                        <td><%= @certification_path.started_at %></td>
                    </tr>
                    <tr>
                        <th>Duration</th>
                        <td><%= @certification_path.duration %></td>
                    </tr>
                    <tr>
                        <th>Rating</th>
                        <td><%= render 'certification_paths/star_ratings', certification_path: @certification_path %></td>
                    </tr>
                    <tr>
                        <th>Score</th>
                        <td>
                            <%= render 'score/score', scores: @certification_path.absolute_scores %>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="row">
            <% if @certification_path.certification_path_status_id < CertificationPathStatus::SUBMITTING_PCR %>
                <div class="col-lg-6">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>Pre-certification review (PCR) <%= tooltip('If the project team wants a PCR, a project manager should apply here by checking the checkbox.') %></h5>
                        </div>
                        <div class="ibox-content">
                            <%= render 'pcr_form', project: @project, certification_path: @certification_path %>
                        </div>
                    </div>
                </div>
            <% end %>
            <div class="col-lg-6">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Downloads<%= tooltip('All documents regarding the certificate can be downloaded here.') %></h5>
                    </div>
                    <div class="ibox-content">
                        <% if @certification_path.is_certified? %>
                            <div>
                            <%= link_to download_certificate_report_project_certification_path_path(@project, @certification_path), class: 'btn btn-white' do %>
                                <i class="fa fa-lg fa-download" style="padding-right: 10px;"></i>Download Certificate
                            <% end %>
                            </div>
                            <div>
                            <%= link_to download_coverletter_report_project_certification_path_path(@project, @certification_path), class: 'btn btn-white' do %>
                                <i class="fa fa-lg fa-download" style="padding-right: 10px;"></i>Download Coverletter
                            <% end %>
                            </div>
                            <div>
                            <%= link_to download_scores_report_project_certification_path_path(@project, @certification_path), class: 'btn btn-white' do %>
                                <i class="fa fa-lg fa-download" style="padding-right: 10px;"></i>Download Score Report
                            <% end %>
                            </div>
                            <div class="hr-line-dashed"></div>
                        <% end %>
                        This certificate contains <%= @certification_path.scheme_mix_criteria_documents.approved.count %> approved document(s).
                        <%= link_to archive_project_certification_path_path, class: 'btn btn-white', title: 'Creates a ZIP archive containing all approved documents in this certificate.' do %>
                            <i class="fa fa-lg fa-archive" style="padding-right: 10px;"></i>Download archive
                        <% end %>
                        <%= tooltip('An archive of all approved documents regarding the certificate can be downloaded here.') %>
                        <div class="hr-line-dashed"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-7">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Schemes</h5>
            </div>
            <div class="ibox-content">
                <%= render 'scheme_mixes/overview', certification_path: @certification_path %>
            </div>
        </div>
        <%= render 'tasks/tasks' %>
    </div>
</div>
<div id="editStatusCertificationPathModal" class="modal fade"></div>
<%= javascript_include_tag 'score_widget' %>
