<p id="notice"><%= notice %></p>

<div class="row">
    <div class="col-md-4">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Certification details</h5>
            </div>
            <div class="ibox-content">
                <p>
                    <strong>Name:</strong>
                    <%= @certification_path.certificate.label %>
                </p>
                <p>
                    <strong>Status:</strong>
                    <%= @certification_path.status %>
                </p>
                <div class="hr-line-dashed"></div>
                <% if can? :manage, @certification_path %>
                    <%= link_to 'Edit', edit_project_certification_path_path(@project, @certification_path), :class => 'btn btn-primary' %>
                <% end %>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Schemes</h5>
            </div>
            <div class="ibox-content">
                <% if @certification_path.scheme_mixes.count == 0 %>
                    <p>This certification path is in registered state.</p>
                <% else %>
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                        <tr>
                            <th class="col-md-7">Full label</th>
                            <th class="col-md-2">Weight</th>
                            <th class="col-md-1">Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        <% @certification_path.scheme_mixes.each do |scheme_mix| %>
                            <tr>
                                <td><%= scheme_mix.scheme.full_label %></td>
                                <td><%= scheme_mix.weight %> %</td>
                                <td>
                                    <%= link_to raw('<i title="Show" class="fa fa-lg fa-search" style="padding-right: 10px;"></i>'), project_certification_path_scheme_mix_path(@certification_path.project, @certification_path, scheme_mix) %>
                                </td>
                            </tr>
                        <% end %>
                        </tbody>
                    </table>
                <% end %>
            </div>
        </div>
    </div>
</div>
