<div class="row">
    <div class="col-md-4">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Certification details</h5>
            </div>
            <div class="ibox-content">
                <%= bootstrap_form_for([@project, @certification_path], url: project_certification_path_path, layout: :horizontal) do |f| %>
                    <div class="row">
                        <%= f.fields_for :certificate do |ff| %>
                            <%= ff.static_control :label, label: 'Name' %>
                        <% end %>
                    </div>
                    <div class="row">
                        <%= f.static_control :status %>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="hr-line-dashed"></div>
                            <% if current_user.system_admin? %>
                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#updateCertificatePathStatusModal">Update status</button>
                            <% end %>
                        </div>
                    </div>
                <% end %>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Schemes</h5>
            </div>
            <div class="ibox-content">
                <% if @certification_path.scheme_mixes.count == 0 %>
                    <p>This certification path is in registered state.</p>
                <% else %>
                    <table class="table table-bordered table-hover">
                        <thead>
                        <tr>
                            <th class="col-md-7">Full label</th>
                            <th class="col-md-2">Weight</th>
                        </tr>
                        </thead>
                        <tbody>
                        <% @certification_path.scheme_mixes.each do |scheme_mix| %>
                            <tr class="clickable" data-href="<%= project_certification_path_scheme_mix_path(@certification_path.project, @certification_path, scheme_mix) %>">
                                <td><%= scheme_mix.scheme.full_label %></td>
                                <td><%= scheme_mix.weight %> %</td>
                            </tr>
                        <% end %>
                        </tbody>
                    </table>
                <% end %>
            </div>
        </div>
    </div>
</div>
<%= render 'modal', project: @project, certification_path: @certification_path %>
