<div class="row">
    <div class="col-md-5">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <%= audit_log_label(@certification_path) %>
                <h5>Certificate details</h5>
            </div>
            <div class="ibox-content">
                <table class="table table-bordered table-striped">
                    <tbody>
                    <tr>
                        <th>Certificate name</th>
                        <td><%= @certification_path.name %></td>
                    </tr>
                    <% # BEGIN: PDF REPORT GENERATION IS DISABLED %>
                    <% if false %>
                        <% if @certification_path.is_certified? %>
                            <tr>
                                <th>Downloads</th>
                                <td>
                                    <% if can?(:download_certificate, @certification_path) %>
                                        <div>
                                            <%= btn_download(download_certificate_report_project_certification_path_path(@project, @certification_path), tooltip: 'Download Certificate', size: 'extra_small') %>
                                            Download Certificate
                                        </div>
                                    <% end %>
                                    <% if can?(:download_certificate_coverletter, @certification_path) %>
                                        <div>
                                            <%= btn_download(download_coverletter_report_project_certification_path_path(@project, @certification_path), tooltip: 'Download Coverletter', size: 'extra_small') %>
                                            Download Coverletter
                                        </div>
                                    <% end %>
                                    <% if can?(:download_scores_report, @certification_path) %>
                                        <div>
                                            <%= btn_download(download_scores_report_project_certification_path_path(@project, @certification_path), tooltip: 'Download Score Report', size: 'extra_small') %>
                                            Download Score Report
                                        </div>
                                    <% end %>
                                </td>
                            </tr>
                        <% end %>
                    <% end %>
                    <% # END: PDF REPORT GENERATION IS DISABLED %>
                    <% if not @certification_path.is_activating? %>
                        <tr>
                            <th>Started</th>
                            <td><%= @certification_path.started_at %></td>
                        </tr>
                    <% end %>
                    <% if @certification_path.certificate.letter_of_conformance? || @certification_path.certificate.final_design_certificate? %>
                        <tr>
                            <th>Duration</th>
                            <td><%= pluralize(@certification_path.duration, 'year') %></td>
                        </tr>
                    <% end %>
                    <tr>
                        <th>Rating</th>
                        <td><%= render 'certification_paths/star_ratings', certification_path: @certification_path %></td>
                    </tr>
                    <tr>
                        <th>Score</th>
                        <td>
                            <%= render 'score/score', scores: @certification_path.scores_in_certificate_points, point_type: :certificate_points %>
                        </td>
                    </tr>
                    <% if @certification_path.certificate.design_type? %>
                    <tr>
                        <th>
                            PCR
                            <%= tooltip('Pre Certification Review. The project manager can apply for PCR. During PCR, GORD will assist the project team in completing the certification process.') %>
                        </th>
                        <td>
                            <div>
                                <%= fa_icon(@certification_path.pcr_track? ? 'check-square-o' : 'square-o') %>
                                <span>Applied for PCR</span>
                            </div>
                            <div>
                                <%= fa_icon(@certification_path.pcr_track_allowed? ? 'check-square-o' : 'square-o') %>
                                <span>PCR payment confirmed</span>
                            </div>
                        </td>
                    </tr>
                    <% end %>
                    <% if can?(:download_archive, @certification_path) %>
                        <tr>
                            <th>
                                Documents and audit logs
                                <%= tooltip('An archive of all approved documents and CSV formatted audit logs regarding the certificate can be downloaded here.') %>
                            </th>
                            <td>
                                <% tooltip = "Download a ZIP archive containing all approved documents in this certificate and related audit logs.(Currently containing: #{@certification_path.scheme_mix_criteria_documents.approved.count} approved document(s))" %>
                                <%= btn_download(archive_project_certification_path_path, size: 'extra_small', tooltip: tooltip) %>
                                Download archive
                            </td>
                        </tr>
                    <% end %>
                    </tbody>
                </table>
                <!-- apply is only allowed if the user has the ability, AND  there has nog yet been applied for pcr -->
                <% can_apply_for_pcr = can?(:apply_for_pcr, @certification_path) && !@certification_path.pcr_track? %>
                <!-- approve is only allowed if the user has the ability, AND an apply has been done, but it has not yet been approved -->
                <% can_approve_pcr_payment = can?(:approve_pcr_payment, @certification_path) %>
                <% can_cancel_pcr = can?(:cancel_pcr, @certification_path) %>
                <% if can_apply_for_pcr || can_approve_pcr_payment || can_cancel_pcr %>
                    <div class="hr-line-dashed"></div>
                <% end %>
                <% if @certification_path.certification_path_status_id < CertificationPathStatus::SUBMITTING_PCR %>
                    <% if can_apply_for_pcr %>
                        <%= btn_link_to(apply_for_pcr_project_certification_path_path, text: 'Apply for PCR', method: :put, data: {confirm: 'You are now applying for the PCR track. This will require an extra fee. Please confirm your choice.'}) %>
                    <% end %>
                    <% if can_approve_pcr_payment %>
                        <%= btn_link_to(approve_pcr_payment_project_certification_path_path, text: 'Approve PCR application', method: :put, data: {confirm: 'This will enable the PCR track for this certificate. Please confirm your choice.'}) %>
                    <% end %>
                    <% if can_cancel_pcr %>
                        <%= btn_link_to(cancel_pcr_project_certification_path_path, text: 'Cancel PCR', method: :put, data: {confirm: 'This will cancel the PCR for this certificate. Please confirm your choice.'}) %>
                    <% end %>
                <% end %>
            </div>
        </div>

        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <%= render 'timeline_legend' %>
                <h5>Certificate status</h5>
            </div>
            <div class="ibox-content">
                <%= render 'timeline', certification_path: @certification_path %>
                <% if can?(:update_status, @certification_path) && @certification_path.next_status.present? %>
                    <% if @certification_path.in_acknowledging? %>
                        <div class="hr-line-dashed"></div>
                        <% if @certification_path.has_achieved_score? %>
                            <%= btn_link_to(edit_status_project_certification_path_url(@project, @certification_path), remote: true, icon: 'check', text: 'Accept achieved score') %>
                        <% else %>
                            <%= btn_link_to(edit_status_project_certification_path_url(@project, @certification_path), remote: true, icon: 'check', text: 'Accept certificate denied', data: {confirm: 'There are one or more criteria that have not achieved their minimum valid score. As a result, the certificate does not have an achieved score. If you proceed a GSAS certificate will be denied. Are you sure?'}) %>
                        <% end %>
                        <% if @certification_path.certification_path_status_id == CertificationPathStatus::ACKNOWLEDGING %>
                            <%= btn_link_to(edit_status_project_certification_path_url(@project, @certification_path, appeal: 1), remote: true, icon: 'hand-o-up', text: 'Apply for appeal') %>
                        <% end %>
                    <% else %>
                        <div class="hr-line-dashed"></div>
                        <%= btn_link_to(edit_status_project_certification_path_url(@project, @certification_path), remote: true, icon: 'forward', text: "Advance status to '#{CertificationPathStatus.find_by(id: @certification_path.next_status).name}'") %>
                    <% end %>
                <% end %>
            </div>
        </div>
    </div>

    <div class="col-md-7">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Schemes</h5>
            </div>
            <div class="ibox-content">
                <% if @certification_path.is_activating? %>
                    <div class="alert alert-info" role="alert">
                        <%= fa_icon_with_text('info-circle', 'The schemes will be clickable after a GORD administrator activates the certificate.') %>
                    </div>
                <% end %>
                <%= scores_legend %>
                <%= render 'scheme_mixes/overview', certification_path: @certification_path %>
                <% can_edit_main_scheme_mix = can?(:edit_main_scheme_mix, @certification_path) %>
                <% can_edit_project_team_responsibility = can?(:edit_project_team_responsibility, @certification_path) %>
                <% can_edit_certifier_team_responsibility = can?(:edit_certifier_team_responsibility, @certification_path) %>
                <% if can_edit_main_scheme_mix || can_edit_project_team_responsibility || can_edit_certifier_team_responsibility %>
                    <div class="hr-line-dashed"></div>
                    <% if can_edit_main_scheme_mix %>
                        <%= btn_link_to(edit_main_scheme_mix_project_certification_path_path, remote: true, icon: 'certificate', text: 'Select main scheme') %>
                    <% end %>
                    <% if can_edit_project_team_responsibility %>
                        <%= btn_link_to(edit_project_team_responsibility_project_certification_path_path, style: 'white', icon: 'th-list', text: 'Allocate project team responsibility') %>
                    <% end %>
                    <% if can_edit_certifier_team_responsibility %>
                        <%= btn_link_to(edit_certifier_team_responsibility_project_certification_path_path, style: 'white', icon: 'th-list', text: 'Allocate certifier team responsibility') %>
                    <% end %>
                <% end %>
            </div>
        </div>
        <%= render 'tasks/tasks' %>
    </div>
</div>
<div id="editStatusCertificationPathModal" class="modal fade"></div>
<div id="editMainSchemeMixModal" class="modal fade"></div>
<%= javascript_include_tag 'score_widget' %>
