<div class="row">
    <div class="col-md-4">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <%= audit_log_label(@certification_path) %>
                <%= status_label(@certification_path.status, can?(:update, @certification_path), 'updateCertificatePathStatusModal') %>
                <%= render 'modal', project: @project, certification_path: @certification_path %>
                <h5>Certification details</h5>
            </div>
            <div class="ibox-content">
                <%= bootstrap_form_for([@project, @certification_path], url: project_certification_path_path, layout: :horizontal) do |f| %>
                    <div class="row">
                        <%= f.fields_for :certificate do |ff| %>
                            <%= ff.static_control :name, label: 'Name' %>
                        <% end %>
                    </div>
                    <% if current_user.gord_manager? || current_user.gord_top_manager? %>
                        <div class="form-group">
                        <%= check_box_tag :signed_by_mngr, true, @certification_path.signed_by_mngr, disabled: (true unless current_user.gord_manager?), data: {project_id: @project.id, id: @certification_path.id} %>
                        <%= label_tag :signed_by_mngr, 'Signed by GORD manager' %>
                        </div>
                        <div class="form-group">
                        <%= check_box_tag :signed_by_top_mngr, true, @certification_path.signed_by_top_mngr, disabled: (true unless current_user.gord_top_manager?), data: {project_id: @project.id, id: @certification_path.id} %>
                        <%= label_tag :signed_by_top_mngr, 'Signed by GORD top manager' %>
                        </div>
                    <% end %>
                <% end %>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Schemes</h5>
            </div>
            <div class="ibox-content">
                <% if @certification_path.scheme_mixes.count.zero? %>
                    <p>This certification path is in registered state. The GSAS administrator must first activate the certification path before you can continue.</p>
                <% else %>
                    <table class="table table-bordered table-hover">
                        <thead>
                        <tr>
                            <th class="col-md-4">Scheme name</th>
                            <th class="col-md-2">Weight</th>
                            <th class="col-md-2">Progress</th>
                        </tr>
                        </thead>
                        <tbody>
                        <% @certification_path.scheme_mixes.each do |scheme_mix| %>
                            <tr class="clickable" data-href="<%= project_certification_path_scheme_mix_path(@certification_path.project, @certification_path, scheme_mix) %>">
                                <td><%= scheme_mix.full_name %></td>
                                <td><%= scheme_mix.weight %> %</td>
                                <%
                                   if @certification_path.requirement_data.count.nonzero?
                                     progress = @certification_path.requirement_data.completed.count * 100 / @certification_path.requirement_data.count
                                   else
                                     progress = 100
                                   end
                                %>
                                <td>
                                    <div class="progress">
                                        <div class="progress-bar" style="min-width: 2em; width: <%= progress %>%;"><%= progress %>%</div>
                                    </div>
                                </td>
                            </tr>
                        <% end %>
                        </tbody>
                    </table>
                <% end %>
            </div>
        </div>
        <%= render 'tasks/tasks' %>
    </div>
</div>
