<div class="row">
    <div class="col-md-5">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <%= audit_log_label(@certification_path) %>
                <h5><%= t('.certification_path.title') %></h5>
            </div>
            <div class="ibox-content">
                <table class="table table-bordered table-striped">
                    <tbody>
                    <tr>
                        <th><%= t('.certification_path.name') %></th>
                        <td><%= @certification_path.name %></td>
                    </tr>
                    <% # BEGIN: PDF REPORT GENERATION IS DISABLED %>
                    <% if false %>
                        <% if @certification_path.is_certified? %>
                            <tr>
                                <th>Downloads</th>
                                <td>
                                    <% if can?(:download_certificate_report, @certification_path) %>
                                        <div>
                                            <%= btn_download(download_certificate_report_project_certification_path_path(@project, @certification_path), tooltip: t('.certification_path.download_certificate.tooltip'), size: 'extra_small') %>
                                            <%= t('.certification_path.download_certificate.text') %>
                                        </div>
                                    <% end %>
                                    <% if can?(:download_coverletter_report, @certification_path) %>
                                        <div>
                                            <%= btn_download(download_coverletter_report_project_certification_path_path(@project, @certification_path), tooltip: t('.certification_path.download_coverletter.tooltip'), size: 'extra_small') %>
                                            <%= t('.certification_path.download_coverletter.text') %>
                                        </div>
                                    <% end %>
                                    <% if can?(:download_scores_report, @certification_path) %>
                                        <div>
                                            <%= btn_download(download_scores_report_project_certification_path_path(@project, @certification_path), tooltip: t('.certification_path.download_scores_report.tooltip'), size: 'extra_small') %>
                                            <%= t('.certification_path.download_scores_report.text') %>
                                        </div>
                                    <% end %>
                                </td>
                            </tr>
                        <% end %>
                    <% end %>
                    <% # END: PDF REPORT GENERATION IS DISABLED %>
                    <% if not @certification_path.is_activating? %>
                        <tr>
                            <th>Started</th>
                            <td><%= localize(@certification_path.started_at) %></td>
                        </tr>
                    <% end %>
                    <% if @certification_path.certificate.letter_of_conformance? || @certification_path.certificate.final_design_certificate? %>
                        <tr>
                            <th>Duration</th>
                            <td><%= pluralize(@certification_path.duration, 'year') %></td>
                        </tr>
                    <% end %>
                    <% if @certification_path.is_activated? %>
                        <tr>
                            <th>Rating</th>
                            <td><%= render 'certification_paths/star_ratings', certification_path: @certification_path %></td>
                        </tr>
                        <tr>
                            <th>Score</th>
                            <td>
                                <%= render 'score/score', scores: @certification_path.scores_in_certificate_points, point_type: :certificate_points %>
                            </td>
                        </tr>
                    <% end %>
                    <tr>
                        <th>
                            Applied for PCR
                            <%= tooltip(t('.certification_path.pcr.tooltip')) %>
                        </th>
                        <td>
                            <div>
                                <%= @certification_path.pcr_track? ? 'Yes' : 'No' %>
                            </div>
                        </td>
                    </tr>
                    <% if can?(:update_max_review_count, @certification_path) %>
                        <tr>
                          <th>
                            Maximum number of PCR reviews
                          </th>
                          <td>
                            <span><%= pluralize(@certification_path.max_review_count, 'review') %></span>
                            <%= btn_link_to(edit_max_review_count_project_certification_path_path(@project, @certification_path), remote: true, text: 'Set maximum', class: 'pull-right') %>
                          </td>
                        </tr>
                    <% end %>
                    <% if can?(:download_archive, @certification_path) %>
                        <tr>
                            <th>
                                Documents and audit logs
                                <%= tooltip('An archive of all approved documents and CSV formatted audit logs regarding the certificate can be downloaded here.') %>
                            </th>
                            <td>
                                <% tooltip = t('.certification_path.download_archive.tooltip', approved_count: @certification_path.scheme_mix_criteria_documents.approved.count) %>
                                <%= btn_download(archive_project_certification_path_path, size: 'extra_small', tooltip: tooltip) %>
                                <%= t('.certification_path.download_archive.text') %>
                            </td>
                        </tr>
                    <% end %>
                    </tbody>
                </table>
                <!-- apply is only allowed if the user has the ability, AND  there has nog yet been applied for pcr -->
                <% can_apply_for_pcr = can?(:apply_for_pcr, @certification_path) %>
                <!-- approve is only allowed if the user has the ability, AND an apply has been done, but it has not yet been approved -->
                <% can_cancel_pcr = can?(:cancel_pcr, @certification_path) %>
                <% if can_apply_for_pcr || can_cancel_pcr %>
                    <div class="hr-line-dashed"></div>
                <% end %>
                <% if can_apply_for_pcr %>
                    <%= btn_link_to(apply_for_pcr_project_certification_path_path, text: t('.certification_path.apply_pcr.text'), method: :put, data: {confirm: t('.certification_path.apply_pcr.confirm')}) %>
                <% end %>
                <% if can_cancel_pcr %>
                    <%= btn_link_to(cancel_pcr_project_certification_path_path, text: t('.certification_path.cancel_pcr.text'), method: :put, data: {confirm: t('.certification_path.cancel_pcr.confirm')}) %>
                <% end %>
            </div>
        </div>

        <% if (can?(:download_signed_certificate, @certification_path) && @certification_path.signed_certificate_file.present?) || can?(:update_signed_certificate, @certification_path) %>
        <div class="ibox float-e-margins">
          <div class="ibox-title">
            <h5><%= t('.certification_path_signed_certificate.title') %></h5>
          </div>
          <div class="ibox-content">
            <% if can?(:download_signed_certificate, @certification_path) && @certification_path.signed_certificate_file.present? %>
              <%= btn_download(download_signed_certificate_project_certification_path_path(@project, @certification_path), size: 'medium', tooltip: "Download the officially signed certificate") %>
              <%= truncate(@certification_path.signed_certificate_file.file.filename, length: 100) %>
            <% end %>
            <% if can?(:update_signed_certificate, @certification_path) %>
              <%= bootstrap_form_for(@certification_path, url: update_signed_certificate_project_certification_path_path(@project, @certification_path), method: 'put') do |f| %>
                  <%= f.file_field :signed_certificate_file, label: 'Upload new signed certificate' %>
                  <div class="hr-line-dashed"></div>
                  <%= btn_save %>
              <% end %>
            <% end %>
          </div>
        </div>
        <% end %>

        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <%= render 'timeline_legend' %>
                <h5><%= t('.certification_path_status.title') %></h5>
            </div>
            <div class="ibox-content">
                <%= render 'timeline', certification_path: @certification_path %>
                <% if can?(:update_status, @certification_path) && @certification_path.next_status.present? %>
                    <% if @certification_path.in_acknowledging? %>
                        <div class="hr-line-dashed"></div>
                        <% if @certification_path.has_achieved_score? %>
                            <%= btn_link_to(edit_status_project_certification_path_url(@project, @certification_path), remote: true, icon: 'check', text: t('.certification_path_status.btn_accept_achieved')) %>
                        <% else %>
                            <%= btn_link_to(edit_status_project_certification_path_url(@project, @certification_path), remote: true, icon: 'check', text: t('.certification_path_status.btn_accept_denied.text'), data: {confirm: t('.certification_path_status.btn_accept_denied.confirm') }) %>
                        <% end %>
                        <% if @certification_path.certification_path_status_id == CertificationPathStatus::ACKNOWLEDGING %>
                            <%= btn_link_to(edit_status_project_certification_path_url(@project, @certification_path, appeal: 1), remote: true, icon: 'hand-o-up', text: t('.certification_path_status.btn_apply_appeal')) %>
                        <% end %>
                    <% else %>
                        <div class="hr-line-dashed"></div>
                        <%= btn_link_to(edit_status_project_certification_path_url(@project, @certification_path), remote: true, icon: 'forward', text: t( '.certification_path_status.btn_advance_status', status: CertificationPathStatus.find_by(id: @certification_path.next_status).name)) %>
                    <% end %>
                <% end %>
            </div>
        </div>
    </div>

    <div class="col-md-7">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5><%= t('.schemes.title') %></h5>
            </div>
            <div class="ibox-content">
                <% if @certification_path.is_activating? %>
                    <div class="alert alert-info" role="alert">
                        <%= ikoen_with_text('info-circle', t('.schemes.info_activating')) %>
                    </div>
                <% else %>
                    <%= scores_legend %>
                <% end %>
                <%= render 'scheme_mixes/overview', certification_path: @certification_path %>
                <% can_edit_main_scheme_mix = can?(:edit_main_scheme_mix, @certification_path) %>
                <% can_edit_project_team_responsibility = can?(:edit_project_team_responsibility, @certification_path) %>
                <% can_edit_certifier_team_responsibility = can?(:edit_certifier_team_responsibility, @certification_path) %>
                <% if can_edit_main_scheme_mix || can_edit_project_team_responsibility || can_edit_certifier_team_responsibility %>
                    <div class="hr-line-dashed"></div>
                    <% if can_edit_main_scheme_mix %>
                        <%= btn_link_to(edit_main_scheme_mix_project_certification_path_path, remote: true, icon: 'certificate', text: 'Select main scheme') %>
                    <% end %>
                    <% if can_edit_project_team_responsibility %>
                        <%= btn_link_to(edit_project_team_responsibility_project_certification_path_path, style: 'white', icon: 'th-list', text: t('.schemes.btn_edit_project_team_responsibility')) %>
                    <% end %>
                    <% if can_edit_certifier_team_responsibility %>
                        <%= btn_link_to(edit_certifier_team_responsibility_project_certification_path_path, style: 'white', icon: 'th-list', text: t('.schemes.btn_edit_certifier_team_responsibility')) %>
                    <% end %>
                <% end %>
            </div>
        </div>
        <%= render 'tasks/tasks' %>
    </div>
</div>
<div id="editStatusCertificationPathModal" class="modal fade"></div>
<div id="editMainSchemeMixModal" class="modal fade"></div>
<div id="editMaxReviewCountModal" class="modal fade"></div>
<%= javascript_include_tag 'score_widget' %>
