<div class="row">
    <div class="col-md-5">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <%= audit_log_label(@certification_path) %>
                <%= render 'timeline_legend' %>
                <h5>Certificate status</h5>
            </div>
            <div class="ibox-content">
                <%= render 'timeline', certification_path: @certification_path %>
                <div class="hr-line-dashed"></div>
                <% if @certification_path.certification_path_status.id == CertificationPathStatus::ACKNOWLEDGING %>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#advanceStatusModal"><i class="fa fa-lg fa-check" style="padding-right: 10px;"></i>Accept all scores</button>
                    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#appealModal"><i class="fa fa-lg fa-times" style="padding-right: 10px;"></i>Apply for appeal</button>
                <% else %>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#advanceStatusModal"><i class="fa fa-lg fa-forward" style="padding-right: 10px;"></i>Advance status</button>
                <% end %>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Pre-certification review (PCR)</h5>
                    </div>
                    <div class="ibox-content">
                        <%= render 'pcr_form', project: @project, certification_path: @certification_path %>
                    </div>
                </div>
                <% if current_user.gord_manager? || current_user.gord_top_manager? || current_user.system_admin? %>
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>Manager approvals</h5>
                        </div>
                        <div class="ibox-content">
                            <%= render 'manager_approvals_form', project: @project, certification_path: @certification_path %>
                        </div>
                    </div>
                <% end %>
            </div>
            <div class="col-md-6">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Document archive</h5>
                    </div>
                    <div class="ibox-content">
                        This certificate contains <%= @certification_path.scheme_mix_criteria_documents.approved.count %> approved document(s).
                        <div class="hr-line-dashed"></div>
                        <%= link_to archive_project_certification_path_path, class: 'btn btn-white', title: 'Creates a ZIP archive containing all approved documents in this certificate.' do %>
                            <i class="fa fa-lg fa-archive" style="padding-right: 10px;"></i>Download archive
                        <% end %>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-7">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Schemes</h5>
            </div>
            <div class="ibox-content">
                <% if @certification_path.scheme_mixes.count.zero? %>
                    <p>A GSAS administrator must first activate the certificate before you can continue.</p>
                <% else %>
                    <table class="table table-bordered table-hover">
                        <thead>
                        <tr>
                            <th class="col-md-6">Scheme name</th>
                            <th class="col-md-2">Weight</th>
                            <th class="col-md-4">Progress</th>
                        </tr>
                        </thead>
                        <tbody>
                        <% @certification_path.scheme_mixes.each do |scheme_mix| %>
                            <tr class="clickable" data-href="<%= project_certification_path_scheme_mix_path(@certification_path.project, @certification_path, scheme_mix) %>">
                                <td><%= scheme_mix.full_name %></td>
                                <td><%= scheme_mix.weight %> %</td>
                                <%
                                   if @certification_path.requirement_data.count.nonzero?
                                     progress = @certification_path.requirement_data.completed.count * 100 / @certification_path.requirement_data.count
                                   else
                                     progress = 0
                                   end
                                %>
                                <td>
                                    <div class="progress">
                                        <div class="progress-bar" style="min-width: 2em; width: <%= progress %>%;"><%= progress %>%</div>
                                    </div>
                                </td>
                            </tr>
                        <% end %>
                        </tbody>
                    </table>
                <% end %>
            </div>
        </div>
        <%= render 'tasks/tasks' %>
    </div>
</div>
<%= render 'advance_status_modal' %>
<%= render 'appeal_modal' %>