<ol class="breadcrumb">
    <% if is_active_controller('users') %>
        <li><%= link_to 'Users', users_path %></li>

        <% unless @user.nil? %>
            <li class="active"><%= link_to @user.email, edit_user_path %></li>
        <% end %>
    <% else %>
        <li><%= link_to 'Projects', projects_path %></li>

        <% unless @project.nil? or @project.id.nil?%>
            <li class="active"><%= link_to 'Project ' + @project.name, project_path(@project) %></li>
        <% end %>

        <% unless @certification_path.nil? or @certification_path.id.nil? %>
            <li class="active"><%= link_to @certification_path.certificate.label, project_certification_path_path(@project, @certification_path) %></li>
        <% end %>

        <% unless @scheme_mix.nil? or @scheme_mix.id.nil? %>
            <li class="active"><%= link_to @scheme_mix.scheme.full_label, project_certification_path_scheme_mix_path(@project, @certification_path, @scheme_mix) %></li>
        <% end %>

        <% unless @scheme_mix_criterion.nil? or @scheme_mix_criterion.id.nil? %>
            <li class="active"><%= link_to @scheme_mix_criterion.name, project_certification_path_scheme_mix_scheme_mix_criterion_path(@project, @certification_path, @scheme_mix, @scheme_mix_criterion) %></li>
        <% end %>

        <% unless @scheme_mix_criteria_document.nil? or @scheme_mix_criteria_document.id.nil? %>
            <li class="active"><%= link_to 'Document ' + @scheme_mix_criteria_document.document.document_file.file.filename, project_certification_path_scheme_mix_scheme_mix_criterion_scheme_mix_criteria_document_path(@project, @certification_path, @scheme_mix, @scheme_mix_criterion, @scheme_mix_criteria_document) %></li>
        <% end %>

        <% unless is_active_controller('project_authorizations').nil? %>
            <li class="active"><%= link_to 'Add team member', project_path(@project) %></li>
        <% end %>
    <% end %>
</ol>