<nav class="navbar-default navbar-static-side" role="navigation">
  <div class="sidebar-collapse">
    <ul class="nav" id="side-menu">
      <li class="nav-header">
        <% if user_signed_in? %>
          <div class="dropdown profile-element">
            <span>
              <%= image_tag('rails.png', class: 'img-circle') %>
            </span>
            <a data-toggle="dropdown" class="dropdown-toggle" href="#">
              <span class="clear">
                <span class="block m-t-xs">
                  <strong class="font-bold">
                  </strong>
                </span>
                <span class="text-muted text-xs block">
                  <b class="caret"></b>
                </span>
              </span>
            </a>
            <ul class="dropdown-menu animated fadeInRight m-t-xs">
              <li><%= link_to 'Edit profile', edit_user_registration_path %></li>
              <!--<li><a href="mailbox.html">Mailbox</a></li>-->
              <li class="divider"></li>
              <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
            </ul>
          </div>
        <% else %>
          <div class="profile-element">
            <%= link_to new_user_session_path, class: 'btn btn-primary' do %>
              <i class="fa fa-sign-in"></i>
              Sign In
            <% end %>
          </div>
        <% end %>
        <div class="logo-element">
          GORD
        </div>
      </li>
      <li class="<%= 'active' if current_page?('/projects') || current_page?('/') %>">
        <%= link_to "/projects" do %>
          <i class="fa fa-desktop"></i> <span class="nav-label">Projects</span>
        <% end %>
      </li>
    </ul>
  </div>
</nav>