<div class="row gord-transparent-green">
    <div class="navbar-header navbar navbar-static-top gord-transparent" role="navigation">
        <%= image_tag('layout/gsas_trust_logo.png') %>
        <button aria-controls="navbar" aria-expanded="false" data-target="#navbar" data-toggle="collapse" class="navbar-toggle collapsed" type="button">
            <%= fa_icon('reorder') %>
        </button>
    </div>
    <div class="navbar-collapse collapse" id="navbar">
        <ul class="nav navbar-nav">

            <% if can?(:index, Project) %>
                <li class="<%= 'active' if ['projects', 'projects_users', 'certification_paths', 'scheme_mixes', 'scheme_mix_criteria'].include?(controller_name) %>">
                    <%= link_to projects_path do %>
                        <%= fa_icon('building-o', size: 'lg') %><span class="nav-label"><%= t('.navbar.projects_html') %></span>
                    <% end %>
                </li>
            <% end %>

            <% if can?(:index, Task) %>
                <li class="<%= 'active' if (controller_name == 'tasks') %>">
                    <% task_count = TaskService::count_tasks(user: current_user) %>
                    <%= link_to tasks_path do %>
                        <%= fa_icon('tasks', size: 'lg') %><span class="nav-label"><%= t('.navbar.tasks') %><span class="badge task-counter <% if task_count == 0 %>hidden<% end %>" data-user="<%= current_user.id %>"><%= task_count %></span></span>
                    <% end %>
                </li>
            <% end %>

            <% if can?(:list_notifications, User) %>
                <li class="<%= 'active' if (controller_name == 'users' and action_name == 'list_notifications') %>">
                    <%= link_to list_notifications_user_path id: current_user.id do %>
                        <%= fa_icon('cog', size: 'lg') %><span class="nav-label"><%= t('.navbar.preferences') %></span>
                    <% end %>
                </li>
            <% end %>

            <% if can?(:index, AuditLog) %>
                <li class="<%= 'active' if (controller_name == 'audit_logs') %>">
                    <%= link_to audit_logs_path do %>
                        <%= fa_icon('mail-reply-all', size: 'lg') %><span class="nav-label"><%= t('.navbar.audit_log') %></span>
                    <% end %>
                </li>
            <% end %>

            <li>
              <%= link_to asset_url('GSASgate_Manual.pdf'), target: '_blank' do %>
                  <%= fa_icon('book', size: 'lg') %><span class="nav-label"><%= t('.navbar.manual') %></span>
              <% end %>
            </li>

            <% can_index_scheme_criteria = can?(:index, SchemeCriterion)%>
            <% can_index_users = can?(:index, User) %>
            <% can_certifiers_criteria_report = can?(:certifiers_criteria, :report) %>
            <% if can_index_users || can_index_scheme_criteria || can_certifiers_criteria_report %>
                <li class="dropdown<%= ' active' if ['scheme_criteria', 'users'].include?(controller_name) && action_name != 'list_notifications' %>">
                    <a aria-expanded="false" role="button" href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <%= fa_icon('cogs', size: 'lg') %><%= t('.navbar.admin') %><span class="caret"></span>
                    </a>
                    <ul role="menu" class="dropdown-menu">
                        <% if can_index_scheme_criteria %>
                            <li><%= link_to t('.navbar.admin_criteria'), scheme_criteria_path %></li>
                        <% end %>
                        <% if can_index_users %>
                            <li><%= link_to t('.navbar.admin_users'), users_path %></li>
                        <% end %>
                        <% if can_certifiers_criteria_report %>
                            <li><%= link_to t('.navbar.certifiers_and_criteria_report'), reports_certifiers_criteria_path %></li>
                        <% end %>
                    </ul>
                </li>
            <% end %>
        </ul>

        <% if user_signed_in? %>
            <ul class="nav navbar-top-links navbar-right">
                <li>
                    <%= link_to 'http://www.linkme.qa/members/manage_profile.asp', target: '_blank' do %>
                        <% if current_user.picture.present? %>
                            <img src="<%= current_user.picture %>" class="img-circle profile-picture">
                        <% else %>
                            <%= fa_icon('user', size: 'lg') %>
                        <% end %>
                        <span class="nav-label"><%= current_user.full_name %></span>
                    <% end %>
                </li>
                <li>
                    <%= link_to sessions_path, method: :delete do %>
                        <%= fa_icon('sign-out', size: 'lg') %><span class="nav-label">Log out</span>
                    <% end %>
                </li>
            </ul>
        <% end %>
    </div>
</div>
