<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>GSASGate &gt; <%= strip_tags @page_title %></title>

        <!-- Icons -->
        <%= render 'layouts/icons' %>
        <!-- Main css styles -->
        <%= stylesheet_link_tag 'application', media: 'all' %>
        <!-- Main javascript files -->
        <%= javascript_include_tag 'application' %>
        <%= csrf_meta_tags %>
    </head>

    <% if current_user.present? %>
        <body class="top-navigation skin-gord">
            <div id="wrapper">
                <div id="page-wrapper" class="">
                    <!-- Navbar -->
                    <%= render 'layouts/topnavbar' %>

                    <div class="wrapper wrapper-content">
                        <div class="container">
                            <% if notice %>
                                <p class="alert alert-success"><%= notice %></p>
                            <% end %>
                            <% if alert %>
                                <p class="alert alert-danger"><%= alert %></p>
                            <% end %>

                            <!-- Main view  -->
                            <%= yield %>
                        </div>
                    </div>

                    <!-- Footer -->
                    <%= render 'layouts/footer' %>
                </div>
            </div>
            <%= yield(:js) -%>
        </body>

    <% else %>
        <body class="skin-gord-login">
            <div class="container login-content">
                <div class="row  justify-content-center align-items-center">
                    <div class="animated fadeInDown mw-100">
                        <div>
                            <% if notice %>
                                <p class="alert alert-success"><%= notice.html_safe %></p>
                            <% end %>
                            <% if alert %>
                                <p class="alert alert-danger"><%= alert.html_safe %></p>
                            <% end %>

                            <!-- Main view  -->
                            <%= yield %>
                        </div>
                    </div>
                </div>
            </div>
            <div class="login-footer w">
                <div class="row">
                    <div class="col-sm-12 col-xs-12 my-1  col-md-6 text-md-left  text-sm-center">
                    <p>
                        &copy; <%= Time.now.year %>
                        <br/>
                        <% if APP_VERSION.present? %>
                        Version: <%= APP_VERSION %>
                        <% end %>
                        </p>
                    </div>
                    <div class="col-sm-12  col-xs-12 my-1 col-md-6 text-md-right text-lg-right text-sm-center">
                            <div>
                                <%= link_to 'GSAS', '/' %> . 
                                <%= link_to 'Contact', 'http://www.gord.qa/', target: '_blank' %> .
                                <%= link_to 'Terms & Conditions Privacy Policy', '/GSAS_Certification_TCs.pdf', target: '_blank' %>

                            </div>
                    </div>
                </div>
            </div>
            <%= yield(:js) -%>
        </body>
    <% end %>
</html>
