<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>GSASGate &gt; <%= strip_tags @page_title %></title>

    <!-- Main css styles -->
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <!-- Main javascript files -->
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
</head>
<body class="top-navigation skin-gord">
<div id="wrapper">
    <div id="page-wrapper" class="gray-bg">
        <!-- Navbar -->
        <%= render 'layouts/topnavbar' %>

        <div class="row wrapper border-bottom white-bg page-heading">
            <div class="col-lg-12">
                <h2><%= @page_title %></h2>
                <div class="row">
                    <div class="col-md-10 breadcrumb-wrapper">
                        <%= render 'layouts/breadcrumb' %>
                    </div>
                    <div class="col-md-2 back-button-wrapper">
                        <%= link_to('&laquo; Return to previous page'.html_safe, :back, class: 'btn btn-white btn-xs') %>
                    </div>
                </div>
            </div>
        </div>
        <div class="wrapper wrapper-content">
            <div class="container">
                <% if notice %>
                    <p class="flash flash-success hidden"><%= notice %></p>
                <% end %>
                <% if alert %>
                    <p class="flash flash-danger hidden"><%= alert %></p>
                <% end %>

                <!-- Main view  -->
                <%= yield %>
            </div>
        </div>

        <!-- Footer -->
        <%= render 'layouts/footer' %>
    </div>
</div>
<div class="modal fade" id="confirmationModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" title="<%= t('.btn_close') %>" data-toggle="tooltip" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title"><%= t('.modal_title') %></h4>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="okBtn btn btn-primary"><%= t('.btn_save') %></button>
                <button type="button" class="btn btn-white" data-dismiss="modal"><%= t('.btn_cancel') %></button>
            </div>
        </div>
    </div>
</div>
<%= yield(:js) -%>
</body>
</html>
