<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>GSASGate &gt; <%= strip_tags @page_title %></title>

    <!-- Main css styles -->
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <!-- Main javascript files -->
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
</head>
<body class="top-navigation skin-gord">
<div id="wrapper">
    <div id="page-wrapper" class="gray-bg">
        <!-- Navbar -->
        <%= render 'layouts/topnavbar' %>

        <div class="row wrapper border-bottom white-bg page-heading">
            <div class="col-lg-12">
                <h2>
                    <%= @page_title_prefix if @page_title_prefix.present? %>
                    <%= @page_title.html_safe %>
                    <%= @page_title_suffix if @page_title_suffix.present? %>
                </h2>

                <div class="row">
                    <div class="col-md-10 breadcrumb-wrapper">
                        <%= render 'layouts/breadcrumb', model: @controller_model %>
                    </div>
                    <div class="col-md-2 back-button-wrapper">
                        <%= btn_link_to(:back, icon: 'caret-left', text: 'Return to previous page', style: 'white', size: 'extra_small') %>
                    </div>
                </div>
            </div>
        </div>
        <div class="wrapper wrapper-content">
            <div class="container">
                <% if notice %>
                    <p class="flash flash-success hidden"><%= notice.html_safe %></p>
                <% end %>
                <% if alert %>
                    <p class="flash flash-danger hidden"><%= alert.html_safe %></p>
                <% end %>

                <!-- Main view  -->
                <%= yield %>
            </div>
        </div>

        <!-- Footer -->
        <%= render 'layouts/footer' %>
    </div>
</div>
<div id="auditLogModal" class="modal fade audit-log-modal"></div>
<div class="modal fade" id="confirmationModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <%= btn_close_modal %>
                <h4 class="modal-title"><%= t('.modal_title') %></h4>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <%= btn_tag(text: t('.btn_save'), class: 'okBtn') %>
                <%= btn_tag(text: t('.btn_cancel'), style: 'white', data: {dismiss: 'modal'}) %>
            </div>
        </div>
    </div>
</div>
<%= yield(:js) -%>

<%= javascript_include_tag 'task' %>

</body>
</html>
