<!DOCTYPE html>
<html>
<head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
</head>
<body style="background-color: #F7F7F7;">
    <div align="center">
        <table>
            <tr>
                <td style="padding: .75pt .75pt;">
                    <p><a href="<%= root_url %>"><img src="<%= image_url('layout/gsb_logo-small.png') %>" alt="GSBgate"></a></p>
                </td>
            </tr>
            <%= yield %>
        </table>
    </div>

<p style="text-align: center;"><span style='font-size: 8.5pt; font-family: "Verdana", "sans-serif"; color: #595959;'>
This is an automatic email which was sent via <a href="<%= root_url %>"><b><span style="color: #595959;">GSBgate</span></b></a>. Please do not reply to this email.<br/>
<br/>
If you need help, please log on to the portal.
</span></p>

<table style="width: 100%;">
    <tr>
        <td style="width: 100%; border: none; border-top: solid #CCC 1pt; padding: 0 0">
            <table style="width: 100%;">
                <tr>
                    <td style="padding: 15pt 15pt;">
                        <p><span style='font-size: 8.5pt; font-family: "Verdana", "sans-serif"; color: #DDD;'>
                            <a href="http://www.gord.qa"><img height="50" src="<%= image_url('layout/gord_logo.jpg') %>" alt="GORD"></a>
                        </span></p>
                    </td>
                    <td style="padding: 15pt 15pt;">
                        <p style="text-align: right;"><span style='font-size: 8.5pt; font-family: "Verdana", "sans-serif"; color: #DDD;'>
                            &nbsp;
                        </span></p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td style="width: 100%; background: #2B2B2B; padding: 15pt 15pt;">
            <table style="width: 100%;">
                <tr>
                    <td style="padding: 0 0;">
                        <p><span style='font-size: 8.5pt; font-family: "Verdana", "sans-serif"; color: #DDD;'>
                          <strong>Copyright</strong> &copy; GORD <%= Time.now.year %>
                        </span></p>
                    </td>
                    <td style="padding: 0 0">
                        <p style="text-align: right;"><span style='font-size: 8.5pt; font-family: "Verdana", "sans-serif"; color: #DDD;'>
                            <a href="<%= root_url %>"><span style="color: #DDD; text-decoration: none;">My Projects</span></a> |
                            <a href="<%= 'http://www.linkme.qa/members/manage_profile.asp' %>"><span style="color: #DDD; text-decoration: none;">My Account</span></a> |
                            <!--<span style="color: #DDD; text-decoration: none;">Help</span> |-->
                            <!--<span style="color: #DDD; text-decoration: none;">Contact</span>-->
                            <br/>
                            <br/>
                            <a href="/GSB_Certification_TCs.pdf"><span style="color: #DDD; text-decoration: none;">Terms &amp; Conditions</span></a> |
                            <!--<span style="color: #DDD; text-decoration: none;">Privacy Policy</span>-->
                        </span></p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>

</body>
</html>