<% if project.is_project_certified? %>
    <div class="ibox float-e-margins">
        <div class="ibox-title bg-header-grey">
          <h5>Surveys</h5>
        </div>
        <div class="ibox-content table-responsive">
          <table class="table table-bordered table-hover datatable" cellspacing="0" width="100%">
            <thead>
                  <tr>
                      <th>Title</th>
                      <th>End Date</th>
                      <th>Survey Link</th>
                      <th>Released At</th>
                      <th>Actions</th>
                  </tr>
            </thead>
            <tbody>
              <% projects_surveys.each do |survey| %>
                <tr>
                  <td><%= link_to(survey.title, project_survey_path(project,survey.id) ) %></td>
                  <td><%= survey.end_date&.strftime('%e %b, %Y') %></td>
                  <td>
                    <% if survey.released? %>
                      <span style="cursor:pointer" class="link-survey" data-base_url="<%= root_url %>" data-survey_link="<%= form_survey_responses_path(survey) %>">Click here to copy survey link</span>
                    <% end %>
                  </td>
                  <td><%= survey.released_at&.strftime('%e %b, %Y AT %H:%M') %></td>
                  <td>
                    <%=
                      unless survey.released?
                        btn_link_to(edit_project_survey_path(project,survey.id), icon: 'edit', size: 'small', tooltip: 'Edit') 
                      end
                     %>
                    <%= 
                      btn_link_to(project_survey_path(project, survey.id), method: :delete, data: {confirm: "Are you sure to remove this survey ?"}, style: 'danger', icon: 'trash', size: 'small')
                    %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
          <%= btn_link_to(new_project_survey_path(project), icon: 'bar-chart', text: 'Create Project Surveys') %>
        </div>
    </div>
    <% end %>
  </div>
  <div id="toast-message"></div>
</div>