<div class="row">

  <div class="col-md-12 m-t">
    <div class="ibox float-e-margins">
      <div class="ibox-title">
        <div class='row'>
          <div class="col-md-10">
            <h2><b><%= "Questions of #{@projects_survey.survey_type.title}" %></b></h2>
            <h3>Total Questions: <%= @latest_questions.count rescue 0 %></h3>
          </div>
          <div class="col-md-2">
              <%= 
                if @latest_questions[0].question_responses.count > 0
                  link_to export_survey_results_project_survey_path(@project), class: "btn btn-primary" do
                      ikoen('download', size: :small, title: 'Export These Results')
                  end
                end 
              %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-12">
    <div class="ibox float-e-margins">
      <% @latest_questions.each.with_index(1) do |question, i| %>
        <div class="ibox-title m-t">
          <h4 class="p-m"><%= question.question_text %></h4>
        </div>

        <div class="ibox-content">
          <table class="table table-bordered table-striped">
            <tbody>
              <%= render partial: "survey_types/question_detail", locals: { question: question } %>
            </tbody>
          </table>

          <table class="table table-bordered table-striped user-details-table">
            <thead>
              <tr>
                <th>Results</th>
                <% unless question.fill_in_the_blank? %>
                  <th></th>
                <% end %>
              </tr>
            </thead>
            <tbody>
              <tr>
                <% unless question.fill_in_the_blank? %>
                  <td class="p-md">
                    <% 
                      option_with_counts = survey_question_options_report(@projects_survey, question) rescue {}
                      total_responses = @projects_survey.survey_responses.count rescue 0
                    %>
                    <% option_with_counts.each.with_index(1) do |(key, value), index| %>
                      <p><%= "#{index}) #{key} (#{value} Out of #{total_responses})" %></p>
                    <% end %>
                  </td>
                  <td>
                    <%= column_chart option_with_counts, 
                      loading: "Loading...", 
                      empty: "No data", 
                      legend: false,
                      width: "50%",
                      height: "100px", 
                      dataset: 
                        { 
                          barPercentage: 0.2
                        }
                    %>
                  </td>

                <% else %>
                  <td class="p-md">
                    <a href="javascript:void(0);" class="show_text_responses" data-survey_question_id="<%= question.id %>">Click here to see responses.</a>
                  </td>
                <% end %>
              </tr>
            </tbody>
          </table>

        </div>
      <% end %>
    </div>
  </div>

  <div class="col-md-12">
    <%= btn_link_to(:back, icon: 'backward', text: 'Back') %>
  </div>
</div>

<div class="modal fade" id="survey_text_response_model" data-projects-survey-id="<%= @projects_survey.id %>">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <%= btn_close_modal %>
                <h4 class="modal-title">Text Responses</h4>
                <p class="reaction-count m-t">Reactions: 0<p>
            </div>
            <div class="modal-body">
              <div class="content">
              </div>
            </div>
            <div class="modal-footer">
                <%= btn_tag(type: :button, size: 'small', text: 'Cancel', style: 'white', icon: 'times', data: { dismiss: 'modal' }) %>
            </div>
        </div>
    </div>
</div>