<% countries = CS.countries.sort_by{|_key, value| value }.to_h %>
<fieldset class="scheduler-border">
	<legend class="scheduler-border">Personal Information</legend>
		<div class="control-group">
		<% if resource_for == 'user' %>
			<div class="row">
				<div class="col-md-4">
				<%= f.input :name_suffix, collection: ["Mr.", "Ms.", "Mrs.", "Dr."], include_blank: "Choose Appellations", selected: resource.name_suffix, input_html: { class: "form-control" }, required: true %>
			</div>
		</div>
		<% end %>
		<div class="row">
			<% if resource_for == 'user' %>
				<div class="col-md-4 col-sm-6 col-xs-12"><%= f.input :name, required: true %></div>
				<div class="col-md-4 col-sm-6 col-xs-12"><%= f.input :middle_name %></div>
				<div class="col-md-4 col-sm-6 col-xs-12"><%= f.input :last_name %></div>
			<% else %>
				<div class="col-md-4 col-sm-6 col-xs-12"><%= f.label 'Name' %><%= f.input :name, required: true, label: false %></div>
			<% end %>
		</div>
		<div class="row">
			<div class="col-md-4 col-sm-6 col-xs-12">
					<%= f.input :username, required: true %>
			</div>
			<% if action != 'add' %>
				<% if resource_for == 'user' && current_user.role == 'credentials_admin' %>
					<div class="col-md-4 col-sm-6 col-xs-12">
						<%= f.input :practitioner_accreditation_type, collection: User.practitioner_accreditation_types.map{ |k, v| [k.titleize, k]}, include_blank: "Select Practitioner Accreditation Type", input_html: {class: "form-control"} %>
					</div>
				<% end %>
				<div class="col-md-4 col-sm-6 col-xs-12">
          <%= f.input :profile_pic, as: :file, label: t('users.form.profile_pic_title') %>
          <% if resource.persisted? && resource&.profile_pic.present? %>
            <% if can?(:download_user_files, resource) %>
              <%= btn_download(download_user_files_user_path(resource, file: "profile_pic"), size: 'extra_small', tooltip: "Download #{User.human_attribute_name('profile_pic_title')}") %>
            <% end %>
            <%= truncate(resource.profile_pic&.file&.filename, length: 35) %>
          <% end %>
        </div>
			<% end %>
		</div>
	</div>
</fieldset>

<fieldset class="scheduler-border">
	<legend class="scheduler-border"><%= t('.user_details.contact_information') %></legend>
		<div class="control-group">
			<div class="row">
        <div class="col-md-4 col-sm-6 col-xs-12"><%= f.input :email, input_html: { id: 'user_email'}, required: true %></div>
        <div class="col-md-4 col-sm-6 col-xs-12"><%= f.input :email_alternate %></div>
        <div class="col-md-4 col-sm-6 col-xs-12">
          <%= f.input :country, collection: countries.map{ |cnt| [cnt[1], cnt[1]] }, include_blank: "Select Country", selected: resource.country, input_html: { class: "select2 form-control country-select", id: "user-country-select", data: {"for": "user"} }, required: true %>
        </div>
			</div>
			<div class="row">
        <div class="col-md-4 col-sm-6 col-xs-12">
          <%= f.input :city, collection: [resource.city], include_blank: "Select City", selected: resource.city, input_html: { class: "select2 form-control city-select", id: "user-city-select" }%>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
          <%= f.input :mobile_area_code, input_html: { id: 'mobile_area_code'}, required: true %>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
          <%= f.input :mobile, required: true %>
        </div>
			</div>
			<% if action != 'add' %>
				<div class="row">
					<div class="col-md-4 col-sm-6 col-xs-12">
						<%= f.input :gsb_id %>
					</div>
				</div>
			<% end %>
		</div>
</fieldset>

  <% if resource_for == 'user' %>
    <fieldset class="scheduler-border">
      <legend class="scheduler-border"><%= t('.user_details.additional_information') %></legend>
      <div class="control-group">
        <%= f.simple_fields_for :user_detail, user_detail do |user_detail| %>
          <%= render partial: 'users/registrations/user_detail_fields', locals: { f: user_detail, user: resource } %>
        <% end %>
      </div>
    </fieldset>
  <% end %>