<fieldset class="scheduler-border">
    <legend class="scheduler-border">Basic Information</legend>
    <div class="control-group">
        <div class="row">
            <div class="col-md-4">
                <%= f.label 'Appellation' %>
                <%= f.select :name_suffix, options_for_select(["Mr.", "Ms.", "Mrs.", "Dr."], resource.name_suffix), { include_blank: "Choose Appellations" }, { class: "select2 form-control" } %>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-4"><%= f.input :name %></div>
            <div class="col-md-4"><%= f.input :middle_name %></div>
            <div class="col-md-4"><%= f.input :last_name %></div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <%= f.input :gender, collection: ["Male", "Female"], include_blank: "Choose Gender", input_html: { class: "form-control" } %>
            </div>
            <div class="col-md-4">
                <%= f.input :username %>
            </div>
            <div class="col-md-4">
                <%= f.input :dob do %>
                    <span><%= ikoen('calendar') %></span>
                    <%= f.input_field :dob, value: f.object&.dob&.strftime("%d/%m/%Y"), as: :string, class: "datepicker-past form-control" %>
                <% end %>
            </div>
        </div>
    </div>
</fieldset>

<fieldset class="scheduler-border">
    <legend class="scheduler-border"><%= t('.user_details.contact_info') %></legend>
    <div class="control-group">
        <div class="row">
            <div class="col-md-4"><%= f.input :email, input_html: { id: 'user_email'} %></div>
            <div class="col-md-4"><%= f.input :email_alternate %></div>
            <div class="col-md-4">
                <%= f.label 'Country', required: true %>
                <% countries = CS.countries.sort_by{|_key, value| value }.to_h %>
                <%= f.select :country, options_for_select(countries.map{ |cnt| [cnt[1], cnt[1]] }, resource.country), { include_blank: "Select Country" }, { required: true, class: "select2 form-control country-select", id: "user-country-select", data: {"for": "user"} } %>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
            <%= f.label 'City', required: true %>
            <%= f.select :city, options_for_select([[resource.city]], resource.city), { include_blank: "Select City" }, { required: true, class: "select2 form-control city-select", id: "user-city-select" } %>
            </div>
            <div class="col-md-4">
                <%= f.input :mobile_area_code%>
            </div>
            <div class="col-md-4">
                <%= f.input :mobile %>
            </div>
        </div>
    </div>
</fieldset>

<fieldset class="scheduler-border">
    <legend class="scheduler-border"><%= t('.user_details.other_info') %></legend>
    <div class="control-group">
        <div class="row">
            <div class="col-md-4">
                <%= f.input :designation %>
            </div>
            <div class="col-md-4">
                <%= f.input :work_experience %>
            </div>
            <div class="col-md-4">
                <%= f.input :gsas_id %>
            </div>
            <div class="col-md-4">
                <%= f.input :qid_or_passport_number %>
            </div>
        </div>
    </div>
</fieldset>

<fieldset class="scheduler-border">
    <legend class="scheduler-border"><%= t('.user_details.organization_info') %></legend>
    <div class="control-group">
        <div class="row">
            <% if resource_for == 'user' %>
                <div class="col-md-12">
                    <label>Service Provider</label>
                    <%= f.select :service_provider_id, options_for_select([[resource.service_provider&.name, resource.service_provider&.id]], resource.service_provider&.id), { include_blank: "Choose a Service Provider" }, { class: "select2 form-control", id: "select-service-provider" } %>
                </div>
            <% end %>
        </div>
        <br />
        <div class="row">
            <div class="col-md-4">
                <%= f.input :organization_name, input_html: { id: 'org_name'} %>
            </div>
            <div class="col-md-4">
                <%= f.input :organization_address, input_html: { id: 'org_address'} %>
            </div>
            <div class="col-md-4">
                <%= f.label 'Organization Country', required: true %>
                <%= f.select :organization_country, options_for_select(countries.map{ |cnt| [cnt[1], cnt[1]] },resource.organization_country), { include_blank: "Select Country" }, { required: true, class: "select2 form-control country-select", id: "organization-country-select", data: {"for": "organization"} } %>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <%= f.label 'Organization City' %>
                <%= f.select :organization_city, options_for_select([[resource.organization_city]], resource.organization_city), { include_blank: "Select City" }, { class: "select2 form-control city-select", id: "organization-city-select" } %>
            </div>
            <div class="col-md-4">
                <%= f.input :organization_website, input_html: { id: 'org_website'} %>
            </div>
            <div class="col-md-4">
                <%= f.input :organization_phone_area_code, input_html: { id: 'org_phone_area_code'} %>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <%= f.input :organization_phone, input_html: { id: 'org_phone'} %>
            </div>
            <div class="col-md-4">
                <%= f.input :organization_fax_area_code, input_html: { id: 'org_fax_area_code'}  %>
            </div>
            <div class="col-md-4">
                <%= f.input :organization_fax, input_html: { id: 'org_fax'} %>
            </div>
        </div>
    </div>
</fieldset>

