<div class="row">
    <div class="col-md-4">
        <%= f.input :business_field, required: true %>
    </div>
    <div class="col-md-4">
        <%= f.input :portfolio %>
    </div>
    <div class="col-md-4">
        <%= f.input :commercial_licence_no %>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <%= f.input :commercial_licence_expiry_date do %>
            <span><%= ikoen('calendar') %></span>
            <%= f.input_field :commercial_licence_expiry_date, value: f.object&.commercial_licence_expiry_date&.strftime("%d/%m/%Y"), as: :string, class: "datepicker-past form-control" %>
        <% end %>
    </div>
    <div class="col-md-4">
        <%= f.input :commercial_licence_file, as: :file, label: 'Commercial Licence', required: true %>
         <% if user.service_provider_detail.commercial_licence_file.present? %>
         	<% if can?(:download_user_files, user) %>
          	<%= btn_download(download_user_files_user_path(user, :file => "commercial_licence_file"), size: 'extra_small', tooltip: "Download #{ServiceProviderDetail.human_attribute_name('commercial_licence_file')}") %>
          <% end %>
					<%= truncate(user.service_provider_detail.commercial_licence_file.file.filename, length: 35) %>
        <% end %>
    </div>
    <div class="col-md-4">
        <%= f.input :accredited_service_provider_licence_file, as: :file, label: 'Accredited Service Provider Licenses', required: true %>
         <% if user.service_provider_detail.accredited_service_provider_licence_file.present? %>
          <% if can?(:download_user_files, user) %>
						<%= btn_download(download_user_files_user_path(user, :file => "accredited_service_provider_licence_file"), size: 'extra_small', tooltip: "Download #{ServiceProviderDetail.human_attribute_name('accredited_service_provider_licence_file')}") %>
          <% end %>
					<%= truncate(user.service_provider_detail.accredited_service_provider_licence_file.file.filename, length: 35) %>
        <% end %>
    </div>
</div>
<br><br>
<div class="row">
    <div class="col-md-12">
        <label>Acknowledgements</label>
        <p>I acknowledge that i have read and understood and i agree to abide by the policy</p>
        <p>DEMERIT System <a target="_blank" href="https://gsas.gord.qa/wp-content/uploads/2021/10/GSAS-Demerit-System.pdf">( Download Here )</a></a>
        
				<%= f.input :demerit_acknowledgement_file, as: :file, label: 'Upload Dully Filled Demerit File', required: true %>
				<% if user.service_provider_detail.demerit_acknowledgement_file.present? %>
						<% if can?(:download_user_files, user) %>
							<%= btn_download(download_user_files_user_path(user, :file => "demerit_acknowledgement_file"), size: 'extra_small', tooltip: "Download #{UserDetail.human_attribute_name('demerit_acknowledgement_file')}") %>
            <% end %>
						<%= truncate(user.service_provider_detail.demerit_acknowledgement_file.file.filename, length: 35) %>
        <% end %>
    </div>
</div>