<fieldset class="scheduler-border">
  <legend class="scheduler-border">Qualification </legend>
  <div class="control-group">
    <div class="row">
      <div class="col-md-4 col-sm-6 col-xs-12">
        <%= f.input :exam, as: :file, required: true %>
        <% if user.persisted? && user.service_provider_detail&.exam.present? %>
          <% if can?(:download_user_files, user) %>
            <%= btn_download(download_user_files_user_path(user, file: "exam"), size: 'extra_small', tooltip: "Download #{UserDetail.human_attribute_name('exam')}") %>
          <% end %>
          <%= truncate(user.service_provider_detail&.exam&.file&.filename, length: 35) %>
        <% end %>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12">
         <%= f.input :workshop, as: :file, required: true %>
        <% if user.persisted? && user.service_provider_detail&.workshop.present? %>
          <% if can?(:download_user_files, user) %>
            <%= btn_download(download_user_files_user_path(user, file: "workshop"), size: 'extra_small', tooltip: "Download #{UserDetail.human_attribute_name('workshop')}") %>
          <% end %>
          <%= truncate(user.service_provider_detail&.workshop&.file&.filename, length: 35) %>
        <% end %>
      </div>
    </div>
  </div>
</fieldset>

<fieldset class="scheduler-border">
  <legend class="scheduler-border"><%= t('.user_details.additional_information') %></legend>
  <div class="control-group">
    <div class="row">
      <div class="col-md-4 col-sm-6 col-xs-12">
        <%= f.input :business_field, required: true %>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12">
        <%= f.input :commercial_licence_no %>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12">
        <%= f.input :commercial_licence_expiry_date  do  %>
          <span class="cal-icon"><%= ikoen('calendar') %></span>
          <%= f.input_field :commercial_licence_expiry_date, value: f.object&.commercial_licence_expiry_date&.strftime("%d/%m/%Y"), as: :string, class: "datepicker-future form-control" %>
        <% end %>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <%= f.input :energy_assessor_name %>
        <small style="bottom: 13px;position: relative; color:#3a4f57;">Please enter full name of person attended Energy Assessment Workshop</small>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12">
        <%= f.input :nominated_cgp, required: true %>
      </div>
      <div class="col-md-4">
        <%= f.input :gsas_energey_assessment_licence_file, as: :file, label: t('users.form.gsas_energy_assessment_file_licence_title'), required: true %>
        <% if user.persisted? && user.service_provider_detail&.gsas_energey_assessment_licence_file.present? %>
          <% if can?(:download_user_files, user) %>
            <%= btn_download(download_user_files_user_path(user, file: "gsas_energey_assessment_licence_file"), size: 'extra_small', tooltip: "Download #{UserDetail.human_attribute_name('gsas_energey_assessment_licence_file')}") %>
          <% end %>
          <%= truncate(user.service_provider_detail&.gsas_energey_assessment_licence_file&.file&.filename, length: 35) %>
        <% end %>
      </div>
      
    </div>
    <div class="row">
      <div class="col-md-4 col-sm-6 col-xs-12">
        <%= f.input :cgp_licence_file, as: :file, label: t('users.form.gsas_cgp_licence_file_title'), required: true %>
        <% if user.persisted? && user.service_provider_detail&.cgp_licence_file.present? %>
          <% if can?(:download_user_files, user) %>
            <%= btn_download(download_user_files_user_path(user, file: "cgp_licence_file"), size: 'extra_small', tooltip: "Download #{UserDetail.human_attribute_name('cgp_licence_file')}") %>
          <% end %>
          <%= truncate(user.service_provider_detail&.cgp_licence_file&.file&.filename, length: 35) %>
        <% end %>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12">
        <%= f.input :portfolio, as: :file %>
        <% if user.persisted? && user.service_provider_detail&.portfolio.present? %>
          <% if can?(:download_user_files, user) %>
            <%= btn_download(download_user_files_user_path(user, :file => "portfolio"), size: 'extra_small', tooltip: "Download #{ServiceProviderDetail.human_attribute_name('portfolio')}") %>
          <% end %>
        <%= truncate(user.service_provider_detail&.portfolio.file.filename, length: 35) %>
        <% end %>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12">
        <%= f.input :commercial_licence_file, as: :file, label: t('users.form.commercial_licence_file_title'), required: true %>
        <% if user.persisted? && user.service_provider_detail&.commercial_licence_file.present? %>
          <% if can?(:download_user_files, user) %>
            <%= btn_download(download_user_files_user_path(user, :file => "commercial_licence_file"), size: 'extra_small', tooltip: "Download #{ServiceProviderDetail.human_attribute_name('commercial_licence_file')}") %>
          <% end %>
          <%= truncate(user.service_provider_detail&.commercial_licence_file&.file&.filename, length: 35) %>
        <% end %>
      </div>
      
    </div>
    <div class="row">
      <div class="col-md-4 col-sm-6 col-xs-12">
        <%= f.input :application_form, as: :file, label: t('users.form.application_form') %>
        <% if user.persisted? && user.service_provider_detail&.application_form.present? %>
          <% if can?(:download_user_files, user) %>
            <%= btn_download(download_user_files_user_path(user, :file => "application_form"), size: 'extra_small', tooltip: "Download #{ServiceProviderDetail.human_attribute_name('application_form')}") %>
          <% end %>
        <%= truncate(user.service_provider_detail&.application_form.file.filename, length: 35) %>
        <% end %>
      </div>
      <div class="col-md-4 demerit">
        <%= f.input :demerit_acknowledgement_file, as: :file, label: t('users.form.demerit_file_title'), required: true %>
        <% if user.persisted? && user.service_provider_detail&.demerit_acknowledgement_file.present? %>
          <% if can?(:download_user_files, user) %>
            <%= btn_download(download_user_files_user_path(user, :file => "demerit_acknowledgement_file"), size: 'extra_small', tooltip: "Download #{UserDetail.human_attribute_name('demerit_acknowledgement_file')}") %>
          <% end %>
          <%= truncate(user.service_provider_detail&.demerit_acknowledgement_file&.file&.filename, length: 35) %>
        <% end %>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <label>Acknowledgements</label>
        <p>
          <%= check_box_tag "acknowledgement", 1, false, id: "acknowledgement", class: "acknowledgement" %>
          <%= label_tag 'document_scheme_mix_criterion', t('users.form.acknowledgement') %>
          <span id="help-block-ack" class="help-block"></span>
        </p>
        <p style="color:#3a4f57;">DEMERIT System <a target="_blank" href="https://gsas.gord.qa/wp-content/uploads/2021/10/GSAS-Demerit-System.pdf">( Download Here )</a></a>
      </div>
    </div>
  </div>
</fieldset>

<script>
  $(function() {
    $('.demerit').hide();
    $('.acknowledgement').click(function() {
      let isChecked = $('#acknowledgement').prop('checked');
      isChecked ? $('.demerit').show() : $('.demerit').hide()
      isChecked ? $('#help-block-ack').hide() : $('#help-block-ack').show()
    });

    function validate(){
      var valid = true;
      let isChecked = $('#acknowledgement').prop('checked');
      if(!isChecked){
          valid = false;
           $('#acknowledgement').parent().parent().addClass('has-error');
           $('#help-block-ack').html('you must need to accpet policy in order to registered');
      }
      return valid;
    }

    $('form#new_service_provider').submit(function (event) {
        var valid = validate();
        if (!valid) {
            event.preventDefault();
            return false;
        }
    });
  });
</script>