<div class="ibox float-e-margins">
  <div class="ibox-content">
    <h2>Edit Service Provider Profile</h2>

    <%= simple_form_for(@service_provider, url: update_service_provider_path(@service_provider), html: { method: :put, class: "user-form" }) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
       
        <%= render partial: "form", locals: { f: f, resource_for: 'service_provider', resource: @service_provider, action: 'edit', cities: @cities, org_cities: @org_cities } %>

        <%= f.input :password,
                    hint: "leave it blank if you don't want to change it",
                    required: false,
                    input_html: { autocomplete: "new-password" } %>
        <%= f.input :password_confirmation,
                    required: false,
                    input_html: { autocomplete: "new-password" } %>
        <%= f.input :current_password,
                    hint: "we need your current password to confirm your changes",
                    required: true,
                    input_html: { autocomplete: "current-password" } %>

        <%= f.input :gord_employee, required: true %>
      </div>

      <div class="form-actions">
        <%= btn_cancel_to(:back, style: 'danger', icon: 'times') %>
        <%= btn_save %>
      </div>
    <% end %>
  </div>
</div>
