<div class="ibox bg-white p-5 m-4 new_form">
  <div class="ibox-content">
    <h2 class="text-blue mb-5"><b>Edit Corporate Profile</b></h2>

    <%= simple_form_for(@corporate, url: update_corporate_path(@corporate), html: { method: :put, class: "user-form" }) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
       
        <%= render partial: "form", locals: { f: f, resource_for: 'corporate', resource: @corporate, corporate_detail: @corporate_detail, action: 'edit' } %>

        <%= f.input :gord_employee, required: true ,class:"text-white" %>

        <%= f.input :password,
                    hint: "leave it blank if you don't want to change it",
                    required: false,
                    input_html: { autocomplete: "new-password" } %>
        <%= f.input :password_confirmation,
                    required: false,
                    input_html: { autocomplete: "new-password" } %>
        <%= f.input :current_password,
                    hint: "we need your current password to confirm your changes",
                    required: true,
                    input_html: { autocomplete: "current-password" } %>
      </div>

      <div class="form-actions">
        <%= btn_cancel_to(:back, style: 'danger', icon: 'times') %>
        <%= btn_save %>
      </div>
    <% end %>
  </div>
</div>
