<div class="ibox float-e-margins">
  <div class="ibox-content">
    <h2>Edit Service Provider Profile</h2>

    <%= simple_form_for(@service_provider, url: update_service_provider_path(@service_provider), html: { method: :put, class: "user-form" }) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">

        <%= f.label 'Gender', required: true %>
        <%= f.select :gender, options_for_select(["Male", "Female"], @service_provider.gender), { include_blank: "Choose Gender" }, { class: "select2 form-control" } %>
        <br>
        <%= f.label 'Name Suffix' %>
        <%= f.select :name_suffix, options_for_select(["Mr.", "Ms.", "Mrs." , "Dr."], @service_provider.name_suffix), { include_blank: "Choose Name Suffix" }, { class: "select2 form-control" } %>
        <br>

        <%= f.input :name%>

        <%= f.input :middle_name %>

        <%= f.input :last_name %>

        <%= f.input :email %>
        <%= f.input :email_alternate %>

        <%= f.input :dob do %>
          <span><%= ikoen('calendar') %></span>
          <%= f.input_field :dob, value: f.object&.dob&.strftime("%d/%m/%Y"), as: :string, class: "datepicker-past form-control" %>
        <% end %>
        
        <%= f.input :username %>

        <%= f.label 'Country', required: true %>
        <% countries = CS.countries.sort_by{|_key, value| value }.to_h %>
        <%= f.select :country, options_for_select(countries.map{ |cnt| [cnt[1], cnt[1]] }, @service_provider.country), { include_blank: "Select Country" }, { required: true, class: "select2 form-control user-country-select" } %>
        <br><br>

        <%= f.label 'City', required: true %>
        <div id="user-city-select-div" class="form-group">
        <%= f.select :city, options_for_select(countries.map{ |cnt| [cnt[1], cnt[1]] }, @service_provider.city), { include_blank: "Select City" }, { required: true, class: "select2 form-control user-city-select" } %>
        </div>

        <%= f.input :mobile_area_code%>
        <%= f.input :mobile %>
        <%= f.input :designation %>
        <%= f.input :work_experience %>

        <%= f.input :organization_name %>

        <%= f.input :organization_address %>

        <%= f.label 'Organization Country', required: true %>
        <%= f.select :organization_country, options_for_select(countries.map{ |cnt| [cnt[1], cnt[1]] }, @service_provider.organization_country), { include_blank: "Select Country" }, { required: true, class: "select2 form-control user-country-select", data: {"for_organization": true} } %>
        <br><br>

        <%= f.label 'Organization City' %>
        <div id="organization-city-select-div" class="form-group">
        <%= f.select :organization_city, options_for_select(countries.map{ |cnt| [cnt[1], cnt[1]] }, @service_provider.organization_city), { include_blank: "Select City" }, { class: "select2 form-control user-city-select" } %>
        </div>
        
        <%= f.input :organization_website %>
        <%= f.input :organization_phone_area_code %>
        <%= f.input :organization_phone %>
        <%= f.input :organization_fax_area_code  %>
        <%= f.input :organization_fax %>

        <%= f.input :gsas_id %>

        <%= f.input :qid_or_passport_number %>

        <%= f.input :password,
                    hint: "leave it blank if you don't want to change it",
                    required: false,
                    input_html: { autocomplete: "new-password" } %>
        <%= f.input :password_confirmation,
                    required: false,
                    input_html: { autocomplete: "new-password" } %>
        <%= f.input :current_password,
                    hint: "we need your current password to confirm your changes",
                    required: true,
                    input_html: { autocomplete: "current-password" } %>

        <%= f.input :gord_employee, required: true %>
      </div>

      <div class="form-actions">
        <%= btn_cancel_to(:back, style: 'danger', icon: 'times') %>
        <%= btn_save %>
      </div>
    <% end %>
  </div>
</div>
