<div class="ibox float-e-margins">
  <h2><b>Sign-Up</b></h2>
  <div class="ibox-content new-user-content-box">

    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :post, class: "user-form" }) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">

        <%= f.label 'Gender', required: true %>
        <%= f.select :gender, options_for_select(["Male", "Female"]), { include_blank: "Choose Gender" }, { class: "select2 form-control" } %>
        <br>
        <%= f.label 'Name Suffix' %>
        <%= f.select :name_suffix, options_for_select(["Mr.", "Ms.", "Mrs." , "Dr."]), { include_blank: "Choose Name Suffix" }, { class: "select2 form-control" } %>
        <br>
        <%= f.input :name %>

        <%= f.input :middle_name %>

        <%= f.input :last_name %>

        <%= f.input :email %>
        <%= f.input :dob %>
        <%= f.input :email_alternate %>

        <%= f.input :username %>

        <%= f.label 'Country', required: true %>
        <% countries = CS.countries.sort_by{|_key, value| value }.to_h %>
        <%= f.select :country, options_for_select(countries.map{ |cnt| [cnt[1], cnt[1]] }, f.object&.country), { include_blank: "Select Country" }, { required: true, class: "select2 form-control country-select" } %>
        <br><br>

        <%= f.label 'City', required: true %>
        <%= f.select :city, options_for_select(countries.map{ |cnt| [cnt[1], cnt[1]] }, f.object&.country), { include_blank: "Select City" }, { required: true, class: "select2 form-control" } %>
        <br>

        <%= f.input :mobile_area_code%>
        <%= f.input :mobile %>
        <%= f.input :designation %>
        <%= f.input :work_experience %>
        
        <div class="form-group">
          <label class="required">Role</label>
          <div class="form-control bg-disabled">
            <%= resource.role&.titleize %>
          </div>
        </div>

        <%= f.input :organization_name %>

        <%= f.input :organization_address %>

        <%= f.label 'Organization Country', required: true %>
        <%= f.select :organization_country, options_for_select(countries.map{ |cnt| [cnt[1], cnt[1]] }, f.object&.country), { include_blank: "Select Country" }, { required: true, class: "select2 form-control country-select" } %>
        <br><br>

        <%= f.label 'Organization City' %>
        <%= f.select :organization_city, options_for_select(countries.map{ |cnt| [cnt[1], cnt[1]] }, f.object&.country), { include_blank: "Select Country" }, { class: "select2 form-control" } %>
        <br>
        
        <%= f.input :organization_website %>
        <%= f.input :organization_phone_area_code %>
        <%= f.input :organization_phone %>
        <%= f.input :organization_fax_area_code  %>
        <%= f.input :organization_fax %>

        <%= f.input :gsas_id %>

        <%= f.input :qid_or_passport_number %>

        <%= f.association :service_provider, collection: ServiceProvider.order(:name).pluck(:name, :id), prompt: "Choose a Service Provider", input_html: { class: "select-service-provider" } %>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
        <% end %>

        <%= f.input :password,
                    hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                    required: true,
                    input_html: { autocomplete: "new-password" } %>
        <%= f.input :password_confirmation,
                    required: true,
                    input_html: { autocomplete: "new-password" } %>
      </div>

      <div class="form-actions">
        <%= btn_cancel_to(new_user_session_path, style: 'danger', icon: 'times') %>
        <%= btn_save %>
      </div>
    <% end %>

    <%= render "users/shared/links" %>
  </div>
</div>

