<style>
body.skin-gord-login{
  background-color: #3a4f57 !important; 
  background-image:none !important;
}
</style>
<div class="ibox sign_up p-5 m-4 new_form service_provide">
<h2 class="text-green m-4"><b>Sign Up For Service Provider</b></h2>

  <div class="ibox-content new-user-content-box">

    <%= simple_form_for(@service_provider, url: create_service_provider_path(@service_provider), html: { method: :post, class: "user-form" }) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">

        <%= render partial: "form", locals: { f: f, resource_for: 'service_provider', resource: @service_provider, action: 'add', service_provider_detail: @service_provider.service_provider_detail } %>

        <%= f.input :password,
                    hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                    required: true,
                    input_html: { autocomplete: "new-password" } %>
        <%= f.input :password_confirmation,
                    required: true,
                    input_html: { autocomplete: "new-password" } %>
      </div>

      <div class="form-actions">
        <%= btn_cancel_to(new_user_session_path, style: 'danger', icon: 'times') %>
        <%= btn_save %>
      </div>
    <% end %>

    <%= render "users/shared/links" %>
  </div>
</div>
